{% trans_default_domain 'PequivenIndicatorBundle' %}

<div class="standard-tabs margin-bottom" id="add-tabs">

    <ul class="tabs">
        <li class="active"><a href="#tab-1">{{ 'pequiven.details'|trans({},'messages') }}</a></li>
        <li><a href="#tab-2">{{ 'pequiven.events'|trans({},'messages') }}</a></li>
        <li><a href="#tab-3">{{ 'pequiven.observations'|trans({},'messages') }}</a></li>
    </ul>

    <div class="tabs-content">

        <div id="tab-1" class="with-padding">
            <p class="inline-label">
                <label class="label">{{ 'pequiven.created_by'|trans({},'messages') }}</label>
                {{ entity.userCreatedAt }}
            </p>
            <p class="inline-label">
                <label class="label">{{ 'pequiven.created_at'|trans({},'messages') }}</label>
                {{ entity.createdAt|date(appConfiguration.generalDateFormat) }}
            </p>
        </div>

        <div id="tab-2" class="with-padding">
            {% include 'PequivenSEIPBundle:Template:Developer/Common/history/events.html.twig' %}
        </div>
                
        <div id="tab-3" class="with-padding">
            {% include 'PequivenSEIPBundle:Template:Developer/Common/history/observations.html.twig' %}
        </div>
    </div>

</div>