{% trans_default_domain 'PequivenIndicatorBundle' %}

<div class="block">
    <div class="block-title">
        <h3 class="ng-binding">0 {{ 'pequiven_indicator.results'|trans }}</h3>
        <div class="button-group absolute-right compact">
            <a class="button icon-list-add " href="" title="">{{ 'pequiven.add'|trans({},'messages') }}</a>
        </div>
    </div>
    <div class="with-padding">
        <table class="simple-table responsive-table tables-extras" id="sorting-example2">
            <thead>
                <tr>
                    <th scope="col" width="2%" class="header">{{ 'seip.table.header.nro'|trans({},'PequivenArrangementProgramBundle') }}</th>
                    <th scope="col" width="25%" class="header">{{ 'seip.table.header.value'|trans({},'PequivenArrangementProgramBundle') }}</th>
                    <th scope="col" width="15%" class="hide-on-tablet header">{{ 'seip.table.header.created_at'|trans({},'PequivenArrangementProgramBundle') }}</th>
                    <th scope="col" width="15%" class="hide-on-mobile-portrait header">{{ 'seip.table.header.created_by'|trans({},'PequivenArrangementProgramBundle') }}</th>
                    <th scope="col" width="15%" class="hide-on-mobile-portrait header">{{ 'seip.table.header.parameters'|trans({},'PequivenArrangementProgramBundle') }}</th>
                    <th scope="col" width="15%" class="hide-on-mobile-portrait header">{{ 'seip.table.header.updated_by'|trans({},'PequivenArrangementProgramBundle') }}</th>
                </tr>
            </thead>
            <tbody 
                <tr>
                    <td class="ng-binding">2</td>
                    <th scope="row" class="ng-binding">
                        ss
                    </th>
                    <td class="ng-binding">2014-01-02</td>
                    <td class="ng-binding">2014-03-31</td>
                    <td class="ng-binding">5%</td>
                    <td>
                        ss 
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>