{% extends "PequivenSEIPBundle:Template:Developer/layoutGestion.html.twig" %}
{% trans_default_domain 'PequivenSEIPBundle' %}

{% block stylesheets_base %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/pequivenseip/icons/icons.css') }}">
{% endblock %}

{% block before_body %}
    {{ contentHeader(
        {("#"):("Grupos de Indicadores")},(indicator.summary)
    ) }}

    <style>
        .esfera{
            border-radius: 0px 50px 50px 50px;
            -moz-border-radius: 0px 50px 50px 50px;
            -webkit-border-radius: 0px 50px 50px 50px;
            border: 1px solid #0a0a0a;
            display: inline-block; 
            align-items: center; 
            align-content: center;
            height: 150px;
            position: relative;
            font-size: 100px;
            vertical-align: middle;
            width: 90%;
        }
    </style>

{% endblock %}


{% block body %}    

    {# {{ boxRender.renderBox('pequiven_seip_box_linestrategic_iconsnavbar')|raw }}#}    
    <hr class="hr-linestrategic-icons" />
    <br><br>
    <table width="100%">
        <tr>
            <td width="30%" class="text-center" style="vertical-align: middle; min-height: 400px;">
                <div style="display: inline-block; width: 100%; height: 100%" ng-controller="DashboardController" ng-init="renderWidgetIndicatorStrategic('{{ indicator.ref }}',{{ data|json_encode() }},'100%','150px')">
                    <a target="_blank" href="{{ path('pequiven_indicator_show',{id:indicator.id}) }}">
                        <span title="{{ indicator.description }}">
                            <p style="text-align: center;margin-bottom: -5px;">
                                <b>{{ indicator.summary }}</b>
                            </p>
                        </span>
                    </a>
                    <span id="{{ indicator.ref }}">
                    </span>  
                    <br>
                    <a href="javascript:history.back()" class="align-left button red-gradient glossy">
                        <li class="icon-previous icon-size2" title="icon-replay-all"> Regresar
                        </li>
                    </a>
                </div> 
            </td>
            <td width="70%" class="text-center" style="vertical-align: middle; min-height: 495px;"> 
                <fieldset class="fieldset" style="width: 80%; min-height: 490px;">
                    <legend class="legend">
                        <h3 class="thin breadcrumb align-left bold">
                            Grupos Asociados
                        </h3>
                    </legend>

                    <div class="with-padding">
                        <div class="columns"> 
                            {% if (groups)%}
                                {% for grupo in groups %}                                                               
                                    {%if (board==1) %}    
                                        {# SI ES PARA EL TABLERO DE INDICADORES POR GERENCIA #}
                                        {% if((grupo.getchildrens|length)>0)%}
                                            {% set ref= path('pequiven_indicatorsfromgroup',{idLineStrategic:lineStrategic.id, indicatorId:indicator.id,idGroup:grupo.id, board:1}) %}                                                 
                                        {% else %}
                                            {% set ref= path('pequiven_dashboardgerencias',{idGroup:grupo.id, board:1}) %}                                                 
                                        {%endif%}
                                        {%if ((grupo.showInGerenciaDashboard)==1) %}
                                            <div class="four-columns" style="text-align: center;">         
                                                {%if ((grupo.getIndicators|length)>0) %}                                               
                                                    {% set color= "" %}
                                                {%else%}
                                                    {% set ref= "" %}
                                                    {% set color= "disabled" %}
                                                {%endif%}
                                                <a href="{{ref}}">
                                                    <div class="button {{color}}" style="height: 160px; width: 85%;">   
                                                        <i class="fa {{ grupo.logo }}" style="color: {{grupo.color}}; font-size: 115px; margin: 5%" aria-hidden="true"></i>
                                                        {#<img class="icon-strategic" src="{{ asset(iconsLineStrategic[line.id]) }}" style="margin: 5%;">  #}
                                                        <br>
                                                        <div class="button red-gradient glossy" style="height: auto; width: 85%; position: inherit;">                    
                                                            <p class="title-icon-strategic" style="font-size: 12px; font-weight: bold;">
                                                                {{grupo.description}}
                                                            </p>                    
                                                        </div>
                                                    </div>
                                                </a>
                                                {#<a href="{{ ref }}" class="align-left {{color}} button red-gradient glossy esfera">
                                                    <br>
                                                    <i class="fa {{ grupo.logo }}" aria-hidden="true"></i>
                                                </a>
                                                <br><br>
                                                <b>{{grupo.description}}</b>#}
                                            </div>
                                        {%endif%}
                                    {%else%}
                                        {# SI ES PARA EL DASHBOARD POR LÍNEA ESTRATÉGICA #}    
                                        {% set ref= path('pequiven_indicatorsfromgroup',{idLineStrategic:lineStrategic.id, indicatorId:indicator.id,idGroup:grupo.id}) %}                                                 
                                        {%if ((grupo.showInLineStrategicDashboard)==1) %}
                                            <div class="four-columns" style="text-align: center;">         
                                                {%if ((grupo.getIndicators|length)>0) %}                                               
                                                    {% set color= "" %}
                                                {%else%}
                                                    {% set ref= "" %}
                                                    {% set color= "disabled" %}
                                                {%endif%}
                                                <a href="{{ref}}">
                                                    <div class="button {{color}}" style="height: 160px; width: 85%;">   
                                                        <i class="fa {{ grupo.logo }}" style="color: {{grupo.color}}; font-size: 115px; margin: 5%" aria-hidden="true"></i>
                                                        {#<img class="icon-strategic" src="{{ asset(iconsLineStrategic[line.id]) }}" style="margin: 5%;">  #}
                                                        <br>
                                                        <div class="button red-gradient glossy" style="height: auto; width: 85%; position: inherit;">                    
                                                            <p class="title-icon-strategic" style="font-size: 12px; font-weight: bold;">
                                                                {{grupo.description}}
                                                            </p>                    
                                                        </div>
                                                    </div>
                                                </a> 
                                                {#<a href="{{ ref }}" class="align-left {{color}} button red-gradient glossy esfera">
                                                    <br>
                                                    <i class="fa {{ grupo.logo }}" aria-hidden="true"></i>
                                                </a>
                                                <br><br>
                                                <b>{{grupo.description}}</b>#}
                                            </div>
                                        {%endif%}
                                    {%endif%}
                                {% endfor %}            
                            {%endif%}
                        </div>
                    </div>
                </fieldset>
            </td>
        </tr>
    </table>
    {#    {% if (indicator) %}
            <div class="twelve-columns">
                {{ indicator.ref }}-{{ indicator.description }}
            </div>
        {% endif %}#}

{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/agenda3860.css?v=1') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/dashboard3860.css?v=1') }}">
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/fusioncharts.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/themes/fusioncharts.theme.fint.js') }}"></script>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
    </script>
{% endblock %}