{% extends "PequivenSEIPBundle:Template:Developer/layoutGestion.html.twig" %}
{% trans_default_domain 'PequivenSEIPBundle' %}

{% block stylesheets_base %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/pequivenseip/icons/icons.css') }}">
{% endblock %}

{% block before_body %}
    {{ contentHeader(
        ('')
    ) }}  
{% endblock %}


{% block body %}    
    {#{{ boxRender.renderBox('pequiven_seip_box_linestrategic_iconsnavbar')|raw }}#}   
    <br><br>
    <div class="ten-columns">         
        <h1 class="thin breadcrumb">
            {%if (group.color!=null) %}                            
                {% set color= group.color %}
            {%else%}                
                {% set color= "#BCBCBC" %}
            {%endif%}
            <i class="fa {{ group.logo }}" style="color: {{color}}; font-size: 50px;" aria-hidden="true"></i>
            {{group.description}}
        </h1>
    </div>
    <hr class="hr-linestrategic-icons" />       
    <br>

    {% for key, line in alllineStrategic %}
        {% set styleIcon= 'background: none' %}
        <div class="four-columns new-row-mobile new-row-mobile-landscape new-row-mobile-portrait new-row-tablet align-center" style="min-height: 300px; display:inline-block; vertical-align: top; align-items: center;">
            {% if(lineStrategics[line.id] is defined) %}
                <a href="{{ path('pequiven_groupindicators',{tablero:1, idGroup:group.id, idLineStrategic: line.id}) }}">
                    <div class="button" style="height: 180px; width: 300px;">                    
                        <img class="icon-strategic" src="{{ asset(iconsLineStrategic[line.id]) }}" style="margin: 5%;">  
                        <br>
                        <div class="button red-gradient glossy" style="height: auto; width: 300px; position: inherit;">                    
                            <p class="title-icon-strategic" style="font-size: 13px; font-weight: bold;">
                                {{line.description}}
                            </p>                    
                        </div>
                    </div>
                </a>
            {%else%}
                <div class="button disabled" style="height: 180px; width: 300px;">                    
                    <img class="icon-strategic" src="{{ asset(iconsLineStrategic[line.id]) }}" style="margin: 5%;">  
                    <br>
                    <div class="button disabled red-gradient glossy" style="height: auto; width: 300px; position: inherit;">                    
                        <p class="title-icon-strategic" style="font-size: 13px; font-weight: bold;">
                            {{line.description}}
                        </p>                    
                    </div>
                </div>            
            {% endif %}
        </div>
    {%endfor%}   
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/agenda3860.css?v=1') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/dashboard3860.css?v=1') }}">
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/fusioncharts.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/themes/fusioncharts.theme.fint.js') }}"></script>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
    </script>
{% endblock %}