{% trans_default_domain 'PequivenSEIPBundle' %}

<fieldset class="fieldset fields-list">
    <legend class="legend">{{ 'pequiven_seip.plant_report.plant_report'|trans }}</legend>
    <div class="field-block button-height">
        {{ form_label(form.reportTemplate) }}
        {{ form_widget(form.reportTemplate) }}
        {{ form_errors(form.reportTemplate) }}
    </div>
    <div class="field-block button-height">
        {{ form_label(form.company) }}
        {{ form_widget(form.company) }}
        {{ form_errors(form.company) }}
    </div>
    <div class="field-block button-height">
        {{ form_label(form.location) }}
        {{ form_widget(form.location) }}
        {{ form_errors(form.location) }}
    </div>
    <div class="field-block button-height">
        {{ form_label(form.entity) }}
        {{ form_widget(form.entity) }}
        {{ form_errors(form.entity) }}
    </div>
    <div class="field-block button-height">
        {{ form_label(form.plant) }}
        {{ form_widget(form.plant) }}
        {{ form_errors(form.plant) }}
    </div>
    {#<div class="field-block button-height">
        {{ form_label(form.daysStops) }}
        <ul class="daysStops unstyled-list padding-left-40" data-prototype="{% filter escape %}{% include 'PequivenSEIPBundle:DataLoad/Production/DayStop:_form.html.twig' with {form: form.daysStops.vars.prototype} %}{% endfilter %}">
            {% for daysStop in form.daysStops %}
                <li>{% include 'PequivenSEIPBundle:DataLoad/Production/DayStop:_form.html.twig' with {form: daysStop} %}</li>
            {% endfor %}
        </ul>
    </div>#}
    <div class="field-block button-height">
        {{ form_label(form.enabled) }}
        {{ form_widget(form.enabled) }}
        {{ form_errors(form.enabled) }}
    </div>
</fieldset>
<script type="text/javascript">
    var dateFormat = "dd-mm-yy";
    $(document).ready(function(){
        
        var selectEntity = $("#pequiven_seipbundle_dataload_plantreport_entity");
        var selectPlant = $("#pequiven_seipbundle_dataload_plantreport_plant");
        
        var urlGetPlant = "{{ path("pequiven_seip_plant_by_entity") }}";
        
        selectEntity.on("change",function(){
            ajaxToSelect2(urlGetPlant,selectPlant,{ entity: selectEntity.val() });
        });
        
        selectPlant.empty();
        selectPlant.select2('disable');
        
        //Dias de paradas
        // setup an "Añadir dia de parada" link
        var $addDayStopLink = $('<a href="#" class="add_day_stop_link">Añadir dia de parada</a>');
        var $newLinkLiDayStop = $('<li></li>').append($addDayStopLink);
        
        // Get the ul that holds the collection of tags
        $collectionHolderDaysStops = $('ul.daysStops');
        
        // add a delete link to all of the existing tag form li elements
        $collectionHolderDaysStops.find('li').each(function() {
            addDayStopFormDeleteLink($(this));
        });

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolderDaysStops.append($newLinkLiDayStop);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolderDaysStops.data('index', $collectionHolderDaysStops.find(':input').length);

        $newLinkLiDayStop.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addDayStopForm($collectionHolderDaysStops, $newLinkLiDayStop);
        });
        
        function addDayStopForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            
            // add a delete link to the new form
            addDayStopFormDeleteLink($newFormLi);
            
            var idDayDate = "pequiven_seipbundle_dataload_production_productplanning_daysStops_"+index+"_day";
            
            var monthOfPlanning = selectMonth.val();
            var date = new Date();
            if(monthOfPlanning != ""){
                date.setMonth(monthOfPlanning);
            }
            
            $( "#"+idDayDate ).datepicker({
              defaultDate: date,
              changeMonth: false,
              numberOfMonths: 1,
              stepMonths: 0,
              dateFormat: dateFormat
            });
        }
        
        function addDayStopFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">Eliminar este dia</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
        
    });
</script>