{% extends "form_div_layout.html.twig" %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {% set type = 'text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <div class="alert alert-danger margin-bottom" style="min-height:20px;font-size: 19px;padding-left:20px">
                <img src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/img/icons/icon-error.png') }}" style="width:21px;height:21px;padding-right: 6px">
                <span>{{ error.message }}</span>
            </div>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block form_top %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            {{ print_error(error.message) }}
            <script type="text/javascript">
                {% set type = 'error' %}
                $(document).ready(function(){
                    notify('{{ error.message }}','', {
                            system:		false,   
                            autoClose:		7000,
                            icon:               '{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/img/icons/icon-'~ type ~'.png') }}',
                            iconOutside:        false,
                            closeButton:        true,
                            showCloseOnHover:	false,
                            groupSimilar:	true
                    });
                });
            </script>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_top %}

{#{% block form_label %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ ' label '}) %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}><b>{{ label|trans({}, translation_domain) }}</b></label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}            #}
            
{% block form_row %}
{% spaceless %}
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form) }}
        <div class="col-sm-9">
        {{ form_widget(form) }}
        {% for error in errors %}
            <span class="help-block form-error">
                {{
                    error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}
            </span>
        {% endfor %}
        </div>
    </div>
    <div class="space-6"></div>
{% endspaceless %}
{% endblock form_row %}