{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% trans_default_domain 'Delivery' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}


{#{% block before_body %}
    {{ contentHeader(
        ("pequiven_seip.product_group_delivery.product_group"|trans )
    ) }}
{% endblock %}#}

{% block before_body %}
    {{ contentHeader(({(path("pequiven_delivery_point_show",{id: product_group_delivery.deliveryPoint.id})):("Linea de Negocio"|trans)}),
                        ("Detalle"|trans )  )}}
{% endblock %}

{% block body %}

    <fieldset class="fieldset">
        <legend class="legend">{{ 'delivery_product.product_group'|trans }}</legend>
        <div class="columns">
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'delivery_point.title2'|trans }}</label>
                    <a href="{{ path("pequiven_report_template_delivery_show",{"id":product_group_delivery.deliveryPoint.id}) }}">
                        <i class="fa fa-file-o"></i>&nbsp;
                        {{ product_group_delivery.deliveryPoint }}
                    </a>
                </p>
            </div>    
            <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'delivery_product.production_line'|trans }}</label>
                    {{ product_group_delivery.productionLine }}
                </p>
            </div>
            
            <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Enabled'|trans }}</label>
                    {{ product_group_delivery.enabled |render_yes_no }}
                </p>
            </div>
            {#<div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Entity'|trans }}</label>
                    {{ product_group_delivery.plant }}
                </p>
            </div>#}
        </div>
    </fieldset>
    
            
    {% include 'PequivenSEIPBundle:Delivery:ProductReportDelivery/show/products.html.twig' %}
    <br /><br />


{% endblock %}