{# empty Twig template #}
{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}
{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}
{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.input.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/jQuery-Mask-Plugin-master/jquery.mask.min.js') }}"></script>   
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("p.assistance input").change(function () {
                
                var check = $(this).is(':checked');
                var idMember = $(this).attr("data");
                var form = $("form#editmember_"+idMember);
                
                var url = form.attr("action");
                
                url = url + "&status="+check;
                form.attr("action",url);
                form.submit();
                
            });


            charge();
            function charge() {
                $('.select2').select2({
                    allowClear: true

                });

                $('#idOrder').select2({
                    minimumInputLength: 5
                });
            }
        });
    </script>    
{% endblock %}

{% block before_body %}
    {{ contentHeader(
        { ( '*' ): ('Órdenes de Pedidos') },
         (' Validar')
    ) }}
{% endblock %}



{% block body %}
    <style>
        table#datos{
            border-collapse:separate;
            border-spacing: 0px 10px;
        }
        .fa-trash{
            color: red;    
        }
        table#table1 tbody tr td.gridTd {
            text-align: right;
        }
        .rounded{
            border-radius: 50px 50px 50px 50px;
            -moz-border-radius: 50px 50px 50px 50px;
            -webkit-border-radius: 50px 50px 50px 50px;
        }
    </style>
    <div class="columns">
        <div class="twelve-columns"> 
            <center>
                <table width="95%">
                    <tr>
                        <td>
                            <form name="formula" method="POST" action="{{ path("pequiven_housesupply_orderkit_check")}}">
                                <select onchange="this.form.submit();" name="idOrder" id="idOrder" class="select2 input-large form-control" style="width: 100%">
                                    {% if(order) %}                        
                                        <option value="{{order.id}}" selected>Nro: {{"%05d" | format(order.nroOrder)}} | {{ order.getWorkStudyCircle.codigo }} | {{ order.getCreatedAt|date("d/m/Y h:i:s a") }} </option>                                           
                                    {%else%}
                                        <option value="0" selected>Ingrese el Número de Pedido</option>                                           
                                    {%endif%}
                                    {% for orders in ordersArray %}
                                        {% if((order==null)or(orders.id!=order.id)) %}
                                            <option value="{{orders.id}}">Nro: {{"%05d" | format(orders.nroOrder)}} | {{ orders.getWorkStudyCircle.codigo }} | {{ orders.getCreatedAt|date("d/m/Y h:i:s a") }} </option>                                           
                                        {%endif%}
                                    {% endfor %}
                                </select>
                            </form>
                        </td>
                    </tr>
                </table>
            </center>
        </div>       
        {% if order %}
            <div class="twelve-columns">            
                <center>
                    <table width="95%" class="rounded" style="border: 1px #D8D8D8 solid;">
                        <tr style="height: 30px;">
                            <td colspan="2" style="background-color: #AA0000; color: #FFFFFF; font-size: 20pt; vertical-align: middle;">                                
                                Datos del Pedido                                                                  
                            </td>         
                        </tr>
                        <tr>
                            <td width="60%">
                                <table width="100%" class="simple-table" style="background-color: #FFFFFF; border: hidden;">                                    
                                    <tr>
                                        <td width="25%" class="header bold">Fecha:</td>
                                        <td width="75%">
                                            {{ order.getCreatedAt|date("d/m/Y h:i:s a") }} 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="25%" class="header bold">Localidad:</td>
                                        <td width="75%">
                                            {{ order.getWorkStudyCircle.getComplejo.getdescription }} 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="25%" class="header bold">C.E.T.:</td>
                                        <td width="75%">
                                            {{ order.getWorkStudyCircle.codigo }} - {{ order.getWorkStudyCircle.name }} 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="25%" class="header bold">Coordinador:</td>
                                        <td width="75%">
                                            {{ order.getWorkStudyCircle.getcoordinator.getfullname }} 
                                        </td>
                                    </tr>
                                </table> 
                            </td>
                            <td width="40%" style="border: 1px #D8D8D8 solid;">
                                <table width="100%" class="simple-table">
                                    <tr>
                                        <td style="background-color: #D8D8D8; font-size: 30pt; vertical-align: middle; text-align: center; height: 110px;" colspan="2">
                                            Orden:
                                            <span class="green bold">{{ "%05d" | format(order.nroOrder) }}</span>              
                                        </td>                                        
                                    </tr>                                    
                                </table>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table width="95%">                     
                        <tr>
                            <td width="50%">
                                <table class="simple-table">
                                    <tr style="height: 28px;">
                                        <td width="100%" colspan="4" style="background-color: #AA0000; color: #FFFFFF; font-size: 18pt; vertical-align: middle;">Miembros del Círculo</td>         
                                    </tr>
                                    {% for member in order.getWorkStudyCircle.getMembers %}                                
                                        {%if(members[member.getId] is defined)%}
                                            {%set checked = 'checked'%}
                                        {%else%}
                                            {%set checked = ''%}
                                        {%endif%}
                                        <tr>
                                            <td>{{ loop.index  }}</td>
                                            <td>{{ member.getOnlyFullNameUser }}</td>
                                            <td>{{ member.getCellphone }}</td>
                                            <td>
                                                <form name="editmember" id="editmember_{{ member.id  }}" method="POST" action="{{ path("pequiven_housesupply_orderkitcheck_edit", { 'idOrder': order.id , 'idMember': member.id , 'idKit': order.getProductKit.getId  })}}">
                                                    <p class="assistance button-height">
                                                        <input type="checkbox"  name="members[{{ member.id}}]" data="{{ member.id}}" value="1" {{checked}} class="switch green-active mid-margin-right" data-text-on="Si" data-text-off="No">
                                                    </p>
                                                </form>
                                            </td>                                            
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                            <td width="50%" rowspan="2">   
                                <table width="100%" style="border: 1px #D8D8D8 solid;">
                                    <tr style="height: 30px;">
                                        <td width="100%" style="background-color: #AA0000; color: #FFFFFF; font-size: 20pt; vertical-align: middle;">Productos</td>         
                                    </tr>
                                    <tr>
                                        <td width="100%">
                                            <table id="table1" class="simple-table" width="100%">
                                                <thead>
                                                    <tr>                                                    
                                                        <th class="header text-center" width="10%">Cant</th>
                                                        <th class="header" width="70%">Producto</th>
                                                        <th class="header text-center" width="10%">Precio</th>                                
                                                        <th class="header text-right" width="10%">Sub-Total</th>                                                    
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if (orderDetails) %}
                                                        {% for list in orderDetails %}                                                    
                                                            <tr>
                                                                <td class="text-center" width="10%"> {{ list.cant }} </td>
                                                                <td width="70%">{{ list.product }}</td>
                                                                <td class="text-right" width="10%">{{ (list.totalLine/list.cant)|myNumberFormat }}</td>                                                                                                                        
                                                                <td class="text-right" width="10%">{{ list.totalLine|myNumberFormat }}</td>                                
                                                            </tr>                                                                                                    
                                                        {% endfor %}   
                                                    {% endif %}
                                                </tbody> 
                                                <tfoot>
                                                    <tr>                                                    
                                                        <td colspan="2">&nbsp;</td>
                                                        <td class="text-right" style="background-color: #AA0000; font-weight: bold; color: #FFFFFF;">Sub-Total</td>
                                                        <td width="15%" class="text-right">{{ order.getTaxable|myNumberFormat}}</td>                                                    
                                                    </tr>                                    
                                                    <tr>
                                                        <td colspan="2">&nbsp;</td>
                                                        <td class="text-right" style="background-color: #AA0000; font-weight: bold; color: #FFFFFF;">Impuestos</td>
                                                        <td width="15%" class="text-right">{{ order.getTax|myNumberFormat}}</td>                                                    
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">&nbsp;</td>
                                                        <td class="text-right" style="background-color: #AA0000; font-weight: bold; color: #FFFFFF;">Total</td>
                                                        <td width="15%" class="text-right" >{{ order.getTotalOrder|myNumberFormat}}</td>                                                    
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <table width="100%" style="border: 1px #D8D8D8 solid;">                    
                                    <tr style="height: 30px;">
                                        <td width="100%" style="background-color: #AA0000; color: #FFFFFF; font-size: 20pt; vertical-align: middle;">Observaciones</td>         
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%" class="simple-table">
                                                <tr>
                                                    <th width="100%">
                                                        <b>1. Productos Distribuidos en <h3 style="display:inline;">{{cantKits}} Kits </h3> para los siguientes Miembros:</b>
                                                    </th>                        
                                                </tr>
                                                <tr>
                                                    <td width="100%">
                                                        {%set member=''%}                                        
                                                        {%for items in order.getOrderItems%}
                                                            {%if member!=items.getclient.getOnlyFullNameUser%}
                                                                {%set member=items.getclient.getOnlyFullNameUser%}                                                
                                                                {{member}} | 
                                                            {%endif%}
                                                        {%endfor%}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <b>2. Las Formas de Pago son a través de Deposito y/o Transferencia Bancaria al Numero de Cuenta</b>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Corriente 0116.0225.81.0015.100715 del Banco Occidental de Descuento B.OD.
                                                        <br>Ahorros 0191.0140.18.1100.026943 del Banco Nacional de Crédito B.N.C.
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>                                
                            </td>                       
                        </tr>                     
                    </table>
                    <br>

                    <div class="new-row twelve-columns" style="text-align: right;">  
                        <button type="submit" {#onclick="cargar(' {{ path("pequiven_housesupply_order_charge_total") }} ');" #}class="button glossy mid-margin-right">
                            <span class="button-icon green-gradient"><span class="icon-tick"></span></span>
                            Imprimir Orden
                        </button>    
                    </div>       
                </center>            
            </div>
        {%endif%}
    </div>
{% endblock %}



