{% extends "PequivenArrangementProgramBundle:ArrangementProgram:email/base.html.twig" %}

{% block subject %}
    El programa de gestión {{ arrangementProgram.ref }} fue aprobado - SEIP
{% endblock subject %}

{% block content_html %}
    El usuario <b>{{ user.getFullNameUser }}</b> acaba aprobar el programa de gestión 
    <a href="{{ url('pequiven_seip_arrangementprogram_show',{id: arrangementProgram.id }) }}">{{ arrangementProgram.ref }}</a> donde usted se encuentra encargado de notificar los avances.
    
    Los responsables del programa de gestión son:
    <br/>
    {% for responsible in  arrangementProgram.responsibles %}
        {{ responsible }}
    {% endfor %}
    <br/>
    
    {% set timeline = arrangementProgram.timeline %}
    Las metas y sus responsables son:
    <br/>
    <table>
        <tr>
            <th>Meta</th>
            <th>Responsable(s)</th>
        </tr>
        {% for goal in timeline.goals %}
            <tr>
                <td>
                    {{ goal.name }}
                </td>
                <td>
                    {% for responsible in  goal.responsibles %}
                        {{ responsible }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    
   {% include 'PequivenArrangementProgramBundle:ArrangementProgram:email/detailsArrangementProgram.html.twig' %}
{% endblock content_html %}