{#{% extends "PequivenSEIPBundle:Template:Developer/Common/tableFormat1.html.twig" %}#}
{#{% extends is_granted('ROLE_SEIP_OPERATION_VIEW_MONITOR_PRODUCTION') 
    ? 'PequivenSEIPBundle:Template:Developer/layoutMenuHidden.html.twig' 
    : 'PequivenSEIPBundle:Template:Developer/layout.html.twig' %}#}

{% extends 'PequivenSEIPBundle:Template:Developer/layout_AllPeriods.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% block stylesheets_base %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/pequivenseip/icons/imageMap.css') }}">
{% endblock %}

{% block body %}
    <br/>
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <div class="alert alert-info text-align-right">
            <a href="{{ path('pequiven_seip_default_index', {'_switch_user': '_exit'}) }}" class="button red-gradient glossy">Terminar de suplantacion del usuario</a>
        </div>
        <br />
    {% endif %}

    {% if(buttonItems) %}
        <div style="text-align: left; margin-left:15px;">
            <a class="button"  id="showItems"  href="javascript:void(0)">
                <span class="button-icon"><span class="icon-list"></span></span>
                <span class="title">Ver Resumen de Gestión </span>
                <span class="title" style="display: none">Ocultar Resumen de Gestión </span>
            </a>
        </div>

        {#        <button class="button compact" id="showItems" type="button">Visualizar Items</button>#}
        <div id="userItems" style="display: none;">
            {{ renderArea(constant('Pequiven\\SEIPBundle\\Model\\Box\\AreasBox::ITEMS')) }}
        </div>

        <div id="dashboard" style="display: block;">
            {{ renderArea(constant('Pequiven\\SEIPBundle\\Model\\Box\\AreasBox::DASHBOARD')) }}
            <div class="with-padding">
                <div class="columns">
                    {{ renderArea(constant('Pequiven\\SEIPBundle\\Model\\Box\\AreasBox::PRINCIPAL')) }}
                </div>
            </div>
        </div>
    {% else %}
        {{ renderArea(constant('Pequiven\\SEIPBundle\\Model\\Box\\AreasBox::ITEMS')) }}
    {% endif %}
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/agenda3860.css?v=1') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/dashboard3860.css?v=1') }}">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/fusioncharts.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/themes/fusioncharts.theme.fint.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/imageMapResizer/js/imageMapResizer.min.js') }}"></script>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("a#showItems").click(function () {
                $("#userItems").toggle("slow");
                $("#dashboard").toggle("slow");
                $("a#showItems span.title ").toggle();
            });
        });
    </script>
{% endblock %}