{#{% extends "PequivenSEIPBundle:Template:Developer/Common/tableFormat1.html.twig" %}#}
{% extends "PequivenSEIPBundle:Template:Developer/layout.html.twig" %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% block body %}
    <br/>
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <div class="alert alert-info text-align-right">
            <a href="{{ path('pequiven_seip_default_index', {'_switch_user': '_exit'}) }}" class="button red-gradient glossy">Terminar de suplantacion del usuario</a>
        </div>
        <br />
    {% endif %}

<div class="with-padding">
    <div class="columns">
        {{ renderArea(constant('Pequiven\\SEIPBundle\\Model\\Box\\AreasBox::DASHBOARD')) }}
    </div>
</div>

<div class="with-padding">
    <div class="columns">
        {{ renderArea(constant('Pequiven\\SEIPBundle\\Model\\Box\\AreasBox::PRINCIPAL')) }}
    </div>
</div>
    
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/agenda3860.css?v=1') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/dashboard3860.css?v=1') }}">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/fusioncharts.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/themes/fusioncharts.theme.fint.js') }}"></script>
{% endblock %}

{% block javascript %}
    {{ parent() }}

{% endblock %}