{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% trans_default_domain 'PequivenSEIPBundle' %}
<!-- Sección de las Líneas Estratégicas -->
<div class="row-fluid">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <div class="span9" style="margin-left: 0;">
                    <ul class="nav">
                        {% for lineStrategic in linesStrategics %}
                            <li {% if lineStrategic.id == idLineStrategic %} class="linestrategic-active" {% endif %} style="display: table-cell; float: none;">
                                <a href="{{ path('pequiven_line_strategic_show',{id:lineStrategic.id}) }}" data-toggle="tab">
                                    <span title="{{ lineStrategic.description }}">
                                        <img style="padding: 20px;" class="snapshot-box-icon-header" src="{{ asset(iconsLineStrategic[lineStrategic.level]) }}">
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="hr-linestrategic-icons" />


<div class="with-padding">
    <div class="columns">
        <!-- Sección Lateral Izquierda -->
        <div class="three-columns three-columns-tablet six-columns-mobile new-row-mobile" style="overflow-y: scroll; height: 450px;">
            <div class="with-padding">
                <div class="columns">
                    {% for indicatorGroup in indicatorsGroup %}
                        <div class="twelve-columns twelve-columns-tablet twelve-columns-mobile new-row-mobile {% if indicatorGroup.id == indicator.id %} linestrategic-active {% endif %}" style="display: inline-block;" ng-controller="DashboardController" ng-init="{% if indicatorGroup.evaluateInPeriod == true %} renderChartAngularGauge('{{ indicatorGroup.ref }}',{{ dataWidget[indicatorGroup.ref]|json_encode() }},'100%','100px') {% else %} renderWidgetIndicatorStrategic('{{ indicatorGroup.ref }}',{{ dataWidget[indicatorGroup.ref]|json_encode() }},'100%','100px') {% endif %}">
                            <a {% if indicatorGroup.id == indicator.id %} name="cargarInd" {% endif %} target="_blank" href="{{ path('pequiven_indicator_show',{id:indicatorGroup.id}) }}">
                                <span title="{{ indicatorGroup.description }}">
                                    <p style="text-align: center;margin-bottom: -2px;"><b>{{ indicatorGroup.summary }}</b></p>
                                </span>
                            </a>
                            <span id="{{ indicatorGroup.ref }}"></span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Sección Central -->
        <div class="nine-columns nine-columns-tablet six-columns-mobile new-row-mobile">

            {#            {% if indicatorService.isIndicatorHasParents(indicator) == true %}#}
            {{ indicatorService.getArrowOfIndicator(indicator)|raw }}
            {#            {% endif %}#}

            {% if indicator.showCharts %}{# En caso de que sólo se necesite ver el gráfico #}
                <div ng-controller="ChartsDashboardController">
                    {% set Charts = indicator.getCharts %}
                    {% set indicatorsChartDetailsByOrderShow = indicatorService.obtainIndicatorChartDetailsByOrderShow(indicator) %}
                    <div class="standard-tabs margin-bottom" {#style="height: 600px;"#}>
                        <ul class="tabs">
                            {% set cont = 1 %}
                            {% if indicatorsChartDetailsByOrderShow|length > 0 %}
                                {% for indicatorChartDetailsByOrderShow in indicatorsChartDetailsByOrderShow %}
                                    {% set showChart = false %}
                                    {% for chart in Charts %}
                                        {% if chart.id == indicatorChartDetailsByOrderShow.chart.id %}
                                            {% set showChart = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if showChart == true %}
                                        {% set chart = indicatorChartDetailsByOrderShow.chart %}
                                        {% set description = chart.shortDescription %}
                                        {% set indicatorChartDetails = indicatorService.obtainIndicatorChartDetails(indicator,chart) %}
                                        {% if indicatorChartDetails != null %}
                                            {% if indicatorChartDetails.description != null %}
                                                {% set description = indicatorChartDetails.description %}
                                            {% endif %}
                                        {% endif %}
                                        {% set grafico = "grafico"~loop.index %}
                                        <li {% if cont == 1 %} class="active" {% endif %}>
                                            <a style="color: #000000;" href="#tab-{{ grafico }}">{{ description }} </a>
                                        </li>
                                        {% set cont = cont + 1 %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for chart in Charts %}
                                    {% set description = chart.shortDescription %}
                                    {% set indicatorChartDetails = indicatorService.obtainIndicatorChartDetails(indicator,chart) %}
                                    {% if indicatorChartDetails != null %}
                                        {% if indicatorChartDetails.description != null %}
                                            {% set description = indicatorChartDetails.description %}
                                        {% endif %}
                                    {% endif %}
                                    {% set grafico = "grafico"~loop.index %}
                                    <li {% if cont == 1 %} class="active" {% endif %}>
                                        <a style="color: #000000;" href="#tab-{{ grafico }}">{{ description }} </a>
                                    </li>
                                    {% set cont = cont + 1 %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                        <div class="tabs-content" {#style="min-height: 500px;"#}>
                            {% if indicatorsChartDetailsByOrderShow|length > 0 %}
                                {% for indicatorChartDetailsByOrderShow in indicatorsChartDetailsByOrderShow %}
                                    {% set showChart = false %}
                                    {% for chart in Charts %}
                                        {% if chart.id == indicatorChartDetailsByOrderShow.chart.id %}
                                            {% set showChart = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if showChart == true %}
                                        {% set chart = indicatorChartDetailsByOrderShow.chart %}
                                        {% set grafico = "grafico"~loop.index %}
                                        {% if chart.typeOfChart == constant('Pequiven\\SEIPBundle\\Entity\\Chart::TYPE_CHART_COLUMN_RESULT_INDICATORS_ASSOCIATED_WITH_TOTAL_BY_MONTH') or chart.typeOfChart == constant('Pequiven\\SEIPBundle\\Entity\\Chart::TYPE_CHART_COLUMN_RESULT_INDICATORS_ASSOCIATED_GROUP_BY_TYPE_COMPANY_WITH_TOTAL_BY_MONTH') %}
                                            <div id="tab-{{ grafico }}"  ng-controller="DashboardController" ng-init="{{ chart.nameFunctionAngular }}({{ indicator.id }},'{{ "now"|date("n") }}','{{ grafico }}','100','500')">
                                            {% else %}
                                                <div id="tab-{{ grafico }}"  ng-controller="DashboardController" ng-init="{{ chart.nameFunctionAngular }}({{ indicator.id }},'{{ grafico }}','100','500')">
                                                {% endif %}
                                                {% if chart.typeOfChart == constant('Pequiven\\SEIPBundle\\Entity\\Chart::TYPE_CHART_COLUMN_RESULT_INDICATORS_ASSOCIATED_WITH_TOTAL_BY_MONTH')  %}
                                                    <div ng-init="data.monthsLabels = {{ labelsMonths|serialize }}" class="with-mid-padding">
                                                        <select id='month' class="select2 input-xlarge" ng-model="model.months" ng-options="value as value.description for (key,value) in data.monthsLabels | orderBy:'value.id'" ng-init="model.months = {{ "now"|date("n") }}" ng-click="chargeChartColumnResultIndicatorsAssociatedWithTotalByMonth({{ indicator.id }},model.months.id,'{{ grafico }}','100','500')">
                                                            <option value='0'>Seleccione un mes</option>
                                                        </select>
                                                    </div>
                                                {% endif %}
                                                {% if chart.typeOfChart == constant('Pequiven\\SEIPBundle\\Entity\\Chart::TYPE_CHART_COLUMN_RESULT_INDICATORS_ASSOCIATED_GROUP_BY_TYPE_COMPANY_WITH_TOTAL_BY_MONTH')  %}
                                                    <div ng-init="data.monthsLabels = {{ labelsMonths|serialize }}" class="with-mid-padding">
                                                        <select id='monthsGroupByCompany' class="select2 input-xlarge" ng-model="model.monthsGroupByCompany" ng-options="value as value.description for (key,value) in data.monthsLabels | orderBy:'id'" ng-init="model.monthsGroupByCompany = {{ "now"|date("n") }}" ng-click="chargeChartColumnResultIndicatorsAssociatedGroupByTypeCompanyWithTotalByMonth({{ indicator.id }},model.monthsGroupByCompany.id,'{{ grafico }}','100','500')">
                                                            <option value='0'>Seleccione un mes</option>
                                                        </select>
                                                    </div>
                                                {% endif %}
                                                <span id="{{ grafico }}"></span>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for chart in Charts %}
                                        {% set grafico = "grafico"~loop.index %}
                                        <div id="tab-{{ grafico }}"  ng-controller="DashboardController" ng-init="{{ chart.nameFunctionAngular }}({{ indicator.id }},'{{ grafico }}','100','500')">
                                            {% if chart.typeOfChart == constant('Pequiven\\SEIPBundle\\Entity\\Chart::TYPE_CHART_COLUMN_RESULT_INDICATORS_ASSOCIATED_WITH_TOTAL_BY_MONTH')  %}
                                                <div ng-init="data.monthsLabels = {{ labelsMonths|serialize }}" class="with-mid-padding">
                                                    <select id='month' class="select2 input-xlarge" ng-model="model.months" ng-options="value as value.description for (key,value) in data.monthsLabels | orderBy:'value.id'" ng-init="model.months = {{ "now"|date("n") }}" ng-click="chargeChartColumnResultIndicatorsAssociatedWithTotalByMonth({{ indicator.id }},model.months.id,'{{ grafico }}','100','500')">
                                                        <option value='0'>Seleccione un mes</option>
                                                    </select>
                                                </div>
                                            {% endif %}
                                            {% if chart.typeOfChart == constant('Pequiven\\SEIPBundle\\Entity\\Chart::TYPE_CHART_COLUMN_RESULT_INDICATORS_ASSOCIATED_GROUP_BY_TYPE_COMPANY_WITH_TOTAL_BY_MONTH')  %}
                                                <div ng-init="data.monthsLabels = {{ labelsMonths|serialize }}" class="with-mid-padding">
                                                    <select id='monthsGroupByCompany' class="select2 input-xlarge" ng-model="model.monthsGroupByCompany" ng-options="value as value.description for (key,value) in data.monthsLabels | orderBy:'id'" ng-init="model.monthsGroupByCompany = {{ "now"|date("n") }}" ng-click="chargeChartColumnResultIndicatorsAssociatedGroupByTypeCompanyWithTotalByMonth({{ indicator.id }},model.monthsGroupByCompany.id,'{{ grafico }}','100','500')">
                                                        <option value='0'>Seleccione un mes</option>
                                                    </select>
                                                </div>
                                            {% endif %}
                                            <span id="{{ grafico }}"></span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if indicator.showTags %}
                    {% if indicator.tagsIndicator|length > 0 and indicator.showTags == true%}
                        <fieldset class="fieldset">
                            <legend class="legend">{{ ('pequiven_indicator.tagIndicators'|trans({},'PequivenIndicatorBundle')) }}&nbsp;</legend>
                            {% include 'PequivenIndicatorBundle:Common:tagIndicators.html.twig' %}
                        </fieldset>
                    {% else %}
                        {#                    <span class="tag red-bg with-tooltip">{{ ('pequiven_indicator.empty'|trans({},'PequivenIndicatorBundle')) }}</span>#}
                    {% endif %}
                {% endif %}
                {% set addImg = false %}
                {% if is_granted(['ROLE_SEIP_INDICATOR_UPLOAD_FILES']) %}
                    {% if indicator.loadFiles %}
                        {% include 'PequivenSEIPBundle:Planning:Indicator/show/files.html.twig' %}
                    {% endif %}
                {% endif %}
                <br /><br />

                <p class="button-height align-right">

                    {# Visualizacion de Indice de evolucion #}
                    {% include 'PequivenSIGBundle:Template:base_evolution_nav.html.twig' with {'typeObject': 1, 'id': indicator.id, 'route': 'pequiven_indicator_evolution'} %}
                    {# end #}
                </p>
            </div>
        </div>
    </div>

    {% block javascript %}
        <script type="text/javascript">

            function openImg(rutaImg) {
                var url = "<div align='center'><img src='" + rutaImg + "' class='img-responsive'  style='max-width: 100%;  height: auto;'></div>";
                $.modal({
                    title: "",
                    content: url
                });
            }

            var show = true;
            function showDetail() {
                if (show == true) {//Ver Detalle
                    $("#chartColumn").hide();
                    $("#chartDetail").show();
                    $("#textDetail").text("Ver Global");
                    show = false;
                } else {//Ver Global
                    $("#chartColumn").show();
                    $("#chartDetail").hide();
                    $("#textDetail").text("Ver Detalle");
                    show = true;
                }
            }

            $(document).ready(function () {

                $("a#loadFileIndicator").click(function () {
                    $("input#fileIndicator").click();
                });

                $("input#fileIndicator").change(function () {
                    $("form#loadFileForm").submit();
                });

                $("#chartDetail").hide();
                $('.select2').select2({
                    allowClear: true
                });
            }
            );
        </script>
    {% endblock javascript %}


    {#<div id="tab-{{ chart.typeOfChart }}" ng-init="chargeChartDoughnut2d({{ indicator.id }})" fusioncharts
        width="100%"
        height="400"
        type="{{ chart.alias }}"
        dataFormat= "json"
        dataSource="{$chartDoughnut2d$}" >
    </div>#}