{% trans_default_domain 'PequivenSEIPBundle' %}
<!-- Sección de las Líneas Estratégicas -->
<div class="row-fluid">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <div class="span9" style="margin-left: 0;">
                    <ul class="nav">
                        {% for lineStrategic in linesStrategics %}
                            <li {% if lineStrategic.id == idLineStrategic %} class="linestrategic-active" {% endif %} style="display: table-cell; float: none;">
                                <a href="{{ path('pequiven_line_strategic_show',{id:lineStrategic.id}) }}" data-toggle="tab">
                                    <span title="{{ lineStrategic.description }}">
                                        <img style="padding: 20px;" class="snapshot-box-icon-header" src="{{ asset(iconsLineStrategic[lineStrategic.level]) }}">
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="hr-linestrategic-icons" />

<!-- Sección Lateral Izquierda -->
<div class="with-padding">
    <div class="columns">
        <div class="three-columns three-columns-tablet six-columns-mobile new-row-mobile" style="overflow-y: scroll; height: 300px;">
            <div class="with-padding">
                <div class="columns">
                    {% for indicatorGroup in indicatorsGroup %}
                        <div class="twelve-columns twelve-columns-tablet twelve-columns-mobile new-row-mobile {% if indicatorGroup.id == indicator.id %} linestrategic-active {% endif %}" style="display: inline-block;" ng-controller="DashboardController" ng-init="renderWidgetIndicatorStrategic('{{ indicatorGroup.ref }}',{{ dataWidget[indicatorGroup.ref]|json_encode() }},'100%','100px')">
                            <a {% if indicatorGroup.id == indicator.id %} name="cargarInd" {% endif %} target="_blank" href="{{ path('pequiven_indicator_show',{id:indicatorGroup.id}) }}">
                                <span title="{{ indicatorGroup.description }}">
                                    <p style="text-align: center;margin-bottom: -5px;"><b>{{ indicatorGroup.summary }}</b></p>
                                </span>
                            </a>
                            <span id="{{ indicatorGroup.ref }}"></span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="nine-columns nine-columns-tablet six-columns-mobile new-row-mobile">
            {#<div ng-controller="DashboardController" ng-init="renderWidgetMultiLevelPie('pie',{{ dataMultiLevelPie|json_encode() }},'100%','400')">
                <span id="pie"></span>
            </div>#}
            
            {{ indicatorService.getArrowOfIndicator(indicator)|raw }}
            
            {% if seeTagIndicators == false %}{# En caso de que sólo se necesite ver #}
                {% if seeInColumn == false %}
                <div ng-controller="DashboardController" ng-init="renderWidgetDoughnut2d('pie',{{ dataChart|json_encode() }},'100%','450')">
                    <span id="pie"></span>
                </div>
                {#<div ng-controller="ChartsDashboardController">
                    <div fusioncharts
                         width="600"
                         height="400"
                         type="column2d"
                         dataSource="{{myDataSource}}" >
                    </div>
                </div>#}
                {% else %}
                    {% if seeInColumnSingleAxis == false %}
                        <div ng-controller="DashboardController" ng-init="renderChartColumnLineDualAxis('chartColumn',{{ dataChartColumn|json_encode() }})">
                            <span id="chartColumn"></span>
                        </div>
                    {% else %}
                        {% if indicator.id == '171' %}
                            <p class="button-height">
                            <a onclick="showDetail()">
                                <span class="button-icon left-side blue-gradient">
                                    <span class="fa fa-pie-chart fa-1">
                                    </span>
                                </span>
                                <span id="textDetail">Ver Detalle</span>
                            </a>
                            </p>
                        {% endif %}
                        <div ng-controller="DashboardController" ng-init="renderChartColumnLineSingleAxis('chartColumn',{{ dataChartColumn|json_encode() }})">
                            <span id="chartColumn"></span>
                        </div>
                        {% if indicator.id == '171' %}
                            <div ng-controller="DashboardController" ng-init="renderChartStackedSingleAxis('chartDetail')">
                                <span id="chartDetail"></span>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% if indicator.tagsIndicator|length > 0 %}    
                    <fieldset class="fieldset">
                        <legend class="legend">{{ ('pequiven_indicator.tagIndicators'|trans({},'PequivenIndicatorBundle')) }}&nbsp;</legend>
                        {% include 'PequivenIndicatorBundle:Common:tagIndicators.html.twig' %}
                    </fieldset>
                {% else %}
                    <span class="tag red-bg with-tooltip">{{ ('pequiven_indicator.empty'|trans({},'PequivenIndicatorBundle')) }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
        
{% block javascript %}
    <script type="text/javascript">
        var show = true;
        function showDetail(){
            if(show == true){//Ver Detalle
                $("#chartColumn").hide();
                $("#chartDetail").show();
                $("#textDetail").text("Ver Global");
                show = false;
            } else{//Ver Global
                $("#chartColumn").show();
                $("#chartDetail").hide();
                $("#textDetail").text("Ver Detalle");
                show = true;
            }
        }
        
        $(document).ready(function() {
            $("#chartDetail").hide();
        });
    </script>
{% endblock javascript %}