{#% extends "::base.html.twig" %#}
{% extends "PequivenSEIPBundle:Template:Developer/Common/tableFormat1.html.twig" %}
{% trans_default_domain 'PequivenObjetiveBundle' %}
{% block title %}- {{ 'pequiven_objetive.objetive_strategic'|trans }}{% endblock %}

{% set route_index = 'pequiven_objetive_menu_list_strategic' %}
{% if allow_create is not defined %}
    {% set allow_create = false %}
{% endif %}

{% block body %}
    
    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="{{ path(route_index) }}">{{ 'pequiven_objetive.objetive_strategic'|trans }}</a>
            <span class="icon-forward"></span>
            <span class="thin">{{ 'pequiven_objetive.list'|trans }}</span>
            <!--
            {% if allow_create %}
                <p class="button-height align-right">
                    <a href="{{ path('coramer_sigtec_backend_company_create') }}" class="button">
                            <span class="button-icon anthracite-gradient"><span class="icon-star"></span></span>
                            {{ 'sigtec.create'|trans }}
                    </a>
                </p>
            {% endif %}
            -->
        </h1>
    </hgroup>
    
    <div ng-controller="TableFormatController">
        <!--<div ng-controller="ObjetiveTacticController">-->
                {% set filterYesNo = [
                    { 'id':0,'name': ('sigtec.no'|trans)},
                    { 'id':1,'name': ('sigtec.yes'|trans)},
                ] %}
                {% set filterActiveInactive = [
                    { 'id':1,'name': ('sigtec.active'|trans)},
                    { 'id':0,'name': ('sigtec.inactive'|trans)},
                ] %}
                <div loading-container="tableParams.settings().$loading">
                    <table ng-table="tableParams" show-filter="true" template-pagination="custom/pager"  template-header="custom/header" api-data-url="{{ path('objetiveStrategicList',{_format:'json'}) }}" export-csv="csv" class="table table-responsive table-extra-info">
                        <tr ng-repeat="result in $data | filter:tableParams.search" data="[[ result|json ]]">
                            <td data-title="'{{ 'form.lineStrategic'|trans }}'" >
                                <a href="[[ result._links.self.href ]]">[[result.line_strategic.ref+result.line_strategic.description]]</a>
                            </td>
                            <td data-title="'{{ 'form.objetive'|trans }}'" sortable="'ref'">
                                <a href="[[ result._links.self.href ]]">[[result.ref+result.description]]</a>
                            </td>
                        </tr>
                    </table>
                </div>
            <!--</div>-->
        </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        function getTableExtraInfo(data)
            {
                var response = '';
                response =  '<strong>{{ 'pequiven_objetive.popup.lineStrategic' |trans }}:</strong> ' + data.line_strategic.ref + ' ' + data.line_strategic.description + '<br>'
                            ;
                var totalIndicators = data.indicators.length;
                if(totalIndicators > 0){
                    response = response + '<strong>{{ 'pequiven_objetive.popup.indicators'|trans }}:</strong><br>';
                    for(var i = 0; i < totalIndicators; i++){
                        response = response + data.indicators[i].ref + data.indicators[i].description + '<br>';
                    }
                }
                return response;
            }
    </script>
    
{% endblock %}
