{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% trans_default_domain 'PequivenObjetiveBundle' %}
{% block title %}- {{ 'form.title.addObjetiveStrategic'|trans }}{% endblock %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block javascripts_base %}
    {{ parent() }}
    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Scripts -->
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/jquery-1.8.2.min.js') }}"></script>
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/setup.js') }}"></script>
{% endblock javascripts_base %}

{% block before_body %}
    {{ contentHeader(
        ('pequiven_objetive.objetives'|trans),
        ('pequiven_objetive.add'|trans),
        ('pequiven_objetive.strategic'|trans)
    ) }}
{% endblock %}

{% block body %}
    <form id="registerObjetiveStrategicForm" action="{{ path('pequiven_objetive_menu_add_strategic') }}" {{ form_enctype(form) }} method="POST" ng-controller="ObjetiveStrategicController">

        {{ form_top(form) }}

        <fieldset class="fieldset fields-list">
            <legend class="legend">{{ 'pequiven_objetive.objetives'|trans }}</legend>

            <!-- Línea Estratégica -->
            <a name="lineStrategicq"></a>
            <div id="lineStrategic" class="field-block button-height">
                {{ form_label(form.lineStrategics) }}
                {{ form_widget(form.lineStrategics) }}
                {{ form_errors(form.lineStrategics) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.info.lineStrategic'|trans }}</span>
                </span>
            </div>

            <!-- Nombre del objetivo -->
            <div class="field-block button-height">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.info.nameObjetiveStrategic'|trans }}</span>
                </span>
            </div>

            <!-- Referencia del objetivo -->
            <div id="ref" class="field-block button-height">
                {{ form_label(form.ref) }}
                {{ form_widget(form.ref) }}
                {{ form_errors(form.ref) }}
                <span id="ref_info" class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.info.refObjetiveStrategic'|trans }}</span>
                </span>
            </div>

            <!-- Meta del Objetivo -->
            <div class="field-block button-height">
                {{ form_label(form.goal) }}
                {{ form_widget(form.goal) }}
                {{ form_errors(form.goal) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.info.goalObjetiveStrategic'|trans }}</span>
                </span>
            </div>

            <br><br>

            <!-- Rango de Gestión -->
            <details class="details margin-bottom">
                <summary>{{ 'form.rankArrangementObjetiveStrategic'|trans }}</summary>
                <span id="noEstable">
                    <div class="with-padding">
                        <div class="field-block button-height">
                            {{form_label(form.tendency)}}
                            {{form_widget(form.tendency)}}
                        </div>

                        <div class="standard-tabs margin-bottom" id="add-tabs" style="height: 58px;">
                            <ul id="listNoEstable" class="tabs">                                                                
                                <li id="tabRankBottom" style="background: red;"><a style="color: #000000;" href="#rankArrangementBottom">{{ 'form.rankArrangementBottom'|trans }}</a></li>
                                <li id="tabRankMiddleBottom" style="background: #ffb900;"><a style="color: #000000;" href="#rankArrangementMiddleBottom">{{ 'form.rankArrangementMiddleBottom'|trans }}</a></li>
                                <li id="tabRankMiddleTop" style="background: #ffe326;"><a style="color: #000000;" href="#rankArrangementMiddleTop">{{ 'form.rankArrangementMiddleTop'|trans }}</a></li>
                                <li id="tabRankTop" style="background: #00FF00;" class="active"><a style="color: #000000;" href="#rankArrangementTop">{{ 'form.rankArrangementTop'|trans }}</a></li>
                            </ul>
                            <ul id="listEstable" class="tabs">
                                <li id="tabRankBottomBottomEstable" style="background: red;"><a style="color: #000000;" href="#rankArrangementBottomBottom">{{ 'form.rankArrangementBottom'|trans }}</a></li>
                                <li id="tabRankMiddleBottomEstable" style="background: #ffb900;"><a style="color: #000000;" href="#rankArrangementMiddleBottom">{{ 'form.rankArrangementMiddleBottom'|trans }}</a></li>
                                <li id="tabRankTopEstable" style="background: #00FF00;" class="active"><a style="color: #000000;" href="#rankArrangementTop">{{ 'form.rankArrangementMiddle'|trans }}</a></li>
                                <li id="tabRankMiddleTopEstable" style="background: #ffe326;"><a style="color: #000000;" href="#rankArrangementMiddleTop">{{ 'form.rankArrangementMiddleTop'|trans }}</a></li>
                                <li id="tabRankBottomTopEstable" style="background: red;"><a style="color: #000000;" href="#rankArrangementBottomTop">{{ 'form.rankArrangementTop'|trans }}</a></li>
                            </ul>
                            <div class="tabs-content" style="min-height: 29px;">
                                <!-- Tab Rango Alto -->
                                <div id="rankArrangementTop" class="with-padding">
                                    <div class="field-block button-height">
                                        {{ form_widget(form.typeArrangementRangeTypeTop) }}
                                        {{ form_label(form.arrangementRangeTypeTop) }}
                                        <span class="info-spot">
                                            <span class="icon-info-round"></span>
                                            <span class="info-bubble">{{ 'form.info.arrangementRangeTypeTop'|trans }}</span>
                                        </span>
                                        {{ form_widget(form.arrangementRangeTypeTop) }}

                                        <span id="sectionTopBasic">
                                            <label style="color: #000000; font-weight: bold;">{{ 'form.textResObj'|trans }}&nbsp;</label>{{ form_widget(form.opRankTopBasic) }} {{ form_widget(form.rankTopBasic) }}
                                        </span>
                                        <span id="sectionTopMixed">
                                            <label style="color: #000000; font-weight: bold;">{{ 'form.textResObj'|trans }}&nbsp;</label>{{ form_widget(form.opRankTopMixedTop) }} {{ form_widget(form.rankTopMixedTop) }} y <label style="color: #000000; font-weight: bold;">{{ 'form.textResObj'|trans }}&nbsp;</label>{{ form_widget(form.opRankTopMixedBottom) }} {{ form_widget(form.rankTopMixedBottom) }}
                                        </span>
                                    </div>
                                </div>
                                <!-- Tab Rango Medio Alto -->
                                <div id="rankArrangementMiddleTop" class="with-padding">
                                    <div class="field-block button-height">
                                        {{ form_widget(form.typeArrangementRangeTypeMiddleTop) }}
                                        {{ form_label(form.arrangementRangeTypeMiddleTop) }}
                                        <span class="info-spot">
                                            <span class="icon-info-round"></span>
                                            <span class="info-bubble">{{ 'form.info.arrangementRangeTypeMiddleTop'|trans }}</span>
                                        </span>
                                        {{ form_widget(form.arrangementRangeTypeMiddleTop) }}

                                        <span id="sectionMiddleTopBasic">
                                            <label style="color: #000000; font-weight: bold;">{{ 'form.textResObj'|trans }}&nbsp;</label>{{ form_widget(form.opRankMiddleTopBasic) }} {{ form_widget(form.rankMiddleTopBasic) }}
                                        </span>
                                        <span id="sectionMiddleTopMixed">
                                            <label style="color: #000000; font-weight: bold;">{{ 'form.textResObj'|trans }}&nbsp;</label>{{ form_widget(form.opRankMiddleTopMixedTop) }} {{ form_widget(form.rankMiddleTopMixedTop) }} y <label style="color: #000000; font-weight: bold;">{{ 'form.textResObj'|trans }}&nbsp;</label>{{ form_widget(form.opRankMiddleTopMixedBottom) }} {{ form_widget(form.rankMiddleTopMixedBottom) }}
                                        </span>
                                    </div>
                                </div>
                                <!-- Tab Rango Medio Bajo -->
                                <div id="rankArrangementMiddleBottom" class="with-padding">
                                    <div class="field-block button-height">
                                        {{ form_widget(form.typeArrangementRangeTypeMiddleBottom) }}
                                        {{ form_label(form.arrangementRangeTypeMiddleBottom) }}
                                        <span class="info-spot">
                                            <span class="icon-info-round"></span>
                                            <span class="info-bubble">{{ 'form.info.arrangementRangeTypeMiddleBottom'|trans }}</span>
                                        </span>
                                        {{ form_widget(form.arrangementRangeTypeMiddleBottom) }}

                                        <span id="sectionMiddleBottomBasic">
                                            <label style="color: #000000; font-weight: bold;">{{ 'form.textResObj'|trans }}&nbsp;</label>{{ form_widget(form.opRankMiddleBottomBasic) }} {{ form_widget(form.rankMiddleBottomBasic) }}
                                        </span>
                                        <span id="sectionMiddleBottomMixed">
                                            <label style="color: #000000; font-weight: bold;">{{ 'form.textResObj'|trans }}&nbsp;</label>{{ form_widget(form.opRankMiddleBottomMixedTop) }} {{ form_widget(form.rankMiddleBottomMixedTop) }} y <label style="color: #000000; font-weight: bold;">{{ 'form.textResObj'|trans }}&nbsp;</label>{{ form_widget(form.opRankMiddleBottomMixedBottom) }} {{ form_widget(form.rankMiddleBottomMixedBottom) }}
                                        </span>
                                    </div>
                                </div>
                                <!-- Tab Rango Bajo -->
                                {{ form_widget(form.typeArrangementRangeTypeBottom) }}
                                <div id="rankArrangementBottom" class="with-padding">
                                    <div class="field-block button-height">
                                        {{ form_label(form.arrangementRangeTypeBottom) }}
                                        <span class="info-spot">
                                            <span class="icon-info-round"></span>
                                            <span class="info-bubble">{{ 'form.info.arrangementRangeTypeBottom'|trans }}</span>
                                        </span>
                                        {{ form_widget(form.arrangementRangeTypeBottom) }}

                                        <span id="sectionBottomBasic">
                                            <label style="color: #000000; font-weight: bold;">{{ 'form.textResObj'|trans }}&nbsp;</label>{{ form_widget(form.opRankBottomBasic) }} {{ form_widget(form.rankBottomBasic) }}
                                        </span>
                                        <span id="sectionBottomMixed">
                                            <label style="color: #000000; font-weight: bold;">{{ 'form.textResObj'|trans }}&nbsp;</label>{{ form_widget(form.opRankBottomMixedTop) }} {{ form_widget(form.rankBottomMixedTop) }} y <label style="color: #000000; font-weight: bold;">{{ 'form.textResObj'|trans }}&nbsp;</label>{{ form_widget(form.opRankBottomMixedBottom) }} {{ form_widget(form.rankBottomMixedBottom) }}
                                        </span>
                                    </div>
                                </div>
                                <!-- Rango Bajo-Bajo para el comportamiento -->
                                <div id="rankArrangementBottomTop" class="with-padding">
                                    <span id="sectionBottomTopBasic">
                                        <label style="color: #000000; font-weight: bold;">{{ 'form.textResObj'|trans }}&nbsp;</label>{{ form_widget(form.opRankBottomTopBasic) }} {{ form_widget(form.rankBottomTopBasic) }}
                                    </span>
                                </div>
                                <!-- Rango Bajo-Alto para el comportamiento -->
                                <div id="rankArrangementBottomBottom" class="with-padding">
                                    <span id="sectionBottomBottomBasic">
                                        <label style="color: #000000; font-weight: bold;">{{ 'form.textResObj'|trans }}&nbsp;</label>{{ form_widget(form.opRankBottomBottomBasic) }} {{ form_widget(form.rankBottomBottomBasic) }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </details>

            <!-- Tipo de Evaluación -->
            <details class="details margin-bottom">
                <summary>{{ 'form.typeEvaluationObjetiveStrategic'|trans }}
                    <span class="info-spot">
                        <span class="icon-info-round"></span>
                        <span class="info-bubble">{{ 'form.info.typeEvaluationObjetiveStrategic'|trans }}</span>
                    </span>
                </summary>
                <div class="with-padding">

                    <!-- Por Objetivo -->
                    <div class="field-block button-height">
                        {{ form_label(form.evalObjetive) }}
                        {{ form_widget(form.evalObjetive) }}
                        {{ form_errors(form.evalObjetive) }}
                        <span class="info-spot">
                            <span class="icon-info-round"></span>
                            <span class="info-bubble">{{ 'form.info.evalByObjetiveTactic'|trans }}</span>
                        </span>
                    </div>

                    <!-- Por Indicador -->
                    <div class="field-block button-height">
                        {{ form_label(form.evalIndicator) }}
                        {{ form_widget(form.evalIndicator) }}
                        {{ form_errors(form.evalIndicator) }}
                        <span class="info-spot">
                            <span class="icon-info-round"></span>
                            <span class="info-bubble">{{ 'form.info.evalIndicatorObjetiveStrategic'|trans }}</span>
                        </span>
                        <span id="button_add_indicator">
                            <button type="button" class="button red-gradient glossy" onclick="openFormIndicator()">{{ 'pequiven_objetive.registerIndicator'|trans }}</button>
                        </span>
                        <span id="choice_line_strategic">
                            {{ 'form.messages.pleaseChoiceALineStrategic'|trans }}
                        </span>

                        <br><br>
                        <!-- Añadir Indicadores -->
                        <span id="indicators">
                            {{ form_label(form.indicators) }}
                            {{ form_widget(form.indicators) }}
                            {{ form_errors(form.indicators) }}
                            <span class="info-spot">
                                <span class="icon-info-round"></span>
                                <span class="info-bubble">{{ 'form.info.indicatorsStrategic'|trans }}</span>
                            </span>
                        </span>
                    </div>
                </div>
            </details>

            {{ actions.create() }}

        </fieldset>
        {{ form_rest(form) }}
    </form>

{% endblock body %}

{% block javascript %}

    <script type="text/javascript">

        jQuery(document).ready(function() {
            jQuery('#registerObjetiveStrategicForm').validationEngine('attach', {promptPosition: "centerRight", scroll: false}, {showOneMessage: true});
            jQuery('#registerObjetiveStrategicForm select').select2();
        });

        var buttonAddIndicator = $('#button_add_indicator'), //Botón de Añadir Indicador
            form = $("#registerObjetiveStrategicForm"),
            messageCheckIndicator = $('#choice_line_strategic'), //Mensaje en caso de que no se haya seleccionado una Línea Estratégica
            sectionIndicators = $('#indicators'), //Sección dónde esta el select de Indicadores
            selectLineStrategic = $("#pequiven_objetive_strategic_registration_lineStrategics"), //Select de Línea Estratégica
            selectComplejo = $("#pequiven_objetive_strategic_registration_complejo"), //Select de Complejo
            selectIndicators = $("#pequiven_objetive_strategic_registration_indicators"), //Select de Indicadores
            inputRef = $("#pequiven_objetive_strategic_registration_ref"), //Input de Ref
            inputGoal = $("#pequiven_objetive_strategic_registration_goal"), //Input de Meta
            checkIndicator = $("#pequiven_objetive_strategic_registration_evalIndicator"), //Check de Evaluar por Indicador
            selectTendency = $("#pequiven_objetive_strategic_registration_tendency"), //Select de Tendencia del indicador
            selectArrangementRangeTypeTop = $("#pequiven_objetive_strategic_registration_arrangementRangeTypeTop"), //Select de Tipo de Rango Alto
            selectArrangementRangeTypeMiddleTop = $("#pequiven_objetive_strategic_registration_arrangementRangeTypeMiddleTop"), //Select de Tipo de Rango Medio Alto
            selectArrangementRangeTypeMiddleBottom = $("#pequiven_objetive_strategic_registration_arrangementRangeTypeMiddleBottom"), //Select de Tipo de Rango Medio Bajo
            selectArrangementRangeTypeBottom = $("#pequiven_objetive_strategic_registration_arrangementRangeTypeBottom"), //Select de Tipo de Rango Bajo
            tabRankTop = $("#tabRankTop"), //Tab de Rango Alto
            tabRankMiddleTop = $("#tabRankMiddleTop"), //Tab de Rango Medio Alto
            tabRankMiddleBottom = $("#tabRankMiddleBottom"), //Tab de Rango Medio Bajo
            tabRankBottom = $("#tabRankBottom"), //Tab de Rango Bajo
            tabRankTopEstable = $("#tabRankTopEstable"), //Tab de Rango Alto Estable
            tabRankMiddleTopEstable = $("#tabRankMiddleTopEstable"), //Tab de Rango Medio Alto Estable
            tabRankMiddleBottomEstable = $("#tabRankMiddleBottomEstable"), //Tab de Rango Medio Bajo Estable
            tabRankBottomTopEstable = $("#tabRankBottomTopEstable"), //Tab de Rango Bajo Alto Estable
            tabRankBottomBottomEstable = $("#tabRankBottomBottomEstable"), //Tab de Rango Bajo Bajo Estable
            sectionTopBasic = $("#sectionTopBasic"), //Sección de Rango de Gestión Alto Básico
            sectionTopMixed = $("#sectionTopMixed"), //Sección de Rango de Gestión Alto Mixto
            sectionMiddleTopBasic = $("#sectionMiddleTopBasic"), //Sección de Rango de Gestión Medio Alto Básico
            sectionMiddleTopMixed = $("#sectionMiddleTopMixed"), //Sección de Rango de Gestión Medio Alto Mixto
            sectionMiddleBottomBasic = $("#sectionMiddleBottomBasic"), //Sección de Rango de Gestión Medio Bajo Básico
            sectionMiddleBottomMixed = $("#sectionMiddleBottomMixed"), //Sección de Rango de Gestión Medio Bajo Mixto
            sectionBottomBasic = $("#sectionBottomBasic"), //Sección de Rango de Gestión Bajo Básico
            sectionBottomMixed = $("#sectionBottomMixed"), //Sección de Rango de Gestión Bajo Mixto
            inputHiddenTypeArrangementRangeTop = $("#pequiven_objetive_strategic_registration_typeArrangementRangeTypeTop"), //Input Hidden del tipo de rango de gestión alto
            inputHiddenTypeArrangementRangeMiddleTop = $("#pequiven_objetive_strategic_registration_typeArrangementRangeTypeMiddleTop"), //Input Hidden del tipo de rango de gestión medio alto
            inputHiddenTypeArrangementRangeMiddleBottom = $("#pequiven_objetive_strategic_registration_typeArrangementRangeTypeMiddleBottom"), //Input Hidden del tipo de rango de gestión medio bajo
            inputHiddenTypeArrangementRangeBottom = $("#pequiven_objetive_strategic_registration_typeArrangementRangeTypeBottom"), //Input Hidden del tipo de rango de gestión bajo
            inputRankTopBasic = $("#pequiven_objetive_strategic_registration_rankTopBasic"), //Input de rankTopBasic
            inputRankTopMixedTop = $("#pequiven_objetive_strategic_registration_rankTopMixedTop"), //Input de rankTopMixedTop
            inputRankTopMixedBottom = $("#pequiven_objetive_strategic_registration_rankTopMixedBottom"), //Input de rankTopMixedBottom
            inputRankMiddleTopBasic = $("#pequiven_objetive_strategic_registration_rankMiddleTopBasic"), //Input de rankMiddleTopBasic
            inputRankMiddleTopMixedTop = $("#pequiven_objetive_strategic_registration_rankMiddleTopMixedTop"), //Input de rankMiddleTopMixedTop
            inputRankMiddleTopMixedBottom = $("#pequiven_objetive_strategic_registration_rankMiddleTopMixedBottom"), //Input de rankMiddleTopMixedBottom
            inputRankMiddleBottomBasic = $("#pequiven_objetive_strategic_registration_rankMiddleBottomBasic"), //Input de rankMiddleBottomBasic
            inputRankMiddleBottomMixedTop = $("#pequiven_objetive_strategic_registration_rankMiddleBottomMixedTop"), //Input de rankMiddleBottomMixedTop
            inputRankMiddleBottomMixedBottom = $("#pequiven_objetive_strategic_registration_rankMiddleBottomMixedBottom"), //Input de rankMiddleBottomMixedBottom
            inputRankBottomBasic = $("#pequiven_objetive_strategic_registration_rankBottomBasic"), //Input de rankBottomBasic
            inputRankBottomTopBasic = $("#pequiven_objetive_strategic_registration_rankBottomTopBasic"), //Input de rankBottomMixedTop
            inputRankBottomBottomBasic = $("#pequiven_objetive_strategic_registration_rankBottomBottomBasic"), //Input de rankBottomMixedBottom
            inputRankBottomMixedTop = $("#pequiven_objetive_strategic_registration_rankBottomMixedTop"), //Input de rankBottomMixedTop
            inputRankBottomMixedBottom = $("#pequiven_objetive_strategic_registration_rankBottomMixedBottom"), //Input de rankBottomMixedBottom
            labelsRangeTop = $("#pequiven_objetive_strategic_registration_arrangementRangeTypeTop").children('label')//Etiquetas de Rango Alto
            ;

        var valid = false;
        $(document).ready(function()
        {
            
            form.submit(function(e) {
                if(valid ==false){
                    $.modal.confirm('{{ 'form.question.registerObjetiveStrategic'|trans }}', function()
                    {
                        valid = true;
                        form.submit();
                    }, function()
                    {
                    }, { 'textCancel' : 'Cancelar' , 'textConfirm' : 'Aceptar' });
                }
                
                if(valid == false){
                    e.preventDefault();
                }
                return valid;
                
            });
            
            charge();

            function charge() {
                $("#listEstable").hide();

                //Escondemos por defecto el boton de registrar indicadores y el mensaje en caso de no haber seleccionado alguna Línea Estratégica
                buttonAddIndicator.hide();
                messageCheckIndicator.hide();

                //Escondemos por defecto la sección de sumar indicadores al objetivo
                sectionIndicators.hide();

                //Inicializamos el select de Línea Estratégica
                chargeSelect2LineStrategic();

                //Inicializamos el select de Complejo
                selectComplejo.select2({
                });

                //Inicializamos el select de Indicadores
                chargeSelectIndicator();

                //Incializamos el formato numerico para el input de Meta
                inputGoal.number(true, 2, ',', '.');

                inputHiddenTypeArrangementRangeTop.val("TOP_BASIC");
                inputHiddenTypeArrangementRangeMiddleTop.val("MIDDLE_TOP_BASIC");
                inputHiddenTypeArrangementRangeMiddleBottom.val("MIDDLE_BOTTOM_BASIC");
                inputHiddenTypeArrangementRangeBottom.val("BOTTOM_BASIC");

                //Inicializamos el formato numerico para el input de Rango Alto
                inputRankTopBasic.number(true, 2, ',', '.');
                inputRankTopMixedTop.number(true, 2, ',', '.');
                inputRankTopMixedBottom.number(true, 2, ',', '.');

                //Inicializamos el formato numerico para el input de Rango Medio Alto
                inputRankMiddleTopBasic.number(true, 2, ',', '.');
                inputRankMiddleTopMixedTop.number(true, 2, ',', '.');
                inputRankMiddleTopMixedBottom.number(true, 2, ',', '.');

                //Inicializamos el formato numerico para el input de Rango Medio Bajo
                inputRankMiddleBottomBasic.number(true, 2, ',', '.');
                inputRankMiddleBottomMixedTop.number(true, 2, ',', '.');
                inputRankMiddleBottomMixedBottom.number(true, 2, ',', '.');

                //Inicializamos el formato numerico para el input de Rango Bajo
                inputRankBottomBasic.number(true, 2, ',', '.');
                inputRankBottomTopBasic.number(true, 2, ',', '.');
                inputRankBottomBottomBasic.number(true, 2, ',', '.');
                inputRankBottomMixedTop.number(true, 2, ',', '.');
                inputRankBottomMixedBottom.number(true, 2, ',', '.');

                //Escondemos por defecto las secciones de rango de gestión alto
                $("input[id='pequiven_objetive_strategic_registration_arrangementRangeTypeTop_1']").attr("checked", "checked");
                //sectionTopBasic.hide();
                sectionTopMixed.hide();
                //Escondemos por defecto las secciones de rango de gestión medio alto
                $("input[id='pequiven_objetive_strategic_registration_arrangementRangeTypeMiddleTop_2']").attr("checked", "checked");
                //sectionMiddleTopBasic.hide();
                sectionMiddleTopMixed.hide();
                //Escondemos por defecto las secciones de rango de gestión medio bajo
                $("input[id='pequiven_objetive_strategic_registration_arrangementRangeTypeMiddleBottom_3']").attr("checked", "checked");
                //sectionMiddleBottomBasic.hide();
                sectionMiddleBottomMixed.hide();
                //Escondemos por defecto las secciones de rango de gestión bajo
                $("input[id='pequiven_objetive_strategic_registration_arrangementRangeTypeBottom_4']").attr("checked", "checked");
                //sectionBottomBasic.hide();
                sectionBottomMixed.hide();

                //Cargamos por defecto el color verde en la tab de Rango Alto
                $("#tabRankTop a").attr("style", "color: #000000; background: #00FF00;");
            }

        });
        //Fin document.ready

        //Al hacer click sobre la tab de Rango Alto para Comportamiento No Estable
        tabRankTop.click(function() {
            if ($("input[id='pequiven_objetive_strategic_registration_tendency_1']").is(':checked')) {
                $("#tabRankTop a").attr("style", "color: #000000; background: #00FF00;");
            } else if ($("input[id='pequiven_objetive_strategic_registration_tendency_2']").is(':checked')) {
                $("#tabRankTop a").attr("style", "color: #000000; background: red;");
            }
        });
        //Al hacer click sobre la tab de Rango Alto para Comportamiento Estable
        tabRankTopEstable.click(function() {
            $("#tabRankTopEstable a").attr("style", "color: #000000; background: #00FF00;");
        });
        //Al hacer click sobre la tab de Rango Medio Alto para Comportamiento No Estable
        tabRankMiddleTop.click(function() {
            if ($("input[id='pequiven_objetive_strategic_registration_tendency_1']").is(':checked')) {
                $("#tabRankMiddleTop a").attr("style", "color: #000000; background: #ffe326;");
            } else if ($("input[id='pequiven_objetive_strategic_registration_tendency_2']").is(':checked')) {
                $("#tabRankMiddleTop a").attr("style", "color: #000000; background: #ffb900;");
            }
        });
        //Al hacer click sobre la tab de Rango Medio Alto para Comportamiento Estable
        tabRankMiddleTopEstable.click(function() {
            $("#tabRankMiddleTopEstable a").attr("style", "color: #000000; background: #ffe326;");
        });
        //Al hacer click sobre la tab de Rango Medio Bajo para Comportamiento No Estable
        tabRankMiddleBottom.click(function() {
            if ($("input[id='pequiven_objetive_strategic_registration_tendency_1']").is(':checked')) {
                $("#tabRankMiddleBottom a").attr("style", "color: #000000; background: #ffb900;");
            } else if ($("input[id='pequiven_objetive_strategic_registration_tendency_2']").is(':checked')) {
                $("#tabRankMiddleBottom a").attr("style", "color: #000000; background: #ffe326;");
            }
        });
        //Al hacer click sobre la tab de Rango Medio Bajo para Comportamiento Estable
        tabRankMiddleBottomEstable.click(function() {
            $("#tabRankMiddleBottomEstable a").attr("style", "color: #000000; background: #ffb900;");
        });
        //Al hacer click sobre la tab de Rango Bajo para Comportamiento No Estable
        tabRankBottom.click(function() {
            if ($("input[id='pequiven_objetive_strategic_registration_tendency_1']").is(':checked')) {
                $("#tabRankBottom a").attr("style", "color: #000000; background: red;");
            } else if ($("input[id='pequiven_objetive_strategic_registration_tendency_2']").is(':checked')) {
                $("#tabRankBottom a").attr("style", "color: #000000; background: #00FF00;");
            }
        });
        //Al hacer click sobre la tab de Rango Bajo-Bajo (Rango Bajo) para Comportamiento Estable
        tabRankBottomTopEstable.click(function() {
            $("#tabRankBottomTopEstable a").attr("style", "color: #000000; background: red;");
        });
        //Al hacer click sobre la tab de Rango Bajo-Alto (Rango Alto) para Comportamiento Estable
        tabRankBottomBottomEstable.click(function() {
            $("#tabRankBottomBottomEstable a").attr("style", "color: #000000; background: red;");
        });

        //Al seleccionar el Rango de Gestión Alto
        selectArrangementRangeTypeTop.click(function() {
            if ($("input[id='pequiven_objetive_strategic_registration_arrangementRangeTypeTop_1']").is(':checked')) {
                sectionTopBasic.show();
                sectionTopMixed.hide();
                inputHiddenTypeArrangementRangeTop.val("TOP_BASIC");
            } else if ($("input[id='pequiven_objetive_strategic_registration_arrangementRangeTypeTop_5']").is(':checked')) {
                sectionTopBasic.hide();
                sectionTopMixed.show();
                inputHiddenTypeArrangementRangeTop.val("TOP_MIXED");
            }
        });
        //Al seleccionar el Rango de Gestión Medio Alto
        selectArrangementRangeTypeMiddleTop.click(function() {
            if ($("input[id='pequiven_objetive_strategic_registration_arrangementRangeTypeMiddleTop_2']").is(':checked')) {
                sectionMiddleTopBasic.show();
                sectionMiddleTopMixed.hide();
                inputHiddenTypeArrangementRangeMiddleTop.val("MIDDLE_TOP_BASIC");
            } else if ($("input[id='pequiven_objetive_strategic_registration_arrangementRangeTypeMiddleTop_6']").is(':checked')) {
                sectionMiddleTopBasic.hide();
                sectionMiddleTopMixed.show();
                inputHiddenTypeArrangementRangeMiddleTop.val("MIDDLE_TOP_MIXED");
            }
        });
        //Al seleccionar el Rango de Gestión Medio Bajo
        selectArrangementRangeTypeMiddleBottom.click(function() {
            if ($("input[id='pequiven_objetive_strategic_registration_arrangementRangeTypeMiddleBottom_3']").is(':checked')) {
                sectionMiddleBottomBasic.show();
                sectionMiddleBottomMixed.hide();
                inputHiddenTypeArrangementRangeMiddleBottom.val("MIDDLE_BOTTOM_BASIC");
            } else if ($("input[id='pequiven_objetive_strategic_registration_arrangementRangeTypeMiddleBottom_7']").is(':checked')) {
                sectionMiddleBottomBasic.hide();
                sectionMiddleBottomMixed.show();
                inputHiddenTypeArrangementRangeMiddleBottom.val("MIDDLE_BOTTOM_MIXED");
            }
        });
        //Al seleccionar el Rango de Gestión Bajo
        selectArrangementRangeTypeBottom.click(function() {
            if ($("input[id='pequiven_objetive_strategic_registration_arrangementRangeTypeBottom_4']").is(':checked')) {
                sectionBottomBasic.show();
                sectionBottomMixed.hide();
                inputHiddenTypeArrangementRangeBottom.val("BOTTOM_BASIC");
            } else if ($("input[id='pequiven_objetive_strategic_registration_arrangementRangeTypeBottom_8']").is(':checked')) {
                sectionBottomBasic.hide();
                sectionBottomMixed.show();
                inputHiddenTypeArrangementRangeBottom.val("BOTTOM_MIXED");
            }
        });
        //Al seleccionar la tendencia del Indicador
        selectTendency.click(function() {
            if ($("input[id='pequiven_objetive_strategic_registration_tendency_1']").is(':checked')) {
                $("#listNoEstable").show();
                $("#listEstable").hide();
                if ($("input[id='pequiven_objetive_strategic_registration_arrangementRangeTypeBottom_4']").is(':checked')) {
                    inputHiddenTypeArrangementRangeBottom.val("BOTTOM_BASIC");
                }
                $("#listEstable li.active").attr("class", "");
                $("#tabRankTop a").attr("style", "color: #000000; background: #00FF00;");
                $("#tabRankMiddleTop a").attr("style", "color: #000000; background: #ffe326;");
                $("#tabRankMiddleBottom a").attr("style", "color: #000000; background: #ffb900;");
                $("#tabRankBottom a").attr("style", "color: #000000; background: red;");
                tabRankTop.attr('style', 'background: #00FF00;');
                tabRankMiddleTop.attr('style', 'background: #ffe326;');
                tabRankMiddleBottom.attr('style', 'background: #ffb900;');
                tabRankBottom.attr('style', 'background: red;');
                $("#rankArrangementTop label.label").text('{{ 'form.arrangementRangeTypeTop'|trans }}');
                labelsRangeTop[0].innerHTML = '{{ 'form.rankTopNoEstableBasic'|trans }}';
                labelsRangeTop[1].innerHTML = '{{ 'form.rankTopNoEstableMixed'|trans }}';
            } else if ($("input[id='pequiven_objetive_strategic_registration_tendency_2']").is(':checked')) {
                $("#listNoEstable").show();
                $("#listEstable").hide();
                if ($("input[id='pequiven_objetive_strategic_registration_arrangementRangeTypeBottom_4']").is(':checked')) {
                    inputHiddenTypeArrangementRangeBottom.val("BOTTOM_BASIC");
                }
                $("#listEstable li.active").attr("class", "");
                $("#tabRankTop a").attr("style", "color: #000000; background: red;");
                $("#tabRankMiddleTop a").attr("style", "color: #000000; background: #ffb900;");
                $("#tabRankMiddleBottom a").attr("style", "color: #000000; background: #ffe326;");
                $("#tabRankBottom a").attr("style", "color: #000000; background: #00FF00;");
                tabRankTop.attr('style', 'background: red;');
                tabRankMiddleTop.attr('style', 'background: #ffb900;');
                tabRankMiddleBottom.attr('style', 'background: #ffe326;');
                tabRankBottom.attr('style', 'background: #00FF00;');
                $("#rankArrangementTop label.label").text('{{ 'form.arrangementRangeTypeTop'|trans }}');
                labelsRangeTop[0].innerHTML = '{{ 'form.rankTopNoEstableBasic'|trans }}';
                labelsRangeTop[1].innerHTML = '{{ 'form.rankTopNoEstableMixed'|trans }}';
            } else if ($("input[id='pequiven_objetive_strategic_registration_tendency_3']").is(':checked')) {
                $("#listNoEstable").hide();
                $("#listEstable").show();
                inputHiddenTypeArrangementRangeBottom.val("BOTTOM_MIXED");
                $("#listNoEstable li.active").attr("class", "");
                $("#tabRankTopEstable a").attr("style", "color: #000000; background: #00FF00;");
                $("#tabRankMiddleTopEstable a").attr("style", "color: #000000; background: #ffe326;");
                $("#tabRankMiddleBottomEstable a").attr("style", "color: #000000; background: #ffb900;");
                $("#tabRankBottomTopEstable a").attr("style", "color: #000000; background: red;");
                $("#tabRankBottomBottomEstable a").attr("style", "color: #000000; background: red;");
                tabRankTopEstable.attr('style', 'background: #00FF00;');
                tabRankMiddleTopEstable.attr('style', 'background: #ffe326;');
                tabRankMiddleBottomEstable.attr('style', 'background: #ffb900;');
                tabRankBottomTopEstable.attr('style', 'background: red;');
                tabRankBottomBottomEstable.attr('style', 'background: red;');
                $("#rankArrangementTop label.label").text('{{ 'form.arrangementRangeTypeTopEstable'|trans }}');
                labelsRangeTop[0].innerHTML = '{{ 'form.rankTopEstableBasic'|trans }}';
                labelsRangeTop[1].innerHTML = '{{ 'form.rankTopEstableMixed'|trans }}';
            }
        });

        //Al seleccionar alguna opción en el select de Línea Estratégica
        selectLineStrategic.on("select2-selecting", function(e) {
            chargeSelectIndicator();
            displayObjetiveRef(e);//Actualizamos la Referencia del Objetivo a Crear
            if (checkIndicator.is(':checked')) {
                hideSectionIndicator();
                showSectionIndicator();
            }
        })

        //Función que muestra el Número de Referencia del objetivo a crear, de acuerdo a la línea estratégica seleccionada
        function displayObjetiveRef(e) {
            var data = {
                lineStrategicId: $.trim(e.val)
            };
            $.ajax({
                type: 'post',
                url: '{{ path("displayRefObjetiveStrategic") }}',
                data: data,
                success: function(data) {
                    inputRef.val(data[0].ref);
                }
            });
        }

        //Check Para Evaluar el Objetivo a crear por Indicador
        checkIndicator.click(function() {
            if (checkIndicator.is(':checked')) {
                showSectionIndicator();
            } else {
                hideSectionIndicator();
            }
        });

        //Función que muestra la sección de Indicadores con los mensajes correspondientes
        function showSectionIndicator() {
            if (selectLineStrategic.val() === null) {
                messageCheckIndicator.show();
            } else {
                buttonAddIndicator.show();
                chargeSelectIndicator();
                sectionIndicators.show();
            }
        }
        //Función que esconde la sección de indicadores
        function hideSectionIndicator() {
            buttonAddIndicator.hide();
            sectionIndicators.hide();
            messageCheckIndicator.hide();
        }

        //Función que actualiza el select de indicadores en caso de que se cambie la lína estratégica o se agregue un nuevo indicador a partir de este formulario
        function chargeSelectIndicator(mode) {
            var data = {
                refParentId: $.trim(inputRef.val())
            };
            $.ajax({
                type: 'post',
                url: '{{ path("select_indicatorStrategicFromRefParent") }}',
                data: data,
                success: function(data) {
                    //var $indicators_selector = $("#pequiven_objetive_strategic_registration_indicators");
                    $('#pequiven_objetive_strategic_registration_indicators option[value]').remove();
                    selectIndicators.select2("val", '');

                    if (typeof data[0].empty === 'undefined') {
                        for (var i = 0, total = data.length; i < total; i++) {
                            if (mode === 'selected') {
                                selectIndicators.append('<option value="' + data[i].id + '" selected="selected">' + data[i].description + '</option>');
                            } else {
                                selectIndicators.append('<option value="' + data[i].id + '">' + data[i].description + '</option>');
                            }
                        }
                        chargeSelect2Indicators("full");
                    } else {
                        chargeSelect2Indicators("empty");
                    }
                }
            });
        }

        //Función que carga el select2 de Línea Estratégica
        function chargeSelect2LineStrategic(type) {
            selectLineStrategic.select2({
                maximumSelectionSize: 1,
                placeholder: '{{ 'form.messages.selectLineStrategicPlaceholder'|trans }}',
                formatNoMatches: function(term) {
                    if (type == 'full') {
                        return "{{ 'form.messages.selectLineStrategicFormatNoMatcher'|trans }}";
                    } else {
                        return "{{ 'form.messages.selectLineStrategicFormatNoResult'|trans }}";
                    }
                },
                formatSelectionTooBig: function(maxSize) {
                    return Translator.trans('form.messages.selectLineStrategicFormatSelectionTooBig', {"maxsize": maxSize});
        {#                    return "{{ 'form.messages.selectLineStrategicFormatSelectionTooBig'|trans({ '%maxsize%': 1 }) }}";#}
                    },
                });
            }

            //Función que carga el select2 de Indicadores
            function chargeSelect2Indicators(type) {
                selectIndicators.select2({
                    placeholder: '{{ 'form.messages.selectIndicatorPlaceholder'|trans ({}, 'PequivenIndicatorBundle') }}',
                    formatNoMatches: function(term) {
                        if (type == 'full') {
                            return "<a href='#lineStrategicq'>{{ 'form.messages.selectIndicatorFormatNoMatcher'|trans ({}, 'PequivenIndicatorBundle') }}</a>";
                        } else {
                            return "<a href='#lineStrategicq'>{{ 'form.messages.selectIndicatorFormatNoResult'|trans ({}, 'PequivenIndicatorBundle') }}</a>";
                        }
                    }
                });
            }

            //Función que elimina el iframe del formulario de indicadores, en caso de que el registro haya sido exitoso
            function indicatorsRegisterSuccessful() {
                $("#modals").remove();
                chargeSelectIndicator('selected');
            }

            //Función que abre el formulario de registro de indicador
            function openFormIndicator() {
                $.modal({
                    title: '{{ 'pequiven_indicator.titleFrameAddStrategic'|trans ({}, 'PequivenIndicatorBundle') }}',
                    url: '{{ path("pequiven_indicator_add_strategic_from_objetive") }}',
                    useIframe: true,
                    height: '800',
                    width: '800',
                    buttons: {
                        'Cerrar': {
                            classes: 'red-gradient glossy full-width',
                            click: function(win) {
                                win.closeModal();
                            }
                        }
                    }
                });

                /**
                 $.modal.alert('Indicador',{
                 buttons: {
                 'Cerrar': {
                 classes:	'red-gradient glossy full-width',
                 click:      function(win) { win.closeModal(); }
                 }
                 }
                 });
                 **/
            }
            
            function openConfirm()
            {
                $.modal.confirm('Challenge accepted?', function()
                {
                        $.modal.alert('Me gusta!');

                }, function()
                {
                        $.modal.alert('Meh.');
                });
            };
            ;
    </script>
{% endblock javascript %}
