<ul class="fa-ul">
{% set tagsIndicator = indicatorService.getTagIndicatorByOrder(indicator) %}
{% for tagIndicator in tagsIndicator %}
    <li>
        <b>{{ tagIndicator.description }}:</b>&nbsp;{% if tagIndicator.typeTag == constant('Pequiven\\IndicatorBundle\\Entity\\Indicator\\TagIndicator::TAG_TYPE_NUMERIC') %} {{ tagIndicator.valueOfTag|myNumberFormat }} {% else %} {{ tagIndicator.textOfTag }} {% endif %}
        {% if tagIndicator.unitResult != "" %}{{ tagIndicator.getUnitResultValue|upper }}{% endif %}
{#        {{ generateLink(indicator) }}{% if indicator.weight > 0 %}&nbsp;({{ 'pequiven_seip.results.weight'|trans({},'PequivenSEIPBundle') }} {{ indicator.weight }}%){% endif %} - {{ indicatorService.resultWithArrangementRangeColor(indicator)|raw }}#}    
    </li>
{% endfor  %}
</ul>