{% trans_default_domain 'sip' %}
<div class="block" ng-controller="SipCenterObservationController"> 
        <div class="block-title">
            <h3 class="ng-binding">UBCH</h3> 
            {# añadir ubch #}
            <div class="button-group absolute-right compact">

                <a class="button icon-list-add " href="{{ path("pequiven_ubch_add_member",{idCentro:center.id})}}" title="">{{ 'pequiven.add'|trans({},'messages')  }}</a>

                <a class="button icon-download " href="{{ path("pequiven_ubch_report_export",{id:center.id})}}" title="">Exportar</a>
                
            {% if show == 1 %}
                <a href="{{ path("pequiven_ubch_show",{id:center.id})}}" class="button icon-search">Ver</a>
                {#<a href="javascript:void(0);" class="button icon-gear with-tooltip" title="Other actions"></a>
                <a href="javascript:void(0);" class="button icon-trash with-tooltip confirm" title="Delete"></a>#}
            {% endif %}
            </div>       
        </div>
    
    <fieldset style="padding:20px;">
        <div class="columns">
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Cédula</label>
                    {{ center.cedulaubch }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Nombre</label>
                    {{ center.nombreubch }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Teléfono</label>
                    {{ center.telefonoubch }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Cargo</label>
                    {{ center.cargoubch }}
                </p>
            </div>

        </div> 
    </fieldset>
    <HR>
        {#<div class="with-padding"> 
            <h3>Patrulleros</h3>        
            <div style="height:500px;width:auto;overflow:auto;">
            <table class="table responsive-table" id="sorting-example2">
                <thead>
                    <tr>
                        <th scope="col" width="15%" class="header" align="left">
                            Cedula
                        </th>                    
                        <th scope="col" width="30%" class="header" align="left">
                            Nombre
                        </th>    
                        <th scope="col" width="15%" class="header" align="left">
                            Telefono
                        </th> 
                        <th scope="col" width="15%" class="header" align="left">
                            Cargo
                        </th>                         
                        <th scope="col" width="30%" class="header" align="center">
                            Registro de 1x10
                        </th>
                        <th scope="col" width="40%" class="header" align="center">
                            Observación
                        </th>
                        <th scope="col" width="20%" class="header" align="center">
                        </th>                         
                    </tr>
                </thead>  
                {% for dataUbch in ubch %}
                    <tbody align="center">
                        <tr>
                            <td align="left">V-{{ dataUbch.cedula }}</td>                            
                            <td align="left">{{ dataUbch.nombre }}</td>                            
                            <td align="left">{{ dataUbch.telefono }}</td> 
                            <td align="left">{{ ubchCargo[dataUbch.cargo - 1].description }}</td>
                            <td>
                                {% set notification = dataUbch.notification %}
                                {% if notification == 1 %}
                                    {% set checkState = "checked" %}
                                    {% set disabled = "disabled" %}
                                {% else  %}
                                    {% set checkState = "" %}
                                    {% set disabled = "disabled" %}                                        
                                {% endif %}

                                <p class="switchAssistance button-height" id="p_{{dataUbch.id}}">
                                    
                                    <input type="checkbox" name="switch_{{dataUbch.id}}" id="switch_{{dataUbch.id}}" data="{{dataUbch.id}}" class="switch medium mid-margin-right {{checkState}}" {{disabled}} value="{{dataUbch.notification}}" data-text-on="SI" data-text-off="NO" onclick="pasoId()">

                                </p> #}
                            {#<div id="carga_{{dataUbch.id}}" style="display:none">
                                <p class="button-height">
                                    <span class="loader big refreshing"></span>
                                </p>
                            </div>
                                <p class="switchAssistance button-height" id="p_{{dataUbch.id}}">
                                    
                                    <input type="checkbox" name="switch_{{dataUbch.id}}" id="switch_{{dataUbch.id}}" data="{{dataUbch.id}}" class="switch medium mid-margin-right {{checkState}}" {{disabled}} value="{{dataUbch.notification}}" data-text-on="SI" data-text-off="NO" onclick="pasoId()">

                                </p>                            #}
             {#               </td>
                            <td align="justify">#}
                                {#<textarea type="text" id="Obs_" name"Obs_" class="input input-xlarge" onkeypress="pulsar(event)" value="0"></textarea>                         #}
             {#                   {{ dataUbch.observations }}
                            </td>
                            <td class="align-right vertical-center">                          
                                <span class="select compact">
                                    <a href class="select-value form-edit">{{ 'pequiven.actions'|trans({},'messages') }}</a>
                                    <span class="select-arrow"></span>
                                    <span class="drop-down"> 
                                        {% if notification == 0%}               
                                            <a href ng-click="loadTemplateOnePerTen(ubch='{{ dataUbch.id }}')" class="button icon-pencil">Cargar</a> 
                                        {% endif %}
                                        <a href ng-click="loadTemplateCargoUbch(id='{{ dataUbch.id }}')" class="button icon-pencil">Editar</a> 

                                        <a href ng-click="removeUbch(ubch='{{ dataUbch.id }}')" class="button icon-cross-round">{{ "pequiven.actions.delete"|trans({},"messages") }}</a>             
                                    </span>
                                </span>
                            </td>                            
                        </tr>                 
                    </tbody> 
                {% endfor %}
            </table> 
            </div>
        </div>    #}
</div>

    
