{% trans_default_domain 'sip' %}


    <div ng-controller="SipCenterAssistsController"> 

        <div class="block-title">
            <h3 class="ng-binding">Patrulleros</h3> 
            {# añadir ubch #}
            {% if show == 1 %}
            <div class="button-group absolute-right compact">
                <a class="button icon-list-add " href="{{ path("pequiven_ubch_add_member",{idCentro:center.id})}}" title="">{{ 'pequiven.add'|trans({},'messages')  }}</a>
            </div>       
            {% endif %}
        </div>

                  
            <table class="simple-table responsive-table tables-extras" id="sorting-example2">
                <thead>
                    <tr>
                        <th scope="col" width="15%" class="header" align="left">
                            Cedula
                        </th>                    
                        <th scope="col" width="30%" class="header" align="left">
                            Nombre
                        </th>    
                        <th scope="col" width="20%" class="header" align="left">
                            Telefono
                        </th> 
                        <th scope="col" width="20%" class="header" align="left">
                            Cargo
                        </th>                         
                    </tr>
                </thead>  
                {% for dataUbch in ubch %}
                    <tbody align="center">
                        <tr>
                            <td align="left">V-{{ dataUbch.cedula }}</td>                            
                            <td align="left">{{ dataUbch.nombre }}</td>                            
                            <td align="left">{{ dataUbch.telefono }}</td> 
                            <td align="left">{{ ubchCargo[dataUbch.cargo] }}</td>                            
                        </tr>                 
                    </tbody> 
                {% endfor %}
            </table> 
            {#&nbsp;  
            {% if show == 1 %} 
            <div class="align-left">

                {% set routeExport = path('pequiven_sip_center_export',{idCenter:center.id, type:2}) %}

                {{ buttons.generic(
                    (routeExport),
                    ('sip.export.exportpdf'|trans({})),
                    'icon-download'
                 ) 
                }}
            </div>
            {% endif %}          #}
        </div>
    
