{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% trans_default_domain 'sip' %}

{% block javascripts_base %}
    {{ parent() }}
    <script src="{{  asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.input.js') }}"></script>
{% endblock javascripts_base %}

{% block before_body %}
    {{ contentHeader(
        {(path('pequiven_sip_center_show',{'id':center.id})): "sip.center.name"|trans},
        ("UBCH" | trans({})),
        ('pequiven.show'|trans({},'messages'))
    )}}
{% endblock %}

{% block body %}
    {% set show = 3 %}

    {% include 'PequivenSEIPBundle:Sip:Center/Ubch/list.html.twig' %}                                 

    <br>

    <fieldset class="fieldset">
        <legend class="legend" >{{ 'sip.center.title'|trans({}) }}&nbsp;</legend>
        <div class="columns">
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Estado</label>
                    {{ center.descriptionEstado }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Municipio</label>
                    {{ center.descriptionMunicipio }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Parroquia</label>
                    {{ center.descriptionParroquia }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">C처digo Centro</label>
                    {{ center.codigoCentro }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Centro</label>
                    {{ center.description }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Direcci처n</label>
                    {{ center.direccion }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">N째 de Mesas</label>
                    {{ center.mesas }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">N째 de Electores</label>
                    {{ center.electores }}
                </p>
            </div>
            {% if center.eje > 0 %}
                <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">Eje en la Parroquia</label>
                        {{ center.eje }}
                    </p>
                </div>
            {% endif %}
        </div>
    </fieldset>   
    
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        /*function pulsar(e) {            
            tecla = (document.all) ? e.keyCode : e.which;
            if (tecla == 13){
             //alert('Has pulsado enter');                
                var value = $("#Obs_").val();
                console.log(value);
             
            }      
        }*/
    </script>

    <script type="text/javascript">
        /*$(document).ready(function () {

            $('#switch-mode').change(function () {
                $('.switch-wrapper')[this.checked ? 'addClass' : 'removeClass']('reversed-switches');
            });
            
            $("p.switchAssistance input").change(function () {
                var idMember = $(this).attr("data");                
                //var value = $(this).val();              
                var value = $("#switch_" + idMember).val();
                //var id = document.getElementById("#switch_" + idMember);  
                var idMemberd = $(this).attr("data");                
                
                if (value == 1) {
                    $(this).val(0);                    
                } else {
                    $("#switch_" + idMember).prop("disabled", true);
                    $(this).val(1);                                     
                }
                var value = $("#switch_" + idMember).val();
                var data = {
                    idMember: idMember,
                    status: value,                    
                };
                //console.log(data);

                $.ajax({
                    type: 'get',
                    url: '{{ path("update_assistance_ubch") }}',
                    data: data,
                    beforeSend:function(objeto){
                            $('#carga_' + idMember).css({display:'block'});
                            $('#p_' + idMember).css('display','none');
                    },
                    complete:function(){
                        $('#carga_' + idMember).css('display','none');
                        $('#p_' + idMember).css('display','block');  
                    },
                    success: function (data) {                        
                        $(location).attr('href', data["url"]);
                    }
                });
                
            });
            
        });*/
    </script>
{% endblock %}

