{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}
{% import 'PequivenSIGBundle:Template:Buttons/buttons.html.twig' as buttons %}

{% block javascripts_base %}
    {{ parent() }}
    <script src="{{  asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.input.js') }}"></script>
{% endblock javascripts_base %}

{% trans_default_domain 'PequivenSIGBundle' %}

{% block before_body %}
    {{ contentHeader(
        ('arrangementprogram.title'|trans({})),        
        (ArrangementProgram.ref),        
        ('pequiven.evolution'|trans({},'messages'))
    ) }}
{% endblock %} 

{% block body %}
{% if typeObject == 2 %}
    {% set cloning = null %}
{% endif %}
<div class="block_id" ng-init="idObject='{{ ArrangementProgram.id }}'"></div>
<div class="block_id" ng-init="typeObj='{{ typeObject }}'"></div>

<fieldset class="fieldset">
    <legend class="legend">{{ 'arrangementprogram.title'|trans }}&nbsp;<b>{{ ArrangementProgram.getTypeLabel|trans({},'PequivenArrangementProgramBundle')}}</b></legend>
    
     <div class="columns">
         <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
            <p class="inline-label">
                <label class="label">{{ 'pequiven.ref'|trans({},'messages') }}</label>
                {{ generateLink(ArrangementProgram) }}
            </p>
         </div>
         <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
            <p class="inline-label">
                <label class="label">{{ 'arrangementprogram.period'|trans }}</label>
                {{ ArrangementProgram.period }}
            </p>
        </div>
        <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
            <p class="inline-label">
                <label class="label">{{ 'arrangementprogram.asociate'|trans }}</label>
                {{ ArrangementProgram.categoryArrangementProgram }}
            </p>
        </div>
        <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
            {% if ArrangementProgram.type == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::TYPE_ARRANGEMENT_PROGRAM_TACTIC') %}
                <p class="inline-label">
                    <label class="label">{{ 'arrangementprogram.location'|trans }}</label>
                    {{ ArrangementProgram.tacticalObjective.gerencia.complejo }}
                </p>
            {% endif %}
            {% if ArrangementProgram.type == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::TYPE_ARRANGEMENT_PROGRAM_OPERATIVE') %}
                <p class="inline-label">
                    <label class="label">{{ 'arrangementprogram.location'|trans }}</label>
                    {{ ArrangementProgram.operationalObjective.gerencia.complejo }}
                </p>
            {% endif %}
        </div>
        <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
            <p class="inline-label">
                <label class="label">{{ 'arrangementprogram.tactical_objective'|trans }}</label>
                {% set avancedUsed = ArrangementProgram.tacticalObjective.result %}
                {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
                {{ generateLink(ArrangementProgram.tacticalObjective) }}
            </p>        
        </div>
        {% if ArrangementProgram.type == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::TYPE_ARRANGEMENT_PROGRAM_OPERATIVE') %}
            <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <p class="inline-label">
                        <label class="label">{{ 'arrangementprogram.operational_objective'|trans }}</label>
                        {% set avancedUsed = ArrangementProgram.operationalObjective.result %}
                        {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
                        {{ generateLink(ArrangementProgram.operationalObjective) }}
                    </p>
            </div>
        {% endif %}            
    </div>        
    {% include 'PequivenSIGBundle:Template:base_month.html.twig' %} 
</fieldset>

{% include 'PequivenSIGBundle:Template:baseLoadSectionsEvolution.html.twig' %}     

<p class="button-height align-right">          
    <div style="text-align: left; margin-left:15px;">
        <a class="button"  id="showItems"  href="javascript:void(0)">
            <span class="button-icon left-side red-gradient">
                <span class="fa fa-history fa-1"></span>
            </span>
            <span class="title">{{('pequiven.view_evolution_history'|trans({},'messages'))}}</span>
            <span class="title" style="display: none">{{('pequiven.hide_evolution_history'|trans({},'messages'))}} </span>
        </a>                
    {% if is_granted('ROLE_SEIP_SIG_EVOLUTION_DOWNLOAD') %}        
        &nbsp; {{ buttons.generic_download }}       
    {% endif %}
    </div>
</p>
    {# Box historico de informe de evolución #}
    <div id="evolutionItems" style="display: none;">        
        {{ renderArea(constant('Pequiven\\SEIPBundle\\Model\\Box\\AreasBox::ITEMS_EVOLUTION_ARRANGEMENT')) }}            
    </div>
{% endblock %}
{% block stylesheets %}
  {{ parent() }}    
<style type="text/css">    
    .position{        
        margin-right: 20px;
        margin-top: 20px;
        color: #1d1c1c;
        float: right;
        font-size: 150%;
    }
    .button-config{
        margin-right: 20px;
        margin-top: 0px;
        margin-bottom: 15px;
        color: #1d1c1c;
        float: right;
        /*font-size: 150%;*/
    }

    /* dashboard sig */
    .dashboard_sig {
        padding: 75px;
        position: relative;
        zoom: 1;
        color: white;
        border-top: 1px solid #666666;
        border-bottom: 1px solid #666666;
        border-color: #000000;
    }
    .dashboard_sig a {
        color: white;
    }    

</style>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/fusioncharts.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/themes/fusioncharts.theme.fint.js') }}"></script>
    <script src="{{  asset('bundles/pequivensig/js/loadFiles.js') }}"></script> 

    <script type="text/javascript">        
        $(document).ready(function () {
            $("a#showItems").click(function () {
                $("#evolutionItems").toggle("slow");
                $("a#showItems span.title ").toggle();
            });
        });

        var urlFiles = "{{ path("pequiven_sig_evolution_load_file") }}";
        setUrlFiles(urlFiles); 

        //Carga de Evento de Descarga de Grafica de Indicador
        function downloadEvolution(){            
            var button = document.getElementById("exportpng");
            if (button){
               button.click();   
               window.setTimeout(downloadCause,1000);
               //downloadCause();               
            }            
        }
        //Carga de Evento de Descarga de Grafica de Causas del Indicador
        function downloadCause(){
            var button_cause = document.getElementById("export_causespng");
            if (button_cause){
                button_cause.click();                
            }
        }
        
    </script>    
{% endblock %}