{% extends "PequivenSEIPBundle:Template:Developer/Common/tableFormat1.html.twig" %}

{% trans_default_domain 'PequivenArrangementProgramBundle' %}

{% block title %}- {{ 'pequiven.arrangement_program.arrangement_programs'|trans }}{% endblock %}

{% if allow_create is not defined %}
    {% set allow_create = false %}
{% endif %}

{% block before_body %}
    {{ contentHeader(
        ('pequiven.arrangement_program.arrangement_programs'|trans),
        ('pequiven.arrangement_program.list'|trans)
    ) }}
{% endblock %}

{% block body %}        

    <div ng-controller="TableFormatController">
        <div ng-controller="ReportArrangementProgramSigAllController">

            <details class="details margin-bottom" open="">
                <summary role="button" aria-expanded="true">
                    {{ 'pequiven.filters'|trans({},'messages') }}
                </summary>
                <div class="with-padding">
                    <div class="columns">
                        <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                            <label class="bold">{{ 'pequiven.arrangement_program.managementSystem'|trans }}</label>
                            <br/>
                            <div class="with-mid-padding" >
                                <select class="select2 input-xlarge" id="selectManagementSystems" ng-model="model.managementSystem" ng-options="value as value.description for (key,value) in data.managementSystems" >
                                    <option value=''></option>
                                </select>
                            </div>
                        </div>
                         <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                            <label class="bold">{{ 'pequiven.arrangement_program.status.status'|trans }}</label>
                            <br/>
                            <div class="with-mid-padding">
                                <select class="select2 input-xlarge" id="selectStatus" ng-model="model.arrangementProgramStatus" ng-options="value as value.description for (key,value) in data.arrangementProgramStatusLabels">
                                    <option value=''></option>
                                </select>
                            </div>
                        </div>
                        <div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                            <label class="bold">{{ 'pequiven_seip.filters.responsibles_pg'|trans({},'PequivenSEIPBundle') }}</label>
                            <br/>
                            <div class="with-mid-padding">
                                <input type="text" name="responsibles" id="responsibles" ng-model="model.responsibles" style='width: 270px' />
                            </div>
                        </div>
                        <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                            <label class="bold">{{ 'pequiven_seip.filters.responsibles_goals'|trans({},'PequivenSEIPBundle') }}</label>
                            <br/>
                            <div class="with-mid-padding">
                                <input type="text" name="responsiblesGoals" id="responsiblesGoals" ng-model="model.responsiblesGoals" style='width: 270px' />
                            </div>
                        </div>
                    </div>
                </div>
            </details>
            
            <div loading-container="tableParams.settings().$loading" ng-init="data.arrangementProgramStatusLabels = {{ labelsStatus|serialize }}" >
                <table ng-table="tableParams" show-filter="true" template-pagination="custom/pager"  template-header="custom/header" api-data-url="{{ url }}" export-csv="csv" class="table table-responsive">
                    <tr ng-repeat="result in $data | filter:tableParams.search" data="{$ result|json $}">
                        <td data-title="'{{ 'pequiven.ref'|trans({},'messages') }}'" sortable="'ref'" filter="{ 'ap.ref': 'text' }">
                            <img ng-if="result._data.summary.advances < 50" src="{{ asset('bundles/pequivenseip/logotipos/bullet_red.png') }}" class="semaphore">
                            <img ng-if="result._data.summary.advances >= 50 && result._data.summary.advances < 100"src="{{ asset('bundles/pequivenseip/logotipos/bullet_yellow.png') }}" class="semaphore">
                            <img ng-if="result._data.summary.advances == 100" src="{{ asset('bundles/pequivenseip/logotipos/bullet_green.png') }}" class="semaphore">

                            <a href="{$ result._links.self.href $}">{$ result.ref $}</a>
                        </td>
                        <td data-title="'{{ 'pequiven.arrangement_program.period'|trans }}'" sortable="'period'" filter="{ 'ap.period': 'text' }">
                            {$ result.period.name $}
                        </td>
                        <td data-title="'{{ 'pequiven.arrangement_program.managementSystem'|trans }}'">
                            {$ result.managementSystem.description $}
                        </td>
                        <td data-title="'{{ 'pequiven.arrangement_program.location'|trans }}'">
                            {$ result.tacticalObjective.gerencia.complejo.description $}
                        </td>
                        <td data-title="'{{ 'pequiven.arrangement_program.status.status'|trans }}'" sortable="'status'" >
                            {$ data.arrangementProgramStatusLabels[result.status].description $}
                        </td>
                        <td data-title="'{{ 'monitor.porcReal'|trans({},'PequivenSEIPBundle') }}'">
                            <span>
                                {$ result._data.summary.advances|myNumberFormat $}/{$ result._data.summary.weight|myNumberFormat $}%
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function()
        {
            
            charge();
            
            function charge(){
               $('.select2').select2({
                allowClear: true
                });
            }
            
            var urlResponsibles = '{{ path('pequiven_user_search') }}';
            var parametersSelectResponsibles = {
                    minimumInputLength: 1,
                    multiple: true,
                    allowClear: true,
                    ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                        url: urlResponsibles,
                        dataType: 'json',
                        quietMillis: 250,
                        data: function (term, page) {
                            return {
                                query: term, // search term
                            };
                        },
                        results: function (data, page) { // parse the results into the format expected by Select2.
                            // since we are using custom formatting functions we do not need to alter the remote JSON data
                            return { results: data };
                        },
                        cache: true
                    },
                    initSelection: function(element, callback){
                    },
                    formatResult: responsiblesFormatResult, // omitted for brevity, see the source of this page
                    formatSelection: responsiblesFormatResult,  // omitted for brevity, see the source of this page
                    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
             };

            $('#responsibles').select2(parametersSelectResponsibles);
            $('#responsiblesGoals').select2(parametersSelectResponsibles);
        });
        
        function getTableExtraInfo(data)
            {
                var response = '';

                return response;
            }
    </script>
{% endblock %}
