{% extends "PequivenSEIPBundle:Template:Developer/layoutGestion.html.twig" %}
{% trans_default_domain 'PequivenSEIPBundle' %}

{% block stylesheets_base %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/pequivenseip/icons/icons.css') }}">
{% endblock %}

{% block before_body %}
    {{ contentHeader(
        (linestrategic.description)
    ) }}
{% endblock %}

{% block body %}

    {{ boxRender.renderBox('pequiven_seip_box_linestrategic_iconsnavbar')|raw }}
    <hr class="hr-linestrategic-icons" />

    <div class="with-padding">
        <div class="columns">
            {{ boxRender.renderBox('pequiven_seip_box_linestrategic_icons_indicator_by_line_dashboard')|raw }}
        </div>
    </div>

    {#<div ng-controller="DashboardController" class="dashboard" ng-init="renderChartResult('chartContainerResult',{{ data|json_encode() }},'{{ linestrategic.description }}','')" style="height: {{ heightChart }}px;">
        <div class="nine-columns twelve-columns-mobile" id="chartContainerResult">
            <!-- This div will hold the chart generated in the footer -->
        </div>
    </div>
    <br>
    <div class="inline-label">

        <ul class="fa-ul">
            {% set limitTruncate = 110 %}
            {% for t in tree %}
                <li>
                        {% set p = t['parent'] %}
                        {% set avancedUsed = p.getResult %}
                        {% set avancedUsedText = avancedUsed %}
                        {% set href = generateLinkUrlOnly(p,constant('Pequiven\\SEIPBundle\\Service\\LinkGeneratorService::TYPE_LINK_OBJETIVE_RESULT'),{level:app.request.get('level')}) %}
                        {% if href != '' %}
                            <a href="{{ href }}">
                        {% endif %}
                            {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
                        {% if href != '' %}
                            </a>
                        {% endif %}
                        
                        {{ generateLink(p,null,{truncate:limitTruncate}) }}
                </li>
            {% endfor %}
        </ul>
    </div>#}
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/agenda3860.css?v=1') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/dashboard3860.css?v=1') }}">
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/fusioncharts.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/themes/fusioncharts.theme.fint.js') }}"></script>
{% endblock %}
{% block javascript %}
    {{ parent() }}    
       {# {% if answer == null  %}
            <script type="text/javascript">
                $(document).ready(function openConfirm() {
                    options = {
                        textConfirm: "Si",
                        textCancel: "No"
                    };
                    $.modal.confirm('Desea realizar una vista dinamica?', function () {
                        document.location.href = "{{ path('pequiven_line_strategic_show', {'id': id }) }}?r=1";
                    }, function () {
                        document.location.href = "{{ path('pequiven_line_strategic_show', {'id': id }) }}?r=0";
                    }, options);
                });
            </script>    
        {% endif %}

        {% if answer == 1 %}
            <script type="text/javascript">
            var page = "{{ path('pequiven_line_strategic_show', {'id': id }) }}?r=" +{{ answer }}
                    function redireccionar() {
                        location.href = page
                    }
            setTimeout("redireccionar()", 15000);
            </script>    
        {% endif %}#}
{% endblock %}