{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}
{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}
{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}
{% trans_default_domain 'PequivenArrangementProgramBundle' %}

{% block before_body %}
    {{ contentHeader("Asignación de Metas")   }}
{% endblock %}


{% block body %}
    <style>
        table tr {
            padding: 15px;

        }
        table th{
            text-align: left;
            vertical-align: middle;
            height: 35px;
        }
        table td{
            height: 35px;
            vertical-align: middle;
        }
        .alin_font {
            text-align: justify;
        }
    </style>
    {% set message =  'pequiven.arrangement_program.you_must_assign_config'|trans %}

    <fieldset class="fieldset">
        <legend class="legend"><b>Datos de la Meta </b></legend>
        <table class="record_properties" width="100%">
            <tbody>
                <tr>
                    <th width="20%">Período</th>
                    <td width="80%" colspan = "3">{{ goal.period }}</td>
                </tr>  
                <tr>
                    <th width="20%">Programa de Gestión</th>
                    <td width="80%" colspan = "3">
                        {% set avancedUsed = goal.timeline.arrangementProgram.result %}
                        {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
                        {{ generateLink(goal.timeline.arrangementProgram) }}. <a ref="">{{goal.timeline.arrangementProgram.description}}</a>
                        {#{% set ap=goal.timeline.arrangementProgram%}#}
                        {#<td width="80%" colspan = "2">{{ ap.description|ucwords }}</td>#}
                    </td>
                </tr>
                <tr>
                    <th width="20%">Nombre</th>
                    <td width="80%" colspan = "3">{{ goal.name|ucwords }}</td>
                </tr>
                <tr>
                    <th width="20%">Fecha de Inicio</th>
                    <td width="30%">{{ goal.startDate|date('Y-m-d') }}</td>
                    <th width="20%">Fecha de Culminación</th>
                    <td width="30%">{{ goal.endDate|date('Y-m-d') }}</td>
                </tr>

                <tr>
                    <th width="20%">Peso</th>
                    <td width="80%" colspan = "2">{{ goal.weight }}%</td>
                </tr>
                <tr>
                    <th width="20%"><br/> <br/> Avances hasta la Fecha <br/><br/><br/><br/></th>
                    <td width="80%" colspan = "3">
                        <br/><br/>
                        {% set advances = goal.getResult %}
                        {% set advancesClass = 'red-gradient' %}
                        {% if advances >= 50 and advances < 100 %}
                            {% set advancesClass = 'orange-gradient' %}

                        {% elseif advances >= 100 %}
                            {% set advancesClass = 'green-gradient' %}
                        {% endif %}
                        <span style="max-width: 90%" class="progress" data-progress-options='{"size":false,"barClasses":["{{ advancesClass }}","glossy"],"innerMarks":25,"topMarks":25,"topLabel":"[value]%","bottomMarks":[{"value":0,"label":" Nada "},{"value":50,"label":" Mejor "},{"value":100,"label":" Completa "}],"insetExtremes":true}'>{{ advances }}%</span>

                        <br/><br/><br/><br/>
                    </td>


                <tr>
                    <th width="20%">Observaciones</th>
                    <td width="80%" colspan = "3">{{ goal.observations }}</td>
                </tr>

                </tr>

            </tbody>
        </table>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="legend"><b>Gestión de Responsables </b></legend>



        <div class="standard-tabs margin-bottom" id="add-tabs">

            <ul class="tabs">
                <li class="active"><a href="#tab-1">Asignar a Empleado</a></li>
                <li><a href="#tab-2">Retirar a Empleado</a></li>
            </ul>

            <div class="tabs-content">

                <div id="tab-1" class="with-padding">
                    <form method="POST" action="{{ path("goal_movement_assign",{idGoal:goal.id}) }}">
                        <table width="90%">
                            <tr>
                                <td>
                                    <p class="inline-label">
                                        {{ form_label(formassigndetails.date) }}
                                        {{ form_widget(formassigndetails.date) }}
                                        {{ form_errors(formassigndetails.date) }}
                                    </p>
                                    <p class="inline-label">
                                        {{ form_label(form.User) }}
                                        {{ form_widget(form.User) }}
                                        {{ form_errors(form.User) }}
                                    </p>
                                    <p class="inline-label">
                                        {{ form_label(formassigndetails.cause) }}
                                        {{ form_widget(formassigndetails.cause) }}
                                        {{ form_errors(formassigndetails.cause) }}
                                    </p>
                                    <p class="inline-label">
                                        {{ form_label(formassigndetails.observations) }}
                                        {{ form_widget(formassigndetails.observations) }}
                                        {{ form_errors(formassigndetails.observations) }}
                                    </p>

                                    <p class="inline-label">

                                    </p>
                                </td>
                                <td aling="center">
                                    <table width="100%">
                                        <thead>
                                        <th>Responsables Asignados</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div style="width:100%; height:160px; overflow: scroll;">
                                                        {% for responsable in responsibles %}
                                                            {{ responsable.getOnlyFullNameUser }} </br>
                                                        {% endfor %}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <br>
                                    {{ actions.assign() }}   
                                    {{ form_rest(formassigndetails) }}
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <div id="tab-2" class="with-padding">
                    <form method="POST" action="{{ path("goal_movement_remove",{idGoal:goal.id}) }}">
                        <table width="90%">
                            <tr>
                                <td>
                                    <p class="inline-label">
                                        {{ form_label(formremovedetails.date) }}
                                        {{ form_widget(formremovedetails.date) }}
                                        {{ form_errors(formremovedetails.date) }}
                                    </p>
                                    <p class="inline-label">
                                        {{ form_label(form1.User) }}
                                        {{ form_widget(form1.User) }}
                                        {{ form_errors(form1.User) }}
                                    </p>
                                    <p class="inline-label">
                                        {{ form_label(formremovedetails.cause) }}
                                        {{ form_widget(formremovedetails.cause) }}
                                        {{ form_errors(formremovedetails.cause) }}
                                    </p>
                                    <p class="inline-label">
                                        {{ form_label(formremovedetails.observations) }}
                                        {{ form_widget(formremovedetails.observations) }}
                                        {{ form_errors(formremovedetails.observations) }}
                                    </p>
                                </td>
                                <td aling="center">
                                    <table width="100%">
                                        <thead>
                                        <th>Responsables Asignados</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div style="width:100%; height:160px; overflow: scroll;">
                                                        {% for responsable in responsibles %}
                                                            {{ responsable.getOnlyFullNameUser }} </br>
                                                        {% endfor %}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <br>
                                    {{ actions.remove() }}   
                                    {{ form_rest(formremovedetails) }}
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

        </div>

    </fieldset>  

    <fieldset class="fieldset">
        <legend class="legend"><b>Historial de Cambios </b></legend>


        <table class="record_properties" width="100%">
            <thead>
                <tr>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Empleado
                    </th>
                    <th>
                        Fecha de Cambio
                    </th>
                    <th>
                        Avance
                    </th>
                </tr>
            </thead>
            <tbody>
            <td>

            </td>
            </tbody>
        </table>

    </fieldset>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">

        $(document).ready(function () {
            $(".select2").select2({
                allowClear: true
            });

            $("#AssignGoal_User").select2({
                minimumInputLength: 3,
            });

            $('.progress').progress();

            $("#AssignGoalDetails_date").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: "dd/mm/yy"
            });

            $("#RemoveGoalDetails_date").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: "dd/mm/yy"
            });
        }
        );

    </script>
{% endblock javascript %}
