{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}
{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}
{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}
{% trans_default_domain 'PequivenArrangementProgramBundle' %}

{% set entity = AP %}

{% if entity.categoryArrangementProgram.id == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::ASSOCIATE_ARRANGEMENT_PROGRAM_SIG') %}
    {% set configuration = gerenciaSIG.configuration %}
{% else %}
    {% set configuration = entity.tacticalObjective.gerencia.configuration %}
{% endif %}
{% set validConfiguration = false %}
{% if configuration != null %}
    {% set validConfiguration = true %}
{% endif %}

{% block body %}
    <style>
        table tr {
            padding: 15px;

        }
        table th{
            text-align: left;
            vertical-align: middle;
            height: 35px;
        }
        table td{
            height: 35px;
            vertical-align: middle;
        }
        .alin_font {
            text-align: justify;
        }
        .fa-long-arrow-up {
            color: green;    
        }
        .fa-long-arrow-down {
            color: red;    
        }
        .fa-clock-o{
            color: orange;
        }
        .fa-trash{
            color: red;    
        }
        .centrado{
            text-align: center;
        }
        .header{
            text-align: center;
        }
    </style>
    {% set message =  'pequiven.arrangement_program.you_must_assign_config'|trans %}


    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="{{ path('pequiven_seip_arrangementprogram_index') }}">{{ 'pequiven.arrangement_program.arrangement_program'|trans }}</a>
            <span class="icon-forward"></span>
            <span class="thin">{{ entity.getTypeLabel|trans }}</span>
            <span class="icon-forward"></span>
            <span class="thin">Asignaciones</span>
        </h1>
    </hgroup>

    {% if validConfiguration == false %}
        {% set message =  'pequiven.arrangement_program.you_must_assign_config'|trans %}
        {{ print_error(message) }}
    {% endif  %}

    <div ng-controller="ArrangementProgramController">
        <fieldset class="fieldset">
            <legend class="legend">Datos del {{ 'pequiven.arrangement_program.arrangement_program'|trans }}&nbsp;<b>{{ entity.getTypeLabel|trans }}</b></legend>

            <div class="columns">
                <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">{{ 'pequiven.ref'|trans({},'messages') }}</label>
                        {{ generateLink(entity) }}
                    </p>
                </div>
                <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <p class="inline-label">
                        <label class="label">{{ 'pequiven.arrangement_program.period'|trans }}</label>
                        {{ entity.period }}
                    </p>
                </div>
                {% if appConfiguration.isSupportIntegratedManagementSystem == true %}
                    <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                        <p class="inline-label">
                            <label class="label">{{ 'pequiven.arrangement_program.process'|trans }}</label>
                            {{ entity.process }}
                        </p>
                    </div>
                {% endif %}
                <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <p class="inline-label">
                        <label class="label">{{ 'pequiven.arrangement_program.category_arrangement_program'|trans }}</label>
                        {{ entity.categoryArrangementProgram }}
                    </p>
                </div>

                <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    {% if entity.type == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::TYPE_ARRANGEMENT_PROGRAM_TACTIC') %}
                        <p class="inline-label">
                            <label class="label">{{ 'pequiven.arrangement_program.location'|trans }}</label>
                            {{ entity.tacticalObjective.gerencia.complejo }}
                        </p>
                    {% endif %}
                    {% if entity.type == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::TYPE_ARRANGEMENT_PROGRAM_OPERATIVE') %}
                        <p class="inline-label">
                            <label class="label">{{ 'pequiven.arrangement_program.location'|trans }}</label>
                            {{ entity.operationalObjective.gerencia.complejo }}
                        </p>
                    {% endif %}
                </div>
                <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <p class="inline-label">
                        <label class="label">{{ 'pequiven.arrangement_program.management'|trans }}</label>
                        {{ entity.tacticalObjective.gerencia }}
                    </p>
                </div>

                <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">{{ 'pequiven.arrangement_program.tactical_objective'|trans }}</label>
                        {% set avancedUsed = entity.tacticalObjective.result %}
                        {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
                        {{ generateLink(entity.tacticalObjective) }}
                    </p>        
                </div>
                {% if entity.type == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::TYPE_ARRANGEMENT_PROGRAM_OPERATIVE') %}
                    <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                        <p class="inline-label">
                            <label class="label">{{ 'pequiven.arrangement_program.operational_objective'|trans }}</label>
                            {% set avancedUsed = entity.operationalObjective.result %}
                            {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
                            {{ generateLink(entity.operationalObjective) }}
                        </p>
                    </div>
                {% endif %}

                {% if entity.type == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::TYPE_ARRANGEMENT_PROGRAM_OPERATIVE') %}
                    <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                        <p class="inline-label">
                            <label class="label">{{ 'pequiven.arrangement_program.management_second_line'|trans }}</label>
                            {{ entity.operationalObjective.gerenciaSecond }}
                        </p>
                    </div>
                {% endif %}
                <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <p class="inline-label">
                        <label class="label">{{ 'pequiven.arrangement_program.nameOfProgram'|trans }}</label>
                        {{ entity.description != '' ? entity.description :('pequiven.arrangement_program.description_none'|trans) }}
                    </p>
                </div>

            </div>
            {% set summary = entity.summary() %}
            {% if entity.status == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::STATUS_APPROVED') or
              entity.status == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::STATUS_REJECTED') %}
            <br/><br/>
            <p class="inline-label">
                <label class="label">{{ 'pequiven.arrangement_program.advances'|trans }}</label>
                {% set advances = entity.getResult %}
                {% if(entity.getResult < 0) %}
                    {% set advances = 0 %}
                {% endif %}

                {% set advancesClass = 'red-gradient' %}
                {% if advances >= 50 and advances < 100 %}
                    {% set advancesClass = 'orange-gradient' %}

                {% elseif advances >= 100 %}
                    {% set advancesClass = 'green-gradient' %}
                {% endif %}
                <span style="max-width: 400px" class="progress" data-progress-options='{"size":false,"barClasses":["{{ advancesClass }}","glossy"],"innerMarks":25,"topMarks":25,"topLabel":"[value]%","bottomMarks":[{"value":0,"label":"{{ 'pequiven.advances.nope'|trans({},'messages') }}"},{"value":50,"label":"{{ 'pequiven.advances.better'|trans({},'messages') }}"},{"value":100,"label":"{{ 'pequiven.advances.complete'|trans({},'messages') }}"}],"insetExtremes":true}'>{{ advances }}%</span>
            </p>
            <br/>
            {% endif %}                
        </div>
    </fieldset>

    <br><br>
    <fieldset class="fieldset">
        <legend class="legend"><b>Gestión de Responsables </b></legend>



        <div class="standard-tabs margin-bottom" id="add-tabs">

            <ul class="tabs">
                <li class="active"><a href="#tab-1">Asignar a Empleado</a></li>
                <li><a href="#tab-2">Retirar a Empleado</a></li>
            </ul>

            <div class="tabs-content">

                <div id="tab-1" class="with-padding">
                    <form method="POST" action="{{ path("AP_movement_assign",{idAP:AP.id}) }}">
                        <table width="90%">
                            <tr>
                                <td>
                                    <p class="inline-label">
                                        {{ form_label(assign.date) }}
                                        {{ form_widget(assign.date) }}
                                        {{ form_errors(assign.date) }}
                                    </p>
                                    <p class="inline-label">
                                        {{ form_label(assign.User) }}
                                        {{ form_widget(assign.User) }}
                                        {{ form_errors(assign.User) }}
                                    </p>
                                    <p class="inline-label">
                                        {{ form_label(assign.cause) }}
                                        {{ form_widget(assign.cause) }}
                                        {{ form_errors(assign.cause) }}
                                    </p>
                                    <p class="inline-label">
                                        {{ form_label(assign.observations) }}
                                        {{ form_widget(assign.observations) }}
                                        {{ form_errors(assign.observations) }}
                                    </p>

                                    <p class="inline-label">

                                    </p>
                                </td>
                                <td aling="center">
                                    <table width="100%">
                                        <thead>
                                        <th>Responsables Asignados</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div style="width:100%; height:160px; overflow: scroll;">
                                                        {% for responsable in responsibles %}
                                                            {{ responsable.getOnlyFullNameUser }} </br>
                                                        {% endfor %}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <br>
                                    {{ actions.assign() }}   
                                    {{ form_rest(assign) }}
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <div id="tab-2" class="with-padding">
                    <form method="POST" action="{{ path("AP_movement_remove",{idAP:AP.id}) }}">
                        <table width="90%">
                            <tr>
                                <td>
                                    <p class="inline-label">
                                        {{ form_label(remove.date) }}
                                        {{ form_widget(remove.date) }}
                                        {{ form_errors(remove.date) }}
                                    </p>
                                    <p class="inline-label">
                                        {{ form_label(remove.User) }}
                                        {{ form_widget(remove.User) }}
                                        {{ form_errors(remove.User) }}
                                    </p>
                                    <p class="inline-label">
                                        {{ form_label(remove.cause) }}
                                        {{ form_widget(remove.cause) }}
                                        {{ form_errors(remove.cause) }}
                                    </p>
                                    <p class="inline-label">
                                        {{ form_label(remove.observations) }}
                                        {{ form_widget(remove.observations) }}
                                        {{ form_errors(remove.observations) }}
                                    </p>
                                </td>
                                <td aling="center">
                                    <table width="100%">
                                        <thead>
                                        <th>Responsables Asignados</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div style="width:100%; height:160px; overflow: scroll;">
                                                        {% for responsable in responsibles %}
                                                            {{ responsable.getOnlyFullNameUser }} </br>
                                                        {% endfor %}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <br>
                                    {{ actions.remove() }}   
                                    {{ form_rest(remove) }}
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

        </div>

    </fieldset>  

    <fieldset class="fieldset">
        <legend class="legend"><b>Historial de Cambios </b></legend>

        <table class="simple-table responsive-table tables-extras" width="80%">
            <thead>
                <tr>
                    <th class="header" width="10%">Fecha de Cambio</th>
                    <th class="header" width="10%">Tipo</th>
                    <th width="40%">Empleado</th>
                    <th width="30%">Causa</th>
                    <th class="header" width="10%">Avance</th>
                    <th class="header" width="5%">&nbsp;</th>                    
                </tr>
            </thead>
            <tbody>
                {% for mov in movements %}
                    <tr>
                        <td class="centrado" width="10%">{{ mov.getdate | date("d/m/Y") }}</td>
                        {% if mov.gettype == 'I'%}
                            <td class="centrado" width="10%"><i class="fa fa-long-arrow-up"></i></td>
                            {% else %}
                            <td class="centrado" width="10%"><i class="fa fa-long-arrow-down"></i></td>
                            {% endif %}
                        <td width="40%">{{ mov.getuser.getOnlyFullNameUser }}  </td>
                        <td width="30%">{{ causes[mov.cause] }} </td>
                        <td class="centrado" width="10%">{{ mov.getrealAdvance | number_format(2, '.', ',')  }} % </td>
                        <td class="centrado" width="5%">
                            {% if (is_granted('ROLE_SEIP_ARRANGEMENT_PROGRAM_MOVEMENT_GOALS_DELETE')) %}
                                <a href="{{ path('movement_delete',{type:mov.typeMov, idMov:mov.id, idAffected:entity.id}) }}"><i class="fa fa-trash"></i></a> 
                                {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table>
            <tr>
                <td style="text-align:right">
                    {#     {% set routeConfig = path('goal_movement_export',{idAP:AP.id}) %}
                         {{ buttons.generic(
                         (routeConfig),
                         ('Exportar Historial de Cambios'),
                         'icon-download'
                      ) 
                         }}#}
                </td>
            </tr>
        </table>
    </fieldset>

    {% endblock %}

        {% block javascript %}
            <script type="text/javascript">

                $(document).ready(function () {
                    $(".select2").select2({
                        allowClear: true
                    });

                    $("#AssignMov_User").select2({
                        minimumInputLength: 3
                    });

                    $('.progress').progress();

                    $("#AssignMov_date").datepicker({
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 1,
                        dateFormat: "dd/mm/yy"
                    });

                    $("#RemoveMov_date").datepicker({
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 1,
                        dateFormat: "dd/mm/yy"
                    });

                    $("#RemoveMov_User").select2({
                        minimumInputLength: 3
                    });
                }
                );

            </script>
        {% endblock javascript %}
