{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}
{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}
{% trans_default_domain 'PequivenArrangementProgramBundle' %}

{% block before_body %}
    {{ contentHeader("Asignación de Metas")   }}
{% endblock %}


{% block body %}
    <style>
        .tabs {
            position: relative;
            min-height: 350px;
            clear: both;
            margin: 25px 0;
        }
        .tab {
            float: left;
        }
        .tab label {
            background: #eee;
            padding: 10px;
            border: 1px solid #ccc;
            margin-left: -1px;
            position: relative;
            left: 1px;
        }
        /*oculto los inputs para que solo se vean las etiquetas o label*/
        .tab input[type=radio] {
            display: none;
        }
        .content {
            position: absolute;
            top: 28px;
            left: 0;
            background: white;
            right: 0;
            bottom: 0;
            padding: 20px;
            border: 1px solid #ccc;
            overflow: hidden;
            text-align: justify;
        }
        .content >
        * {
            display:none;

        }
        .tab input[type=radio]:checked ~ label {
            background: white;
            border-bottom: 1px solid white;
            z-index: 2;
        }
        .tab input[type=radio]:checked ~ label ~ .content {
            z-index: 1;
        }
        .tab input[type=radio]:checked ~ label ~ .content >
        * {
            display: block;
        }
        img{
            margin:5px 10px 0 5px;
            float:left;
        }

        table tr {
            padding: 15px;

        }
        table th{
            text-align: left;
            vertical-align: middle;
            height: 35px;
        }
        table td{
            height: 35px;
            vertical-align: middle;
        }
        .alin_font {
            text-align: justify;
        }
    </style>
    {% set message =  'pequiven.arrangement_program.you_must_assign_config'|trans %}

    <fieldset class="fieldset">
        <legend class="legend"><b>Datos de la Meta </b></legend>
        <table class="record_properties" width="100%">
            <tbody>
                <tr>
                    <th width="20%">Período</th>
                    <td width="80%" colspan = "3">{{ goal.period }}</td>
                </tr>  
                <tr>
                    <th width="20%">Programa de Gestión</th>
                    <td width="80%" colspan = "3">
                        {% set avancedUsed = goal.timeline.arrangementProgram.result %}
                        {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
                        {{ generateLink(goal.timeline.arrangementProgram) }}. <a ref="">{{goal.timeline.arrangementProgram.description}}</a>
                        {#{% set ap=goal.timeline.arrangementProgram%}#}
                        {#<td width="80%" colspan = "2">{{ ap.description|ucwords }}</td>#}
                    </td>
                </tr>
                <tr>
                    <th width="20%">Nombre</th>
                    <td width="80%" colspan = "3">{{ goal.name|ucwords }}</td>
                </tr>
                <tr>
                    <th width="20%">Fecha de Inicio</th>
                    <td width="30%">{{ goal.startDate|date('Y-m-d') }}</td>
                    <th width="20%">Fecha de Culminación</th>
                    <td width="30%">{{ goal.endDate|date('Y-m-d') }}</td>
                </tr>

                <tr>
                    <th width="20%">Peso</th>
                    <td width="80%" colspan = "2">{{ goal.weight }}%</td>
                </tr>
                <tr>
                    <th width="20%"><br/> <br/> Avances hasta la Fecha <br/><br/><br/><br/></th>
                    <td width="80%" colspan = "3">
                        <br/><br/>
                        {% set advances = goal.getResult %}
                        {% set advancesClass = 'red-gradient' %}
                        {% if advances >= 50 and advances < 100 %}
                            {% set advancesClass = 'orange-gradient' %}

                        {% elseif advances >= 100 %}
                            {% set advancesClass = 'green-gradient' %}
                        {% endif %}
                        <span style="max-width: 90%" class="progress" data-progress-options='{"size":false,"barClasses":["{{ advancesClass }}","glossy"],"innerMarks":25,"topMarks":25,"topLabel":"[value]%","bottomMarks":[{"value":0,"label":" Nada "},{"value":50,"label":" Mejor "},{"value":100,"label":" Completa "}],"insetExtremes":true}'>{{ advances }}%</span>

                        <br/><br/><br/><br/>
                    </td>


                <tr>
                    <th width="20%">Observaciones</th>
                    <td width="80%" colspan = "3">{{ goal.observations }}</td>
                </tr>

                </tr>

            </tbody>
        </table>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="legend"><b>Responsables </b></legend>
        <div class="tabs">
            <!--pestaña 1 activa por defecto-->
            <div class="tab">
                <input type="radio" id="tab-1" name="tab-group-1" checked>
                <label for="tab-1">Asignar</label>
                <!--contenido de la pestaña 1-->
                <div class="content">
                    <p>Chanante ipsum dolor sit amet, ut, ex ad. Ju-j· ut
                        tempor quis ullamco horcate piticli dolore quis. Ea ad
                        eveniet hueles avinagrado dolore incididunt dolore sed
                        <img src="http://lorempixel.com/output/nightlife-q-c-200-200-9.jpg"></img>
                        ullamco sÌberet churretoso aliqua magna magna.</p> 
                    <p>Enim ad quis eres un pir·midee chachach· aliqua nisi
                        exercitation, bufonesco labore saepe. Ullamco ojete calor
                        exercitation adipisicing exercitation monguer Guaper, ut
                        ut consectetur aliqua elit piticli nui incididunt. Quis
                        elit adipisicing forrondosco enim veniam ex quis. Ullamco
                        tollina minim cosica ea eveniet veniam eveniet no te digo
                        n· y te lo digo tÛ vivo con tu madre en un castillo.</p>
                    <p>Chanante ipsum dolor sit amet, ut adipisicing ad ex
                        agazapao freshquisimo. Et cacahuÈ tempor cabeza de viejo
                        cuerpo de joven ut dolore, ad saepe. Gambitero monguer
                        Guaper bajonaaa minim. Estoy fatal de lo mÌo a tope con
                        la maquinaria pero quÈ pelazo, ga?·n dolore dolore artista
                        mamellas aliqua ojete calor adipisicing dolore minim magna
                        labore.</p>
                    <p>Chanante ipsum dolor sit amet, gaticos incididunt
                        eveniet atiendee elit eiusmod dolore eres un pir?midee
                        ad. Incididunt eveniet sed saepe saepe labore labore ad.
                        Eiusmod melifluo nisi nostrud labore muchachada nisi
                        gaÒan ad.</p>
                </div>
            </div>
            <!-- pestaña 2-->
            <div class="tab">
                <input type="radio" id="tab-2" name="tab-group-1">
                <label for="tab-2">Retirar</label>
                <div class="content">
                    <!--contenido de la pestaña 2-->
                    <p>Chanante ipsum dolor sit amet, minim ut exercitation
                        ut cosica minim ut eveniet sed, chavalada. Labore eveniet
                        <img src="http://lorempixel.com/output/nightlife-q-c-200-200-1.jpg">
                        ea forrondosco mangurri·n interneeeer elit enjuto mojamuto,
                        ut estoy fatal de lo mÌo ayy quÈ gustico ju-j· ut ut.
                        Ullamco aliqua, ex ad atiendee adipisicing ea consectetur
                        minim. Elit pepinoninoni nostrud soooy crossoverr cabeza de viejo
                        cuerpo de joven elit zagal. Ullamco quis labore saepe ad ullamco gaÒ·n
                        churretoso te viste de torero chotera nostrud magna ahÌ va
                        quÈ chorrazo ut bizcochÈ. Ex muchachada minim ullamco one
                        more time. Incididunt fresquete ut payacho ad eveniet
                        magna aliqua ea monetes elit.</p>
                    <p>Chanante ipsum dolor sit amet, minim super ÒoÒo magna
                        ojete calor nostrud enjuto mojamuto. Ea ut exercitation.
                        Ex ex consectetur horcate cartoniano et nisi te viste de
                        torero veniam nostrud ad. Zanguango asobinao chotera ullamco et.</p>
                    <p>Chanante ipsum dolor sit amet, adipisicing ut chiquititantantan
                        dolore, chotera bocachoti, ut eiusmod ea. Incididunt ut estoy
                        fatal de lo mÌo consectetur adipisicing nostrud adipisicing,
                        minim minim adipisicing a tope con la maquinaria tempor ut.
                        Interneeeer quis saepe enratonao. Sed tempor ut nisi, minim
                        veniam eiusmod, asobinao nostrud cacahuÈ enim. AhÌ va quÈ
                        chorrazo quis enim droja enim.</p>


                </div>
            </div>

    </fieldset>  

    <fieldset class="fieldset">
        <legend class="legend"><b>Historial de Cambios </b></legend>
    </fieldset>


{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        jQuery(document).ready(function () {

            $('.progress').progress();
        });
    </script>
{% endblock javascript %}
