{% extends 'PequivenSIGBundle:Template:baseLayoutEvolution.html.twig' %}

{% trans_default_domain 'PequivenSIGBundle' %}

{% set labelHeader = {
        (constant('Pequiven\\ObjetiveBundle\\Model\\ObjetiveLevel::LEVEL_ESTRATEGICO')):'pequiven_objetive.objetive_strategic',
        (constant('Pequiven\\ObjetiveBundle\\Model\\ObjetiveLevel::LEVEL_TACTICO')):'pequiven_objetive.objetive_tactic',
        (constant('Pequiven\\ObjetiveBundle\\Model\\ObjetiveLevel::LEVEL_OPERATIVO')):'pequiven_objetive.objetive_operative',
    } %}

{% block before_body %}
    {{ contentHeader(
        {(path('pequiven_objetives_list_sig_evolution',{'level': level})):(labelHeader[level]|trans )},
        ( entity.ref ),        
        ('pequiven.evolution'|trans({},'messages'))
    ) }}
{% endblock %} 

{% block body %}
<div class="block_id" ng-init="idObject='{{ entity.id }}'"></div>
<div class="block_id" ng-init="typeObj='{{ typeObject }}'"></div>   

<fieldset class="fieldset">
    <legend class="legend">{{ entity }}</legend>
        <div class="columns">
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">    
                <div class="inline-label">
                <label class="label">Referencia</label>
                    <ul class="fa-ul">                    
                        <li>{{ generateLink(entity) }}</li>                    
                    </ul>
                </div>
            </div>                
            <!-- Status del Objetivo Operativo -->
            <div class="inline-label">        
               <label class="label">{{ 'pequiven_objetive.status.status'|trans({},'PequivenObjetiveBundle') }}</label>
                {% set status = entity.status %}
                {% set className = '' %}
                {% if status == constant('Pequiven\\ObjetiveBundle\\Entity\\Objetive::STATUS_DRAFT') %}
                    {% set className = 'blue-bg' %}
                {% elseif  status == constant('Pequiven\\ObjetiveBundle\\Entity\\Objetive::STATUS_APPROVED') %}
                    {% set className = 'green-bg' %}
                {% endif %}
                <small class="tag {{ className }}">{{ entity.getLabelStatus | trans({},'PequivenObjetiveBundle') }}</small>                
            </div>        
            <!-- Meta del Objetivo Operativo -->
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">    
                <div class="inline-label">
                    <label class="label">{{ 'pequiven_objetive.goalObjetiveOperative'|trans({},'PequivenObjetiveBundle') }}</label>
                    {{ entity.goal|number_format(2,',','.') }}%
               </div>
            </div>            
            <!-- Período del Objetivo Operativo -->                
            <div class="inline-label">
                    <label class="label">{{ 'pequiven_seip.period'|trans({},'PequivenSEIPBundle') }}</label>
                    {{ entity.period }}                
            </div>
        
            {% if  entity.managementSystems | length > 0 %}
            {# Sistemas de la Calidad al que pertenece #}
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">            
                <div class="inline-label">
                    <label class="label">Sistemas de Getión del Objetivo</label>
                        <ul class="fa-ul">
                            {% for managementSystem in entity.managementSystems %}
                                <li>{{ managementSystem.description }}</li>
                            {% endfor %}
                        </ul>
                </div>                
            </div>
            {% endif %}
    </div>
    {% include 'PequivenSIGBundle:Template:base_month.html.twig' %} 
</fieldset>
    {% include 'PequivenSIGBundle:Template:baseLoadSectionsEvolution.html.twig' %}     
    {% block buttons %}
        {{ parent() }}        
        {# Box historico informe de Evolución #}
        <div id="evolutionItems" style="display: none;">               
            {{ renderArea(constant('Pequiven\\SEIPBundle\\Model\\Box\\AreasBox::ITEMS_EVOLUTION_OBJETIVE')) }}            
        </div>  
    {% endblock %}
{% endblock %}