{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}
{% import 'PequivenSIGBundle:Template:Buttons/buttons.html.twig' as buttons %}

{% trans_default_domain 'PequivenSIGBundle' %}

{% block before_body %}
    {{ contentHeader(
        ('Objetivo'|trans({})),        
        ( entity.ref ),        
        ('pequiven.evolution'|trans({},'messages'))
    ) }}
{% endblock %} 

{% block body %}
<div class="block_id" ng-init="idObject='{{ entity.id }}'"></div>
<div class="block_id" ng-init="typeObj='{{ typeObject }}'"></div>   

<fieldset class="fieldset">
    <legend class="legend">{{ entity }}</legend>
        <div class="columns">
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">    
                <div class="inline-label">
                <label class="label">{{ entity.parents|length > 1 ? 'pequiven_objetive.objetiveTactics'|trans : 'pequiven_objetive.objetive_tactic'|trans }}</label>
                    <ul class="fa-ul">
                    {% for parent in entity.parents %}
                        <li>{{ generateLink(parent) }}</li>
                    {% endfor  %}
                    </ul>
                </div>
            </div>                
            <!-- Enunciado del Objetivo Operativo -->
            <div class="inline-label">        
                <label class="label">{{ 'pequiven_objetive.statementOperative'|trans({},'PequivenObjetiveBundle') }}</label>
                {{ entity.description }}
            </div>
        
            <!-- Status del Objetivo Operativo -->
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">    
                <div class="inline-label">
                   <label class="label">{{ 'pequiven_objetive.status.status'|trans({},'PequivenObjetiveBundle') }}</label>
                   {% set status = entity.status %}
                    {% set className = '' %}
                    {% if status == constant('Pequiven\\ObjetiveBundle\\Entity\\Objetive::STATUS_DRAFT') %}
                        {% set className = 'blue-bg' %}
                    {% elseif  status == constant('Pequiven\\ObjetiveBundle\\Entity\\Objetive::STATUS_APPROVED') %}
                        {% set className = 'green-bg' %}
                    {% endif %}
                    <small class="tag {{ className }}">{{ entity.getLabelStatus | trans({},'PequivenObjetiveBundle') }}</small>
               </div>
            </div>            
            <!-- Meta del Objetivo Operativo -->
            <div class="inline-label">
                <label class="label">{{ 'pequiven_objetive.goalObjetiveOperative'|trans({},'PequivenObjetiveBundle') }}</label>
                {{ entity.goal|number_format(2,',','.') }}%
            </div>
        
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">            
                <!-- Período del Objetivo Operativo -->
                <div class="inline-label">
                    <label class="label">{{ 'pequiven_seip.period'|trans({},'PequivenSEIPBundle') }}</label>
                    {{ entity.period }}
                </div>
            </div>
            {# Sistemas de la Calidad al que pertenece #}
            {% if  entity.managementSystems | length > 0 %}
                <div class="inline-label">
                    <label class="label">Sistemas de Getión del Objetivo</label>
                        <ul class="fa-ul">
                            {% for managementSystem in entity.managementSystems %}
                                <li>{{ managementSystem.description }}</li>
                            {% endfor %}
                        </ul>
                </div>                
            {% endif %}
    </div>
    {% include 'PequivenSIGBundle:Template:base_month.html.twig' %} 
</fieldset>

{% include 'PequivenSIGBundle:Template:baseLoadSectionsEvolution.html.twig' %}     

<p class="button-height align-right">          
    <div style="text-align: left; margin-left:15px;">
        <a class="button"  id="showItems"  href="javascript:void(0)">
            <span class="button-icon left-side red-gradient">
                <span class="fa fa-history fa-1"></span>
            </span>
            <span class="title">{{('pequiven.view_evolution_history'|trans({},'messages'))}}</span>
            <span class="title" style="display: none">{{('pequiven.hide_evolution_history'|trans({},'messages'))}} </span>
        </a>        
        {% if is_granted('ROLE_SEIP_SIG_EVOLUTION_DOWNLOAD') %}                                   
            {% set typeObj = 3 %}                                
            &nbsp;  {{ buttons.generic_download }}        
        {% endif %}
    </div>
</p>
{# Box historico informe de Evolución #}
<div id="evolutionItems" style="display: none;">               
    {{ renderArea(constant('Pequiven\\SEIPBundle\\Model\\Box\\AreasBox::ITEMS_EVOLUTION_OBJETIVE')) }}            
</div>  
{% endblock %}
{% block stylesheets %}
  {{ parent() }}    
<style type="text/css">    
    .position{        
        margin-right: 20px;
        margin-top: 20px;
        color: #1d1c1c;
        float: right;
        font-size: 150%;
    }
    .button-config{
        margin-right: 20px;
        margin-top: 0px;
        margin-bottom: 15px;
        color: #1d1c1c;
        float: right;
        /*font-size: 150%;*/
    }

    /* dashboard sig */
    .dashboard_sig {
        padding: 75px;
        position: relative;
        zoom: 1;
        color: white;
        border-top: 1px solid #666666;
        border-bottom: 1px solid #666666;
        border-color: #000000;
    }
    .dashboard_sig a {
        color: white;
    }    

</style>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/fusioncharts.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/themes/fusioncharts.theme.fint.js') }}"></script>
    <script src="{{  asset('bundles/pequivensig/js/loadFiles.js') }}"></script> 
    
    <script type="text/javascript">        
        $(document).ready(function () {
            $("a#showItems").click(function () {
                $("#evolutionItems").toggle("slow");
                $("a#showItems span.title ").toggle();
            });
        });

        var urlFiles = "{{ path("pequiven_sig_evolution_load_file") }}";
        setUrlFiles(urlFiles); 

        //Carga de Evento de Descarga de Grafica de Indicador
        function downloadEvolution(){            
            var button = document.getElementById("exportpng");
            if (button){
               button.click();   
               window.setTimeout(downloadCause,1000);
               //downloadCause();               
            }            
        }
        //Carga de Evento de Descarga de Grafica de Causas del Indicador
        function downloadCause(){
            var button_cause = document.getElementById("export_causespng");
            if (button_cause){
                button_cause.click();                
            }
        }

    </script>    
{% endblock %}