{% trans_default_domain 'PequivenIndicatorBundle' %}
{% if indicator.formula == null %}
    {{ 'pequiven_indicator.value_indicator.errors.you_must_assign_formula_indicator'|trans({'%indicator%':indicator}) }}
{% else %}
    <br/><br/>
    {{ 'pequiven_indicator.popup.formula'|trans({'%indicator%':indicator}) }}: <b>{{ indicator.formula }}</b>
    <br/><br/>
    
    {% if (indicator.formula.variables|length) == 0 %}
        {{ 'pequiven_indicator.value_indicator.errors.you_must_assign_the_variables_to_the_formula'|trans({'%formula%':indicator.formula}) }}
    {% else %}
        <form method="POST" id="form_value_indicator">
            <fieldset class="fieldset fields-list">
                <legend class="legend">{{ 'pequiven_indicator.value_indicator.enter_values_variables'|trans }}</legend>
                {% for child in form.children %}
                    <div class="field-block button-height" >
                        {{ form_label(child) }}
                        {{ form_widget(child) }}
                        {{ form_errors(child) }}
                    </div>
                {% endfor %}
                {% if valueIndicator != null %}
                    <input type="hidden" name="id" value="{{ valueIndicator.id }}" />
                {% endif %}
            </fieldset>
        </form>
        <br/>
        <p class="wrapped align-center button-height">
            <b>{{ 'pequiven_indicator.value_indicator.result'|trans }}:</b>&nbsp;&nbsp;{$ evaluationResult |myNumberFormat:3 $}
        </p>
        <div class="align-center">
            <div class="align-center inline-div">
                <button type="button" ng-click="evaluateFormula()" class="button blue-gradient glossy">Evaluar formula</button>
            </div>
            {% if indicator.valueIndicatorConfig is not null and indicator.typeDetailValue == constant('Pequiven\\IndicatorBundle\\Model\\Indicator::TYPE_DETAIL_DAILY_LOAD_PRODUCTION') %}
                <div class="align-right inline-div">
                    <button type="button" ng-click="obtainValues()" class="button blue-gradient glossy">Obtener Valores</button>
                </div>
            {% endif %}
        </div>
    {% endif %}
    <br/><br/>
{% endif %}