{% trans_default_domain 'PequivenArrangementProgramBundle' %}
                
<div class="block">
    <div class="block-title">
        <h3>{$ goals.length $} {{ 'pequiven.goals.goals'|trans }}</h3>
        <div class="button-group absolute-right compact">
            <a id="arrangementGoalDetailsPop" class="button icon-list showPopup" href="{{ path('get_arrangementprogram_rest_arrangementprogram_template_goalsdetails',{id:app.request.get('id'),_format:'html'}) }}" title="{{ 'pequiven.goals.goals'|trans }}">{{ 'pequiven.details'|trans({},'messages') }}</a>
        </div>
    </div>
    <div class="with-padding">
        <table class="simple-table responsive-table tables-extras" id="sorting-example2">
        <thead>
            <tr>
                <th scope="col" width="25%">{{ 'seip.table.header.name'|trans }}</th>
                {% if appConfiguration.isSupportIntegratedManagementSystem == true %}
                    <th scope="col" width="10%" class="hide-on-mobile">{{ 'seip.table.header.type_goal'|trans }}</th>
                {% endif %}
                <th scope="col" width="15%" class="hide-on-mobile-portrait">{{ 'seip.table.header.start_date'|trans }}</th>
                <th scope="col" width="15%" class="hide-on-tablet">{{ 'seip.table.header.end_date'|trans }}</th>
                <th scope="col" width="10%" class="hide-on-tablet">{{ 'seip.table.header.weight'|trans }}</th>
            </tr>
        </thead>
        {% set colspan = 5 %}
        {% if appConfiguration.isSupportIntegratedManagementSystem == true %}
            {% set colspan = 6 %}
        {% endif %}
        <tbody ng-init="{% if arrangementprogram_template.timeline %}goals={{ arrangementprogram_template.timeline.goals|serialize('json',serialization_context().setGroups(['id','api_list','responsibles'])) }}{% endif %}">
            <tr ng-if="goals.length == 0">
                <td colspan="{{ colspan }}" class="empty_row">
                    {{ "seip.table.empty.goals"|trans }}
                </td>
            </tr>
            <tr ng-repeat="goal in goals">
                <th scope="row">
                    {$ goal.name $}<br>
                    <small>{$ goal.observations $}</small>
                </th>
                {% if appConfiguration.isSupportIntegratedManagementSystem == true %}
                    <td>
                        <span ng-if="goal.typeGoal">
                            {$ goal.typeGoal.description $}
                        </span>
                        <span ng-if="!goal.typeGoal">
                            {$ 'pequiven.form.not_applicable'|trans $}
                        </span>
                    </td>
                {% endif %}
                <td>{$ goal.startDate | myDate $}</td>
                <td>{$ goal.endDate| myDate $}</td>
                <td>{$ goal.weight $}%</td>
            </tr>
        </tbody>
    </table>
        
    </div>
</div>