<hgroup id="main-title" class="thin breadcrumb">
    <h1>
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb.link != null %}
                {% if loop.first == true %}
                    <a href="{{ breadcrumb.link }}">{{ breadcrumb.label }}</a>
                {% else %}
                    <span class="thin">
                        <a href="{{ breadcrumb.link }}">{{ breadcrumb.label }}</a>
                    </span>
                {% endif %}
            {% else %}
                {% if loop.first == true %}
                    {{ breadcrumb.label }}
                {% else %}
                    <span class="{% if loop.first == false %}thin{% endif %}">{{ breadcrumb.label }}</span>
                {% endif %}
            {% endif %}
            {% if loop.last  == false %}
                <span class="icon-forward"></span>
            {% endif %}
        {% endfor %}
        <div class="absolute-right">{{ period }}</div>
        {#{% set referer = app.request.headers.get('referer') %}
        <div class="absolute-right">
            
                <span ng-if="!showPeriodCombo">{{ period }}&nbsp;</span>
                <select ng-if="showPeriodCombo" id="selectPeriod" name="selectPeriod" class="select" ng-click="showPeriodCombo = !showPeriodCombo">
                    <option value="{{ path('seip_change_period',{period:'2014',referer:referer}) }}">Período-2014</option>
                    <option value="{{ path('seip_change_period',{period:'2015',referer:referer}) }}">Período-2015</option>
                </select>
                &nbsp;
                <i ng-click="showPeriodCombo = !showPeriodCombo" class="fa fa-angle-double-down"></i>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                var selectPeriod = angular.element('#selectPeriod');
                selectPeriod.on('change',function(){
                    console.log(selectPeriod.val());
                });
            });
        </script>#}
    </h1>
    {#<h2>
        <strong>{{ period }}</strong>
    </h2>#}
</hgroup>