<hgroup id="main-title" class="thin breadcrumb">
    <h1>
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb.link != null %}
                {% if loop.first == true %}
                    <a href="{{ breadcrumb.link }}">{{ breadcrumb.label }}</a>
                {% else %}
                    <span class="thin">
                        <a href="{{ breadcrumb.link }}">{{ breadcrumb.label }}</a>
                    </span>
                {% endif %}
            {% else %}
                {% if loop.first == true %}
                    {{ breadcrumb.label }}
                {% else %}
                    <span class="{% if loop.first == false %}thin{% endif %}">{{ breadcrumb.label }}</span>
                {% endif %}
            {% endif %}
            {% if loop.last  == false %}
                <span class="icon-forward"></span>
            {% endif %}
        {% endfor %}
        {#        <div class="absolute-right">{{ period }}</div>#}
        {% set referer = app.request.getUri %}
        <div class="absolute-right">
            <span id="labelPeriod">{{ period }}&nbsp;</span>
            {% if type ==  constant('Pequiven\\SEIPBundle\\Model\\Period::VIEW_ALL_PERIODS') %}
                <select id="selectPeriod" name="selectPeriod" class="hide">
                    {% for listArrayPeriod in listArrayPeriods %}
                        <option value="{{ path('seip_change_period',{period:listArrayPeriod['id'],referer:referer}) }}" {% if listArrayPeriod['id'] == period.id %}selected="selected"{% endif %} >{{ listArrayPeriod['description'] }}</option>
                    {% endfor %}
                </select>
                {#                &nbsp;#}
                <i id="showCombo" class="fa fa-angle-double-down" style="cursor: pointer; cursor: hand;"></i>            
            {% endif %}

        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                var showCombo = $('#showCombo');
                var selectPeriod = $('#selectPeriod');
                var labelPeriod = $('#labelPeriod');
                selectPeriod.on('change', function () {
                    window.location.assign(selectPeriod.val());
                });
                var showPeriodCombo = false;
                showCombo.on('click', function () {
                    showPeriodCombo = !showPeriodCombo;
                    labelPeriod.toggle();
                    selectPeriod.toggle();
                });
            });
        </script>
    </h1>
    {#<h2>
        <strong>{{ period }}</strong>
    </h2>#}
</hgroup>