{# empty Twig template #}
{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}
{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}
{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block javascript %}
    {{ parent() }}
    <script src="{{  asset('bundles/pequivenseip/jQuery-Mask-Plugin-master/jquery.mask.min.js') }}"></script>   
    <script type="text/javascript">
        $(document).ready(function () {
            var maxPerson = $("select#producto option:selected").attr("data");
            $("input#cantidad").attr("max", maxPerson);
            charge();

            $("select#producto").change(function () {
                $("input#cantidad").val("");
                var maxPerson = $("select#producto option:selected").attr("data");
                $("input#cantidad").attr("max", maxPerson);
            });
        });

        function charge() {
            $('.select2').select2({
                allowClear: true
            });
        }

        function cargar(URL) {
            myWindow = window.open(URL, "myWindow", "left=300px, top=250px, width=1200px, height=800px, Scrollbars=YES, Resizable=NO, Directories=NO, Location=NO, Menubar=NO, Status=NO, Toolbar=NO");   // Opens a new window
        }

    </script>    
{% endblock javascript %}


{% block body %}
    <style>
        table#datos{
            border-collapse:separate;
            border-spacing: 0px 10px;
        }
        .fa-trash{
            color: red;    
        }
        table#table1 tbody tr td.gridTd {
            text-align: right;
        }
    </style>
    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="">Facturación de Pedidos</a>
            <span class="icon-forward"></span>            
            <span class="thin">Cargar</span>                        
        </h1>
    </hgroup>
    <br>
    <div class="columns">
        <div class="twelve-columns">            
            <center>
                <table width="95%" style="border: 2px black solid;">
                    <tr style="height: 30px;">
                        <td colspan="2" style="background-color: #AA0000; color: #FFFFFF; font-size: 20pt; vertical-align: middle;">                                
                            Datos de la Factura
                        </td>         
                    </tr>
                    <tr>
                        <td width="60%">
                            <table width="100%" class="simple-table" style="background-color: #FFFFFF; border: hidden;">                                    
                                <tr>
                                    <td width="40%" class="header bold">Fecha:</td>
                                    <td width="60%">
                                        {{ "now"|date("d/m/Y") }}
                                    </td>
                                </tr>
                                {% if (orderobj) %}
                                    <tr>
                                        <td width="40%" class="header bold">Localidad:</td>
                                        <td width="60%">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40%" class="header bold">Código C.E.T.:</td>
                                        <td width="60%">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40%" class="header bold">Nombre C.E.T.:</td>
                                        <td width="60%">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40%" class="header bold">Coordinador:</td>
                                        <td width="60%">

                                        </td>
                                    </tr>
                                {% endif %}
                            </table> 
                        </td>
                        <td width="40%" style="border: 2px black solid;">
                            <table width="100%" class="simple-table">
                                <tr>
                                    <td style="background-color: #D8D8D8; font-size: 30pt; vertical-align: middle; text-align: center; height: 55px;" colspan="2">                                                           
                                        Factura:
                                        <span class="green bold">{{ newbill }}</span>              
                                    </td>                                        
                                </tr>                               
                            </table>
                        </td>
                    </tr>
                </table>

                <br>
                <table width="95%">                     
                    <tr>
                        <td width="65%" rowspan="2">
                            <br>
                            <form method="POST" action="{{ path("pequiven_housesupply_billing_charge") }}">                           
                                <select onchange="this.form.submit();" name="order" id="order" class="select2 input-xxlarge form-control">    
                                    {% if(orders)%}
                                        {% if(orderobj)%}                                            
                                            <option value="{{orderobj.getid}}" id="{{orderobj.getid}}" selected>{{ orderobj.getCreatedBy.getIdentification }} / {{orderobj.getCreatedBy.getFullName}} / {{orderobj.getworkStudyCircle.getCodigo}}</option>                                        
                                        {% else %}
                                            {% set miembro= 0 %}
                                            <option value="0" id="0" selected>Seleccione</option>
                                        {% endif %}

                                        {% for orden in orders %}
                                            {% if ((orderobj==null))%}
                                                <option value="{{orden.getid}}" id="{{orden.getid}}" >{{ orden.getCreatedBy.getIdentification }} / {{orden.getCreatedBy.getFullName}} / {{orden.getworkStudyCircle.getCodigo}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {%else%}
                                        <option value="0" id="0" selected>Aún no se Cargado Pedidos para el Ciclo Actual</option>
                                    {%endif%}
                                </select>
                            </form>
                            <br><br>
                            <table width="95%" style="border: 2px black solid;">
                                <tr style="height: 30px;">
                                    <td width="100%" style="background-color: #AA0000; color: #FFFFFF; font-size: 20pt; vertical-align: middle;">Productos</td>         
                                </tr>
                                <tr>
                                    <td width="100%">
                                        <table id="table1" class="simple-table" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="header" width="10%">Cant</th>
                                                    <th class="header" width="50%">Producto</th>
                                                    <th class="header text-center" width="20%">Precio</th>                                
                                                    <th class="header text-right" width="20%">Sub-Total</th>                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% set linea=1 %}
                                                {% set iva=0 %}
                                                {% set cant=0 %}
                                                {% set total=0 %}
                                                {% if(orderobj) %}
                                                    {% for list in orderobj.getOrderItems %}                                                    
                                                        <tr>
                                                            <td class="text-center" width="10%">{{ list.cant }}</td>
                                                            <td width="50%">{{ list.product.description }}</td>
                                                            <td class="text-right" width="20%">{{ list.product.price| number_format(2, ',', '.') }}</td>                                
                                                            <td class="text-right" width="20%">{{ (list.product.price*list.cant)| number_format(2, ',', '.') }}</td> 
                                                        </tr>                                                    
                                                        {% set linea=linea+1 %}
                                                        {% set cant=cant+list.cant %}
                                                        {% set iva=iva+list.totalLineTaxes %}
                                                        {% set total=total+list.totalLine %}                                                    
                                                    {% endfor %}
                                                {%else%}                                                
                                                    <tr>
                                                        <td width="10%">-</td>
                                                        <td width="50%">-</td>
                                                        <td class="text-right" width="20%">-</td>                                
                                                        <td class="text-right" width="20%">-</td>                                                        
                                                    </tr>
                                                {%endif%}
                                            </tbody> 
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2">&nbsp;</td>
                                                    <td class="text-right" style="background-color: #AA0000; font-weight: bold; color: #FFFFFF;">Sub-Total</td>
                                                    <td width="15%" class="text-right">{{ total| number_format(2, ',', '.') }}</td>
                                                    <td width="5%">&nbsp;</td>
                                                </tr>                                    
                                                <tr>
                                                    <td colspan="2">&nbsp;</td>
                                                    <td class="text-right" style="background-color: #AA0000; font-weight: bold; color: #FFFFFF;">I.V.A.</td>
                                                    <td width="15%" class="text-right">{{ iva| number_format(2, ',', '.') }}</td>
                                                    <td width="5%">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">&nbsp;</td>
                                                    <td class="text-right" style="background-color: #AA0000; font-weight: bold; color: #FFFFFF;">Total</td>
                                                    <td width="15%" class="text-right" >{{ (total + iva)| number_format(2, ',', '.') }}</td>
                                                    <td width="5%">&nbsp;</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="35%" style="text-align: left;">  
                            <br>
                            <table width="100%" height="100px;">
                                <tr>
                                    <td width="25%" style="vertical-align: middle; font-weight: bold;">Total:</td>
                                    <td width="75%" style="vertical-align: middle; text-align: right;">
                                        <span style="color: #002a80; font-size: 30pt; text-align: right; width: 100%; font-weight: bold;">
                                            Bs. 
                                        </span>
                                        <span style="color: #002a80; font-size: 30pt; text-align: right; width: 100%; font-weight: bold;" id="totales_3">
                                            {{ (total + iva)| number_format(2, ',', '.') }}
                                        </span>
                                    </td>
                                </tr>                                      
                                <tr>
                                    <td width="25%" style="vertical-align: middle; font-weight: bold;">Cancelado: </td>
                                    <td width="75%" style="vertical-align: middle; text-align: right;">
                                        <span style="color: #002a80; font-size: 30pt; text-align: right; width: 100%; font-weight: bold;">
                                            Bs. 
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="25%" style="vertical-align: middle; font-weight: bold;">Falta: </td>
                                    <td width="75%" style="vertical-align: middle; text-align: right;">
                                        <span style="color: #002a80; font-size: 30pt; text-align: right; width: 100%; font-weight: bold;">
                                            Bs. 
                                        </span>
                                    </td>
                                </tr>
                            </table>                                
                        </td>
                    </tr>                     
                    <tr>
                        <td>
                            <br><br><br>
                            <fieldset class="fieldset">
                                <legend class="legend"><b>Pagos</b></legend>
                                <table style="border-collapse:separate; border-spacing: 0px 5px;" width="100%">                                        
                                    <tr>
                                        <td rowspan="3" width="50%">
                                            <input type="radio" name="method" value="female" class="radio"> Tarjeta de Débito<br>                                            
                                            <input type="radio" name="method" value="female" class="radio"> Tarjeta de Crédito<br>                                            
                                            <input type="radio" name="method" value="male" class="radio"> Transferencia<br>
                                        </td>                                        
                                    </tr>                                     
                                    <tr>
                                        <td style="text-align: center;">
                                            <input type="number" class="input-small" id="numero" placeholder="numero">
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">
                                            <input type="number"  class="input-small" id="monto" placeholder="monto" >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <a class="button green-gradient" href="javascript:void(0)" id="addItem">Agregar</a>
                                        </td>                                                                                                                      
                                    </tr>
                                </table>                                 
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" style="border: 2px black solid;">
                                <tr style="height: 30px;">
                                    <td width="100%" style="background-color: #AA0000; color: #FFFFFF; font-size: 20pt; vertical-align: middle;">Pagos</td>         
                                </tr>
                                <tr>
                                    <td width="100%">
                                        <table id="table1" class="simple-table" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="header" width="50%">Forma</th>
                                                    <th class="header" width="25%">Número</th>
                                                    <th class="header text-center" width="25%">Monto</th>                                

                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody> 
                                            <tfoot>
                                                <tr>
                                                    <th class="header" width="50%">&nbsp;</th>
                                                    <th class="header" width="25%">&nbsp;</th>
                                                    <th class="header text-center" width="25%">Monto</th>       
                                                </tr>                                                                                    
                                            </tfoot>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <br>
                            <div class="new-row twelve-columns" style="text-align: right;">  

                                <button type="submit" onclick="cargar('{{ path("pequiven_housesupply_order_charge_total") }}');" class="button glossy mid-margin-right">
                                    <span class="button-icon green-gradient"><span class="icon-tick"></span></span>
                                    Registrar Factura
                                </button>    

                            </div> 
                        </td>
                    </tr>
                </table>
            </center>            
        </div>
    </div>
{% endblock %}

