{% trans_default_domain 'PequivenSEIPBundle' %}

<div class="block">
    <div class="block-title">
        <h3>Localizaciones</h3>
        <div class="button-group absolute-right compact">
            <a href="{{ path('pequiven_localization_create',{'userId':user.id}) }}" class="button icon-list-add">Añadir</a>
        </div>
    </div>
    <div class="with-padding">
        <table class="simple-table responsive-table" id="sorting-example2" width="100%">
            <thead>
                <tr style="height: 25px">
                    <th scope="col" width="5%">{{ 'Nro' }}</th>
                    <th scope="col" width="20%" class="align-left">{{ 'pequiven_seip.headers.location'|trans }}</th>
                    <th scope="col" width="25%" class="align-left">{{ 'pequiven_seip.headers.gerencia'|trans }}</th>
                    <th scope="col" width="25%" class="align-left">{{ 'pequiven_seip.headers.gerenciaSecond'|trans }}</th>
                    <th scope="col" width="10%" class="align-center">{{ 'pequiven_seip.headers.rol'|trans }}</th>
                    <th scope="col" width="15%" class="align-right">{{ 'pequiven_seip.headers.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% set local = configuration.localizations|length %}
                {% if (local>0) %}
                    {% for localization in configuration.localizations %}
                        {% set idLocalization = 'localization-' ~ localization.id %}
                        <tr style="height: 40px" id="{{ idLocalization }}">
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ localization.location }}</td>
                            <td>{{ localization.gerencia }}</td>
                            <td>{{ localization.gerenciaSecond }}</td>
                            <td>{{ localization.rol }}</td>
                            <td class="align-right vertical-center">
                                <span class="button-group compact">
                                    <a href="{{ path('pequiven_localization_update',{id:localization.id}) }}" class="button icon-pencil">{{ 'pequiven_seip.actions.update'|trans }}</a>
                                    {{ buttons.delete_mini(path('pequiven_localization_delete',{id:localization.id}),null,idLocalization) }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" style="height: 50px; text-align: center; vertical-align: middle; font-weight: bold; color: red; font-size: large;">
                            No Existen Localizaciones Agregadas.
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

    </div>

</div>