{% trans_default_domain 'PequivenSEIPBundle' %}

<div class="block">
    <div class="block-title">
        <h3>Pre-Planificación</h3>
        <div class="button-group absolute-right compact">
            <a href="{{ path('pequiven_pre_planning_configuration_create',{'userId':user.id}) }}" class="button icon-list-add">Añadir</a>
        </div>
    </div>

    <div class="with-padding">
        <table class="simple-table responsive-table" id="sorting-example2" width="100%">
            <thead>
                <tr style="height: 25px"> 
                    <th scope="col" width="40%" class="align-left">{{ 'pequiven_seip.headers.gerencia'|trans }}</th>
                    <th scope="col" width="40%" class="align-left">{{ 'pequiven_seip.headers.gerenciaSecond'|trans }}</th>
                    <th scope="col" width="20%" class="align-right">{{ 'pequiven_seip.headers.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% set pre_planning_configuration = configuration.prePlanningConfiguration %}
                {% if (pre_planning_configuration) %}
                    {% set idLocalization = 'pre_planning_configuration-' ~ pre_planning_configuration.id %}
                    <tr style="height: 40px" id="{{ idLocalization }}">
                        <td class="align-left">{{ pre_planning_configuration.gerencia }}</td>
                        <td class="align-left">{{ pre_planning_configuration.gerenciaSecond }}</td>
                        <td class="align-right vertical-center">
                            <span class="button-group compact">
                                <a href="{{ path('pequiven_pre_planning_configuration_update',{id:pre_planning_configuration.id}) }}" class="button icon-pencil">{{ 'pequiven_seip.actions.update'|trans }}</a>
                                {{ buttons.delete_mini(path('pequiven_pre_planning_configuration_delete',{id:pre_planning_configuration.id}),null,idLocalization) }}
                            </span>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" style="height: 50px; text-align: center; vertical-align: middle; font-weight: bold; color: red; font-size: large;">
                            No Existen Configuraciones Agregadas.
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>