{#% extends "::base.html.twig" %#}
{% extends "PequivenSEIPBundle:Template:Developer/Common/tableFormat1.html.twig" %}

{% trans_default_domain 'PequivenMasterBundle' %}

{% block title %}- {{ 'pequiven_master.gerencia_first'|trans }}{% endblock %}


{% set route_index = 'pequiven_master_menu_list_gerenciaFirst' %}
{% if allow_create is not defined %}
    {% set allow_create = false %}
{% endif %}
{% set index = 0 %}

{% block before_body %}
    {{ contentHeader(
        { ( path(route_index) ): ('pequiven_master.gerencia_first'|trans ) },
         ('pequiven_master.list'|trans)
    ) }}
{% endblock %}

{% block body %}
    <div ng-controller="TableFormatController">
        <div ng-controller="TableGerenciaController">
        
            {#<details class="details margin-bottom" open="">
                <summary role="button" aria-expanded="true">
                    {{ 'pequiven.filters'|trans({},'messages') }}
                </summary>
                <div class="with-padding">
                    <div class="columns">
                        <div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                            <label class="bold">{{ 'pequiven_master.filters.managementSystem'|trans }}</label>
                            <br/>
                            <div class="with-mid-padding" ng-init="" >
                                <select class="select2 input-xlarge" id="selectComplejos" ng-model="model.managementSystem" ng-init="managementSystems = {{ managementSystems|serialize }}" ng-options="value as value.description for (key,value) in managementSystems" >
                                    <option value=''></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </details>#}
            <div loading-container="tableParams.settings().$loading">
                <table ng-table="tableParams" show-filter="true" template-pagination="custom/pager"  template-header="custom/header" api-data-url="{{ path('gerenciaFirstList',{_format:'json'}) }}" export-csv="csv" class="table table-responsive table-extra-info">
                    <tr ng-repeat="result in $data | filter:tableParams.search " data="{$ result|json $}">
                        <td data-title="'{{ 'form.complejo'|trans }}'" filter="{ 'complejo': 'text' }" >
                            <a href="{$ result._links.self.href $}">{$result.complejo.description$}</a>
                        </td>
                        <td data-title="'{{ 'form.gerencia_first'|trans }}'" sortable="'description'" filter="{ 'description': 'text' }" >
                            <a href="{$ result._links.self.href $}">{$result.description$}</a>
                        </td>
                        <td>
                            <a href="{$ urlExport $}" ng-click="exportToXLS(result.id)" class="button">
                                <span class="button-icon"><span class="icon-download"></span></span>
                                {{ 'pequiven_seip.buttons.export_xls'|trans({},'PequivenSEIPBundle') }}
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    
    <script type="text/javascript">
        function getTableExtraInfo(data)
            {
                var response = '';
                response =  '<strong>{{ 'pequiven_master.popup.description'|trans }}:</strong> ' + data.description + '<br>' +
                            '<strong>{{ 'pequiven_master.popup.complejo'|trans }}:</strong> ' + data.complejo.description + '<br>'
                            ;
                if(data.vinculante == 1){
                    response = response + '<strong>{{ 'pequiven_master.popup.vinculatedToZIV' | trans }}</strong> ' + '<br>'
                }
                
                return response;
            }
            $(document).ready(function(){
                $('.select2').select2({
                    allowClear: true
                });
            });
    </script>
    
{% endblock %}
