{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block body -%}
    <form ng-controller="UserController" action="{{ path('pequiven_gerenciafirst_update',{id:gerenciafirst.id} ) }}" method="POST">
    
        <input type="hidden" name="_method" value="PUT">
        <div class="field-block button-height">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="field-block button-height">
            {{ form_label(form.abbreviation) }}
            {{ form_widget(form.abbreviation) }}
            {{ form_errors(form.abbreviation) }}
        </div>
        <div class="field-block button-height">
            {{ form_label(form.modular) }}
            {{ form_widget(form.modular) }}
            {{ form_errors(form.modular) }}
        </div>
        <div class="field-block button-height">
            {{ form_label(form.vinculante) }}
            {{ form_widget(form.vinculante) }}
            {{ form_errors(form.vinculante) }}
        </div>
        <div class="field-block button-height">
            {{ form_label(form.enabled) }}
            {{ form_widget(form.enabled) }}
            {{ form_errors(form.enabled) }}
        </div>
        <div class="field-block button-height">
            {{ form_label(form.complejo) }}
            {{ form_widget(form.complejo) }}
            {{ form_errors(form.complejo) }}
        </div>
        <div class="field-block button-height">
            {{ form_label(form.direction) }}
            {{ form_widget(form.direction) }}
            {{ form_errors(form.direction) }}
        </div>
        <div class="field-block button-height">
            <label>Revisores</label>
            <div id="gerencia_configuration_arrangementProgramUserToRevisers" style='width: 270px' ng-init="setPreselectedData('gerencia_configuration_arrangementProgramUserToRevisers',{{ gerenciafirst.configuration.arrangementProgramUserToRevisers|serialize }},'arrangementProgramUserToRevisers')"></div>
            <input ng-repeat="user in model.arrangementProgramUserToRevisers" type="hidden" name="pequiven_masterbundle_gerencia[configuration][arrangementProgramUserToRevisers][{$ $index $}]" value="{$ user.id $}" />
            {#{{ form_label(form.configuration.arrangementProgramUserToRevisers) }}
            {{ form_widget(form.configuration.arrangementProgramUserToRevisers) }}
            {{ form_errors(form.configuration.arrangementProgramUserToRevisers) }}#}
        </div>
        <div class="field-block button-height">
            <label>Aprueban tacticos</label>
            <div id="gerencia_configuration_arrangementProgramUsersToApproveTactical" style='width: 270px' ng-init="setPreselectedData('gerencia_configuration_arrangementProgramUsersToApproveTactical',{{ gerenciafirst.configuration.arrangementProgramUsersToApproveTactical|serialize }},'arrangementProgramUsersToApproveTactical')" ></div>
            <input ng-repeat="user in model.arrangementProgramUsersToApproveTactical" type="hidden" name="pequiven_masterbundle_gerencia[configuration][arrangementProgramUsersToApproveTactical][{$ $index $}]" value="{$ user.id $}" />
            {#{{ form_label(form.configuration.arrangementProgramUsersToApproveTactical) }}
            {{ form_widget(form.configuration.arrangementProgramUsersToApproveTactical) }}
            {{ form_errors(form.configuration.arrangementProgramUsersToApproveTactical) }}#}
        </div>
        <div class="field-block button-height">
            <label>Aprueban operativos</label>
            <div id="gerencia_configuration_arrangementProgramUsersToApproveOperative"  style='width: 270px' ng-init="setPreselectedData('gerencia_configuration_arrangementProgramUsersToApproveOperative',{{ gerenciafirst.configuration.arrangementProgramUsersToApproveOperative|serialize }},'arrangementProgramUsersToApproveOperative')"></div>
            <input ng-repeat="user in model.arrangementProgramUsersToApproveOperative" type="hidden" name="pequiven_masterbundle_gerencia[configuration][arrangementProgramUsersToApproveOperative][{$ $index $}]" value="{$ user.id $}" />
            {#{{ form_label(form.configuration.arrangementProgramUsersToApproveOperative) }}
            {{ form_widget(form.configuration.arrangementProgramUsersToApproveOperative) }}
            {{ form_errors(form.configuration.arrangementProgramUsersToApproveOperative) }}#}
        </div>
        <div class="field-block button-height">
            <label>Notifican programas</label>
            <div id="gerencia_configuration_arrangementProgramUsersToNotify" style='width: 270px' ng-init="setPreselectedData('gerencia_configuration_arrangementProgramUsersToNotify',{{ gerenciafirst.configuration.arrangementProgramUsersToNotify|serialize }},'arrangementProgramUsersToNotify')"></div>
            <input ng-repeat="user in model.arrangementProgramUsersToNotify" type="hidden" name="pequiven_masterbundle_gerencia[configuration][arrangementProgramUsersToNotify][{$ $index $}]" value="{$ user.id $}" />
            {#{{ form_label(form.configuration.arrangementProgramUsersToNotify) }}
            {{ form_widget(form.configuration.arrangementProgramUsersToNotify) }}
            {{ form_errors(form.configuration.arrangementProgramUsersToNotify) }}#}
        </div>
        {{ form_widget(form._token) }}
        
        
        {{ actions.update() }}
    </form>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            var parametersUsers = {
                minimumInputLength: 1,
                multiple: true,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: '{{ path('pequiven_user_search') }}',
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            query: term, // search term
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data };
                    },
                    cache: true
                },
                initSelection: function(element, callback){
                },
                formatResult: responsiblesFormatResult, // omitted for brevity, see the source of this page
                formatSelection: responsiblesFormatResult,  // omitted for brevity, see the source of this page
                escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
            };
            
            $("#gerencia_configuration_arrangementProgramUserToRevisers").select2(parametersUsers);
            $("#gerencia_configuration_arrangementProgramUsersToApproveTactical").select2(parametersUsers);
            $("#gerencia_configuration_arrangementProgramUsersToApproveOperative").select2(parametersUsers);
            $("#gerencia_configuration_arrangementProgramUsersToNotify").select2(parametersUsers);
        });
    </script>
{% endblock javascript %}