{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block body -%}
    {{ form_errors(form) }}
    <form ng-controller="UserController" action="{{ path('pequiven_gerenciafirst_update',{id:gerenciafirst.id} ) }}" method="POST">
    
        
        <input type="hidden" name="_method" value="PUT">
        <div class="field-block button-height">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="field-block button-height">
            {{ form_label(form.abbreviation) }}
            {{ form_widget(form.abbreviation) }}
            {{ form_errors(form.abbreviation) }}
        </div>
        <div class="field-block button-height">
            {{ form_label(form.modular) }}
            {{ form_widget(form.modular) }}
            {{ form_errors(form.modular) }}
        </div>
        <div class="field-block button-height">
            {{ form_label(form.vinculante) }}
            {{ form_widget(form.vinculante) }}
            {{ form_errors(form.vinculante) }}
        </div>
        <div class="field-block button-height">
            {{ form_label(form.enabled) }}
            {{ form_widget(form.enabled) }}
            {{ form_errors(form.enabled) }}
        </div>
        <div class="field-block button-height">
            {{ form_label(form.complejo) }}
            {{ form_widget(form.complejo) }}
            {{ form_errors(form.complejo) }}
        </div>
        <div class="field-block button-height">
            {{ form_label(form.direction) }}
            {{ form_widget(form.direction) }}
            {{ form_errors(form.direction) }}
        </div>
        <div class="field-block button-height">
            {{ form_label(form.gerenciaSecondVinculants) }}
            {{ form_widget(form.gerenciaSecondVinculants) }}
            {{ form_errors(form.gerenciaSecondVinculants) }}
        </div>
        <div class="field-block button-height">
            {{ form_label(form.gerenciaSecondSupports) }}
            {{ form_widget(form.gerenciaSecondSupports) }}
            {{ form_errors(form.gerenciaSecondSupports) }}
        </div>
        <div class="field-block button-height">
            <label>Revisores #<b>{$ model.arrangementProgramUserToRevisers.length $}</b></label>
            <div id="gerencia_configuration_arrangementProgramUserToRevisers" style='width: 270px' ng-init="setPreselectedData('gerencia_configuration_arrangementProgramUserToRevisers',{{ gerenciafirst.configuration.arrangementProgramUserToRevisers|serialize('json',serialization_context().setGroups(['id','api_list','sonata_api_read'])) }},'arrangementProgramUserToRevisers')"></div>
            <input ng-repeat="user in model.arrangementProgramUserToRevisers" type="hidden" name="pequiven_masterbundle_gerencia[configuration][arrangementProgramUserToRevisers][]" value="{$ user.id $}" />
            {#{{ form_label(form.configuration.arrangementProgramUserToRevisers) }}
            {{ form_widget(form.configuration.arrangementProgramUserToRevisers) }}#}
            {% if form.configuration.arrangementProgramUserToRevisers is defined %}
                {{ form_errors(form.configuration.arrangementProgramUserToRevisers) }}
            {% endif %}
        </div>
        <div class="field-block button-height">
            <label>Aprueban tacticos #<b>{$ model.arrangementProgramUsersToApproveTactical.length  $}</b></label>
            <div id="gerencia_configuration_arrangementProgramUsersToApproveTactical" style='width: 270px' ng-init="setPreselectedData('gerencia_configuration_arrangementProgramUsersToApproveTactical',{{ gerenciafirst.configuration.arrangementProgramUsersToApproveTactical|serialize('json',serialization_context().setGroups(['id','api_list','sonata_api_read'])) }},'arrangementProgramUsersToApproveTactical')" ></div>
            <input ng-repeat="user in model.arrangementProgramUsersToApproveTactical" type="hidden" name="pequiven_masterbundle_gerencia[configuration][arrangementProgramUsersToApproveTactical][]" value="{$ user.id $}" />
            {#{{ form_label(form.configuration.arrangementProgramUsersToApproveTactical) }}
            {{ form_widget(form.configuration.arrangementProgramUsersToApproveTactical) }}#}
            {% if form.configuration.arrangementProgramUsersToApproveTactical is defined %}
                {{ form_errors(form.configuration.arrangementProgramUsersToApproveTactical) }}
            {% endif %}
        </div>
        <div class="field-block button-height">
            <label>Aprueban operativos #<b>{$ model.arrangementProgramUsersToApproveOperative.length $}</b></label>
            <div id="gerencia_configuration_arrangementProgramUsersToApproveOperative"  style='width: 270px' ng-init="setPreselectedData('gerencia_configuration_arrangementProgramUsersToApproveOperative',{{ gerenciafirst.configuration.arrangementProgramUsersToApproveOperative|serialize('json',serialization_context().setGroups(['id','api_list','sonata_api_read'])) }},'arrangementProgramUsersToApproveOperative')"></div>
            <input ng-repeat="user in model.arrangementProgramUsersToApproveOperative" type="hidden" name="pequiven_masterbundle_gerencia[configuration][arrangementProgramUsersToApproveOperative][]" value="{$ user.id $}" />
            {#{{ form_label(form.configuration.arrangementProgramUsersToApproveOperative) }}
            {{ form_widget(form.configuration.arrangementProgramUsersToApproveOperative) }}#}
            {% if form.configuration.arrangementProgramUsersToApproveTactical is defined %}
                {{ form_errors(form.configuration.arrangementProgramUsersToApproveTactical) }}
            {% endif %}
        </div>
        <div class="field-block button-height">
            <label>Notifican programas #<b>{$ model.arrangementProgramUsersToNotify.length $}</b></label>
            <div id="gerencia_configuration_arrangementProgramUsersToNotify" style='width: 270px' ng-init="setPreselectedData('gerencia_configuration_arrangementProgramUsersToNotify',{{ gerenciafirst.configuration.arrangementProgramUsersToNotify|serialize('json',serialization_context().setGroups(['id','api_list','sonata_api_read'])) }},'arrangementProgramUsersToNotify')"></div>
            <input ng-repeat="user in model.arrangementProgramUsersToNotify" type="hidden" name="pequiven_masterbundle_gerencia[configuration][arrangementProgramUsersToNotify][]" value="{$ user.id $}" />
            {#{{ form_label(form.configuration.arrangementProgramUsersToNotify) }}
            {{ form_widget(form.configuration.arrangementProgramUsersToNotify) }}#}
            {% if form.configuration.arrangementProgramUsersToNotify is defined %}
                {{ form_errors(form.configuration.arrangementProgramUsersToNotify) }}
            {% endif %}
        </div>
        <div class="field-block button-height">
            <label>Revisores Hallazgos SIG #<b>{$ model.arrangementProgramSigUsersToReviser.length $}</b></label>
            <div id="gerencia_configuration_arrangementProgramSigUsersToReviser" style='width: 270px' ng-init="setPreselectedData('gerencia_configuration_arrangementProgramSigUsersToReviser',{{ gerenciafirst.configuration.arrangementProgramSigUsersToReviser|serialize('json',serialization_context().setGroups(['id','api_list','sonata_api_read'])) }},'arrangementProgramSigUsersToReviser')"></div>
            <input ng-repeat="user in model.arrangementProgramSigUsersToReviser" type="hidden" name="pequiven_masterbundle_gerencia[configuration][arrangementProgramSigUsersToReviser][]" value="{$ user.id $}" />
            {#{{ form_label(form.configuration.arrangementProgramUserToRevisers) }}
            {{ form_widget(form.configuration.arrangementProgramUserToRevisers) }}#}
            {% if form.configuration.arrangementProgramSigUsersToReviser is defined %}
                {{ form_errors(form.configuration.arrangementProgramSigUsersToReviser) }}
            {% endif %}
        </div>
        <div class="field-block button-height">
            <label>Aprobadores Hallazgos SIG #<b>{$ model.arrangementProgramSigUsersToApprove.length $}</b></label>
            <div id="gerencia_configuration_arrangementProgramSigUsersToApprove" style='width: 270px' ng-init="setPreselectedData('gerencia_configuration_arrangementProgramSigUsersToApprove',{{ gerenciafirst.configuration.arrangementProgramSigUsersToApprove|serialize('json',serialization_context().setGroups(['id','api_list','sonata_api_read'])) }},'arrangementProgramSigUsersToApprove')"></div>
            <input ng-repeat="user in model.arrangementProgramSigUsersToApprove" type="hidden" name="pequiven_masterbundle_gerencia[configuration][arrangementProgramSigUsersToApprove][]" value="{$ user.id $}" />
            {#{{ form_label(form.configuration.arrangementProgramUserToRevisers) }}
            {{ form_widget(form.configuration.arrangementProgramUserToRevisers) }}#}
            {% if form.configuration.arrangementProgramSigUsersToApprove is defined %}
                {{ form_errors(form.configuration.arrangementProgramSigUsersToApprove) }}
            {% endif %}
        </div>
        <div class="field-block button-height">
            <label>Notificadores Hallazgos SIG #<b>{$ model.arrangementProgramSigUsersToNotify.length $}</b></label>
            <div id="gerencia_configuration_arrangementProgramSigUsersToNotify" style='width: 270px' ng-init="setPreselectedData('gerencia_configuration_arrangementProgramSigUsersToNotify',{{ gerenciafirst.configuration.arrangementProgramSigUsersToNotify|serialize('json',serialization_context().setGroups(['id','api_list','sonata_api_read'])) }},'arrangementProgramSigUsersToNotify')"></div>
            <input ng-repeat="user in model.arrangementProgramSigUsersToNotify" type="hidden" name="pequiven_masterbundle_gerencia[configuration][arrangementProgramSigUsersToNotify][]" value="{$ user.id $}" />
            {#{{ form_label(form.configuration.arrangementProgramUserToRevisers) }}
            {{ form_widget(form.configuration.arrangementProgramUserToRevisers) }}#}
            {% if form.configuration.arrangementProgramSigUsersToNotify is defined %}
                {{ form_errors(form.configuration.arrangementProgramSigUsersToNotify) }}
            {% endif %}
        </div>
        {{ form_widget(form._token) }}
        
        {{ actions.update() }}
    </form>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            var parametersUsers = {
                minimumInputLength: 1,
                multiple: true,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: '{{ path('pequiven_user_search') }}',
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            query: term, // search term
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data };
                    },
                    cache: true
                },
                initSelection: function(element, callback){
                },
                formatResult: responsiblesFormatResultDetails, // omitted for brevity, see the source of this page
                formatSelection: responsiblesFormatResultDetails,  // omitted for brevity, see the source of this page
                escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
            };
            
            $("#gerencia_configuration_arrangementProgramUserToRevisers").select2(parametersUsers);
            $("#gerencia_configuration_arrangementProgramUsersToApproveTactical").select2(parametersUsers);
            $("#gerencia_configuration_arrangementProgramUsersToApproveOperative").select2(parametersUsers);
            $("#gerencia_configuration_arrangementProgramUsersToNotify").select2(parametersUsers);
            $("#gerencia_configuration_arrangementProgramSigUsersToReviser").select2(parametersUsers);
            $("#gerencia_configuration_arrangementProgramSigUsersToApprove").select2(parametersUsers);
            $("#gerencia_configuration_arrangementProgramSigUsersToNotify").select2(parametersUsers);
            $("#pequiven_masterbundle_gerencia_gerenciaSecondVinculants").select2();
            $("#pequiven_masterbundle_gerencia_gerenciaSecondSupports").select2();
        });
    </script>
{% endblock javascript %}