{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutSIG.html.twig' %}

{% block body %}
{% trans_default_domain 'PequivenIndicatorBundle' %}
    
        
        <form method="POST" id="form_trend_evolution">
            <fieldset class="fieldset fields-list">
                <legend class="legend">{{ 'sig.trend_analysis'|trans ({}, 'messages') }}</legend>
                {% include 'PequivenSIGBundle:Template:set_month.html.twig' %}                                        
                <div class="field-block button-height" >
                    {# {{ form_label(form) }} #}
                    {{ form_widget(form) }}
                    {{ form_errors(form) }}
                </div>

            {{ form_rest(form) }}
            
            </fieldset>
        </form>       
{% endblock %}