{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutSIG.html.twig' %}


{% block javascripts_base %}
    {{ parent() }}
    <script src="{{  asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.input.js') }}"></script>
{% endblock javascripts_base %}

{% block body %}
{% trans_default_domain 'PequivenIndicatorBundle' %}
    
    <!--<div ng-controller="TableFormatController">    
      <div ng-controller="IndicatorSigEvolutionController">
     	<div ng-controller="EvolutionIndicatorFilters"> -->

        {% if code %}
           <input type="hidden" id="complejo" value="{{ code.complejo }}">
           <input type="hidden" id="gerencia" value="{{ code.gerencia }}">
           <input type="hidden" id="cant" value="{{ code.cant }}">
        {% endif %}
    
        <form method="POST" id="{{ config["id"] }}">
            <fieldset class="fieldset fields-list" open="">
                <legend class="legend">{{ 'sig.action_plan'|trans ({}, 'messages') }}</legend>
            
            {% if form %}
            
                <div class="field-block button-height" >
                            <label class="label">Mes: </label>
                            <select id="select1" onclick="cargaData();" class="select2 input-large form-control">
                                <option value="01">Enero</option>
                                <option value="02">Febrero</option>
                                <option value="03">Marzo</option>
                                <option value="04">Abril</option>
                                <option value="05">Mayo</option>
                                <option value="06">Junio</option>
                                <option value="07">Julio</option>
                                <option value="08">Agosto</option>
                                <option value="09">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        <br/>
                </div>
            {% endif %}

            {% set indicator = indicator.id %}

                    {# fin carga select #}
                    <!-- Ref -->
            {% if form %}
            {{ form_errors(form) }}         


                    <div class="field-block button-height" >
                        {{ form_label(form.action) }}
                        {{ form_widget(form.action) }}
                    </div>

                    <div class="field-block button-height" >
                        {{ form_label(form.indicatorAction) }}
                        {{ form_widget(form.indicatorAction) }}
                    </div>

                    <div class="field-block button-height" >
                        {{ form_label(form.dateStart) }}
                        {{ form_widget(form.dateStart) }}
                    </div>

                    <div class="field-block button-height" >
                        {{ form_label(form.dateEnd) }}
                        {{ form_widget(form.dateEnd) }}
                    </div>

                    <div class="field-block button-height" >
                        {{ form_label(form.evolutionCause) }}
                        {{ form_widget(form.evolutionCause) }}
                    </div>
            {{ form_rest(form) }}
                    <div class="field-block button-height" >
                        {{ form_widget(form.ref) }}
                    </div>
            {% endif %}    
            {{ form_errors(form_value) }}                     
                    <div class="field-block button-height" >                    
                        {{ form_label(form_value.advance) }}                        
                        {{ form_widget(form_value.advance) }}
                    </div>

                    <div class="field-block button-height" >                    
                        {{ form_label(form_value.observations) }}                        
                        {{ form_widget(form_value.observations) }}
                    </div>
                    {# <div class="field-block button-height" > #}
                        {# {{ form_label(form.ref) }} #}
                    {# </div> #}
            {{ form_rest(form_value) }}

            </div>

            
            </form>       
        </fieldset>
    </details> 
{% endblock %}