{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutSIG.html.twig' %}

{% block body %}
{% trans_default_domain 'PequivenIndicatorBundle' %}
    
        
        <form method="POST" id="form_trend_evolution">
            <fieldset class="fieldset fields-list">
                <legend class="legend">{{ 'sig.trend_analysis'|trans ({}, 'messages') }}</legend>
                <div class="field-block button-height" >
                            <label class="label">Mes de Carga: </label>
                            <select id="evolutiontrend_month"  name="evolutiontrend[month]" class="select2 input-large form-control">
                                <option value="">Seleccione...</option>
                                <option value="01">Enero</option>
                                <option value="02">Febrero</option>
                                <option value="03">Marzo</option>
                                <option value="04">Abril</option>
                                <option value="05">Mayo</option>
                                <option value="06">Junio</option>
                                <option value="07">Julio</option>
                                <option value="08">Agosto</option>
                                <option value="09">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        <br/>
                </div>
                    <div class="field-block button-height" >
                        {# {{ form_label(form) }} #}
                        {{ form_widget(form) }}
                        {{ form_errors(form) }}
                    </div>

            {{ form_rest(form) }}
            
            </fieldset>
        </form>       
{% endblock %}