{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutSIG.html.twig' %}

{% block body %}
{% trans_default_domain 'PequivenIndicatorBundle' %}
    
    <!--<div ng-controller="TableFormatController">    
      <div ng-controller="IndicatorSigEvolutionController">
     	<div ng-controller="EvolutionIndicatorFilters"> -->

        {% if code %}
           <input type="hidden" id="complejo" value="{{ code.complejo }}">
           <input type="hidden" id="gerencia" value="{{ code.gerencia }}">
           <input type="hidden" id="cant" value="{{ code.cant }}">
        {% endif %}
    
        <form method="POST" id="{{ config["id"] }}">
            <fieldset class="fieldset fields-list" open="">
                <legend class="legend">{{ 'sig.action_plan'|trans ({}, 'messages') }}</legend>
            
            {% if form %}
            
                <div class="field-block button-height" >
                            <label class="label">Mes: </label>
                            <select id="select1" onclick="cargaData();" class="select2 input-large form-control">
                                <option value="01">Enero</option>
                                <option value="02">Febrero</option>
                                <option value="03">Marzo</option>
                                <option value="04">Abril</option>
                                <option value="05">Mayo</option>
                                <option value="06">Junio</option>
                                <option value="07">Julio</option>
                                <option value="08">Agosto</option>
                                <option value="09">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        <br/>
                </div>
            {% endif %}

            {% set indicator = indicator.id %}

                    {# fin carga select #}
            <div class="field-block button-height" >
                        <!-- Ref -->
                        {# {{ form_label(form) }} #}
                        {% if form %}

                            {{ form_widget(form) }}

                        {% endif %}                        

                        {{ form_widget(form_value) }}
            </div>
            
            </form>
       <!-- </div>
    </div>-->
</fieldset>

        </details> 
{% endblock %}