{# empty Twig template #}
{% trans_default_domain 'PequivenSEIPBundle' %}
<style>
    .spacing{
        border-collapse:separate;
        border-spacing: 4px;
    }
    .rounded{
        border-radius: 50px 50px 50px 50px;
        -moz-border-radius: 50px 50px 50px 50px;
        -webkit-border-radius: 50px 50px 50px 50px;
    }
    .white-gradient {
        background-color: #E6E6E6;             
        font-size: 8pt;
        font-weight: bold;                
    }       
    .white-gradient-th{
        background-color: #E6E6E6;                
        font-size: 8pt;
        font-weight: bold;         
    }
    .observation{
        font-family: sans-serif;
        font-size: 8pt;
        color: #6E6E6E;
    }
    td{
        font-family: sans-serif;
        font-size: 8pt;  
    }
    .resultgreen{
        color: #04B404; 
        font-weight: bold;
    }
    .resultred{
        color: #FF0000;        
        font-weight: bold;
    }
    .redPenalty{        
        background-color: #F5A9A9;            
    }

    .tableBordered{
        padding: 2px;
        border: #000000 7px solid;
    }
    .header{
        text-align: left;
        font-weight: bold;
    }    
    .right{
        text-align: right;
    }
    .center{
        text-align: center;
    }

</style>
{% block body %}
    <table class="spacing">
        <tr>
            <td class="white-gradient-th">{{ 'Periodo'|trans }}</td>
            <td class="white-gradient-th">{{ 'pequiven_seip.plant_report.plant_report'|trans }}</td>
            <td class="white-gradient-th">{{ 'Production line'|trans }}</td>
            <td class="white-gradient-th">{{ 'Product'|trans }}</td>
        </tr>
        <tr>
            <td class="center">{{ product_report.period }}</td>
            <td>{{product_report.plantReport}}</td>
            <td>{{product_report.product.productionLine}}</td>
            <td>{{ product_report.product }}</td>
        </tr>
        <tr>
            <td class="white-gradient-th">{{ 'Product unit'|trans }}</td>
            <td class="white-gradient-th">{{ 'Factor Conversion'|trans }}</td>
            <td class="white-gradient-th">{{ 'Formula Factor Conversion '|trans }}</td>
            <td class="white-gradient-th">{{ 'Is raw material'|trans }}</td>
        </tr>
        <tr>
            <td class="center">{{ product_report.product.productUnit }}</td>
            <td class="center">
                {% for fcv in  product_report.factorConversionValue %}
                    {{ fcv }}
                {% else %}
                    N/A
                {% endfor %}
            </td>
            <td class="center">
                {% for fcv in  product_report.factorConversionValue %}
                    {{ fcv.factorConversion.productUnitTo }} = {{ fcv.factorConversion.formula }}
                {% else %}
                    N/A
                {% endfor %}
            </td>
            <td class="center">{{ product_report.product.isRawMaterial|render_yes_no }}</td>
        </tr>
        <tr>            
            <td class="white-gradient-th">{{ 'Enabled'|trans }}</td>
            <td class="white-gradient-th">{{ 'Type product'|trans }}</td>
            <td class="white-gradient-th">{{ 'Company'|trans }}</td>
            <td class="white-gradient-th">{{ 'Location'|trans }}</td>
        </tr>
        <tr>
            <td class="center">{{ product_report.enabled|render_yes_no }}</td>
            <td class="center">{{ product_report.product.typeProductLabel | trans }}</td>
            <td>{{ product_report.plantReport.company }}</td>
            <td>{{ product_report.plantReport.location }}</td>
        </tr>
        <tr>
            <td class="white-gradient-th">{{ 'Entity'|trans }}</td>
            <td class="white-gradient-th" colspan="3">{{ 'Raw material'|trans }}</td>
        </tr>
        <tr>
            <td>{{ product_report.plantReport.entity }}</td>            
            <td colspan="3">
                {% for rawMaterial in product_report.product.rawMaterials %}
                    {{ rawMaterial }}
                    {% if loop.last %}
                        .
                    {% else %}
                        ,
                    {% endif %}
                {% else %}
                    {{ "empty.no_raw_material"|trans }}
                {% endfor %}
            </td>          
        </tr>
    </table>

    {% set factor = false %}
    {% set colspan = "" %}
    {% if factorConversionService.hasFactorConversion(product_report)  %}
        {% set factor = true %}   
        {% set colspan = "2" %}
    {% endif %}

    {%if factor %}
        {% set cols = 2 %}
        {% set colspan = 5 %}
    {%else%}
        {% set cols = 1 %}
        {% set colspan = 3 %}
    {%endif%}
    <br>


    <br>
    {% if factor %}
        {% set productPlannings = product_report.getProductPlanningsGross %}
        <table class="spacing">
            <tr>
                <th colspan="{{colspan}}" class="white-gradient-th center">Presupuesto de Producción Bruta</th>
            </tr>
            <tr>
                <td class="white-gradient-th" width="20%">{{ 'Month'|trans }}</td>
                <td class="white-gradient-th center" colspan="{{ cols }}" width="40%">Presupuesto de Producción del Mes</td>                                
                <td class="white-gradient-th center" colspan="{{ cols }}" width="40%">Capacidad de Producción Diaria</td>      
            </tr>
            {% set totalMonth = 0 %}
            {% set totalDailyProductionCapacity = 0 %}
            {% set productUnit = product_report.product.productUnit %}
            {% set totalFactorMonth = 0.0 %}
            {% set  totalFactorDaily = 0.0 %}
            {% for productPlanning in productPlannings %}
                <tr>
                    <td>{{ loop.index }} - 
                        {{ monthLabels[productPlanning.month]|trans }}
                    </td>
                    <td  class="right">
                        {{ productPlanning.totalMonth|myNumberFormat }}&nbsp;{{ productUnit }}
                        {% set totalMonth = totalMonth + productPlanning.totalMonth %}
                    </td>
                    {% if factor %}
                        <td class="right">
                            {% set factorMonth =  factorConversionService.calculateFormulaValueFromFactor(productPlanning.totalMonth,product_report) %}
                            {{ factorMonth|myNumberFormat }} {{ factorConversionService.unitToFactorConversion(product_report) }}
                            {% set totalFactorMonth = totalFactorMonth + factorMonth %}
                        </td> 
                    {% endif %}
                    <td class="right">
                        {{ productPlanning.dailyProductionCapacity|myNumberFormat }}&nbsp;{{ productUnit }}
                        {% set totalDailyProductionCapacity = totalDailyProductionCapacity + productPlanning.dailyProductionCapacity %}
                    </td>
                    {% if factor %}
                        <td class="right">
                            {% set factorDaily = factorConversionService.calculateFormulaValueFromFactor(productPlanning.dailyProductionCapacity,product_report) %}
                            {{ factorDaily|myNumberFormat }} {{ factorConversionService.unitToFactorConversion(product_report) }}
                            {% set totalFactorDaily = totalFactorDaily + factorDaily %}
                        </td> 
                    {% endif %}                               
                </tr>
            {% else %}
                <tr >
                    <td colspan="{{ colspan }}" class="white-gradient-th">
                        {{ "empty.product_planning"|trans }}
                    </td>
                </tr>
            {% endfor %}

            <tr style="font-weight: bold;">
                <td >{{ 'Totals'|trans }}</td>
                <td  class="right">{{ totalMonth|myNumberFormat ~" "~ productUnit }}</td>
                {% if factor %}
                    <td  class="right">{{ totalFactorMonth|myNumberFormat ~" "~ factorConversionService.unitToFactorConversion(product_report) }} </td>
                {% endif %}
                <td  class="right">{{ totalDailyProductionCapacity|myNumberFormat ~" "~ productUnit }}</td>
                {% if factor %}
                    <td  class="right">{{ totalFactorDaily|myNumberFormat ~" "~ factorConversionService.unitToFactorConversion(product_report) }}</td>
                {% endif %}                           
            </tr>        
        </table>
        <br><br>
        {% set productPlannings = product_report.getProductPlanningsNet %}
        <table class="spacing">
            <tr>
                <th colspan="{{colspan}}" class="white-gradient-th center">Presupuesto de Producción Neta</th>
            </tr>
            <tr>
                <td class="white-gradient-th" width="20%">{{ 'Month'|trans }}</td>
                <td class="white-gradient-th center" colspan="{{ cols }}" width="40%">Presupuesto de Producción del Mes</td>                                
                <td class="white-gradient-th center" colspan="{{ cols }}" width="40%">Capacidad de Producción Diaria</td>      
            </tr>

            {% set totalMonth = 0 %}
            {% set totalDailyProductionCapacity = 0 %}
            {% set productUnit = product_report.product.productUnit %}
            {% set totalFactorMonth = 0.0 %}
            {% set  totalFactorDaily = 0.0 %}
            {% for productPlanning in productPlannings %}
                <tr>
                    <td>{{ loop.index }} - 
                        {{ monthLabels[productPlanning.month]|trans }}
                    </td>
                    <td  class="right">
                        {{ productPlanning.totalMonth|myNumberFormat }}&nbsp;{{ productUnit }}
                        {% set totalMonth = totalMonth + productPlanning.totalMonth %}
                    </td>
                    {% if factor %}
                        <td class="right">
                            {% set factorMonth =  factorConversionService.calculateFormulaValueFromFactor(productPlanning.totalMonth,product_report) %}
                            {{ factorMonth|myNumberFormat }} {{ factorConversionService.unitToFactorConversion(product_report) }}
                            {% set totalFactorMonth = totalFactorMonth + factorMonth %}
                        </td> 
                    {% endif %}
                    <td class="right">
                        {{ productPlanning.dailyProductionCapacity|myNumberFormat }}&nbsp;{{ productUnit }}
                        {% set totalDailyProductionCapacity = totalDailyProductionCapacity + productPlanning.dailyProductionCapacity %}
                    </td>
                    {% if factor %}
                        <td class="right">
                            {% set factorDaily = factorConversionService.calculateFormulaValueFromFactor(productPlanning.dailyProductionCapacity,product_report) %}
                            {{ factorDaily|myNumberFormat }} {{ factorConversionService.unitToFactorConversion(product_report) }}
                            {% set totalFactorDaily = totalFactorDaily + factorDaily %}
                        </td> 
                    {% endif %}                               
                </tr>
            {% else %}
                <tr >
                    <td colspan="{{ colspan }}" class="white-gradient-th">
                        {{ "empty.product_planning"|trans }}
                    </td>
                </tr>
            {% endfor %}

            <tr style="font-weight: bold;">
                <td >{{ 'Totals'|trans }}</td>
                <td  class="right">{{ totalMonth|myNumberFormat ~" "~ productUnit }}</td>
                {% if factor %}
                    <td  class="right">{{ totalFactorMonth|myNumberFormat ~" "~ factorConversionService.unitToFactorConversion(product_report) }} </td>
                {% endif %}
                <td  class="right">{{ totalDailyProductionCapacity|myNumberFormat ~" "~ productUnit }}</td>
                {% if factor %}
                    <td  class="right">{{ totalFactorDaily|myNumberFormat ~" "~ factorConversionService.unitToFactorConversion(product_report) }}</td>
                {% endif %}                           
            </tr>
        </table>
    {%else%}
        <table width="100%">
            <tr>
                <td width="50%">
                    {% set productPlannings = product_report.getProductPlanningsGross %}
                    <table class="spacing">
                        <tr>
                            <th colspan="{{colspan}}" class="white-gradient-th center">Presupuesto de Producción Bruta</th>
                        </tr>
                        <tr>
                            <td class="white-gradient-th" width="20%">{{ 'Month'|trans }}</td>
                            <td class="white-gradient-th center" colspan="{{ cols }}" width="40%">Presupuesto de Producción del Mes</td>                                
                            <td class="white-gradient-th center" colspan="{{ cols }}" width="40%">Capacidad de Producción Diaria</td>      
                        </tr>
                        {% set totalMonth = 0 %}
                        {% set totalDailyProductionCapacity = 0 %}
                        {% set productUnit = product_report.product.productUnit %}
                        {% set totalFactorMonth = 0.0 %}
                        {% set  totalFactorDaily = 0.0 %}
                        {% for productPlanning in productPlannings %}
                            <tr>
                                <td>{{ monthLabels[productPlanning.month]|trans }}</td>
                                <td  class="right">
                                    {{ productPlanning.totalMonth|myNumberFormat }}&nbsp;{{ productUnit }}
                                    {% set totalMonth = totalMonth + productPlanning.totalMonth %}
                                </td>
                                {% if factor %}
                                    <td class="right">
                                        {% set factorMonth =  factorConversionService.calculateFormulaValueFromFactor(productPlanning.totalMonth,product_report) %}
                                        {{ factorMonth|myNumberFormat }} {{ factorConversionService.unitToFactorConversion(product_report) }}
                                        {% set totalFactorMonth = totalFactorMonth + factorMonth %}
                                    </td> 
                                {% endif %}
                                <td class="right">
                                    {{ productPlanning.dailyProductionCapacity|myNumberFormat }}&nbsp;{{ productUnit }}
                                    {% set totalDailyProductionCapacity = totalDailyProductionCapacity + productPlanning.dailyProductionCapacity %}
                                </td>
                                {% if factor %}
                                    <td class="right">
                                        {% set factorDaily = factorConversionService.calculateFormulaValueFromFactor(productPlanning.dailyProductionCapacity,product_report) %}
                                        {{ factorDaily|myNumberFormat }} {{ factorConversionService.unitToFactorConversion(product_report) }}
                                        {% set totalFactorDaily = totalFactorDaily + factorDaily %}
                                    </td> 
                                {% endif %}                               
                            </tr>
                        {% else %}
                            <tr >
                                <td colspan="{{ colspan }}" class="white-gradient-th">
                                    {{ "empty.product_planning"|trans }}
                                </td>
                            </tr>
                        {% endfor %}

                        <tr style="font-weight: bold;">
                            <td >{{ 'Totals'|trans }}</td>
                            <td  class="right">{{ totalMonth|myNumberFormat ~" "~ productUnit }}</td>
                            {% if factor %}
                                <td  class="right">{{ totalFactorMonth|myNumberFormat ~" "~ factorConversionService.unitToFactorConversion(product_report) }} </td>
                            {% endif %}
                            <td  class="right">{{ totalDailyProductionCapacity|myNumberFormat ~" "~ productUnit }}</td>
                            {% if factor %}
                                <td  class="right">{{ totalFactorDaily|myNumberFormat ~" "~ factorConversionService.unitToFactorConversion(product_report) }}</td>
                            {% endif %}                           
                        </tr>        
                    </table>
                </td>
                <td width="50%">
                    {% set productPlannings = product_report.getProductPlanningsNet %}
                    <table class="spacing">
                        <tr>
                            <th colspan="{{colspan}}" class="white-gradient-th center">Presupuesto de Producción Neta</th>
                        </tr>
                        <tr>
                            <td class="white-gradient-th" width="20%">{{ 'Month'|trans }}</td>
                            <td class="white-gradient-th center" colspan="{{ cols }}" width="40%">Presupuesto de Producción del Mes</td>                                
                            <td class="white-gradient-th center" colspan="{{ cols }}" width="40%">Capacidad de Producción Diaria</td>      
                        </tr>

                        {% set totalMonth = 0 %}
                        {% set totalDailyProductionCapacity = 0 %}
                        {% set productUnit = product_report.product.productUnit %}
                        {% set totalFactorMonth = 0.0 %}
                        {% set  totalFactorDaily = 0.0 %}
                        {% for productPlanning in productPlannings %}
                            <tr>
                                <td>{{ monthLabels[productPlanning.month]|trans }}</td>
                                <td  class="right">
                                    {{ productPlanning.totalMonth|myNumberFormat }}&nbsp;{{ productUnit }}
                                    {% set totalMonth = totalMonth + productPlanning.totalMonth %}
                                </td>
                                {% if factor %}
                                    <td class="right">
                                        {% set factorMonth =  factorConversionService.calculateFormulaValueFromFactor(productPlanning.totalMonth,product_report) %}
                                        {{ factorMonth|myNumberFormat }} {{ factorConversionService.unitToFactorConversion(product_report) }}
                                        {% set totalFactorMonth = totalFactorMonth + factorMonth %}
                                    </td> 
                                {% endif %}
                                <td class="right">
                                    {{ productPlanning.dailyProductionCapacity|myNumberFormat }}&nbsp;{{ productUnit }}
                                    {% set totalDailyProductionCapacity = totalDailyProductionCapacity + productPlanning.dailyProductionCapacity %}
                                </td>
                                {% if factor %}
                                    <td class="right">
                                        {% set factorDaily = factorConversionService.calculateFormulaValueFromFactor(productPlanning.dailyProductionCapacity,product_report) %}
                                        {{ factorDaily|myNumberFormat }} {{ factorConversionService.unitToFactorConversion(product_report) }}
                                        {% set totalFactorDaily = totalFactorDaily + factorDaily %}
                                    </td> 
                                {% endif %}                               
                            </tr>
                        {% else %}
                            <tr >
                                <td colspan="{{ colspan }}" class="white-gradient-th">
                                    {{ "empty.product_planning"|trans }}
                                </td>
                            </tr>
                        {% endfor %}

                        <tr style="font-weight: bold;">
                            <td >{{ 'Totals'|trans }}</td>
                            <td  class="right">{{ totalMonth|myNumberFormat ~" "~ productUnit }}</td>
                            {% if factor %}
                                <td  class="right">{{ totalFactorMonth|myNumberFormat ~" "~ factorConversionService.unitToFactorConversion(product_report) }} </td>
                            {% endif %}
                            <td  class="right">{{ totalDailyProductionCapacity|myNumberFormat ~" "~ productUnit }}</td>
                            {% if factor %}
                                <td  class="right">{{ totalFactorDaily|myNumberFormat ~" "~ factorConversionService.unitToFactorConversion(product_report) }}</td>
                            {% endif %}                           
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    {%endif%}
    <br><br><br>
    {% set typeProductionGross = "&nbsp;("~("pequiven_seip.gross"|trans)~")" %}
    {% set typeProductionNet = "&nbsp;("~("pequiven_seip.net"|trans)~")" %}
    {% set productUnit = product_report.product.productUnit %}

    {% if(factor) %}
        {%set pageBreak='page-break-after: always;'%}
    {%else%}
        {%set pageBreak=''%}
    {%endif%}

    <table width="100%" class="spacing" style='{{pageBreak}}'>
        <tr>
            <td colspan="7" class="white-gradient-th center">Detalles de la Producción ({{productUnit}})</td>
        </tr>
        <tr>
            <td width="20%" class="white-gradient-th center">{{ 'Month'|trans }}</td>
            <td width="15%" class="white-gradient-th center">{{ 'pequiven_seip.headers.totalPlan'|trans }}{{ typeProductionGross|raw }}</td>
            <td width="15%" class="white-gradient-th center">{{ 'pequiven_seip.headers.totalReal'|trans }}{{ typeProductionGross|raw }}</td>
            <td width="10%" class="white-gradient-th center">{{ 'pequiven_seip.headers.percentage'|trans }}{{ typeProductionGross|raw }}</td>
            <td width="15%" class="white-gradient-th center">{{ 'pequiven_seip.headers.totalPlan'|trans }}{{ typeProductionNet|raw }}</td>
            <td width="15%" class="white-gradient-th center">{{ 'pequiven_seip.headers.totalReal'|trans }}{{ typeProductionNet|raw }}</td>
            <td width="10%" class="white-gradient-th center">{{ 'pequiven_seip.headers.percentage'|trans }}{{ typeProductionNet|raw }}</td>                   
        </tr>

        {% set colspan = 9 %}
        {% set totalDetails = product_report.getTotalToDay %}
        {% for productDetailDailyMonth in product_report.getProductDetailDailyMonthsSortByMonth %}
            <tr>
                <td>
                    {{ loop.index }} - 
                    {{ monthLabels[productDetailDailyMonth.month]|trans }}
                </td>
                <td class="right">{{ productDetailDailyMonth.totalGrossPlan|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                <td class="right">{{ productDetailDailyMonth.totalGrossReal|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                <td class="center">{{ productDetailDailyMonth.grossPercentage|myNumberFormat }}&nbsp;%</td>
                <td class="right">{{ productDetailDailyMonth.totalNetPlan|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                <td class="right">{{ productDetailDailyMonth.totalNetReal|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                <td class="center">{{ productDetailDailyMonth.netPercentage|myNumberFormat }}&nbsp;%</td>                       
            </tr>
        {% else %}
            <tr >
                <td colspan="{{ colspan }}">
                    {{ "empty.product_detail_daily_months"|trans }}
                </td>
            </tr>
        {% endfor %}         
        <tr>
            <td class="white-gradient-th right">{{ 'Total month before'|trans }}</td>
            <td class="white-gradient-th right">{{ totalDetails['tp_gross_b']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
            <td class="white-gradient-th right">{{ totalDetails['tr_gross_b']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
            <td class="white-gradient-th center">{{ totalDetails['percentage_gross_b']|myNumberFormat }}%</td>
            <td class="white-gradient-th right">{{ totalDetails['tp_net_b']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
            <td class="white-gradient-th right">{{ totalDetails['tr_net_b']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
            <td class="white-gradient-th center">{{ totalDetails['percentage_net_b']|myNumberFormat }}%</td>                    
        </tr>
        <tr>
            <td class="white-gradient-th right">{{ 'Total accumulated'|trans }}</td>
            <td class="white-gradient-th right">{{ totalDetails['tp_gross']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
            <td class="white-gradient-th right">{{ totalDetails['tr_gross']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
            <td class="white-gradient-th center">{{ totalDetails['percentage_gross']|myNumberFormat }}%</td>
            <td class="white-gradient-th right">{{ totalDetails['tp_net']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
            <td class="white-gradient-th right">{{ totalDetails['tr_net']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
            <td class="white-gradient-th center">{{ totalDetails['percentage_net']|myNumberFormat }}%</td>                    
        </tr>
    </table>

    {% set unitFactor =  factorConversionService.unitToFactorConversion(product_report) %}
    {% if(factor) %}
        <br><br>
        <table width="100%" class="spacing" style="page-break-after: always;">
            <tr>
                <td colspan="7" class="white-gradient-th center">Detalles de la Producción ({{unitFactor}})</td>
            </tr>
            <tr>
                <td width="20%" class="white-gradient-th center">{{ 'Month'|trans }}</td>
                <td width="15%" class="white-gradient-th center">{{ 'pequiven_seip.headers.totalPlan'|trans }}{{ typeProductionGross|raw }}</td>
                <td width="15%" class="white-gradient-th center">{{ 'pequiven_seip.headers.totalReal'|trans }}{{ typeProductionGross|raw }}</td>
                <td width="10%" class="white-gradient-th center">{{ 'pequiven_seip.headers.percentage'|trans }}{{ typeProductionGross|raw }}</td>
                <td width="15%" class="white-gradient-th center">{{ 'pequiven_seip.headers.totalPlan'|trans }}{{ typeProductionNet|raw }}</td>
                <td width="15%" class="white-gradient-th center">{{ 'pequiven_seip.headers.totalReal'|trans }}{{ typeProductionNet|raw }}</td>
                <td width="10%" class="white-gradient-th center">{{ 'pequiven_seip.headers.percentage'|trans }}{{ typeProductionNet|raw }}</td>                   
            </tr>

            {% set colspan = 9 %}
            {% set totalDetails = product_report.getTotalToDay %}
            {% for productDetailDailyMonth in product_report.getProductDetailDailyMonthsSortByMonth %}
                <tr>
                    <td>
                        {{ loop.index }} - 
                        {{ monthLabels[productDetailDailyMonth.month]|trans }}
                    </td>
                    <td class="right">
                        {% set factorMonth =  factorConversionService.calculateFormulaValueFromFactor(productDetailDailyMonth.totalGrossPlan,product_report) %}
                        {{ factorMonth|myNumberFormat ~' '~ unitFactor }} 
                    </td>
                    <td class="right">
                        {% set factorMonth =  factorConversionService.calculateFormulaValueFromFactor(productDetailDailyMonth.totalGrossReal,product_report) %}
                        {{ factorMonth|myNumberFormat ~' '~ unitFactor }} 
                    </td>
                    <td class="center">{{ productDetailDailyMonth.grossPercentage|myNumberFormat }}&nbsp;%</td>
                    <td class="right">{{ productDetailDailyMonth.totalNetPlan|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                    <td class="right">{{ productDetailDailyMonth.totalNetReal|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                    <td class="center">{{ productDetailDailyMonth.netPercentage|myNumberFormat }}&nbsp;%</td>                       
                </tr>
            {% else %}
                <tr >
                    <td colspan="{{ colspan }}">
                        {{ "empty.product_detail_daily_months"|trans }}
                    </td>
                </tr>
            {% endfor %}         
            <tr>
                <td class="white-gradient-th right">{{ 'Total month before'|trans }}</td>
                <td class="white-gradient-th right">{{ totalDetails['tp_gross_b']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                <td class="white-gradient-th right">{{ totalDetails['tr_gross_b']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                <td class="white-gradient-th center">{{ totalDetails['percentage_gross_b']|myNumberFormat }}%</td>
                <td class="white-gradient-th right">{{ totalDetails['tp_net_b']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                <td class="white-gradient-th right">{{ totalDetails['tr_net_b']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                <td class="white-gradient-th center">{{ totalDetails['percentage_net_b']|myNumberFormat }}%</td>                    
            </tr>
            <tr>
                <td class="white-gradient-th right">{{ 'Total accumulated'|trans }}</td>
                <td class="white-gradient-th right">{{ totalDetails['tp_gross']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                <td class="white-gradient-th right">{{ totalDetails['tr_gross']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                <td class="white-gradient-th center">{{ totalDetails['percentage_gross']|myNumberFormat }}%</td>
                <td class="white-gradient-th right">{{ totalDetails['tp_net']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                <td class="white-gradient-th right">{{ totalDetails['tr_net']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                <td class="white-gradient-th center">{{ totalDetails['percentage_net']|myNumberFormat }}%</td>                    
            </tr>
        </table>
    {%endif%}
    <br><br>
    <table>
        <tr>
            <td width="50%">
                <table width="100%" class="spacing" >
                    {% set productUnit = product_report.product.productUnit %}
                    {%if factor %}
                        {% set cols = 2 %}
                        {% set colspan = 3 %}
                        {% set colsfactor = 'colspan="'~ cols ~'"' %}     
                        {% set width='30%'%}
                    {%else%}
                        {% set cols = 1 %}
                        {% set colspan = 2 %}
                        {% set colsfactor = '' %}
                        {% set width='60%'%}
                    {%endif%}

                    <tr>
                        <td colspan="{{colspan}}" class="white-gradient-th center">Producción No Realizada (PNR)</td>
                    </tr>
                    <tr>
                        <td class="white-gradient-th" width="40%">{{ 'Month'|trans }}</td>
                        <td {{colsfactor}} width="{{width}}" class="white-gradient-th right">{{ 'pequiven_seip.total'|trans }} ({{productUnit}})</td>
                        {%if factor %}
                            <td width="30%" class="white-gradient-th right">{{ 'pequiven_seip.total'|trans }} ({{ factorConversionService.unitToFactorConversion(product_report) }})</td>    
                        {%endif%}                        
                    </tr>

                    {% set totals = product_report.getTotalToDayUnrealizedProductions %}

                    {# $excludePnr = $productReportService->getArrayByDateFromInternalCausesPnr($dateReport, $productReport);#}
                    {# {% set excludePnr = productReportService.getArrayByDateFromInternalCausesPnr(dateNow, product_report) %}
                    {{ dump(excludePnr) }} #}

                    {% set productUnit = product_report.product.productUnit %}
                    {% set unitToConvert =  factorConversionService.unitToFactorConversion(product_report) %}

                    {% for unrealizedProduction in product_report.getUnrealizedProductionsSortByMonth %}
                        {% set dateMonth = productReportService.getTimeNowMonth(loop.index,unrealizedProduction) %}
                        {% set excludePnr = productReportService.getArrayByDateFromInternalCausesPnr(dateMonth, product_report) %}
                        {% set overProductionMonth = excludePnr[0].total.month %}
                        {# {{ dump(excludePnr[0].total.month) }} #}                  

                        <tr>
                            <td>{{ loop.index }} -                                 
                                {{ unrealizedProduction | trans }}                                
                            </td>
                            <td class="right">
                                {{ (unrealizedProduction.total - overProductionMonth)|myNumberFormat }}&nbsp;{{ productUnit }}
                            </td>
                            {% if factor %}
                                <td class="right">
                                    {% set factorUnrealizedProduction = factorConversionService.calculateFormulaValueFromFactor(unrealizedProduction.total,product_report) %}
                                    {{ factorUnrealizedProduction|myNumberFormat }} {{ factorConversionService.unitToFactorConversion(product_report) }}
                                </td>    
                            {% endif %}                          
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="{{ colspan }}">
                                {{ "empty.unrealized_productions"|trans }}
                            </td>
                        </tr>
                    {% endfor %}

                    <tr style="font-weight: bold;">
                        <td class="white-gradient-th right">{{ 'Total month before'|trans }}</td>
                        <td class="white-gradient-th right">{{ totals['tr_b']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                        {% if (factor) %}
                            {% set factorUnrealizedProductionTotalAnterior = factorConversionService.calculateFormulaValueFromFactor(totals['tr_b'],product_report) %}
                            <td class="white-gradient-th right">{{ factorUnrealizedProductionTotalAnterior|myNumberFormat ~" "~ unitToConvert }}</td>
                        {% endif %}                        
                    </tr>
                    <tr style="font-weight: bold;">
                        <td class="white-gradient-th">{{ 'Total accumulated'|trans }}</td>
                        <td class="white-gradient-th right">{{ totals['tr']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                        {% if (factor) %}    
                            {% set factorUnrealizedProductionTotal = factorConversionService.calculateFormulaValueFromFactor(totals['tr'],product_report) %}
                            <td class="white-gradient-th right">{{ factorUnrealizedProductionTotal|myNumberFormat ~" "~ unitToConvert }}</td>
                        {% endif %}                        
                    </tr>
                </table>
            </td>
            <td width="50%">
                <table width="100%" class="spacing" >
                    {% set productUnit = product_report.product.productUnit %}
                    {%if factor %}
                        {% set cols = 2 %}
                        {% set colspan = 3 %}
                        {% set colsfactor = 'colspan="'~ cols ~'"' %}     
                        {% set width='30%'%}
                    {%else%}
                        {% set cols = 1 %}
                        {% set colspan = 2 %}
                        {% set colsfactor = '' %}
                        {% set width='60%'%}
                    {%endif%}
                    <tr>
                        <td colspan="{{ colspan }}" class="white-gradient-th center">
                            Inventario
                        </td>
                    </tr>
                    <tr>
                        <td class="white-gradient-th" width="40%">{{ 'Month'|trans }}</td>
                        <td {{colsfactor}} width="{{width}}" class="white-gradient-th right"> ({{productUnit}})</td>
                        {%if factor %}
                            <td width="30%" class="white-gradient-th right">{{ 'pequiven_seip.total'|trans }} ({{ factorConversionService.unitToFactorConversion(product_report) }})</td>    
                        {%endif%}                        
                    </tr>

                    {% for inventory in product_report.getInventorySortByMonth %}
                        <tr>
                            <td>{{ loop.index }} - 
                                {{ inventory|trans }}
                            </td>
                            <td class="right">
                                {{ inventory.getTotalInventory|myNumberFormat }}&nbsp;{{ productUnit }}
                            </td>
                            {% if factor %}
                                <td class="right">
                                    {% set factorInventory = factorConversionService.calculateFormulaValueFromFactor(inventory.getTotalInventory,product_report) %}
                                    {{ factorInventory|myNumberFormat }}&nbsp;{{ factorConversionService.unitToFactorConversion(product_report) }}    
                                </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr >
                            <td colspan="{{ colspan }}">
                                {{ "empty.inventorys"|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>

        </tr>
    </table>

{% endblock %}
