{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}


{% block body %}
    <fieldset class="fieldset">
        <legend class="legend">{{ 'pequiven_seip.product_report.product_report'|trans }}</legend>
        <div class="columns">
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven_seip.plant_report.plant_report'|trans }}</label>
                    {{ generateLink(product_report.plantReport) }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Production line'|trans }}</label>
                    {{ product_report.product.productionLine }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Product'|trans }}</label>
                    {{ product_report.product }}
                </p>
            </div>
            <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Product unit'|trans }}</label>
                    {{ product_report.product.productUnit }}
                </p>
            </div>
            {% if product_report.factorConversionValue|length > 0 %}
                <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">{{ 'Factor Conversion'|trans }}</label>
                        {% for fcv in  product_report.factorConversionValue %}
                            {{ fcv }}
                        {% endfor %}
                    </p>
                </div>
                <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">{{ 'Formula Factor Conversion '|trans }}</label>
                        {% for fcv in  product_report.factorConversionValue %}
                            {{ fcv.factorConversion.productUnitTo }} = {{ fcv.factorConversion.formula }}
                        {% endfor %}
                    </p>
                </div>
            {% endif %}

            <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Is raw material'|trans }}</label>
                    {{ product_report.product.isRawMaterial|render_yes_no }}
                </p>
            </div>
            <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Enabled'|trans }}</label>
                    {{ product_report.enabled|render_yes_no }}
                </p>
            </div>
            <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Type product'|trans }}</label>
                    {{ product_report.product.typeProductLabel | trans }}
                </p>
            </div>
            <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Company'|trans }}</label>
                    {{ product_report.plantReport.company }}
                </p>
            </div>
            <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Location'|trans }}</label>
                    {{ product_report.plantReport.location }}
                </p>
            </div>
            <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Entity'|trans }}</label>
                    {{ product_report.plantReport.entity }}
                </p>
            </div>
            <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Raw material'|trans }}</label>
                    {% for rawMaterial in product_report.product.rawMaterials %}
                        {{ rawMaterial }}{% if loop.last %}.{% else %},{% endif %}
                    {% else %}
                        <span class="tag ">{{ "empty.no_raw_material"|trans }}</span>
                    {% endfor %}
                </p>
            </div>
            <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Periodo'|trans }}</label>
                    {{ product_report.period }}
                </p>
            </div>
        </div>
    </fieldset>

    {% set factor = false %}
    {% set colspan = "" %}
    {% if factorConversionService.hasFactorConversion(product_report)  %}
        {% set factor = true %}   
        {% set colspan = "2" %}
    {% endif %}


    <br /><br />
    {% set labelProductPlanning = ("pequiven_seip.gross"|trans) %}
    {% set urlProductPlanning = (path('pequiven_product_planning_create',{productReport: product_report.id, type: constant('Pequiven\\SEIPBundle\\Model\\DataLoad\\Production\\ProductPlanning::TYPE_GROSS')})) %}
    {% set productPlannings = product_report.getProductPlanningsGross %}
    {% set typeProduction = "gross" %}
    {% include 'PequivenSEIPBundle:DataLoad:ProductReport/show/products_planning.html.twig' %}
    <br /><br />

    {% set labelProductPlanning = ("pequiven_seip.net"|trans) %}
    {% set urlProductPlanning = (path('pequiven_product_planning_create',{productReport: product_report.id, type: constant('Pequiven\\SEIPBundle\\Model\\DataLoad\\Production\\ProductPlanning::TYPE_NET')})) %}
    {% set productPlannings = product_report.getProductPlanningsNet %}
    {% set typeProduction = "Net" %}
    {% include 'PequivenSEIPBundle:DataLoad:ProductReport/show/products_planning.html.twig' %}
    <br /><br />

    {% include 'PequivenSEIPBundle:DataLoad:ProductReport/show/product_detail_daily_months.html.twig' %}
    <br /><br />




    {% include 'PequivenSEIPBundle:DataLoad:ProductReport/show/raw_materials_consumption.html.twig' %}
    <br /><br />
    {% include 'PequivenSEIPBundle:DataLoad:ProductReport/show/unrealized_productions.html.twig' %}
    <br /><br />
    {% include 'PequivenSEIPBundle:DataLoad:ProductReport/show/inventorys.html.twig' %}
    <br /><br />
    <p class="button-height align-right">
        {% if isAllowPlanningReport %}
            {{ buttons.generic_confirm(path("pequiven_product_report_run_planning",{ id: product_report.id }),"pequiven_seip.buttons.run_planning",{
                content: ("pequiven_seip.question.want_create_production_details_from_planning"|trans),
                translation_domain: "PequivenSEIPBundle",
                icon: "icon-extract"
                }) 
            }}
            &nbsp;
            {{ buttons.generic(path('pequiven_product_report_update', { 'id': product_report.id }),('pequiven.edit'|trans({},'messages'))) }}
            &nbsp;
            {{ buttons.delete(path('pequiven_product_report_delete', { 'id': product_report.id })) }}
        {% endif %}
    </p>

{% endblock %}