{% trans_default_domain 'PequivenArrangementProgramBundle' %}
<div class="with-padding">
    <div class="columns">
        <div class="twelve-columns">
            {% if(datosUser!=null) %}
                {% set user=datosUser %}
                <h3 class="thin underline text-center">Usuario</h3>
                <fieldset class="fieldset">
                    <table class="simple-table responsive-table" id="sorting-example2">
                        <tr>
                            <td class="header bold" width="25%">Datos del Empleado:</td>
                            <td width="75%">{{user.getFullNameUser}}</td>
                        </tr>
                        {% if user.gerencia != null %}
                            <tr>
                                <td class="header bold" width="25%">Gerencia de 1ra Línea:</td>
                                <td width="75%">{{user.gerencia.description}}</td>
                            </tr>            
                        {% endif %}
                        {% if user.gerenciaSecond != null %}
                            <tr>
                                <td class="header bold" width="25%">Gerencia de 2da Línea:</td>
                                <td width="75%">{{user.gerenciaSecond.description}}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="header bold" width="25%">Cargo Actual:</td>
                            <td width="75%">
                                {% if(user.getfeestructure|length)>=1 %}
                                    {% for cargos in user.getfeestructure %}
                                        {{ cargos.getcharge }} <br>
                                    {% endfor %}
                                {% else %}
                                    No Cargado en Sistema
                                {% endif%}
                            </td>                            
                        </tr>                 
                    </table>    
                {% endif  %}

                {#            PROGRAMAS DE GESTION#}
                {% if(management["arrangementPrograms"]|length>0) %}
                    <h3 class="thin underline text-center">{{ 'pequiven.arrangement_program.arrangement_programs'|trans }}</h3>
                    <fieldset class="fieldset">
                        {#                    <legend class="legend">Programas de Gestion</legend>#}
                        <table class="simple-table responsive-table" id="sorting-example2">
                            <thead>
                                <tr>
                                    <th style="vertical-align: middle;" width="2%">#</th>                                
                                    <th style="vertical-align: middle; text-align: center" scope="col" width="15%" >Referencia</th>
                                    <th style="vertical-align: middle;" scope="col" width="53%" >Nombre del Programa</th>
                                    <th style="vertical-align: middle; text-align: center" scope="col" width="15%">Avance hasta la Fecha</th>    
                                    <th style="vertical-align: middle; text-align: center" scope="col" width="10%" >Aporte</th>    
                                    <th style="vertical-align: middle; text-align: center" scope="col" width="5%" >Efect.</th>  
                                </tr>
                            </thead>
                            <tbody>
                                {% set cont = 1 %}
                                {% for pg in  (management["arrangementPrograms"]) %} 
                                    {% if pg.resultToDate > 0 %}
                                        {% set porc = (pg.result * 100)/ pg.resultToDate %}
                                    {% else %}    
                                        {% set porc = 0 %}
                                    {% endif %}
                                    <tr>
                                        <td>{{cont}}-</td>
                                        <th style="color: #607890;" scope="row">
                                            <i class="fa fa-tasks"></i>
                                            {{ pg.ref }}
                                        </th>                                    
                                        <td style="text-align: justify;">
                                            <b>
                                                {% if (pg.description==null) %}
                                                    No Cargado
                                                {% else %}
                                                    {{ pg.description }}
                                                {%endif%}
                                            </b>
                                            {% if pg.observaciones %}
                                                <br>
                                                <small>
                                                    {% for obs in pg.observaciones %}
                                                        {% if obs.type== 'I' %}
                                                            Ingresado desde el {{ obs.date| date("d/m/Y") }} <b>Avance:</b> {{ obs.realAdvance |number_format(2,',','.') }}% , <b>Planeado: </b>{{ obs.planned |number_format(2,',','.') }}% , <b>Real Notificado: </b>{{ (obs.realAdvance+obs.pentalty) |number_format(2,',','.') }}%.
                                                        {% endif %}
                                                        {% if obs.type== 'O' %}
                                                            Egresado desde el {{ obs.date| date("d/m/Y") }} <b>Avance:</b> {{ obs.realAdvance |number_format(2,',','.') }}% , <b>Planeado: </b>{{ obs.planned |number_format(2,',','.') }}% , <b>Real Notificado: </b>{{ (obs.realAdvance+obs.pentalty) |number_format(2,',','.') }}%.
                                                        {% endif %}
                                                        <br>
                                                    {%endfor%}
                                                </small>
                                            {% endif %}

                                        </td>
                                        <td width="15%" style="text-align: center; height: 50px;">
                                            {% if pg.tipo == 'Pasada' %}
                                                {% set advancesClass = "grey-gradient"%}
                                            {% else %}
                                                {% set advances = porc %}
                                                {% set advancesClass = 'red-gradient' %}
                                                {% if advances > 50 and advances <= 80 %}
                                                    {% set advancesClass = 'orange-gradient' %}
                                                {% elseif advances > 80 %}
                                                    {% set advancesClass = 'green-gradient' %}
                                                {% endif %}
                                            {% endif %}
                                            {{pg.result|number_format(2,',','.')}}% de {{ pg.resultToDate|number_format(2,',','.') }}%                                                               
                                            <span style="width: 200px; text-align: center;" class="progress" data-progress-options='{"size":false,"barClasses":["{{ advancesClass }}","glossy"],"bottomMarks":[{"value":0,"label":"{{ 'pequiven.advances.nope'|trans({},'messages') }}"},{"value":50,"label":"{{ 'pequiven.advances.better'|trans({},'messages') }}"},{"value":100,"label":"{{ 'pequiven.advances.complete'|trans({},'messages') }}"}],"insetExtremes":true}'>{{ pg.result|number_format(2,',','.') }}%</span>                                                                                
                                        </td>                                    
                                        {% if ((pg.eval=="N/A")and((pg.eval| is_string)==1)) %}
                                            <td style="text-align: center">
                                                No<br>Aplica
                                            </td>
                                        {%else%} 
                                            <td style="text-align: center">
                                                {{ pg.aporte |number_format(2,',','.') }} de<br>{{ pg.aportePlan |number_format(2,',','.') }}
                                            </td>
                                        {% endif %}
                                        {% if ((pg.eval=="N/A")and((pg.eval| is_string)==1)) %}
                                            <td style="text-align: center">
                                                No Aplica
                                            </td>
                                        {%else%} 
                                            <td style="text-align: center">
                                                {{ pg.eval |number_format(2,',','.') }}%
                                            </td>
                                        {%endif%}
                                    </tr>
                                    {% set cont = cont+1 %}
                                {% endfor %}
                            </tbody>

                        </table>
                    </fieldset>
                {% endif %}

                {% if(management["goals"]|length>0) %}
                    <h3 class="thin underline text-center">{{ "pequiven.goals.goals"|trans }}</h3>
                    <fieldset class="fieldset">
                        <div ng-controller="ArrangementProgramController">
                            {#                    <legend class="legend">Metas</legend>#}
                            <table ng-init="" class="simple-table responsive-table" id="sorting-example2">

                                <thead>
                                    <tr style="vertical-align: middle;">
                                        <th style="vertical-align: middle;" width="2%">#</th>
                                        <th style="vertical-align: middle;" scope="col" width="53%" >Descripción de la Meta</th>
                                        <th style="vertical-align: middle; text-align: center" scope="col" width="10%" >Peso</th>
                                        <th style="vertical-align: middle; text-align: center"  scope="col" width="17%">Avance hasta la Fecha</th>    
                                        <th style="vertical-align: middle; text-align: center" scope="col" width="10%" >Aporte</th>    
                                        <th style="vertical-align: middle; text-align: center" scope="col" width="8%" >Efect.</th>    
                                    </tr>
                                </thead>

                                <tbody>
                                    {% set cont = 1 %}
                                    {% for goal in  management["goals"] %} 

                                        {% if goal.resultToDate > 0 %}
                                            {% set porc = (goal.result * 100)/ goal.resultToDate %}
                                        {% else %}    
                                            {% set porc = 0 %}
                                        {% endif %}
                                        {% if goal.tipo == 'Pasada' %}
                                            {% set class = "grey-gradient"%}
                                        {% else %}
                                            {% set class = "red-gradient"%}                               
                                            {% if porc > 50 and porc <= 80 %}
                                                {% set class = 'orange-gradient' %}
                                            {% elseif porc > 80 %}
                                                {% set class = 'green-gradient' %}
                                            {% endif %}
                                        {% endif %}
                                        <tr style="min-height: 50px">
                                            <td>{{ cont }}-</td>
                                            <td  style="color: #607890; font-weight: bold; text-align: justify">{{ goal.description }}
                                                {% if goal.observaciones %}
                                                    <br>
                                                    <small>
                                                        {% for obs in goal.observaciones %}
                                                            {% if obs.type== 'I' %}
                                                                Ingresado desde el {{ obs.date| date("d/m/Y") }} <b>Avance:</b> {{ obs.realAdvance |number_format(2,',','.') }}% , <b>Planeado: </b>{{ obs.planned |number_format(2,',','.') }}% , <b>Real Notificado: </b>{{ (obs.realAdvance+obs.pentalty) |number_format(2,',','.') }}%.
                                                            {% endif %}
                                                            {% if obs.type== 'O' %}
                                                                Egresado desde el {{ obs.date| date("d/m/Y") }} <b>Avance:</b> {{ obs.realAdvance |number_format(2,',','.') }}% , <b>Planeado: </b>{{ obs.planned |number_format(2,',','.') }}% , <b>Real Notificado: </b>{{ (obs.realAdvance+obs.pentalty) |number_format(2,',','.') }}%.
                                                            {% endif %}
                                                            <br>
                                                        {%endfor%}
                                                    </small>
                                                {% endif %}
                                            </td>
                                            <td style="text-align: center" >{{ goal.weight }}%</td>
                                            <td  scope="row" width="15%">
                                    <center>
                                        <span ng-class="getClassForMeter({{ porc }},1)"></span>
                                        <span ng-class="getClassForMeter({{ porc }},2)"></span>
                                        <span ng-class="getClassForMeter({{ porc }},3)"></span>
                                        - {{ goal.result|number_format(2,',','.') }}% &nbsp;      
                                        <br>
                                        <span class="tag {{ class }}">
                                            {{ goal.result|number_format(2,',','.') }} de {{ goal.resultToDate|number_format(2,',','.') }}
                                        </span>
                                    </center>
                                    </td>                                       
                                    <td width="10%"style="text-align: center">
                                        {% if ((goal.eval=="N/A")and((goal.eval| is_string)==1)) %}
                                            No<br>Aplica
                                        {%else%} 
                                            {{ goal.aporte |number_format(2,',','.') }} de<br>{{ goal.aportePlan |number_format(2,',','.') }}
                                        {% endif %}
                                    </td>
                                    <td width="10%" style="text-align: center">
                                        {% if ((goal.eval=="N/A")and((goal.eval| is_string)==1)) %}
                                            No Aplica
                                        {%else%}                                            
                                            {{ goal.eval |number_format(2,',','.') }}%
                                        {%endif%}
                                    </td>
                                    </tr>
                                    {% set cont = cont + 1 %}
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </fieldset>
                {% endif %}

                {% if ((objetives["OO"]|length>0) or (objetives["OT"]|length>0) or (objetives["OE"]|length>0) )%}
                    <h3 class="thin underline text-center">Objetivos</h3>
                {% endif %}

                {% if(objetives["OE"]|length>0) %}
                    {#                <h3 class="thin underline text-center">Objetivos Operativos</h3>#}
                    <fieldset class="fieldset">
                        <legend class="legend">{{ "pequiven.form.strategic_objective" |trans }}</legend>
                        <table ng-init="" class="simple-table responsive-table" id="sorting-example2">

                            <thead>
                                <tr>
                                    <th style="text-align: center" scope="col" width="10%" >Referencia</th>
                                    <th scope="col" width="auto" >Descripción</th>
                                    <th scope="col" style="text-align: center" width="25%" >Resultado</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for objetivesOE in objetives["OE"] %}
                                    <tr style="height: 50px;">
                                        <td style="color: #607890; text-align: center;">{{ objetivesOE.ref }}</td>
                                        <td style="text-align: justify">{{ objetivesOE.description }}</td>
                                        <td style="text-align: center">
                                            {% set advances = objetivesOE.result %}
                                            {% set advancesClass = 'red-gradient' %}
                                            {% if advances > 50 and advances <= 80 %}
                                                {% set advancesClass = 'orange-gradient' %}
                                            {% elseif advances > 80 %}
                                                {% set advancesClass = 'green-gradient' %}
                                            {% endif %}
                                            <span style="width: 220px" class="progress" data-progress-options='{"size":false,"barClasses":["{{ advancesClass }}","glossy"],"bottomMarks":[{"value":0,"label":"{{ 'pequiven.advances.nope'|trans({},'messages') }}"},{"value":50,"label":"{{ 'pequiven.advances.better'|trans({},'messages') }}"},{"value":100,"label":"{{ 'pequiven.advances.complete'|trans({},'messages') }}"}],"insetExtremes":true}'>{{ advances }}%</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </fieldset>
                {% endif %}

                {% if(objetives["OT"]|length>0) %}
                    {#                <h3 class="thin underline text-center">Objetivos Operativos</h3>#}
                    <fieldset class="fieldset">
                        <legend class="legend">{{ "pequiven.form.tactical_objective" |trans }}</legend>
                        <table ng-init="" class="simple-table responsive-table" id="sorting-example2">

                            <thead>
                                <tr>
                                    <th style="text-align: center" scope="col" width="10%" >Referencia</th>
                                    <th scope="col" width="auto" >Descripción</th>
                                    <th scope="col" style="text-align: center" width="25%" >Resultado</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for objetivesOT in objetives["OT"] %}                                
                                    <tr style="height: 50px;">
                                        <td style="color: #607890; text-align: center;">{{ objetivesOT.ref }}</td>
                                        <td style="text-align: justify">{{ objetivesOT.description }}</td>
                                        <td style="text-align: center">
                                            {% set advances = objetivesOT.result %}
                                            {% set advancesClass = 'red-gradient' %}
                                            {% if advances > 50 and advances <= 80 %}
                                                {% set advancesClass = 'orange-gradient' %}
                                            {% elseif advances > 80 %}
                                                {% set advancesClass = 'green-gradient' %}
                                            {% endif %}
                                            <span style="width: 220px" class="progress" data-progress-options='{"size":false,"barClasses":["{{ advancesClass }}","glossy"],"bottomMarks":[{"value":0,"label":"{{ 'pequiven.advances.nope'|trans({},'messages') }}"},{"value":50,"label":"{{ 'pequiven.advances.better'|trans({},'messages') }}"},{"value":100,"label":"{{ 'pequiven.advances.complete'|trans({},'messages') }}"}],"insetExtremes":true}'>{{ advances }}%</span>                                        
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </fieldset>
                {% endif %}

                {% if(objetives["OO"]|length>0) %}
                    {#                <h3 class="thin underline text-center">Objetivos Operativos</h3>#}
                    <fieldset class="fieldset">
                        <legend class="legend">{{ "pequiven.form.operational_objective" |trans }}</legend>
                        <table ng-init="" class="simple-table responsive-table" id="sorting-example2">

                            <thead>
                                <tr>
                                    <th style="text-align: center" scope="col" width="10%" >Referencia</th>
                                    <th scope="col" width="auto" >Descripción</th>
                                    <th scope="col" style="text-align: center" width="25%" >Resultado</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for objetivesOO in objetives["OO"] %}                             
                                    <tr style="height: 50px;">
                                        <td style="color: #607890; text-align: center;">{{ objetivesOO.ref }}</td>
                                        <td style="text-align: justify">{{ objetivesOO.description }}</td>
                                        <td style="text-align: center">
                                            {% set advances = objetivesOO.result %}
                                            {% set advancesClass = 'red-gradient' %}
                                            {% if advances > 50 and advances <= 80 %}
                                                {% set advancesClass = 'orange-gradient' %}
                                            {% elseif advances > 80 %}
                                                {% set advancesClass = 'green-gradient' %}
                                            {% endif %}
                                            <span style="width: 220px" class="progress" data-progress-options='{"size":false,"barClasses":["{{ advancesClass }}","glossy"],"bottomMarks":[{"value":0,"label":"{{ 'pequiven.advances.nope'|trans({},'messages') }}"},{"value":50,"label":"{{ 'pequiven.advances.better'|trans({},'messages') }}"},{"value":100,"label":"{{ 'pequiven.advances.complete'|trans({},'messages') }}"}],"insetExtremes":true}'>{{ advances }}%</span>
                                        </td>
                                    </tr>                                
                                {% endfor %}
                            </tbody>

                        </table>
                    </fieldset>
                {% endif %}



        </div>
        {% if(datosUser!=null) %}
            <div class="twelve-columns" style="text-align: right">
                <a class="button" id="downloadPdf" href="javascript:void(0)">
                    <span class="button-icon"><span class="icon-download"></span></span>
                        {{ 'pequiven.form.exportItemsToPdf'|trans }}
                </a>
                <form id="formExportPdf" action="{{ path("pequiven_download_list_user_items",{'idUser':datosUser.getId}) }}" method="POST"></form>
            </div>
        {% endif %}
    </div>
</div>

{% block javascript %}
    <script type="text/javascript">

        function getClassMeter(percentaje, numMeter) {
            var className = '';
            if (numMeter == 1) {
                if (percentaje > 0 && percentaje <= 50) {
                    className = 'red-gradient';
                } else if (percentaje > 50 && percentaje <= 80) {
                    className = 'orange-gradient';
                } else if (percentaje > 80) {
                    className = 'green-gradient';
                }
            } else if (numMeter == 2) {
                if (percentaje > 50 && percentaje <= 80) {
                    className = 'orange-gradient';
                } else if (percentaje > 80) {
                    className = 'green-gradient';
                }
            } else if (numMeter == 3) {
                if (percentaje > 80) {
                    className = 'green-gradient';
                }
            }
            return 'meter ' + className;
        }

        jQuery(document).ready(function () {
            $(".loads").load(function () {
                console.log("holas");
            });

            $("a#downloadPdf").click(function () {
                $("form#formExportPdf").submit();
            });

            $('.progress').progress();
        });
    </script>
{% endblock javascript %}


{% block stylesheets %}
    <!-- Additional styles -->
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/form3860.css?v=1') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/switches3860.css?v=1') }}">

    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/table3860.css?v=1') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/progress-slider3860.css?v=1') }}">

    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('bundles/pequivenseip/select2-3.5.0/select2.css') }}">

    <!-- jQuery Form Validation -->
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/formValidator/developr.validationEngine3860.css?v=1') }}">    

{% endblock %}

{% block javascripts %}

    <script src="{{  asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/jquery.tablesorter.min.js') }}"></script>
    <script src="{{  asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.progress-slider.js') }}"></script>
    <script src="{{  asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/DataTables/jquery.dataTables.min.js') }}"></script>
    <!-- Select2 -->
    <script src="{{ asset('bundles/pequivenseip/select2-3.5.0/select2.min.js') }}"></script>
    <!-- jQuery-ui -->
    <script src="{{ asset('bundles/pequivenseip/jquery-ui.custom/jquery-ui.js?v=1') }}"></script>

    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/formValidator/jquery.validationEngine3860.js?v=1') }}"></script>
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/formValidator/languages/jquery.validationEngine-' ~ app.request.locale ~ '3860.js?v=1') }}"></script>

    <script src="{{  asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.tabs.js') }}"></script>
{% endblock %}