{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% trans_default_domain 'workStudyCircle' %}

{% block before_body %}
    {{ contentHeader(
        ("workStudyCircle.title"|trans ),
        ("workStudyCircle.coordinator.add"|trans )
    ) }}
{% endblock %}

{% block body %}

    {#    {{ dump(workStudyCircle) }}#}
    <form method="POST" action="{{ path("pequiven_work_study_circle_add_coordinator",{idWorkStudyCircle:id,typeCoordinator:typeCoordinator}) }}">
        <fieldset class="fieldset">
            <legend class="legend" >Añadir Coordinador</legend>
            <div class="columns">
                
                <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        {{ form_widget(form.members) }}
                    </p>
                </div>
                
                <!-- Filtro Coordinadores -->
                {#<div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <label class="bold">Seleccione el Coordinador</label>
                    <br/>
                    <div class="with-mid-padding">
                        <input type="text" name="add[coordinators]" id="coordinators" ng-model="model.coordinator" style='width: 270px' />
                    </div>
                </div>#}
            </div>
        </fieldset>
        {{ actions.create() }}
    </form>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            
            charge();
            
            function charge(){
            $("#workStudyCircle_data_members").select2({
                minimumInputLength: 3
            });
                
               {#$('.select2').select2({
                allowClear: true
                });#}
            }
            
            {#var urlCoordinators = '{{ path('pequiven_work_study_circle_only_coordinators',{workStudyCircleId: id}) }}';
            var parametersSelectCoordinators = {
                minimumInputLength: 1,
                multiple: true,
                allowClear: true,
                ajax: {// instead of writing the function to execute the request we use Select2's convenient helper
                    url: urlCoordinators,
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            query: term, // search term
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return {results: data};
                    },
                    cache: true
                },
                initSelection: function (element, callback) {
                },
                formatResult: responsiblesFormatResult, // omitted for brevity, see the source of this page
                formatSelection: responsiblesFormatResult, // omitted for brevity, see the source of this page
                escapeMarkup: function (m) {
                    return m;
                } // we do not want to escape markup since we are displaying html in results
            };

            $('#coordinators').select2(parametersSelectCoordinators);#}
        });
    </script>
{% endblock javascript %}
