{# empty Twig template #}
{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block before_body %}
    {{ contentHeader(
        ("pequiven_seip.politic.work_study_circle"|trans ),
        ( 'pequiven.add'|trans({},'messages') )
    ) }}
{% endblock %}

{% block body -%}
    <form method="POST" action="{{ path("pequiven_work_study_circle_create") }}">
        {{ form_errors(form) }}
        <br /><br />
        {#{% include 'PequivenSEIPBundle:Politic/WorkStudyCircle:_form.html.twig' %}
        {{ actions.create() }}
        {{ form_rest(form) }}#}

        <fieldset class="fieldset fields-list">
            <legend class="legend">Coordinador Lider</legend>

            <div class="field-block button-height">
                <label class="label">Coordinador Lider</label>
                <input class="input input-large" disabled type="text" value="{{ user.getOnlyFullNameUser }}">
            </div>    
            <div class="field-block button-height">
                <label class="label">Numero de Personal</label>
                <input class="input input-large" disabled type="text" value="{{ user.numPersonal }}">
            </div>
            <div class="field-block button-height">
                {{ form_widget(form_user) }}
            </div>
        </fieldset>
            
        <fieldset class="fieldset fields-list">
            <legend class="legend">{{ 'pequiven_seip.politic.work_study_circle'|trans }}</legend>
            <div class="field-block button-height">
                {{ form_widget(form) }}
            </div>
        </fieldset>

        {{ actions.create() }}
    </form>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#workStudyCircle_data_region").select2({allowClear: true});
            $("#workStudyCircle_data_complejo").select2({allowClear: true});
            $("#workStudyCircle_data_gerencias").select2({allowClear: true});
            $("#workStudyCircle_data_gerenciaSeconds").select2({allowClear: true});
            $("#workStudyCircle_data_userWorkerId").select2({
                minimumInputLength: 3,
            });
        });
    </script>
{% endblock javascript %}