{% trans_default_domain 'workStudyCircle' %}

{#{% set userCreatedId = workStudyCircle.getCreatedBy.id %}#}
{% if workStudyCircle.coordinator != null %}
    {% set userCoordinator = workStudyCircle.coordinator.id %}
{% else %}
    {% set userCoordinator = null %}
{% endif %}

<div class="block" >
    <div class="block-title">
        <h3 class="ng-binding">{{ "workStudyCircle.members.title"|trans }}</h3>
        {% if isAllowToAddMembers == true %}
            <div class="button-group absolute-right compact">
                <a class="button icon-list-add " href="{{ path("pequiven_work_study_circle_add_others_members",{idWorkStudyCircle:workStudyCircle.id})}}"  title="">
                    {{ "workStudyCircle.members.add"|trans }}&nbsp;
                </a>
            </div>
        {% endif %}
    </div>
    <div class="with-padding" ng-controller="WorkStudyCircleController">
        <table class="simple-table responsive-table tables-extras" id="sorting-example2">
            <thead>
                <tr>
                    <th scope="col" width="2%" class="header">{{ 'seip.table.header.nro'|trans({},'PequivenArrangementProgramBundle') }}</th>
                    <th scope="col" width="33%" class="header">Nombre</th>
                    <th scope="col" width="15%" class="hide-on-tablet header">Teléfono</th>
                    <th scope="col" width="15%" class="hide-on-mobile-portrait header">Cédula</th>
                    <th scope="col" width="15%" class="hide-on-mobile-portrait header">Extensión</th>
                    <th scope="col" width="15%" class="hide-on-mobile-portrait header">&nbsp;</th>
                </tr>
            </thead>
            <tbody>

                {% set cont = 1 %}
                
                {% for user in users %}
                    {% if (userCoordinator != user.id) %}
                        <tr {#ng-repeat="user in workStudyCircle.userWorkerId"#}  {#ng-init="paso=$index;"#}>
                            <td>{{ cont }}</td>
                            <td>{{ user.getOnlyFullNameUser }}</td>
                            <td>{{ user.cellphone }}</td>
                            <td>{{ user.getIndentification }}</td>
                            <td>{{ user.ext }}</td>
                            <td class="align-right vertical-center">
                                {% if isAllowToEditMembers == true and workStudyCircle.phase == 1 %}
                                    <div {#ng-controller="ToolsController" id="target_{$ paso+1 $}"#}>
                                        <span class="select compact">
                                            <a href class="select-value form-edit">{{ 'pequiven.actions'|trans({},'messages') }}</a>
                                            <span class="select-arrow"></span>
                                            <span class="drop-down">
                                                <a href="#" class="button icon-pencil editMember" data="{{ path('pequiven_work_study_circle_member_edit',{idUser:user.id}) }}">
                                                    {{ 'workStudyCircle.members.edit'|trans }}
                                                </a>
                                                {% if isAllowToDeleteMembers == true %}
                                                    <a href ng-click="removeMember(user='{{ user.id }}',userName='{{ user.firstname ~ ' ' ~ user.lastname }}',workStudyCircleName = '{{ workStudyCircle.name }}')" 
                                                   class="button icon-cross-round">{{ "pequiven.actions.delete"|trans({},"messages") }}</a>
                                                {% endif %}
                                            {#<span class="drop-down">
                                                <a href="{{ path('pequiven_work_study_circle_member_edit',{idUser:user.id}) }}" class="button icon-pencil">{{ "pequiven.actions.edit"|trans({},"messages") }}</a>
                                            </span>#}
                                            </span>
                                        </span>
                                    </div>
                                {% else  %}
                                    &nbsp;
                                {% endif %}

                            </td>
                            {% set cont = cont + 1 %}
                        </tr>
                    {% endif %}
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>