
{% extends 'PequivenSEIPBundle:Template:Developer/Common/tableFormat1.html.twig' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% trans_default_domain 'workStudyCircle' %}

{% block javascripts_base %}
    {{ parent() }}
    <script src="{{  asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.input.js') }}"></script>
{% endblock javascripts_base %}

{% block before_body %}
    {{ contentHeader("workStudyCircle.title" | trans({}))   }}
{% endblock %}

{% block body %}

    {#    {{ dump(workStudyCircle) }}#}

    <fieldset class="fieldset">
        <legend class="legend" >Círculo de Estudio y Trabajo&nbsp;</legend>
        <div class="columns">
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ "workStudyCircle.form.code"|trans }}</label>
                    {{ workStudyCircle.codigo }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ "workStudyCircle.form.nombre"|trans }}</label>
                    {{ workStudyCircle.name }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ "workStudyCircle.form.region"|trans }}</label>
                    {{ workStudyCircle.region.name }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ "workStudyCircle.form.complejo"|trans }}</label>
                    {{ workStudyCircle.complejo.description}}
                </p>
            </div>
            {#
        <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
            <p class="inline-label">
                <label class="label">{{ "workStudyCircle.form.gerenciaFirst"|trans }}</label>
                {% for gerencia in  workStudyCircle.gerencias %}
                    {{ gerencia }}<br>
                {% endfor %}
            </p>
        </div>
        <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
            <p class="inline-label">
                <label class="label">{{ "workStudyCircle.form.gerenciaSecond"|trans }}</label>
                {% for gerenciaSecond in  workStudyCircle.gerenciaSeconds %}
                    {{ gerenciaSecond }}<br>
                {% endfor %}
            </p>
        </div>
        <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
            <p class="inline-label">
                <label class="label">{{ "workStudyCircle.form.superintendencia"|trans }}</label>
                {{ workStudyCircle.superintendencia }}
            </p>
        </div>
        <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
            <p class="inline-label">
                <label class="label">{{ "workStudyCircle.form.supervision"|trans }}</label>
                {{ workStudyCircle.supervision }}
            </p>
        </div>
        <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
            <p class="inline-label">
                <label class="label">{{ "workStudyCircle.form.departamento"|trans }}</label>
                {{ workStudyCircle.departamento}}
            </p>
        </div>#}
        </div>
    </fieldset>


    <fieldset class="fieldset">
        <legend class="legend" >{{ "workStudyCircle.form.coordinador.title"|trans }}&nbsp;</legend>
        {% if workStudyCircle.phase == 4 %}
            <table width="90%" class="simple-table responsive-table tables-extras" > 
                <tr>
                    <td class="label" width="50%" style="font-weight: bold">Nombre y Apellido</td>
                    <td class="label"width="50%" style="font-weight: bold">Cargo</td>                
                </tr>
                <tr>
                    <td>JUANCARLO DEPABLOS</td>
                    <td>PRESIDENTE</td>
                </tr>
                <tr>
                    <td>NATASHA CASTILLO</td>
                    <td>VICE - PRESIDENTE</td>
                </tr>
                <tr>
                    <td>FRANCISCO MEJÍAS</td>
                    <td>DIRECTOR</td>
                </tr>
                <tr>
                    <td>JORGE PERDOMO</td>
                    <td>DIRECTOR</td>
                </tr>
                <tr>
                    <td>EDUARDO CASAÑAS</td>
                    <td>DIRECTOR</td>
                </tr>
                <tr>
                    <td>JOSÉ LUIS PÉREZ</td>
                    <td>DIRECTOR</td>
                </tr>
            </table>            
        {% else %}
            {% if workStudyCircle.coordinator != null %}
                <div class="columns">
                    <div class="new-row-mobile twelve-columns twelve-columns-tablet twelve-columns-mobile">
                        <p class="inline-label">
                            <label class="label">{{ "workStudyCircle.form.coordinador.nombre"|trans }}</label>
                            {{ workStudyCircle.coordinator.getFullNameUser }}
                        </p>
                    </div>
                    <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                        <p class="inline-label">
                            <label class="label">{{ "workStudyCircle.form.coordinador.telefono"|trans }}</label>
                            {{ workStudyCircle.coordinator.cellphone }}
                        </p>
                    </div>
                    <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                        <p class="inline-label">
                            <label class="label">{{ "workStudyCircle.form.coordinador.ext"|trans }}</label>
                            {{ workStudyCircle.coordinator.ext }}
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="block" >
                    <div class="block-title">
                        <div class="button-group absolute-left compact">
                            <a class="button icon-list-add " href="{{ path("pequiven_work_study_circle_add_coordinator",{idWorkStudyCircle:workStudyCircle.id,typeCoordinator:1})}}"  title="">
                                {{ "workStudyCircle.coordinator.add"|trans }}&nbsp;
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </fieldset>
    {% if workStudyCircle.phase != 4 %}
        <fieldset class="fieldset">
            <legend class="legend" >{{ "workStudyCircle.form.coordinatorDiscussion.title"|trans }}&nbsp;</legend>
            {% if workStudyCircle.coordinatorDiscussion != null %}
                <div class="columns">
                    <div class="new-row-mobile twelve-columns twelve-columns-tablet twelve-columns-mobile">
                        <p class="inline-label">
                            <label class="label">{{ "workStudyCircle.form.coordinatorDiscussion.nombre"|trans }}</label>
                            {{ workStudyCircle.coordinatorDiscussion.getFullNameUser }}
                        </p>
                    </div>
                    <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                        <p class="inline-label">
                            <label class="label">{{ "workStudyCircle.form.coordinatorDiscussion.telefono"|trans }}</label>
                            {{ workStudyCircle.coordinatorDiscussion.cellphone }}
                        </p>
                    </div>
                    <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                        <p class="inline-label">
                            <label class="label">{{ "workStudyCircle.form.coordinatorDiscussion.ext"|trans }}</label>
                            {{ workStudyCircle.coordinatorDiscussion.ext }}
                        </p>
                    </div>
                </div>

            {% else %}
                <div class="block" >
                    <div class="block-title">
                        <div class="button-group absolute-left compact">
                            <a class="button icon-list-add " href="{{ path("pequiven_work_study_circle_add_coordinator",{idWorkStudyCircle:workStudyCircle.id,typeCoordinator:2})}}"  title="">
                                {{ "workStudyCircle.coordinatorDiscussion.add"|trans }}&nbsp;
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </fieldset>
    {% endif %}
    <fieldset class="fieldset">
        {% if workStudyCircle.phase == constant('Pequiven\\SEIPBundle\\Entity\\Politic\\WorkStudyCircle::PHASE_TWO') %}
            <legend class="legend" >{{ "workStudyCircle.form.proposalsPhaseOne"|trans }}&nbsp;</legend>
        {% elseif workStudyCircle.phase == constant('Pequiven\\SEIPBundle\\Entity\\Politic\\WorkStudyCircle::PHASE_THREE') %}
            <legend class="legend" >{{ "workStudyCircle.form.proposalsPhaseTwo"|trans }}&nbsp;</legend>
        {% elseif workStudyCircle.phase == constant('Pequiven\\SEIPBundle\\Entity\\Politic\\WorkStudyCircle::PHASE_FOUR') %}
            <legend class="legend" >{{ "workStudyCircle.form.proposalsPhaseThree"|trans }}&nbsp;</legend>
        {% endif %}

        <div ng-controller="TableFormatController">
            <div ng-controller="TableProposalController">

                <details class="details margin-bottom" open="">
                    <summary role="button" aria-expanded="true">
                        {{ 'pequiven.filters'|trans({},'messages') }}
                    </summary>

                    <div class="with-padding">
                        <div class="columns">

                            <!-- Filtro Círculos de Estudio de Trabajo -->
                            <div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                                <label class="bold">{{ 'pequiven_seip.filters.work_study_circle'|trans({},'PequivenSEIPBundle') }}</label>
                                <br/>
                                <div class="with-mid-padding">
                                    <select class="select2 input-xlarge" id="selectWorkStudyCircle" ng-model="model.workStudyCircle" ng-init="getWorkStudyCircleInherited({{ workStudyCircle.id }})" ng-options="value as value.name for (key,value) in data.work_study_circles" >
                                        <option value=''></option>
                                    </select>
                                </div>
                            </div>

                            <!-- Filtro Líneas Estratégicas -->
                            <div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                                <label class="bold">{{ 'pequiven_seip.filters.line_strategic'|trans({},'PequivenSEIPBundle') }}</label>
                                <br/>
                                <div class="with-mid-padding">
                                    <select class="select2 input-xlarge" id="selectLineStrategic" ng-model="model.lineStrategic" ng-options="value as value.ref+'-'+value.description for (key,value) in data.line_strategics" >
                                        <option value=''></option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>

                </details>

                <div loading-container="tableParams.settings().$loading">
                    <table ng-table="tableParams" show-filter="true" template-pagination="custom/pager"  template-header="custom/header" api-data-url="{{ path('pequiven_proposal_inherited_work_study_circle',{_format:'json',workStudyCircleParent:workStudyCircle.id}) }}" export-csv="csv" class="table table-responsive table-extra-info">
                        <tr ng-repeat="result in $data | filter:tableParams.search " data="{$ result|json $}">
                            <td data-title="'CET'" width="10%" style="text-align: center">
                                <a href="{$ result._links.self.show $}">{$ result.workStudyCircle.name $}</a>
                            </td>
                            <td data-title="'Línea Estratégica'"  width="10%"  style="text-align: center">
                                <a href="{$ result._links.self.show $}">{$ result.lineStrategic.description $}</a>
                            </td>
                            <td data-title="'Propuesta'"  width="80%">
                                <a href="{$ result._links.self.show $}">{$ result.description $}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>

    {% set users = workStudyCircle.obtainMembersWithoutCoordinator %}
    <br /><br />
    {% include 'PequivenSEIPBundle:Politic:WorkStudyCircle/members.html.twig' %}
    <br /><br />
    {% include 'PequivenSEIPBundle:Politic:WorkStudyCircle/proposals.html.twig' %}
    <br /><br />
    {% if(is_granted(["ROLE_SEIP_MEETING_LIST"])) %}
        {% include 'PequivenSEIPBundle:Politic:WorkStudyCircle/meetings.html.twig' %}    
    {% endif %}
    <br /><br />
    {% set routeExportWorkStudyCircle = path('pequiven_work_study_circle_export_pdf',{idWorkStudyCircle:workStudyCircle.id}) %}
    {% if(is_granted(["ROLE_SEIP_WORK_STUDY_CIRCLES_EXPORT_REPORT"])) %}
        <div class="align-right">
            {% if (workStudyCircle.phase==1)%}
                {% set routeConfigApoyo = path('pequiven_work_study_circle_export_BackRestpdf',{idWorkStudyCircle:workStudyCircle.id}) %}
                {{ buttons.generic(
                    (routeConfigApoyo),
                    ('workStudyCircle.export.exportBackRest'|trans({})),
                    'icon-download'
                 ) 
                }}
                &nbsp;        
            {% endif %}
            {% set routeConfig = path('pequiven_work_study_circle_export_pdf',{idWorkStudyCircle:workStudyCircle.id}) %}
            {{ buttons.generic(
                    (routeConfig),
                    ('workStudyCircle.export.exportPdf'|trans({})),
                    'icon-download'
                 ) 
            }}
            &nbsp;        
            {% set routeConfig3 = path('pequiven_proposal_export_pdf',{idWorkStudyCircle:workStudyCircle.id}) %}

            {{ buttons.generic(
                    (routeConfig3),
                    ('workStudyCircle.proposals.exportpdf'|trans({})),
                    'icon-download'
                 ) 
            }}
            &nbsp;        
            {% set routeConfig2 = path('pequiven_all_meetings_export_pdf',{idWorkStudyCircle:workStudyCircle.id}) %}

            {{ buttons.generic(
                    (routeConfig2),
                    ('workStudyCircle.meetings.exportpdf'|trans({})),
                    'icon-download'
                 ) 
            }}

        </div>              
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">

$(document).ready(function ()
{
    charge();
        {#$('#selectWorkStudyCircle').select2({
            minimumInputLength: 2,
            allowClear: true,
        })#}

                function charge() {
                    $('.select2').select2({
                        allowClear: true
                    });
                }

            });

            function getTableExtraInfo(data)
            {
                var response = '';
                return response;
            }
    </script>

{% endblock %}