{% block body %}
<style type="text/css">
    .messages{
        float: left;
        font-family: sans-serif;
        display: none;
    }
    .info{
        padding: 10px;
        border-radius: 10px;
        background: orange;
        color: #fff;
        font-size: 10px;
        text-align: center;
    }
    .before{
        padding: 10px;
        border-radius: 10px;
        background: blue;
        color: #fff;
        font-size: 10px;
        text-align: center;
    }
    .success{
        padding: 10px;
        border-radius: 10px;
        background: green;
        color: #fff;
        font-size: 10px;
        text-align: center;
    }
    .error{
        padding: 10px;
        border-radius: 10px;
        background: red;
        color: #fff;
        font-size: 10px;
        text-align: center;
    }
</style>

<form method="POST" id="form_tracing_add">
    <fieldset class="fieldset fields-list">
        <legend class="legend">Estandarización</legend>
            <div class="field-block button-height" >            
                {{ form_label(form.area) }}            
                {{ form_widget(form.area) }}            
            </div>  
            <div class="field-block button-height" >            
                {{ form_label(form.detection) }}            
                {{ form_widget(form.detection) }}            
            </div>  
            <div class="field-block button-height" >            
                {{ form_label(form.code) }}            
                {{ form_widget(form.code) }}            
            </div>  
            <div class="field-block button-height" >            
                {{ form_label(form.type) }}            
                {{ form_widget(form.type) }}            
            </div>  
            <div class="field-block button-height" >            
                {{ form_label(form.description) }}            
                {{ form_widget(form.description) }}            
            </div>  
            <div class="field-block button-height" >            
                <label class="label">Tratamiento</label>                                
                <input type="checkbox" name="arrangementProgram" id="arrangementProgram" value="1" class="checkbox mid-margin-left">
                <label for="checkbox-2" class="">Programa de Gestión</label>

                <input type="checkbox" name="analysis" id="analysis" value="1" class="checkbox mid-margin-left"> <label for="checkbox-2" class="">Análisis Causa Raíz</label>
            </div>    
    </fieldset>
    
    <input type="hidden" value="" id="fileName" name="fileName">

    <div class="columns">                
        <div class="six-columns six-columns-tablet twelve-columns-mobile">
            <fieldset class="fieldset" style='display:none;' id="loadPg">
                <legend class="legend">Programa de Gestión</legend>
                <label class="label">Seleccione programa de Gestión</label>
                    {{ form_label(form.arrangementProgram) }}            
                    {{ form_widget(form.arrangementProgram) }} 
            </fieldset>            
        </div>    
</form>    
        <div class="six-columns six-columns-tablet twelve-columns-mobile">
            <fieldset class="fieldset" style='display:none;' id="loadCr">
                <legend class="legend">Analisis Causa Raiz</legend>                
                <form enctype="multipart/form-data" class="formulario">  
                    <input id="idObject" name="idObject" value="0" type="hidden">
                    <input id="typeObject" name="typeObject" value="4" type="hidden">                  
                    <input name="archivo" type="file" id="imagen"/>
                    <input type="button" id="subir" value="Subir archivo"/>
                </form>                
                <div class="messages"></div>
            </fieldset>
        </div>
    </div>

<script src="{{  asset('bundles/pequivensig/js/loadFiles.js') }}"></script> 
<script type="text/javascript">
    $('input#arrangementProgram').change(function() {        
        if($(this).is(":checked")) {
            $('#loadPg').show();                    
        }else{
            $('#loadPg').hide();        
        }
    });

    $('input#analysis').change(function() {        
        if($(this).is(":checked")) {
            $('#loadCr').show();                    
        }else{
            $('#loadCr').hide();        
        }
    }); 
         
    $(document).ready(function () {
        $("#sig_standardization_detection").select2({    
        });

        $("#sig_standardization_type").select2({    
        });

        $("#sig_standardization_arrangementProgram").select2({
            //minimumInputLength: 3,
        });  
        
        var urlFiles = "{{ path("pequiven_sig_monitoring_show_upload") }}";
        setUrlFiles(urlFiles);      
    })
        
    
</script>

{% endblock %}