{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutSIG.html.twig' %}

{% block body %}
<fieldset class="fieldset ">
        <legend class="legend">Estandarización</legend>
        <div class="columns">        
        <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
            <p class="inline-label">
                <label class="label">Area o Proceso</label>
                    {{ standardization.area }}
            </p>
        </div>                
    </div>    
</fieldset>
<form method="POST" id="form_maintenance_add">
    <fieldset class="fieldset fields-list">
        <legend class="legend">Mantenimiento</legend>
            <div class="field-block button-height" >            
                {{ form_label(form.analysis) }}            
                {{ form_widget(form.analysis) }}            
            </div>  
            <div class="field-block button-height" >            
                {{ form_label(form.dateStart) }}            
                {{ form_widget(form.dateStart) }}            
            </div>  
            <div class="field-block button-height" >            
                {{ form_label(form.dateEnd) }}            
                {{ form_widget(form.dateEnd) }}            
            </div>              
            <div class="field-block button-height" >            
                {{ form_label(form.observations) }}            
                {{ form_widget(form.observations) }}            
            </div>              
    </fieldset>    
</form>   

<script type="text/javascript">
    {% if period_valid is defined %}
            $("#sig_maintenance_dateStart").datepicker({
                    changeYear: false,
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "dd/mm/yy",
                    minDate: "01/01/" + {{ period_valid }},
                    maxDate: "31/12/" + {{ period_valid }},
            });

            $("#sig_maintenance_dateEnd").datepicker({
                    changeYear: false,
                    changeMonth: true,                
                    numberOfMonths: 1,
                    dateFormat: "dd/mm/yy",
                    minDate: "01/01/" + {{ period_valid }},
                    maxDate: "31/12/" + {{ period_valid }},
            });
    {% endif %}
</script> 
{% endblock %}