{% trans_default_domain 'PequivenArrangementProgramBundle' %}

<div class="standard-tabs margin-bottom" id="add-tabs">

    <ul class="tabs">
        <li class="active"><a href="#tab-1">{{ 'pequiven.details'|trans({},'messages') }}</a></li>
        <li><a href="#tab-2">{{ 'pequiven.events'|trans({},'messages') }}</a></li>
        <li><a href="#tab-3">{{ 'pequiven.arrangement_program.observations'|trans({},'PequivenArrangementProgramBundle') }}</a></li>
    </ul>

    <div class="tabs-content">

        <div id="tab-1" class="with-padding">
            <p class="inline-label">
                <label class="label">{{ 'pequiven.arrangement_program.responsible_for_notify'|trans }}</label>
                {% if validConfiguration == true %}
                    {% if entity.categoryArrangementProgram.id == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::ASSOCIATE_ARRANGEMENT_PROGRAM_SIG') %}
                        {% set usersNotify = configuration.arrangementProgramSigUsersToNotify %}
                    {% else %}
                        {% set usersNotify = configuration.arrangementProgramUsersToNotify %}
                    {% endif %}
                    {% for userNotify in usersNotify %}
                        <small class="tag orange-bg">{{ userNotify }}</small>{% if loop.last == false %},{% else %}.{% endif %}
                    {% else %}
                        <small class="tag red-bg">{{ 'pequiven.arrangement_program.you_must_assign_responsible'|trans }}</small>
                    {% endfor %}
                {% else %}
                    <small class="tag red-bg">{{ 'pequiven.arrangement_program.you_must_assign_config'|trans }}</small>
                {% endif %}
            </p>
            <p class="inline-label">
                <label class="label">{{ 'pequiven.arrangement_program.responsible_for_review'|trans }}</label>
                {% if validConfiguration == true %}
                    {% if entity.categoryArrangementProgram.id == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::ASSOCIATE_ARRANGEMENT_PROGRAM_SIG') %}
                        {% set usersRevisers = configuration.arrangementProgramSigUsersToReviser %}
                    {% else %}
                        {% set usersRevisers = configuration.arrangementProgramUserToRevisers %}
                    {% endif %}
                    {% for userReviser in usersRevisers %}
                        <small class="tag orange-bg">{{ userReviser }}</small>{% if loop.last == false %},{% else %}.{% endif %}
                    {% else %}
                        <small class="tag red-bg">{{ 'pequiven.arrangement_program.you_must_assign_responsible'|trans }}</small>
                    {% endfor %}
                {% else %}
                    <small class="tag red-bg">{{ 'pequiven.arrangement_program.you_must_assign_config'|trans }}</small>
                {% endif %}
            </p>
            <p class="inline-label">
                <label class="label">{{ 'pequiven.arrangement_program.manager_approval'|trans }}</label>
                {% if validConfiguration == true %}
                    {% if entity.type == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::TYPE_ARRANGEMENT_PROGRAM_TACTIC') %}
                        {% if entity.categoryArrangementProgram.id == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::ASSOCIATE_ARRANGEMENT_PROGRAM_SIG') %}
                            {% set usersApproveTactical = configuration.arrangementProgramSigUsersToApprove %}
                        {% else %}
                            {% set usersApproveTactical = configuration.arrangementProgramUsersToApproveTactical %}
                        {% endif %}
                        {% for userApprove in usersApproveTactical %}
                            <small class="tag">{{ userApprove }}</small>{% if loop.last == false %},{% else %}.{% endif %}
                        {% else %}
                            <small class="tag red-bg">{{ 'pequiven.arrangement_program.you_must_assign_responsible'|trans }}</small>
                        {% endfor %}
                    {% endif %}
                    {% if entity.type == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::TYPE_ARRANGEMENT_PROGRAM_OPERATIVE') %}
                        {% if entity.categoryArrangementProgram.id == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::ASSOCIATE_ARRANGEMENT_PROGRAM_SIG') %}
                            {% set usersApproveOperative = configuration.arrangementProgramSigUsersToApprove %}
                        {% else %}
                            {% set usersApproveOperative = configuration.arrangementProgramUsersToApproveOperative %}
                        {% endif %}
                        {% for userApprove in usersApproveOperative %}
                            <small class="tag">{{ userApprove }}</small>{% if loop.last == false %},{% else %}.{% endif %}
                        {% else %}
                            <small class="tag red-bg">{{ 'pequiven.arrangement_program.you_must_assign_responsible'|trans }}</small>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <small class="tag red-bg">{{ 'pequiven.arrangement_program.you_must_assign_config'|trans }}</small>
                {% endif %}
            </p>
            <p class="inline-label">
                <label class="label">{{ 'pequiven.created_by'|trans({},'messages') }}</label>
                <span title="{{ entity.createdBy.username }}" class="with-tooltip">{{ entity.createdBy }}</span>
            </p>
            <p class="inline-label">
                <label class="label">{{ 'pequiven.created_at'|trans({},'messages') }}</label>
                {{ entity.createdAt|date(appConfiguration.generalDateFormat) }}
            </p>
            <p class="inline-label">
                <label class="label">{{ 'pequiven.arrangement_program.send_to_review_by'|trans }}</label>
                {{ entity.details.sendToReviewBy ? entity.details.sendToReviewBy : 'pequiven.arrangement_program.no_send_to_review_date'|trans }}
            </p>
            <p class="inline-label">
                <label class="label">{{ 'pequiven.arrangement_program.send_to_review_date'|trans }}</label>
                {{ entity.details.sendToReviewDate ? entity.details.sendToReviewDate|date(appConfiguration.generalDateFormat) : 'pequiven.arrangement_program.no_send_to_review_date'|trans }}
            </p>
            <p class="inline-label">
                <label class="label">{{ 'pequiven.arrangement_program.reviewed_by'|trans }}</label>
                {{ entity.details.reviewedBy ? entity.details.reviewedBy : 'pequiven.arrangement_program.no_revison_date'|trans }}
            </p>
            <p class="inline-label">
                <label class="label">{{ 'pequiven.arrangement_program.revision_date'|trans }}</label>
                {{ entity.details.revisionDate ? entity.details.revisionDate|date(appConfiguration.generalDateFormat) : 'pequiven.arrangement_program.no_revison_date'|trans }}
            </p>
            <p class="inline-label">
                <label class="label">{{ 'pequiven.arrangement_program.approved_by'|trans }}</label>
                {{ entity.details.approvedBy ? entity.details.approvedBy : 'pequiven.arrangement_program.no_approval_date'|trans }}
            </p>
            <p class="inline-label">
                <label class="label">{{ 'pequiven.arrangement_program.approval_date'|trans }}</label>
                {{ entity.details.approvalDate ? entity.details.approvalDate|date(appConfiguration.generalDateFormat) : 'pequiven.arrangement_program.no_approval_date'|trans }}
            </p>
            {% if entity.details.rejectedBy != null %}
                <p class="inline-label">
                    <label class="label">{{ 'pequiven.arrangement_program.details.rejected_by'|trans }}</label>
                    {{ entity.details.rejectedBy }}
                </p>
                <p class="inline-label">
                    <label class="label">{{ 'pequiven.arrangement_program.details.rejected_date'|trans }}</label>
                    {{ entity.details.rejectedDate ? entity.details.rejectedDate|date(appConfiguration.generalDateFormat) : ''|trans }}
                </p>
            {% endif %}
            {% if entity.details.notificationInProgressByUser != null %}
                <p class="inline-label">
                    <label class="label">{{ 'pequiven.arrangement_program.details.notification_in_progress.by_user'|trans }}</label>
                    <span class="green-gradient">{{ entity.details.notificationInProgressByUser }}</span>
                </p>
                <p class="inline-label">
                    <label class="label">{{ 'pequiven.arrangement_program.details.notification_in_progress.date'|trans }}</label>
                    {{ entity.details.notificationInProgressDate ? entity.details.notificationInProgressDate|date(appConfiguration.generalDateFormat) : ''|trans }}
                </p>
            {% endif %}
            {% if entity.details.lastNotificationInProgressByUser != null %}
                <p class="inline-label">
                    <label class="label">{{ 'pequiven.arrangement_program.details.last_notification_in_progress.by_user'|trans }}</label>
                    {{ entity.details.lastNotificationInProgressByUser }}
                </p>
                <p class="inline-label">
                    <label class="label">{{ 'pequiven.arrangement_program.details.last_notification_in_progress.date'|trans }}</label>
                    {{ entity.details.lastNotificationInProgressDate ? entity.details.lastNotificationInProgressDate|date(appConfiguration.generalDateFormat) : ''|trans }}
                </p>
            {% endif %}
        </div>

        <div id="tab-2" class="with-padding">
            <table class="simple-table responsive-table tables-extras" >
                <thead>
                    <tr>
                        <th scope="col" width="60%">{{ 'pequiven.table.header.event'|trans({},'messages') }}</th>
                        <th scope="col" width="20%" class="hide-on-mobile">{{ 'pequiven.table.header.user'|trans({},'messages') }}</th>
                        <th scope="col" width="20%" class="hide-on-mobile-portrait">{{ 'pequiven.table.header.date'|trans({},'messages') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history in entity.histories %}
                        <tr>
                            <th scope="row">
                                {{ history.event }}<br>
                                <small>{{ history.comment }}</small>
                            </th>
                            <td>
                                {{ history.user.firstname ~ " "~ history.user.lastname }} <small class="tag">{{ " (" ~ history.user.username ~ ")" }}</small>
                            </td>
                            <td>
                                {{ history.createdAt|date(appConfiguration.generalDateFormat) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
                
        <div id="tab-3" class="with-padding">
            <table class="simple-table responsive-table tables-extras" >
                <thead>
                    <tr>
                        <th scope="col" width="60%">{{ 'pequiven.table.header.observation'|trans({},'messages') }}</th>
                        <th scope="col" width="20%" class="hide-on-mobile">{{ 'pequiven.table.header.user'|trans({},'messages') }}</th>
                        <th scope="col" width="20%" class="hide-on-mobile-portrait">{{ 'pequiven.table.header.date'|trans({},'messages') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for observation in entity.observations %}
                        <tr>
                            <th scope="row">
                                {{ observation.description }}
                            </th>
                            <td>
                                {{ observation.createdBy.firstname ~ " "~ observation.createdBy.lastname }} <small class="tag">{{ " (" ~ observation.createdBy.username ~ ")" }}</small>
                            </td>
                            <td>
                                {{ observation.createdAt|date(appConfiguration.generalDateFormat) }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3" class="empty_row">
                                {{ "seip.table.empty.observations"|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>