{% trans_default_domain 'PequivenSEIPBundle' %}

{% macro create(url) %}
<div class="field-block button-height">
    <button type="submit" class="button glossy mid-margin-right save">
        <span class="button-icon"><span class="icon-tick"></span></span>
        {{ 'pequiven_seip.register'|trans }}
    </button>
    <a href="{{ url ? url : app.request.headers.get('referer') }}" class="button glossy cancel">
        <span class="button-icon red-gradient"><span class="icon-cross-round"></span></span>
        {{ 'pequiven_seip.cancel'|trans }}
    </a>
</div>
{% endmacro %}

{% macro createonly(url) %}
<div class="field-block button-height">
    <button type="submit" class="button glossy mid-margin-right save">
        <span class="button-icon"><span class="icon-tick"></span></span>
        {{ 'pequiven_seip.register'|trans }}
    </button>    
</div>
{% endmacro %}

{% macro assign(url) %}
<div class="field-block button-height">
    <button type="submit" class="button glossy mid-margin-right">
        <span class="button-icon green-gradient"><span class="icon-plus-round"></span></span>
        {{ 'pequiven_seip.actions.assign'|trans }}
    </button>    
</div>
{% endmacro %}

{% macro remove(url) %}
<div class="field-block button-height">
    <button type="submit" class="button glossy mid-margin-right">
        <span class="button-icon red-gradient"><span class="icon-trash"></span></span>
        {{ 'pequiven_seip.actions.remove'|trans }}
    </button>    
</div>
{% endmacro %}

{% macro create_formModal(url) %}
<div class="field-block button-height">
    <button type="submit" class="button glossy mid-margin-right">
        <span class="button-icon"><span class="icon-tick"></span></span>
        {{ 'pequiven_seip.register'|trans }}
    </button>
    <button type="button" class="button glossy" onclick="closeFormModal()">
        <span class="button-icon red-gradient"><span class="icon-cross-round"></span></span>
        {{ 'pequiven_seip.cancel'|trans }}
    </button>
    <script>
        function closeFormModal(){
            closeIFrame();
            //$("#modals",window.parent.document).remove();
        }
    </script>
</div>
{% endmacro %}

{% macro create_modal(url, message='generic', parameters = {}) %}
    {% set gradient = 'blue-gradient' %}
    {% set translation_domain = 'PequivenSEIPBundle' %}
    {% set content = 'messages' %}
    {% set icon = 'icon-pencil' %}
    {% if parameters['content'] is defined %}
        {% set content = parameters['content'] %}
    {% endif  %}
    {% if parameters['icon'] is defined %}
        {% set icon = parameters['icon'] %}
    {% endif  %}
    {% if parameters['translation_domain'] is defined %}
        {% set translation_domain = parameters['translation_domain'] %}
    {% endif  %}
    {% if parameters['gradient'] is defined %}
        {% set gradient = parameters['gradient'] %}
    {% endif  %}
    {% set idForm = url|hash %}
    <button type="button" class="button" onclick="openPopUp_{{ idForm }}('{{ idForm }}')">
        <span class="button-icon left-side {{ gradient }}"><span class="{{ icon }}"></span></span>
        {{ message|trans }}
    </button>
    <script type="text/javascript">
        function openPopUp_{{ idForm }}(idForm){
            var content = '<form action="{{ url }}" id="{{ idForm }}" method="post" novalidate>{{ content|raw }}</form>';
            //$.modal.showForm(area,confirmFormModal,cancelFormModal,options);
            $.modal.showForm(content,function(){
                $('#'+idForm).submit();
            },null,{title: '{{ message|trans }}', textSubmit: '{{ message|trans }}', textCancel: '{{ 'pequiven_seip.cancel'|trans }}' });
        }
    </script>
{% endmacro %}

{% macro update(url) %}
<div class="field-block button-height">
    <button type="submit" class="button glossy mid-margin-right save">
        <span class="button-icon"><span class="icon-tick"></span></span>
        {{ 'pequiven_seip.save'|trans }}
    </button>
    <a href="{{ url ? url : app.request.headers.get('referer') }}" class="button glossy cancel">
        <span class="button-icon red-gradient"><span class="icon-cross-round"></span></span>
        {{ 'pequiven_seip.cancel'|trans }}
    </a>
</div>
{% endmacro %}
