{#% extends "::base.html.twig" %#}
{% extends "PequivenSEIPBundle:Template:Developer/Common/tableFormat1.html.twig" %}
{% trans_default_domain 'PequivenObjetiveBundle' %}
{% block title %}- {{ 'pequiven_objetive.objetive_operative'|trans }}{% endblock %}

{% set route_index = urlReturn %}
{% if allow_create is not defined %}
    {% set allow_create = false %}
{% endif %}

{% block before_body %}
    {{ contentHeader(
        {(route_index):("pequiven_objetive.objetive_operative"|trans)},
        (gerencia.getDescription),
        ('pequiven_objetive.list'|trans)
    ) }}
{% endblock %}

{% block body %}
    {% if (gerenciaGroup.groupName == 'COMP') %}
        <p class="button-height">
            <a href="{{ urlVinculant }}" class="button red-gradient">{{ "principal.button.vinculant"|trans ({},'PequivenSEIPBundle') }}</a>
        </p>
    {% endif %}
    <input type="hidden" id="rolUser" value="{{ app.user.getRoles[0] }}">

    <div ng-controller="TableGroupingFormatController">
        <div ng-controller="TableObjetiveTacticController">
            <div loading-container="tableParams.settings().$loading">
                <table ng-table="tableParams" show-filter="true" template-pagination="custom/pager" template-header="custom/header" api-data-url="{{ url }}" export-csv="csv" class="table table-responsive table-extra-info">
                    <tbody ng-repeat="group in $groups">
                        <tr class="ng-table-group">
                            <td colspan="{$ $columns.length $}">
                                <a href="" ng-click="group.$hideRows = !group.$hideRows">
                                    <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                                    <strong>{$ group.value $}</strong>
                                </a>
                            </td>
                        </tr>
                        <tr ng-hide="group.$hideRows" ng-repeat="result in group.data" data="{$ result|json $}">
                            <td data-title="'{{ 'form.objetiveOperative'|trans }}'" sortable="'ref'" filter="{'description' : 'text'}">
                                <a href="{$ result._links.self.href $}">{$ result.ref+result.description+' ('+result.gerenciaSecond.description+')' $}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        
        $(document).ready(function()
        {
            
            charge();
            
            function charge(){
               
            }
        });
        
        function getTableExtraInfo(data)
            {
                var response = '';

                response = response + '<strong>¿Será evaluado por Objetivos Operativos?: </strong>';
                if(data.evalObjetive === true){
                    response = response + 'Sí';
                } else{
                    response = response + 'No';
                }
                response = response + '<br>';
                
                response = response + '<strong>¿Será evaluado por Programas de Gestión?: </strong>';
                if(data.evalArrangementProgram === true){
                    response = response + 'Sí';
                } else{
                    response = response + 'No';
                }
                response = response + '<br>';

                response = response + '<strong>¿Será evaluado por Indicadores Tácticos?: </strong>';
                var totalIndicators = data.indicators.length;
                if(totalIndicators > 0){
                    response = response + 'Sí';
                } else{
                    response = response + 'No';
                }
                response = response + '<br>';
                
                if(totalIndicators > 0){
                    response = response + '<strong>{{ 'pequiven_objetive.popup.indicators'|trans }}:</strong><br>';
                    for(var i = 0; i < totalIndicators; i++){
                        response = response + data.indicators[i].ref + data.indicators[i].description;
                        if(data.indicators[i].formula){
                            response = response + '&nbsp;Fórmula: ' + data.indicators[i].formula.equation;
                        }
                        response = response + '<br>';
                    }
                }
                return response;
            }
    </script>
{% endblock %}
