{% trans_default_domain 'PequivenSEIPBundle' %}
{% for indicator in indicatorTactic %}
    <div class="new-row-mobile four-columns six-columns-tablet twelve-columns-mobile">
        <div class="block large-margin-bottom">
            <div class="block-title">
                <h3>{{ indicator.gerencia }}</h3>
                {% if (indicator.res >= 70) %}
                    <span class="ribbon"><span class="ribbon-inner green-gradient"></span></span>
                {% elseif (indicator.res < 70  and indicator.res >=40) %}
                    <span class="ribbon"><span class="ribbon-inner orange-gradient"></span></span>
                {% elseif (indicator.res < 40  and indicator.res >=0) %}
                    <span class="ribbon"><span class="ribbon-inner red-gradient"></span></span>
                {% endif %}
            </div>
            <ul class="events">
                <li>
                    {% if (indicator.res >= 70) %}
                        <span class="event-date green"><img src="{{ asset('bundles/pequivenseip/logotipos/bullet_green.png') }}"></span>
                    {% elseif (indicator.res < 70  and indicator.res >=40) %}
                        <span class="event-date yellow"><img src="{{ asset('bundles/pequivenseip/logotipos/bullet_yellow.png') }}"></span>
                    {% elseif (indicator.res < 40  and indicator.res >=0) %}
                        <span class="event-date red"><img src="{{ asset('bundles/pequivenseip/logotipos/bullet_red.png') }}"></span>
                    {% endif %}
                    <a href="javascript:void(0);" class="event-description">
                        <p>{{ "principal.box.indicatorPlan"|trans }}: {{ indicator.planTactic }}<br>
                            {{ "principal.box.indicatorReal"|trans }}: {{ indicator.realTactic }}<br>
                            {{ "principal.box.indicatorPorc"|trans }}: {{ indicator.porcTactic }}
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endfor %}
