{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% block before_body %}
    {{ contentHeader(
        ("pequiven_seip.product_planning.product_planning"|trans )
    ) }}
{% endblock %}

{% block body %}
    {% set productReport = product_planning.productReport %}
    <fieldset class="fieldset">
        <legend class="legend">{{ 'pequiven_seip.product_planning.product_planning'|trans }}</legend>
        <div class="columns">
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven_seip.product_report.product_report'|trans }}</label>
                    {{ generateLink(productReport) }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Month'|trans }}</label>
                    {{ product_planning.monthLabel|trans }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Total month'|trans }}</label>
                    {{ product_planning.totalMonth }}&nbsp;{{ productReport.product.productUnit }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Daily production capacity'|trans }}</label>
                    {{ product_planning.dailyProductionCapacity }}&nbsp;{{ productReport.product.productUnit }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Net production percentage'|trans }}</label>
                    {{ product_planning.netProductionPercentage|myNumberFormat }}&nbsp;%
                </p>
            </div>
        </div>
    </fieldset>
                
    <br /><br />
        {% include 'PequivenSEIPBundle:DataLoad:Production/ProductPlanning/show/ranges.html.twig' %}
    <br /><br />
    <p class="button-height align-right">
        {% if periodService().isAllowPlanningReport %}
            {{ buttons.generic(path('pequiven_product_planning_update', { 'id': product_planning.id }),('pequiven.edit'|trans({},'messages'))) }}
            &nbsp;
            {{ buttons.delete(path('pequiven_product_planning_delete', { 'id': product_planning.id })) }}
        {% endif %}
    </p>
{% endblock %}