{% extends "PequivenSEIPBundle:Template:Developer/Common/tableFormat1.html.twig" %}
{% trans_default_domain 'PequivenSEIPBundle' %}

{% block body %}
    
    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            {{ 'pequiven_seip.users'|trans }}
            {#<a href="{{ path(route_index) }}">{{ 'pequiven_objetive.objetive_strategic'|trans }}</a>
            <span class="icon-forward"></span>
            <span class="thin">{{ 'pequiven_objetive.list'|trans }}</span>#}
        </h1>
    </hgroup>
    
    <div ng-controller="TableFormatController">
        <div ng-controller="TableUserController">
            <div loading-container="tableParams.settings().$loading">
                <table ng-table="tableParams" show-filter="true" template-pagination="custom/pager" template-header="custom/header" api-data-url="{{ path('userList',{_format:'json'}) }}" export-csv="csv" class="table table-responsive table-extra-info">
                    <tbody>
                        <tr ng-repeat="result in $data" data="{$ result|json $}">
                            <td data-title="'{{ 'pequiven_seip.firstName'|trans }}'">
                                <a href="{$ result._links.self.href $}">{$ result.firstName $}</a>
                            </td>
                            <td data-title="'{{ 'pequiven_seip.lastName'|trans }}'">
                                <a href="{$ result._links.self.href $}">{$ result.lastName $}</a>
                            </td>
                            <td data-title="'{{ 'pequiven_seip.numPersonal'|trans }}'" filter="{'numPersonal' : 'text'}">
                                <a href="{$ result._links.self.href $}">{$ result.numPersonal $}</a>
                            </td>
                            <td data-title="'{{ 'pequiven_seip.complejo'|trans }}'">
                                <a href="{$ result._links.self.href $}">{$ result.complejo.description $}</a>
                            </td>
                            <td data-title="'{{ 'pequiven_seip.gerenciaFirst'|trans }}'">
                                <a href="{$ result._links.self.href $}">{$ result.gerencia.description $}</a>
                            </td>
                            <td data-title="'{{ 'pequiven_seip.gerenciaSecond'|trans }}'">
                                <a href="{$ result._links.self.href $}">{$ result.gerenciaSecond.description $}</a>
                            </td>
                            <td data-title="'{{ 'pequiven_seip.rol'|trans }}'">
                                <a href="{$ result._links.self.href $}">{$ result.rol $}</a>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        function getTableExtraInfo(data)
            {
                var response = '';
                
                return response;
            }
    </script>
    
{% endblock %}
