{% trans_default_domain 'PequivenSIGBundle' %}

<div class="block">
    <div ng-controller="IndicatorSigEvolutionController"> 
        <div class="block-title">
            <h3 class="ng-binding">{$ indicator_sig.featuresIndicator.length $} {{ 'form.messages.action_plan'|trans({},'PequivenSIGBundle') }}</h3> 
            {% if not cloning and sumCause == 100 %}            
                <div class="button-group absolute-right compact">
                    <a class="button icon-list-add " href="" ng-click="loadTemplateActionEvolution()" title="">{{ 'pequiven.add'|trans({},'messages')  }}</a>
                </div>       
            {% endif %}
        </div>
        <div class="with-padding">
        {% if dataAction["values"] %}
            {% set colspan = 5 %}
            <table class="simple-table responsive-table tables-extras" id="sorting-example2">
                <thead>
                    <tr>
                        {#<th scope="col" width="2%" class="hide-on-mobile-portrait header">Estatus</th>#}
                        <th scope="col" width="10%" class="header" align="center">
                            {{ 'seip.table.header.nro'|trans({},'PequivenSIGBundle') }}
                        </th>
                        <th scope="col" width="35%" class="header">
                            {{ 'seip.table.header.action'|trans({},'PequivenSIGBundle') }}
                        </th>
                        <th scope="col" width="10%" class="hide-on-tablet header" align="center">
                            {{ 'seip.table.header.type_action'|trans({},'PequivenSIGBundle') }}
                        </th>
                        <th scope="col" width="10%" class="hide-on-mobile-portrait header" align="center">
                            {{ 'seip.table.header.start_date'|trans({},'PequivenSIGBundle') }}
                        </th>
                        <th scope="col" width="10%" class="hide-on-mobile-portrait header" align="center">
                            {{ 'seip.table.header.end_date'|trans({},'PequivenSIGBundle') }}
                        </th>
                        <th scope="col" width="10%" class="hide-on-mobile-portrait header" align="center">
                            Avance
                        </th>
                        <th scope="col" width="25%" class="hide-on-mobile-portrait header">
                            {{ 'seip.table.header.responsible'|trans({},'PequivenSIGBundle') }}(s)
                        </th>
                        <th scope="col" width="20%" class="hide-on-mobile-portrait header">
                            {{ 'seip.table.header.observations'|trans({},'PequivenSIGBundle') }}
                        </th>
                        {% set colspan = 6 %}
                        <th scope="col" width="10%" class="hide-on-mobile-portrait header">&nbsp;</th>
                    </tr>
                </thead>
                {% set count =  0 %}
                {% for  action in dataAction["values"] %}
                    {% if action.actionValue.status != 1 %}
                        {% set color = "fc0101" %}
                        {% set icon = "fa fa-exclamation-triangle" %}
                        {% set title = ""%}
                    {% else %}
                        {% set color = "008eff" %}
                        {% set icon = "fa fa-check-square" %}                            
                        {% set title = "Verificado"%}                            
                    {% endif %}
                    <tbody align="center">
                            {#<tr><td rowspan="2" style="color:#{{color}};" title="{{title}}"><i class="{{icon}} fa-1g"></i></td>#}
                            <td rowspan="2">{{ action.actionValue.ref }}</td>
                            <td rowspan="2" align="justify">{{ action.actionValue.action }}</td>
                            <td rowspan="2">{{ action.actionValue.indicatorAction.ref }}</td>
                            <td rowspan="2">{{ action.actionValue.dateStart | date("d/m/Y") }}</td>
                            <td rowspan="2">{{ action.actionValue.dateEnd | date("d/m/Y") }}</td>
                            <td rowspan="2">{{ action.advance }}%</td>
                            <td rowspan="2">
                                {% if action.actionValue.responsible %}
                                    {% for resp in action.actionValue.responsible %}
                                        {{ resp.firstname }} {{ resp.lastname }}
                                        <small class="tag">({{ resp.username }})</small>
                                        <br>
                                    {% endfor %}
                                {% else %}
                                    SIN RESPONSABLE CARGADO
                                {% endif %}
                            </td>
                            <td>
                                {% if action.observations %}
                                    {{ action.observations }}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                        {% if not cloning %}
                            <tr>
                                <td class="vertical-center" height="15">
                                    <span class="select compact">
                                        <a href class="select-value form-edit">{{ 'pequiven.actions'|trans({},'messages') }}</a>
                                        <span class="select-arrow"></span>
                                        <span class="drop-down">
                                            <a href ng-click="removeActionEvolution(action_data='{{ action.actionValue.id }}')" class="button icon-cross-round">{{ "pequiven.actions.delete"|trans({},"messages") }}</a>
                                            {% if action.observations == null and action.advance < 100 %}
                                                <a href ng-click="loadTemplateActionAdd(idAction='{{ action.actionValue.id }}',month='{{ month }}')" class="button icon-pencil">{{ "pequiven_indicator.upload_data"|trans({},"PequivenSIGBundle") }}</a>
                                            {% endif %}
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        {% endif %}
                        <tr ng-if="indicator.featuresIndicator.length == 0">
                            <td colspan="{{ colspan }}" class="empty_row">
                                {{ "empty.features_indicator"|trans({},'PequivenSEIPBundle') }}
                            </td>
                        </tr>
                    </tbody>
                    {% set count = count + 1 %}
                {% endfor %}
            </table> 
            <div class="" ng-init="count='{{ count }}'"></div>
        {% else %}
        <div class="new-row twelve-columns empty_row" align="center">
            <br>No hay Carga.                        
        </div>
        {% endif %}           
        </div>
    </div>
</div>