{% trans_default_domain 'PequivenSIGBundle' %}
<div class="block">
    <div ng-controller="IndicatorSigEvolutionCauseController"> 
        <div class="block-title">
        <h3 class="ng-binding">{{ 'sig.analysis_causes'|trans ({}, 'messages') }}</h3>
        {% if analysis and not cloning %}
            {% for data in analysis %}                
                {% if data.file %}
                    <div class="button-group absolute-right compact">                        
                        <a class=" button icon-download" href="{{ path('pequiven_sig_evolution_download_file', {'typeObject':1,'idObject':data.id})}}" target="_blank" title="Descargar Analisis Causa Raiz" download="{{ data.file }}">{{ "pequiven.actions.download_file"|trans({},"messages") }}</a>
                    </div>
                {% else %}
                <div class="button-group absolute-right compact">
                    <span class="messages"></span>
                    <form enctype="multipart/form-data" class="formulario"> 
                        <p class="button-height">
                            <input id="idObject" name="idObject" value="{{data.id}}" type="hidden">
                            <input id="typeObject" name="typeObject" value="1" type="hidden">
                            <input type="file" name="archivo" id="imagen" value="" class="file" multiple>
                            <input class="button icon-outbox" type="button" id="subir" value="Subir archivo"/>
                        </p>                                           
                    </form>                
                </div>  
                {% endif %}
            {% endfor %}
        {% elseif not cloning %}
            <div class="button-group absolute-right compact">
                <a class="button icon-list-add " href="" ng-click="loadTemplateCausesAnalysis()" title="">{{ 'pequiven.add'|trans({},'messages') }}&nbsp;</a>
            </div>
        {% endif %}
    </div>
    <div class="with-padding">
        {% if analysis %}
        {% set colspan = 5 %}
        <table class="simple-table responsive-table tables-extras" id="sorting-example2">
            <thead>
                <tr>
                    <th scope="col" width="150%" class="header">
                        {{ 'form.causes_analysis'|trans({},'PequivenSIGBundle') }}
                    </th>                    
                </tr>
            </thead>
        {% for data in analysis %}
            <tbody>
                <tr>
                    <td align="justify">
                        {{ data.description }}
                    </td>
                    {% if is_granted('ROLE_SEIP_SIG_EVOLUTION_DELETE_CAUSE_ANALYSIS') and not cloning %}  
                        <th class="align-right vertical-center">                          
                            <span class="select compact">
                            <a href class="select-value form-edit">{{ 'pequiven.actions'|trans({},'messages') }}</a>
                            <span class="select-arrow"></span>
                                <span class="drop-down">                                    
                                    <a href ng-click="removeAnalysisCause(data_cause='{{ data.id }}')" class="button icon-cross-round">{{ "pequiven.actions.delete"|trans({},"messages") }}</a>             
                                </span>
                            </span>
                        </th>  
                    {% endif %}                     
                </tr>
            </tbody>        
        {% endfor %}
        </table>
        {% else %}
            <div class="new-row twelve-columns empty_row" align="center">
                <br>No hay Carga.
            </div>
        {% endif %}           
        </div>
    </div>
</div>