{% trans_default_domain 'PequivenSIGBundle' %}
<input type="hidden" id="month" value="{{ month }}">
<div class="block">
    <div ng-controller="IndicatorSigEvolutionController"> 
        <div class="block-title">
            <h3 class="ng-binding">{{ 'sig.causes_desviation'|trans ({}, 'messages') }}</h3>
            {% if sumCause < 100 and not cloning %}        
                <div class="button-group absolute-right compact">
                    <a class="button icon-list-add " href="" ng-click="loadTemplateCausesDesviation(month='{{ month }}')" title="">{{ 'pequiven.add'|trans({},'messages')  }}</a>                    
                    <a href="javascript:void(0);" ng-click="loadTemplateCausesDesviationSync(month='{{ month }}')" class="button icon-refresh icon-size2 with-tooltip confirm" title="Sincronizar"></a>                    
                </div>                  
            {% endif %}        
        </div>
        <div class="with-padding">
        {% if cause['cant'] > 0 %}
            {% set colspan = 5 %}
            <table class="simple-table responsive-table tables-extras" id="sorting-example2">
                <thead>
                    <tr>
                        <th scope="col" width="5%" class="header">
                            {{ 'seip.table.header.nro'|trans({},'PequivenArrangementProgramBundle') }}
                        </th>
                        <th scope="col" width="12%" class="hide-on-tablet header" align="center">
                            {{ 'seip.table.header.value_of_cause'|trans({},'PequivenSIGBundle') }}
                        </th>
                        <th scope="col" width="45%" class="header" align="left">
                            {{ 'seip.table.header.description'|trans({},'PequivenSIGBundle') }}
                        </th>
                        <th scope="col" width="35%" class="hide-on-mobile-portrait header" align="left">
                            {{ 'seip.table.header.created_by'|trans({},'PequivenArrangementProgramBundle') }}
                        </th>
                        {% set colspan = 6 %}
                        <th scope="col" width="30%" class="hide-on-mobile-portrait header">&nbsp;</th>
                    </tr>
                </thead>
                {#{% for cause_data in cause %}#}
                {% for i in 0..cause['cant']-1 %}
                    <tbody>
                        <tr {{ cycle(["even", "odd"], loop.index) }}>                             
                            <td>{{ loop.index }} {% if cause['sync'][i] == true %}&nbsp;<i class="fa fa-cloud with-tooltip" style="color:red;" title="Causa sincronizada"></i>{% endif %}</td>
                            <td align="center">
                                {{ cause['valueofCause'][i] }}
                            </td>
                            <td align="left">{{ cause['description'][i] }}</td>
                            <td align="left">
                                {{ cause['createdBy'][i] }}
                                <small class="tag">({{ cause['createdByUserName'][i] }})</small>
                            </td>
                            {% if not cloning %}
                            <td class="align-right vertical-center">
                                <div >
                                    <span class="select compact">
                                        <a href class="select-value form-edit">{{ 'pequiven.actions'|trans({},'messages') }}</a>
                                        <span class="select-arrow"></span>
                                        <span class="drop-down">
                                            {% if cause['sync'][i] == false %}
                                                <a href ng-click="removeCausesEvolution(cause_data='{{ cause['id'][i] }}')" class="button icon-cross-round">{{ "pequiven.actions.delete"|trans({},"messages") }}</a>
                                            {% endif %}
                                        </span>
                                    </span>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% else %}
        <div class="new-row twelve-columns empty_row" align="center">
            <br>No hay Carga.
        </div>
        {% endif %}           
        </div>
    </div>
</div>