{% trans_default_domain 'PequivenSIGBundle' %}
<div class="block">
    <div ng-controller="IndicatorSigEvolutionController"> 
        <div class="block-title">
            <h3 class="ng-binding">{{ 'sig.causes_desviation'|trans ({}, 'messages') }}</h3>
            {% if sumCause < 100 and not cloning %}        
                <div class="button-group absolute-right compact">
                    <a class="button icon-list-add " href="" ng-click="loadTemplateCausesDesviation(month='{{ month }}')" title="">{{ 'pequiven.add'|trans({},'messages')  }}</a>
                </div>  
            {% endif %}        
        </div>
        <div class="with-padding">
        {% if cause %}
            {% set colspan = 5 %}
            <table class="simple-table responsive-table tables-extras" id="sorting-example2">
                <thead>
                    <tr>
                        <th scope="col" width="2%" class="header" align="center">
                            {{ 'seip.table.header.nro'|trans({},'PequivenArrangementProgramBundle') }}
                        </th>
                        <th scope="col" width="15%" class="hide-on-tablet header" align="center">
                            {{ 'seip.table.header.value_of_cause'|trans({},'PequivenSIGBundle') }}
                        </th>
                        <th scope="col" width="45%" class="header" align="left">
                            {{ 'seip.table.header.description'|trans({},'PequivenSIGBundle') }}
                        </th>
                        <th scope="col" width="35%" class="hide-on-mobile-portrait header" align="left">
                            {{ 'seip.table.header.created_by'|trans({},'PequivenArrangementProgramBundle') }}
                        </th>
                        {% set colspan = 6 %}
                        <th scope="col" width="30%" class="hide-on-mobile-portrait header">&nbsp;</th>
                    </tr>
                </thead>
                {% for cause_data in cause %}
                    <tbody>
                        <tr {{ cycle(["even", "odd"], loop.index) }}> 
                            <td>{{ loop.index }}</td>
                            <td align="center">
                                {{ cause_data.valueofCauses }}
                            </td>
                            <td align="left">{{ cause_data.causes }}</td>
                            <td align="left">
                                {{ cause_data.createdBy.firstname }} {{ cause_data.createdBy.lastname }}
                                <small class="tag">({{ cause_data.createdBy.username }})</small>
                            </td>
                            {% if not cloning %}
                            <td class="align-right vertical-center">
                                <div >
                                    <span class="select compact">
                                        <a href class="select-value form-edit">{{ 'pequiven.actions'|trans({},'messages') }}</a>
                                        <span class="select-arrow"></span>
                                        <span class="drop-down">
                                            <a href ng-click="removeCausesEvolution(cause_data='{{ cause_data.id }}')" 
                                               class="button icon-cross-round">{{ "pequiven.actions.delete"|trans({},"messages") }}</a>
                                        </span>
                                    </span>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% else %}
        <div class="new-row twelve-columns empty_row" align="center">
            <br>No hay Carga.
        </div>
        {% endif %}           
        </div>
    </div>
</div>