{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% trans_default_domain 'PequivenSEIPBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    <fieldset class="fieldset fields-list">
        <legend class="legend">{{ 'pequiven_seip.details'|trans }}</legend>
        <div class="field-block button-height">
            {% if form.plainPassword is defined %}
                {{ form_widget(form.plainPassword,{'attr':{'class':'input' }  }) }}
                {{ form_errors(form.plainPassword) }}
            {% else %}
                {{ form_widget(form.new,{'attr':{'class':'input' }  }) }}
                {{ form_errors(form.new) }}
            {% endif %}
        </div>
        <div id="currentPassword" class="field-drop button-height black-inputs">
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password,{'attr':{'class':'input' }  }) }}
            {{ form_errors(form.current_password) }}
        </div>
        {{ actions.update() }}
    </fieldset>
    {{ form_rest(form) }}
</form>
