{% trans_default_domain 'PequivenSEIPBundle' %}

<div class="block">
    <div class="block-title">
        <h3> {{ 'pequiven_seip.product_report.unrealized_production.unrealized_production'|trans }}&nbsp;({{ product_report.unrealizedProductions|length }})</h3>
    </div>
    <div class="with-padding">
        <table class="simple-table responsive-table tables-extras" id="sorting-example2">
            <thead>
                <tr>
                    <th scope="col" width="35%">{{ 'Month'|trans }}</th>
                    <th scope="col" width="10%" class="hide-on-mobile-portrait">{{ 'pequiven_seip.total'|trans }}</th>
                    <th scope="col" width="10%">&nbsp;</th>
                </tr>
            </thead>

            <tbody>
                {% set total = 0 %}
                {% for pnr in unrealizedProduction %}
                    {% set total = total + pnr.total  %}
                    <tr>
                        <td>{{ pnr.month}}</td>
                        <td>{{ pnr.total|myNumberFormat}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col" width="35%">{{ 'Total accumulated'|trans }}</th>
                    <th scope="col" width="10%" class="hide-on-mobile-portrait">{{ total|myNumberFormat }}</th>
                    <th scope="col" width="10%">&nbsp;</th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>