<br/>
<div class="inline-label">
    <label class="label">{{ 'pequiven_seip.results.results'|trans({},'PequivenSEIPBundle') }}</label>
    <ul class="fa-ul">
        {% for result in entity.results %}
            <li>
                {{ (result.resultDetails.globalResult ? result.resultDetails.globalResult : '0')|number_format(2) }}% - {{ result }} ({{ 'pequiven_seip.results.weight'|trans({},'PequivenSEIPBundle') }} {{ result.weight }}%)
                {% if result.childrens.count > 0 %}
                    <ul>
                    {% for child in result.childrens %}
                        <li>
                            {{ (child.resultDetails.globalResult ? child.resultDetails.globalResult : '0')|number_format(2) }}% - {{ child }} ({{ 'pequiven_seip.results.weight'|trans({},'PequivenSEIPBundle') }} {{ child.weight }}%)
                        </li>
                    {% endfor%}
                    </ul>
                {% endif %}
            </li>
        {% else %}
            <li>
                <b>{{ 'pequiven_seip.results.no_results'|trans({},'PequivenSEIPBundle') }}</b>
            </li>
        {% endfor  %}
    </ul>
</div>