{% trans_default_domain 'PequivenArrangementProgramBundle' %}

{{ form_errors(form) }}
<fieldset class="fieldset fields-list">
    <legend class="legend">{{ 'pequiven.arrangement_program.arrangement_program'|trans }}&nbsp;(<b>{{ entity.getTypeLabel|trans }}</b>)</legend>
    
    <div class="field-block button-height">
        <label class="label">{{ "pequiven.form.period"|trans }}</label>
        <b>{{ entity.period }}</b>
    </div>
    
    <div class="field-block button-height">
        {{ form_label(form.categoryArrangementProgram) }}
        {{ form_widget(form.categoryArrangementProgram) }}
        {{ form_errors(form.categoryArrangementProgram) }}
    </div>
    {% if form.tacticalObjective is defined %}
        <div class="field-block button-height">
            {{ form_label(form.tacticalObjective) }}
            {{ form_widget(form.tacticalObjective) }}
            {{ form_errors(form.tacticalObjective) }}
        </div>
    {% endif %}
    {% if form.operationalObjective is defined %}
        <div class="field-block button-height">
            {{ form_label(form.operationalObjective) }}
            {{ form_widget(form.operationalObjective) }}
            {{ form_errors(form.operationalObjective) }}
        </div>
    {% endif %}
    <div class="field-block button-height">
        <label class="label">{{ "pequiven.form.location"|trans }}</label>
        {{ entity.createdBy.complejo }}
    </div>
    <div class="field-block button-height">
        {{ form_label(form.process) }}
        {{ form_widget(form.process) }}
        {{ form_errors(form.process) }}
    </div>
    <div class="field-block button-height">
        {{ form_label(form.responsible) }}
        {{ form_widget(form.responsible) }}
        {{ form_errors(form.responsible) }}
    </div>
</fieldset>
    {% include 'PequivenArrangementProgramBundle:ArrangementProgram:form/timelines.html.twig' %}

{{ form_row(form._token) }}