{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% trans_default_domain 'PequivenArrangementProgramBundle' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/table3860.css?v=1') }}">
{% endblock stylesheets %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block body -%}

{% if entity.categoryArrangementProgram == "Hallazgo en el sig" %}   
  {% set title = entity.categoryArrangementProgram %}
{% else %}
  {% set title = entity.getTypeLabel|trans %}
{% endif %}

    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="{{ path('pequiven_seip_arrangementprogram_index') }}">{{ 'pequiven.arrangement_program.arrangement_program'|trans }}</a>
            <span class="icon-forward"></span>
            <span class="thin">{{ title }}</span>
            <span class="icon-forward"></span>
            <span class="thin">{{ 'pequiven.add'|trans({},'messages') }}</span>
        </h1>
    </hgroup>
        
    {{ form_start(form,{'attr':{ 'ng-controller':"ArrangementProgramController",'id':'formArrangementProgram' } }) }}
       {% if app.request.get('templateSource') != null %}
           <input type="hidden" name="templateSource" value="{{ app.request.get('templateSource') }}">
       {% endif %}
       {% include 'PequivenArrangementProgramBundle:ArrangementProgram:_form.html.twig' %}
       <br /><br />
       {{ actions.create() }}
    </form>
{% endblock %}
