{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% trans_default_domain 'PequivenArrangementProgramBundle' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/table3860.css?v=1') }}">
{% endblock stylesheets %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block body -%}

{% if entity.categoryArrangementProgram == "Hallazgo en el sig" %}   
  {% set title = entity.categoryArrangementProgram %}
{% else %}
  {% set title = entity.getTypeLabel|trans %}
{% endif %}

    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="{{ path('pequiven_seip_arrangementprogram_index') }}">{{ 'pequiven.arrangement_program.arrangement_program'|trans }}</a>
            <span class="icon-forward"></span>
            <span class="thin">
                <a href="{{ path('pequiven_seip_arrangementprogram_show',{'id':entity.id}) }}">{{ entity.getTypeLabel|trans }}</a>
            </span>
            <span class="icon-forward"></span>
            <span class="thin">{{ 'pequiven.update'|trans({},'messages') }}</span>
        </h1>
    </hgroup>

    {{ form_start(edit_form,{'attr':{ 'ng-controller':"ArrangementProgramController",'id':'formArrangementProgram' } }) }}
       {% include 'PequivenArrangementProgramBundle:ArrangementProgram:_form.html.twig' with {'form':edit_form} %}
       <br/><br/>
       {{ actions.update(path('pequiven_seip_arrangementprogram_show',{id:entity.id})) }}
    </form>
{% endblock %}
