{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% trans_default_domain 'PequivenArrangementProgramBundle' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/table3860.css?v=1') }}">
{% endblock stylesheets %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block body -%}
    <h1>ArrangementProgram edit</h1>

    {{ form_start(edit_form,{'attr':{ 'ng-controller':"ArrangementProgramController" } }) }}
       {% include 'PequivenArrangementProgramBundle:ArrangementProgram:_form.html.twig' with {'form':edit_form} %}
       {{ actions.update() }}
    </form>
    
    
<ul class="record_actions">
    <li>
        <a href="{{ path('pequiven_arrangementprogram') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
