{% extends "PequivenSEIPBundle:Template:Developer/Common/tableFormat1.html.twig" %}

{% trans_default_domain 'PequivenArrangementProgramBundle' %}

{% block body -%}
    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="{{ path('pequiven_seip_arrangementprogram_index') }}">{{ 'pequiven.arrangement_program.arrangement_program'|trans }}</a>
            <span class="icon-forward"></span>
            <span class="thin">{{ 'pequiven.list'|trans({},'messages') }}</span>
        </h1>
    </hgroup>
    
   <div ng-controller="TableFormatController">
       <div ng-controller="ReportArrangementProgramController">
            <details class="details margin-bottom" open="">
                <summary role="button" aria-expanded="true">
                    {{ 'pequiven.filters'|trans({},'messages') }}
                    
                    <div class="absolute-right padding-right-10px">
                        {{ 'pequiven.limit'|trans({},'messages') }}
                        <input type="number" min="0" class="input input-mini" ng-model="model.max_results" />
                    </div>
                </summary>
                <div class="with-padding">
                    <div class="columns">
                        <div class="new-row-mobile-portrait four-columns four-columns-tablet six-columns-mobile-landscape twelve-columns-mobile-portrait">
                            <div class="with-mid-padding">
                                {{ 'pequiven.company.company'|trans({},'CoramerSigtecCompanyBundle') }}
                                <input type="text" class="input input-small" ng-model="model.company">
                            </div>
                        </div>

                        <div class="new-row-mobile four-columns four-columns-tablet twelve-columns-mobile">
                            <div class="with-mid-padding">
                                {{ 'pequiven.table.header.resin'|trans }}
                                <select class="select input-small auto-refresh expandable-list" ng-model="model.resin" ng-options="value as value.description for (key,value) in data.resins.by_coramer" ng-change="reportTechnicalManager.getData().getGrade(model.resin)"></select>
                            </div>
                        </div>

                        <div class="new-row-tablet new-row-mobile four-columns twelve-columns-tablet">
                            <div class="with-mid-padding">
                                {{ 'pequiven.table.header.grade'|trans }}
                                <select class="select input-small auto-refresh expandable-list" ng-model="model.grades" ng-options="value as value.description for (key,value) in data.grades"></select>
                            </div>
                        </div>
                        <div class="new-row new-row-tablet new-row-mobile four-columns twelve-columns-tablet">
                            <div class="with-mid-padding">
                                {{ 'pequiven.user'|trans }}
                                <input type="text" class="input input-small" ng-model="model.user">
                            </div>
                        </div>
                        <div class="new-row new-row-tablet new-row-mobile four-columns twelve-columns-tablet">
                            <div class="with-mid-padding">
                                {{ 'pequiven.filter.only_last_report'|trans }}
                                <select class="select input-small auto-refresh expandable-list" ng-model="model.onlyLastReport" ng-options="value as value.description for (key,value) in data.yesNo"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </details>
        
                {% set filterYesNo = [
                    { 'id':0,'name': ('pequiven.no'|trans)},
                    { 'id':1,'name': ('pequiven.yes'|trans)},
                ] %}
                <div loading-container="tableParams.settings().$loading">
                    <table ng-table="tableParams" show-filter="true" template-pagination="custom/pager"  template-header="custom/header" api-data-url="{{ path('pequiven_seip_arrangementprogram_index',{_format:'json'}) }}" export-csv="csv" class="table table-responsive">
                        <tr ng-repeat="result in $data | filter:tableParams.search" data="{$ result|json $}">
                            <td data-title="'{{ 'pequiven.arrangement_program.advances' | trans }}'">
                                <img ng-if="result._data.summary.advances < 50" src="{{ asset('bundles/pequivenseip/logotipos/bullet_red.png') }}" class="semaphore">
                                <img ng-if="result._data.summary.advances >= 50"src="{{ asset('bundles/pequivenseip/logotipos/bullet_yellow.png') }}" class="semaphore">
                                <img ng-if="result._data.summary.advances == 100" src="{{ asset('bundles/pequivenseip/logotipos/bullet_green.png') }}" class="semaphore">
                                <span>
                                    {$ result._data.summary.advances $}/{$ result._data.summary.weight $}%
                                </span>
                            </td>
                            <td data-title="'{{ 'pequiven.ref'|trans({},'messages') }}'" sortable="'ref'" filter="{ 'ap.ref': 'text' }">
                                <a href="{$ result._links.self.href $}">{$ result.ref $}</a>
                            </td>
                            <td data-title="'{{ 'pequiven.arrangement_program.period'|trans }}'" sortable="'period'" filter="{ 'period': 'text' }">
                                {$ result.period.name $}
                            </td>
                            <td data-title="'{{ 'pequiven.arrangement_program.process'|trans }}'" sortable="'process'" filter="{ 'process': 'text' }">
                                {$ result.process $}
                            </td>
                            <td data-title="'{{ 'pequiven.arrangement_program.location'|trans }}'" sortable="'status'" filter="{ 'status': 'select' }">
                                {$ result.tacticalObjective.gerencia.complejo.description $}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

