{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% trans_default_domain 'PequivenArrangementProgramBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% if entity.categoryArrangementProgram.id == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::ASSOCIATE_ARRANGEMENT_PROGRAM_SIG') %}
    {% set configuration = gerenciaSIG.configuration %}
{% else %}
    {% set configuration = entity.tacticalObjective.gerencia.configuration %}
{% endif %}
{% set validConfiguration = false %}
{% if configuration != null %}
    {% set validConfiguration = true %}
{% endif %}

{% block body -%}

    <div ng-controller="ArrangementProgramController">
        <hgroup id="main-title" class="thin breadcrumb">
            <h1>
                <a href="{{ path('pequiven_seip_arrangementprogram_index') }}">{{ 'pequiven.arrangement_program.arrangement_program'|trans }}</a>
                <span class="icon-forward"></span>
                <span class="thin">{{ entity.getTypeLabel|trans }}</span>
                <span class="icon-forward"></span>
                <span class="thin">{{ 'pequiven.show'|trans({},'messages') }}</span>
            </h1>
        </hgroup>

        {% if validConfiguration == false %}
            {% set message =  'pequiven.arrangement_program.you_must_assign_config'|trans %}
            {{ print_error(message) }}
        {% endif  %}

        <fieldset class="fieldset">
            <legend class="legend">{{ 'pequiven.arrangement_program.arrangement_program'|trans }}&nbsp;<b>{{ entity.getTypeLabel|trans }}</b></legend>

            <div class="columns">
                <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">{{ 'pequiven.ref'|trans({},'messages') }}</label>
                        {{ generateLink(entity) }}
                    </p>
                </div>
                <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <p class="inline-label">
                        <label class="label">{{ 'pequiven.arrangement_program.period'|trans }}</label>
                        {{ entity.period }}
                    </p>
                </div>
                {% if appConfiguration.isSupportIntegratedManagementSystem == true %}
                    <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                        <p class="inline-label">
                            <label class="label">{{ 'pequiven.arrangement_program.process'|trans }}</label>
                            {{ entity.process }}
                        </p>
                    </div>
                {% endif %}
                <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <p class="inline-label">
                        <label class="label">{{ 'pequiven.arrangement_program.category_arrangement_program'|trans }}</label>
                        {{ entity.categoryArrangementProgram }}
                    </p>
                </div>

                <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    {% if entity.type == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::TYPE_ARRANGEMENT_PROGRAM_TACTIC') %}
                        <p class="inline-label">
                            <label class="label">{{ 'pequiven.arrangement_program.location'|trans }}</label>
                            {{ entity.tacticalObjective.gerencia.complejo }}
                        </p>
                    {% endif %}
                    {% if entity.type == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::TYPE_ARRANGEMENT_PROGRAM_OPERATIVE') %}
                        <p class="inline-label">
                            <label class="label">{{ 'pequiven.arrangement_program.location'|trans }}</label>
                            {{ entity.operationalObjective.gerencia.complejo }}
                        </p>
                    {% endif %}
                </div>
                <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <p class="inline-label">
                        <label class="label">{{ 'pequiven.arrangement_program.management'|trans }}</label>
                        {{ entity.tacticalObjective.gerencia }}
                    </p>
                </div>

                <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">{{ 'pequiven.arrangement_program.tactical_objective'|trans }}</label>
                        {% set avancedUsed = entity.tacticalObjective.result %}
                        {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
                        {{ generateLink(entity.tacticalObjective) }}
                    </p>        
                </div>
                {% if entity.type == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::TYPE_ARRANGEMENT_PROGRAM_OPERATIVE') %}
                    <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                        <p class="inline-label">
                            <label class="label">{{ 'pequiven.arrangement_program.operational_objective'|trans }}</label>
                            {% set avancedUsed = entity.operationalObjective.result %}
                            {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
                            {{ generateLink(entity.operationalObjective) }}
                        </p>
                    </div>
                {% endif %}

                <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">{{ 'pequiven.arrangement_program.responsibles'|trans }}</label>
                        {% for responsible in entity.responsibles %}
                            {{ responsible }}{% if loop.last == false %},{% else %}.{% endif %}
                        {% endfor %}
                    </p>
                </div>

                <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <p class="inline-label">
                        <label class="label">{{ 'pequiven.arrangement_program.status.status'|trans }}</label>
                        <small class="tag">{{ entity.labelStatus|trans }}</small>
                    </p>
                </div>
                {% if entity.type == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::TYPE_ARRANGEMENT_PROGRAM_OPERATIVE') %}
                    <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                        <p class="inline-label">
                            <label class="label">{{ 'pequiven.arrangement_program.management_second_line'|trans }}</label>
                            {{ entity.operationalObjective.gerenciaSecond }}
                        </p>
                    </div>
                {% endif %}
                <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <p class="inline-label">
                        <label class="label">{{ 'pequiven.arrangement_program.nameOfProgram'|trans }}</label>
                        {{ entity.description != '' ? entity.description :('pequiven.arrangement_program.description_none'|trans) }}
                    </p>
                </div>

            </div>
            {% set summary = entity.summary() %}
            {% if entity.status == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::STATUS_APPROVED') or
              entity.status == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::STATUS_REJECTED') %}
            <br/><br/>
            <p class="inline-label">
                <label class="label">{{ 'pequiven.arrangement_program.advances'|trans }}</label>
                {% set advances = entity.getResult %}
                {% if(entity.getResult < 0) %}
                    {% set advances = 0 %}
                {% endif %}

                {% set advancesClass = 'red-gradient' %}
                {% if advances >= 50 and advances < 100 %}
                    {% set advancesClass = 'orange-gradient' %}

                {% elseif advances >= 100 %}
                    {% set advancesClass = 'green-gradient' %}
                {% endif %}
                <span style="max-width: 400px" class="progress" data-progress-options='{"size":false,"barClasses":["{{ advancesClass }}","glossy"],"innerMarks":25,"topMarks":25,"topLabel":"[value]%","bottomMarks":[{"value":0,"label":"{{ 'pequiven.advances.nope'|trans({},'messages') }}"},{"value":50,"label":"{{ 'pequiven.advances.better'|trans({},'messages') }}"},{"value":100,"label":"{{ 'pequiven.advances.complete'|trans({},'messages') }}"}],"insetExtremes":true}'>{{ advances }}%</span>
            </p>
            <br/>
            {% endif %}
                <div class="columns">
                    <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                        <p class="inline-label">
                            <label class="label">{{ "pequiven.form.total_weight"|trans }}</label>
                            <span ng-if="getTotalWeight() == 0" class="tag">{$ getTotalWeight() $}/100 %</span>
                            <span ng-if="getTotalWeight() > 0 && getTotalWeight() < 100" class="tag orange-bg">{$ getTotalWeight() $}/100%</span>
                            <span ng-if="getTotalWeight() == 100" class="tag green-bg">{$ getTotalWeight() $}/100%</span>
                            <span ng-if="getTotalWeight() > 100" class="tag red-bg">{$ getTotalWeight() $}/100%</span>
                        </p>
                    </div>
                    <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet" ng-init="totalPlanned={{ summary['advancesPlanned'] }}">
                        <p class="inline-label">
                            <label class="label">{{ "pequiven.arrangement_program.total_planned"|trans }}</label>
                            <span ng-if="totalPlanned == 0" class="tag">{$ totalPlanned $}/100 %</span>
                            <span ng-if="totalPlanned > 0 && totalPlanned < 100" class="tag orange-bg">{$ totalPlanned $}/100%</span>
                            <span ng-if="totalPlanned == 100" class="tag green-bg">{$ totalPlanned $}/100%</span>
                            <span ng-if="totalPlanned > 100" class="tag red-bg">{$ totalPlanned $}/100%</span>
                        </p>
                    </div>
                </div>
            </fieldset>

            {% include 'PequivenArrangementProgramBundle:ArrangementProgram:show/timelines.html.twig' %}


            <h4>{{ 'pequiven.history'|trans({},'messages') }}</h4>
            {% include 'PequivenArrangementProgramBundle:ArrangementProgram:show/history.html.twig' %}

            <script type="text/javascript">
                $(function () {
                {% if app.session.flashbag.has('autoOpenOnSave') %}
                    {% set tmpClear = app.session.flashbag.get('autoOpenOnSave') %}
                            $('#arrangementGoalDetailsPop').click();
                {% endif %}
                    });
            </script>


        </div>

        <br /><br />

        <p class="button-height align-right">
            {% set filedObservation = '<br/><br/><textarea name="observation" class="input" placeholder="' ~ ('pequiven.arrangement_program.write_observation'|trans) ~ '" required="required" cols="28" rows="10" ></textarea>' %}

            {#<a href="{{ path('arrangementprogram_export',{ id: entity.id }) }}" class="button">
                <span class="button-icon"><span class="icon-download"></span></span>
                    {{ 'pequiven_seip.buttons.export_xls'|trans({},'PequivenSEIPBundle') }}
            </a>
            {% if isAllowToNotity == true %}
                &nbsp;
                {% if entity.details.notificationInProgressByUser == null %}
                    {{ buttons.generic_confirm(path('arrangementprogram_start_the_notification_process',{ id: entity.id }),('pequiven.arrangement_program.buttons.start_notification_process'|trans({},'PequivenArrangementProgramBundle')),{'icon':'icon-unlock','gradient':'green-gradient','content':('pequiven.arrangement_program.questions.want_to_start_the_notification_process'|trans)}) }}
                {% else %}
                    {{ buttons.generic_confirm(path('arrangementprogram_finish_the_notification_process',{ id: entity.id }),('pequiven.arrangement_program.buttons.end_notification_process'|trans({},'PequivenArrangementProgramBundle')),{'icon':'icon-lock','gradient':'red-gradient','content':('pequiven.arrangement_program.questions.want_to_finish_the_notification_process'|trans)}) }}
                {% endif %}
            {% endif %}#}

<p class="button-height align-right">

    {# Informe de Evolution #}
    {% if entity.showEvolutionView %}
    {% include 'PequivenSIGBundle:Template:base_evolution_nav.html.twig' with {'typeObject': 2, 'id': entity.id, 'route': 'pequiven_seip_arrangementprogram_evolution_sig'} %}        
    {% endif %}

    {% set filedObservation = '<br/><br/><textarea name="observation" class="input" placeholder="' ~ ('pequiven.arrangement_program.write_observation'|trans) ~ '" required="required" cols="28" rows="10" ></textarea>' %}
    
    <a href="{{ path('arrangementprogram_export',{ id: entity.id }) }}" class="button">
        <span class="button-icon"><span class="icon-download"></span></span>
        {{ 'pequiven_seip.buttons.export_xls'|trans({},'PequivenSEIPBundle') }}
    </a>

    {% if isAllowToNotity == true %}
        &nbsp;
        {% if entity.details.notificationInProgressByUser == null %}
            {{ buttons.generic_confirm(path('arrangementprogram_start_the_notification_process',{ id: entity.id }),('pequiven.arrangement_program.buttons.start_notification_process'|trans({},'PequivenArrangementProgramBundle')),{'icon':'icon-unlock','gradient':'green-gradient','content':('pequiven.arrangement_program.questions.want_to_start_the_notification_process'|trans)}) }}
        {% else %}
            {{ buttons.generic_confirm(path('arrangementprogram_finish_the_notification_process',{ id: entity.id }),('pequiven.arrangement_program.buttons.end_notification_process'|trans({},'PequivenArrangementProgramBundle')),{'icon':'icon-lock','gradient':'red-gradient','content':('pequiven.arrangement_program.questions.want_to_finish_the_notification_process'|trans)}) }}
        {% endif %}
    {% endif %}
    
    {% if isAllowToSendToReview == true %}
        &nbsp;
        {{ buttons.generic_confirm(path('arrangementprogram_send_to_review', { 'id': entity.id }),('pequiven.arrangement_program.buttons.send_to_review'|trans),{'icon':'icon-outbox','content':('pequiven.arrangement_program.questions.send_to_review'|trans)}) }}
    {% endif %}
    {% if (isAllowSuperAdmin == true or is_granted('ROLE_SEIP_ARRANGEMENT_PROGRAM_RETURN_TO_DRAFT')) and (entity.status != constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::STATUS_APPROVED') or entity.status != constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::STATUS_REVISED') or  entity.status != constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::STATUS_IN_REVIEW')) %}
        &nbsp;
        {{ buttons.generic_modal(path('arrangementprogram_return_to_draft', { 'id': entity.id }),('pequiven.arrangement_program.buttons.return_to_draft'|trans),{'icon':'icon-undo','content':('pequiven.arrangement_program.questions.return_to_draft'|trans) ~ filedObservation}) }}
    {% endif %}
     {% if isAllowToReview == true %}
        {% if entity.status == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::STATUS_IN_REVIEW') 
        %}
            &nbsp;
            {{ buttons.generic_confirm(path('arrangementprogram_revised', { 'id': entity.id }),('pequiven.arrangement_program.buttons.revised'|trans),{'gradient':'green-gradient','icon':'icon-like','content':('pequiven.arrangement_program.questions.revised'|trans)}) }}
            &nbsp;
            {{ buttons.generic_modal(path('arrangementprogram_return_to_draft', { 'id': entity.id }),('pequiven.arrangement_program.buttons.return_to_draft'|trans),{'icon':'icon-undo','content':('pequiven.arrangement_program.questions.return_to_draft'|trans) ~ filedObservation}) }}
        {% endif %}
    {% endif %}
    {% if isAllowToApprove == true %}
        {% if entity.status == constant('Pequiven\\ArrangementProgramBundle\\Entity\\ArrangementProgram::STATUS_REVISED') %}
            &nbsp;
            {{ buttons.generic_modal(path('arrangementprogram_return_to_review', { 'id': entity.id }),('pequiven.arrangement_program.buttons.return_to_review'|trans),{'icon':'icon-undo','content':('pequiven.arrangement_program.questions.return_to_review'|trans) ~ filedObservation}) }}
        {% endif %}
        &nbsp;
        {{ buttons.generic_confirm(path('arrangementprogram_approved', { 'id': entity.id }),('pequiven.arrangement_program.buttons.approved'|trans),{'gradient':'green-gradient','icon':'icon-tick','content':('pequiven.arrangement_program.questions.approved'|trans)}) }}
        &nbsp;
        {{ buttons.generic_modal(path('arrangementprogram_reject', { 'id': entity.id }),('pequiven.arrangement_program.buttons.rejected'|trans),{'gradient':'red-gradient','icon':'icon-cross','content':('pequiven.arrangement_program.questions.rejected'|trans) ~ filedObservation}) }}
    {% endif %}
    {% if  hasPermissionToUpdate == true %}
        &nbsp;
        {{ buttons.generic(path('arrangementprogram_update', { 'id': entity.id }),('pequiven.edit'|trans({},'messages'))) }}
    {% endif %}
    {% if isAllowToDelete == true %}
        &nbsp;
        {{ buttons.delete(path('arrangementprogram_delete', { 'id': entity.id })) }}
    {% endif %}
    &nbsp;
    {% include 'PequivenSEIPBundle:Planning:Update/buttons.html.twig' with (
            {
                routeUpdateResult: 'pequiven_planning_update_result_arrangement_program',
                entity: entity,
                urlUpdateResulReferral: (path('pequiven_seip_arrangementprogram_show',{id:entity.id}))
            }
        )
                %}
            </p>

            {% endblock %}

                {% block javascript %}
                    <script type="text/javascript">
                        jQuery(document).ready(function () {
                            $('.tables-extras').tablesorter();
                            // Progress
                            $('.progress').progress();
                        });
                    </script>
                {% endblock javascript %}
