{% trans_default_domain 'sip' %}

<div class="block">    
    <div ng-controller="SipCenterObservationController"> 

        <div class="block-title">
            <h3 class="ng-binding">{{ 'sip.observations'|trans({}) }}</h3>             
            <div class="button-group absolute-right compact">
                <a class="button icon-list-add " href="" ng-click="loadTemplateObservations()" title="">{{ 'pequiven.add'|trans({},'messages')  }}</a>
            </div>       
        </div>
        <div class="with-padding">            
            <table class="simple-table responsive-table tables-extras" id="sorting-example2">
                <thead>
                    <tr> 
                        <th scope="col" width="55%" class="header">Obervación</th>
                        <th scope="col" width="15%" class="header">Categoria</th>
                        <th scope="col" width="10%" class="header">Fecha</th>                       
                    </tr>
                </thead>                
                {% for dataObs  in observations %}
                <tbody>
                        <tr>
                            <td rowspan="2">{{ dataObs.observations }}</td>                            
                        
                            <td rowspan="2">{{ dataObs.categoria }}</td>                            
                        
                            <td rowspan="2">{{ dataObs.fecha | date("d/m/Y") }}</td>                            
                        </tr>
                </tbody>                                
                {% endfor %}
            </table> 
        </div>
    </div>
</div>