{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% trans_default_domain 'sip' %}

{% block javascripts_base %}
    {{ parent() }}
    <script src="{{  asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.input.js') }}"></script>
{% endblock javascripts_base %}

{% block before_body %}
    {{ contentHeader(
        {(path('pequiven_sip_center_list')): "sip.center.name"|trans},        
        ('pequiven.show'|trans({},'messages'))
    )}}
{% endblock %}

{% block body %}
    {% set show = 1 %}
        
    <div class="block_id" ng-init="idCenter='{{ center.codigoCentro }}'"></div>    
    {% if(assist == 1 ) %}
        {% set checkState = "checked" %}
    {% else  %}
        {% set checkState = "" %}
    {% endif %}


    <fieldset class="fieldset">
        <legend class="legend" >{{ 'sip.center.title'|trans({}) }}&nbsp;</legend>        
        {% if center.importante == "SI" %}                                        
            <div class="inline-label">
                <div class="three-columns red-bg" style="font-size: 20px; font-weight: bold;"align="center">                   
                    PRIORIZADO
                </div>              
            </div>
        {% endif %}
        <br>
        <div class="columns">
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Estado</label>
                    {{ center.descriptionEstado }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Municipio</label>
                    {{ center.descriptionMunicipio }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Parroquia</label>
                    {{ center.descriptionParroquia }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Código Centro</label>
                    {{ center.codigoCentro }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Centro</label>
                    {{ center.description }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Dirección</label>
                    {{ center.direccion }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">N° de Mesas</label>
                    {{ center.mesas }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">N° de Electores</label>
                    {{ center.electores }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">N° de Electores Pequiven</label>
                    <a href="{{ path("pequiven_sip_cutl_list_pqv",{idCentro:center.id})}}">
                        {{ pqvCentro }}
                    </a>
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">Centro de Misiones</label>                    
                        {{ center.centroMisiones }}                    
                </p>
            </div>
            {% if center.eje > 0 %}
                <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">Eje en la Parroquia</label>
                        {{ center.eje }}
                    </p>
                </div>
            {% endif %}
            
        </div>
        {# validacion de muestra solo para el 4 y 6 de diciembre #}
        {% set day3 = "03" %}
        {% set day4 = "04" %}
        {% set day6 = "06" %}

        {# Dia actual #}
        {% set day = "now" | date("d") %}
        {% if day4 == day or day6 == day %}
        <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
            <p class="inline-label">
                <label class="label">Mesas Activas</label>
                    {{ report }}
                    &nbsp;       
            </p>
            &nbsp; 
        </div>       
        <div ng-controller="SipCenterReportController">                 
                {% for reportM in reportMesa %}
                    {# red-gradient  green-gradient#}
                    <a class="button icon-pencil icon-size2" href="" ng-click="loadTemplateReportCenter(mesa='{{ reportM.mesa }}')" title="Cargar Estatus de Mesa">Mesa {{ reportM.mesa }}</a>        
                    &nbsp; 
                {% endfor %}            
        </div>
        {% endif %}
        &nbsp;  
        {% if day6 == day %}
        <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile" ng-controller="SipCenterReportController">
            <p class="inline-label">
                <label class="label">Seguimiento Voto</label>
                    {{ votos[0]["votos"] }}
                    &nbsp;       
                    <a class="button icon-add-user icon-size2" href="" ng-click="loadTemplateReportVoto(centro='{{ center.id }}')" title="Cargar Votos Registrados por Centro">Votos</a>        
            </p>            
        </div>
        {% endif %}
    </fieldset>  
    <br>
        {% include 'PequivenSEIPBundle:Sip:Center/StatusCenter.html.twig' %}  
    <br>
    <fieldset class="fieldset">
        <legend class="legend" >CUTL&nbsp;</legend>
        <div class="columns">
            {% set cont = 0 %}
            {% for dataCutl in  cutl %}
                {% if cont == 1 %}    
                    <HR>
                {% endif %}
                <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">Cedula</label>
                        {{ dataCutl.cedula }}
                    </p>
                </div>
                <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">Nombre</label>
                        {{ dataCutl.nombre }}
                    </p> 
                </div>
                <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">Gerencia de Primera Linea</label>
                        {{ dataCutl.gerenciafirst }}
                    </p>
                </div>
                <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">Gerencia de Segunda Linea</label>
                        {{ dataCutl.gerenciaSecond }}
                    </p>
                </div>
                <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">Teléfono Asignado:</label>
                        {{ dataCutl.telefonoCutl }}
                    </p>
                </div>
                <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">Teléfono Personal:</label>
                        {{ dataCutl.telefonoSeip }}/
                        {{ dataCutl.telefonoFirma }}
                    </p>
                </div>
                <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                </div>
                {% set cont = cont + 1 %}                    
            {% endfor %}
        </div>
    </fieldset> 
    <br>
        {% include 'PequivenSEIPBundle:Sip:Center/Ubch/list.html.twig' %}                                 
    <br>   
    {# Asistencias #}                                
        {% include 'PequivenSEIPBundle:Sip:Center/Assists.html.twig' %}                             
    
    <br>
    {# Observaciones #}
        {% include 'PequivenSEIPBundle:Sip:Center/Observations.html.twig' %} 
    <br>
    {# Inventario #}
        {% include 'PequivenSEIPBundle:Sip:Center/Inventory.html.twig' %}         
    
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    
        $(document).ready(function () {

            $('#switch-mode').change(function () {
                $('.switch-wrapper')[this.checked ? 'addClass' : 'removeClass']('reversed-switches');
            });
            
            $("p.switchAssistance input").change(function () {
                var idMember = $(this).attr("data");                
                //var value = $(this).val();              
                var value = $("#switch_" + idMember).val();
                //var id = document.getElementById("#switch_" + idMember);  
                var idMemberd = $(this).attr("data");                
                
                if (value == 1) {
                    $(this).val(0);                    
                } else {
                    $("#switch_" + idMember).prop("disabled", true);
                    $(this).val(1);                                     
                }
                var value = $("#switch_" + idMember).val();
                var data = {
                    idMember: idMember,
                    status: value,                    
                };
                //console.log(data);

                $.ajax({
                    type: 'get',
                    url: '{{ path("update_assistance_ubch") }}',
                    data: data,
                    beforeSend:function(objeto){
                            $('#carga_' + idMember).css({display:'block'});
                            $('#p_' + idMember).css('display','none');
                    },
                    complete:function(){
                        $('#carga_' + idMember).css('display','none');
                        $('#p_' + idMember).css('display','block');  
                    },
                    success: function (data) {                        
                        $(location).attr('href', data["url"]);
                    }
                });
                
            });
            
        });
    </script>
{% endblock %}

