{% trans_default_domain 'PequivenSEIPBundle' %}

<div class="block">
    <div class="block-title">
        <h3> {{ 'pequiven_seip.product_report.inventory.inventorys'|trans }}&nbsp;({{ product_report.inventorys|length }})</h3>
        <div class="button-group absolute-right compact">
            {% if isAllowPlanningReport %}
                <a class="button icon-list-add" href="{{ path('pequiven_inventory_create',{productReport: product_report.id}) }}">{{ 'pequiven.add'|trans({},'messages') }}</a>
            {% endif %}
        </div>
    </div>
    <div class="with-padding">
        <table class="simple-table responsive-table tables-extras" id="sorting-example2">
            <thead>
                <tr>
                    <th scope="col" width="40%">{{ 'Month'|trans }}</th>
                    <td align="right" colspan="{{ colspan }}" scope="col" width="20%" class="hide-on-mobile-portrait">{{ 'pequiven_seip.total'|trans }}</td>
                    <th scope="col" width="10%">&nbsp;</th>
                </tr>
            </thead>
            {% set colspan = 6 %}
            <tbody>
                {% set productUnit = product_report.product.productUnit %}
                {% for inventory in product_report.getInventorySortByMonth %}
                    <tr>
                        <td>{{ loop.index }} - 
                            {{ inventory|trans }}
                        </td>
                        <td scope="row" align="right" style="font-weight: bold;">
                            {{ inventory.getTotalInventory|myNumberFormat }}&nbsp;{{ productUnit }}
                        </td>
                        <td scope="row" align="right" style="font-weight: bold;" >
                            {% if factor %}
                                 {% set factorInventory = factorConversionService.calculateFormulaValueFromFactor(inventory.getTotalInventory,product_report) %}
                                {{ factorInventory|myNumberFormat }} {{ factorConversionService.unitToFactorConversion(product_report) }}
                                
                            {% endif %}
                        </td>
                        <td class="low-padding align-center">
                            {% if isAllowPlanningReport %}
                                <a href="{{ path("pequiven_inventory_update",{id: inventory.id}) }}" class="button compact icon-pencil">{{ "pequiven_seip.actions.edit"|trans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr >
                        <td colspan="{{ colspan }}" class="empty_row">
                            {{ "empty.inventorys"|trans }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>