{% trans_default_domain 'PequivenSEIPBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% set message = ("pequiven_seip.range.question.delete"|trans) %}

<div class="block">
    <div class="block-title">
        <h3> {{ 'pequiven_seip.product_report.product_detail_daily_months'|trans }}&nbsp;({{ product_report.productDetailDailyMonths|length }})</h3>
        <div class="button-group absolute-right compact">
            <a class="button icon-list-add" href="#">{{ 'pequiven.add'|trans({},'messages') }}</a>
        </div>
    </div>
    <div class="with-padding">
        <table class="simple-table responsive-table tables-extras" id="sorting-example2">
            <thead>
                <tr>
                    <th scope="col" width="20%">{{ 'Month'|trans }}</th>
                    <th scope="col" width="20%" class="hide-on-mobile-portrait">{{ 'pequiven_seip.totalPlan'|trans }}</th>
                    <th scope="col" width="20%" class="hide-on-tablet">{{ 'pequiven_seip.totalReal'|trans }}</th>
                    <th scope="col" width="20%" class="hide-on-tablet">{{ 'pequiven_seip.percentage'|trans }}</th>
                    <th scope="col" width="20%">&nbsp;</th>
                </tr>
            </thead>
            {% set colspan = 6 %}
            <tbody>

                {% for productDetailDailyMonth in product_report.productDetailDailyMonths %}
                    {% set tableIdRow = "row-productDetailDailyMonth-"~productDetailDailyMonth.id %}
                    <tr id="{{ tableIdRow }}">
                        <th scope="row">{{ loop.index }} - 
                            {{ generateLink(productDetailDailyMonth) }}
                        </th>
                        <td>
                            {{ productDetailDailyMonth.totalPlan }}
                        </td>
                        <td>{{ productDetailDailyMonth.totalReal }}</td>
                        <td>{{ productDetailDailyMonth.percentage }}&nbsp;%</td>
                        <td class="low-padding align-center">
                            <p class="button-height">
                                <span class="button-group">
                                    <a href="{{ path("pequiven_product_detail_daily_month_update",{id: productDetailDailyMonth.id}) }}" class="button icon-pencil">{{ "pequiven_seip.actions.edit"|trans }}</a>
                                    {% set deleteUrl = path("pequiven_product_detail_daily_month_delete",{id: productDetailDailyMonth.id}) %}
                                    {{ buttons.delete_mini(deleteUrl,message,tableIdRow) }}
                                </span>
                            </p>
                        </td>
                    </tr>
                {% else %}
                    <tr >
                        <td colspan="{{ colspan }}" class="empty_row">
                            {{ "empty.product_detail_daily_months"|trans }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>