{% trans_default_domain 'PequivenSEIPBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% set message = ("pequiven_seip.product_report.question.delete"|trans) %}

<div class="block">
    <div class="block-title">
        <h3> {{ 'pequiven_seip.report_template.raw_material'|trans }}&nbsp;({{ product_report.rawMaterialConsumptionPlannings|length }})</h3>
        {% set hasRawMaterials = (product_report.product.rawMaterials|length > 0 ? true : false) %}
        <div class="button-group absolute-right compact">
            {% if isAllowPlanningReport %}
                <a class="button icon-list-add {% if hasRawMaterials == false %}disabled{% endif %}" href="{% if hasRawMaterials == true %}{{ path("pequiven_raw_material_consumption_planning_create",{productReport:product_report.id}) }}{% else %}#{% endif %}">{{ 'pequiven.add'|trans({},'messages') }}</a>
            {% endif %}
        </div>
    </div>
    <div class="with-padding">
        <table class="simple-table responsive-table tables-extras" id="sorting-example2">
            <thead>
                <tr>
                    <th scope="col" width="30%">{{ 'pequiven_seip.product_report.product_report'|trans }}</th>
                    <td align="right" scope="col" width="10%" class="hide-on-mobile-portrait with-tooltip" title="{{ 'pequiven_seip.totalPlan'|trans }}">{{ 'pequiven_seip.headers.totalPlan'|trans }}</td>
                    <td align="right" scope="col" width="10%" class="hide-on-tablet with-tooltip" title="{{ 'pequiven_seip.totalReal'|trans }}">{{ 'pequiven_seip.headers.totalReal'|trans }}</td>
                    <td align="right" scope="col" width="10%" class="hide-on-tablet with-tooltip" title="{{ 'pequiven_seip.percentage'|trans }}">{{ 'pequiven_seip.headers.percentage'|trans }}</td>
                    <td align="right" scope="col" width="10%" class="hide-on-tablet">{{ 'Aliquot'|trans }}</td>
                    <th scope="col" width="10%">&nbsp;</th>
                </tr>
            </thead>
            {% set colspan = 9 %}
            <tbody>
                {% set totalsRaw = product_report.getTotalToDayRawMaterial %}
                {% for rawMaterialConsumptionPlanning in product_report.rawMaterialConsumptionPlannings %}
                    {% set tableIdRow = "row-rawMaterialConsumptionPlanning-"~rawMaterialConsumptionPlanning.id %}
                    {% set productUnit = rawMaterialConsumptionPlanning.product.productUnit %}
                    <tr id="{{ tableIdRow }}">
                        <th scope="row">
                            {{ loop.index }} - 
                            {{ generateLink(rawMaterialConsumptionPlanning) }}
                        </th>
                        <td align="right">{{ rawMaterialConsumptionPlanning.totalPlan|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                        <td align="right">{{ rawMaterialConsumptionPlanning.totalReal|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                        <td align="right">{{ rawMaterialConsumptionPlanning.percentage|myNumberFormat }}&nbsp;%</td>
                        <td align="right">{{ rawMaterialConsumptionPlanning.aliquot|number_format(5, ',', '.') }}</td>
                        <td class="low-padding align-center">
                            <p class="button-height">
                                <span class="button-group">
                                    {% if isAllowPlanningReport %}
                                        <a href="{{ path("pequiven_raw_material_consumption_planning_update",{id: rawMaterialConsumptionPlanning.id}) }}" class="button icon-pencil">{{ "pequiven_seip.actions.edit"|trans }}</a>
                                        {% set deleteUrl = path("pequiven_raw_material_consumption_planning_delete",{id: rawMaterialConsumptionPlanning.id}) %}
                                        {{ buttons.delete_mini(deleteUrl,message,tableIdRow) }}
                                    {% endif %}
                                </span>
                            </p>
                        </td>
                    </tr>
                {% else %}
                    <tr >
                        <td colspan="{{ colspan }}" class="empty_row">
                            {{ "empty.no_raw_material"|trans }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr style="font-weight: bold;">
                    <th scope="col" width="10%">{{ 'Total month before'|trans }}</th>
                    <td align="right" scope="col" width="10%" class="hide-on-mobile-portrait with-tooltip" title="{{ 'pequiven_seip.totalPlan'|trans }}">{{ totalsRaw['tp_b']|myNumberFormat }}</td>
                    <td align="right" scope="col" width="10%" class="hide-on-tablet with-tooltip" title="{{ 'pequiven_seip.totalReal'|trans }}">{{ totalsRaw['tr_b']|myNumberFormat }}</td>
                    <td align="right" scope="col" width="10%" class="hide-on-tablet with-tooltip" title="{{ 'pequiven_seip.percentage'|trans }}">{{ totalsRaw['percentage_b']|myNumberFormat }}%</td>
                    <td align="right" scope="col" width="10%" class="hide-on-tablet">&nbsp;</td>
                    <th scope="col" width="10%">&nbsp;</th>
                </tr>
                <tr style="font-weight: bold;">
                    <th scope="col" width="10%">{{ 'Total accumulated'|trans }}</th>
                    <td align="right" scope="col" width="10%" class="hide-on-mobile-portrait with-tooltip" title="{{ 'pequiven_seip.totalPlan'|trans }}">{{ totalsRaw['tp']|myNumberFormat }}</td>
                    <td align="right" scope="col" width="10%" class="hide-on-tablet with-tooltip" title="{{ 'pequiven_seip.totalReal'|trans }}">{{ totalsRaw['tr']|myNumberFormat }}</td>
                    <td align="right" scope="col" width="10%" class="hide-on-tablet with-tooltip" title="{{ 'pequiven_seip.percentage'|trans }}">{{ totalsRaw['percentage']|myNumberFormat }}%</td>
                    <td align="right" scope="col" width="10%" class="hide-on-tablet">&nbsp;</td>
                    <th scope="col" width="10%">&nbsp;</th>
                </tr>
            </tfoot>
        </table>
        
    </div>
</div>