{% trans_default_domain 'PequivenSEIPBundle' %}

<div class="block">
    <div class="block-title">
        <h3> {{ 'pequiven_seip.product_report.unrealized_production.unrealized_production'|trans }}&nbsp;({{ product_report.unrealizedProductions|length }})</h3>
        <div class="button-group absolute-right compact">
            {% if isAllowPlanningReport %}
                <a class="button icon-list-add" href="{{ path('pequiven_unrealized_production_create',{productReport: product_report.id}) }}">{{ 'pequiven.add'|trans({},'messages') }}</a>
            {% endif %}
        </div>
    </div>


    <div class="with-padding">
        <table class="simple-table responsive-table tables-extras" id="sorting-example2">
            <thead>
                <tr>
                    <th scope="col" width="40%">{{ 'Month'|trans }}</th>
                    <td align="right" colspan="{{ colspan }}" scope="col" width="20%" class="hide-on-mobile-portrait">{{ 'pequiven_seip.total'|trans }}</td>
                    <th scope="col" width="10%">&nbsp;</th>
                </tr>
            </thead>
            {% set colspan = 6 %}
            {% set totals = product_report.getTotalToDayUnrealizedProductions %}
            

            {# $excludePnr = $productReportService->getArrayByDateFromInternalCausesPnr($dateReport, $productReport);#}
            {# {% set excludePnr = productReportService.getArrayByDateFromInternalCausesPnr(dateNow, product_report) %}
            {{ dump(excludePnr) }} #}

            {% set productUnit = product_report.product.productUnit %}
            {% set unitToConvert =  factorConversionService.unitToFactorConversion(product_report) %}
            <tbody>
                {% for unrealizedProduction in product_report.getUnrealizedProductionsSortByMonth %}
                    {% set dateMonth = productReportService.getTimeNowMonth(loop.index,unrealizedProduction) %}
                    {% set excludePnr = productReportService.getArrayByDateFromInternalCausesPnr(dateMonth, product_report) %}
                    {% set overProductionMonth = excludePnr[0].total.month %}
                    {# {{ dump(excludePnr[0].total.month) }} #}                  

                    <tr>
                        <td>{{ loop.index }} - 
                            <a href="{{ path("pequiven_unrealized_production_show",{id: unrealizedProduction.id,productReportId:product_report.id }) }}">
                                {{ unrealizedProduction | trans }}
                            </a>
                        </td>
                        <td align="right" scope="row">
                            {{ (unrealizedProduction.total - overProductionMonth)|myNumberFormat }}&nbsp;{{ productUnit }}
                        </td>
                        {% if factor %}
                            <td align="right" scope="row">
                                {% set factorUnrealizedProduction = factorConversionService.calculateFormulaValueFromFactor(unrealizedProduction.total,product_report) %}
                                {{ factorUnrealizedProduction|myNumberFormat }} {{ factorConversionService.unitToFactorConversion(product_report) }}
                            </td>    
                        {% endif %}
                        <td class="low-padding align-center">
                            {% if isAllowPlanningReport %}
                                <a href="{{ path("pequiven_unrealized_production_update",{id: unrealizedProduction.id}) }}" class="button compact icon-pencil">{{ "pequiven_seip.actions.edit"|trans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr >
                        <td colspan="{{ colspan }}" class="empty_row">
                            {{ "empty.unrealized_productions"|trans }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr style="font-weight: bold;">
                    <th scope="col" width="35%">{{ 'Total month before'|trans }}</th>
                    <td align="right" scope="col" width="10%" class="hide-on-mobile-portrait">{{ totals['tr_b']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                    {% if (factor) %}
                        {% set factorUnrealizedProductionTotalAnterior = factorConversionService.calculateFormulaValueFromFactor(totals['tr_b'],product_report) %}
                        <td align="right" scope="col" width="10%" class="hide-on-mobile-portrait">{{ factorUnrealizedProductionTotalAnterior|myNumberFormat ~" "~ unitToConvert }}</td>
                    {% endif %}

                    <th scope="col" width="10%">&nbsp;</th>
                </tr>
                <tr style="font-weight: bold;">
                    <th scope="col" width="35%">{{ 'Total accumulated'|trans }}</th>
                    <td align="right" scope="col" width="10%" class="hide-on-mobile-portrait">{{ totals['tr']|myNumberFormat }}&nbsp;{{ productUnit }}</td>
                    {% if (factor) %}    
                        {% set factorUnrealizedProductionTotal = factorConversionService.calculateFormulaValueFromFactor(totals['tr'],product_report) %}
                        <td align="right" scope="col" width="10%" class="hide-on-mobile-portrait">{{ factorUnrealizedProductionTotal|myNumberFormat ~" "~ unitToConvert }}</td>
                    {% endif %}
                    <th scope="col" width="10%">&nbsp;</th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>