{% trans_default_domain 'PequivenSEIPBundle' %}
{% for i in 1..31 %}
    <div class="field-block button-height">
        {% set planN = "day"~ i ~ prefix ~ "Plan" %}
        {% set realN = "day" ~ i ~ prefix ~ "Real" %}
        <div class="columns">
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven_seip.plan_n'|trans({"%n%":i}) }}&nbsp;({{ typeProduction }})</label>
                    {% set currentFormPlan = attribute(form,planN) %}
{#                            {{ form_label(currentFormPlan) }}#}
                    {{ form_widget(currentFormPlan) }}
                    {{ form_errors(currentFormPlan) }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven_seip.real_n'|trans({"%n%":i}) }}&nbsp;({{ typeProduction }})</label>
                    {% set currentFormReal = attribute(form,realN) %}
{#                            {{ form_label(currentFormReal) }}#}
                    {{ form_widget(currentFormReal) }}
                    {{ form_errors(currentFormReal) }}
                </p>
            </div>
        </div>
    </div>
{% endfor %}