{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}



{% block before_body %}
    {{ contentHeader(({(path("pequiven_product_report_show",{id: productReportId})):("Reporte de Producto"|trans)}),
                        ("pequiven_seip.product_report.product_detail_daily_month"|trans )  )}}
{% endblock %}

{%  set mes  = 'pequiven_seip.month.' ~ unrealized_production.month %}

{% block body %}
    
    {% set daysMonth = causeFailService.getDaysMonth(unrealized_production) %}

    <fieldset class="fieldset">
        <legend class="legend">{{ 'pequiven_seip.product_report.product_detail_daily_month'|trans }}</legend>
        <div class="columns">
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven_seip.product_report.product_report'|trans }}</label>
                    {{ unrealized_production.productReport }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Month'|trans }}</label>
                    {{ mes|trans }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Company'|trans }}</label>
                    {{ unrealized_production.productReport.plantReport.company }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Location'|trans }}</label>
                    {{ unrealized_production.productReport.plantReport.location }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Entity'|trans }}</label>
                    {{ unrealized_production.productReport.plantReport.entity }}
                </p>
            </div>
            <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Raw material'|trans }}</label>
                    {%  for rawMaterial in unrealized_production.productReport.product.rawMaterials %}
                        {{ rawMaterial }}{% if loop.last %}.{% else %},{% endif %}
                    {% endfor %}    
                </p>
            </div>
        </div>
    </fieldset>
                
    <fieldset class="fieldset">
        <legend class="legend">Días Diferentes</legend>
        
        <div class="columns">
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
            	<p class="inline-label">
                    <p>
                        <a href="" id="plusDiv" onclick="showDiv()"><i class="fa fa-plus fa-lg"></i> Hay {{ numDaysDifferent }} días diferentes</a>
                        <a href="" id="minusDiv" onclick="hideDiv()" style='display:none;'><i class="fa fa-minus fa-lg"></i> Hay {{ numDaysDifferent }} días diferentes</a>
                    </p>
                    <p class="inline-label" id="differentDays" style='display:none;'>
                        <label class="label"></label>
                        <div class="columns" id="titleDifferentDays" style="display:none;">
                            <div class="new-row-mobile two-columns">
                                <b>Día</b>
                            </div>
                            <div class="new-row-mobile two-columns">
                                <b>Cargado</b>
                            </div>
                            <div class="new-row-mobile two-columns">
                                <b>Clasificado</b>
                            </div>
                        </div>
                        {% for i in 1..daysMonth %}
                            {% if arrayDays[i] == 0 %}
                                {% set nameMethod = 'getDay'~i %}
                            <div class="columns" id="contentDifferentDays_{{i}}" style="display: none;">
                                <div class="new-row-mobile two-columns">
                                    <a href="">{{i}}:</a>
                                </div>
                                <div class="new-row-mobile two-columns">
                                    {{arrayDetailDays[i]}}
                                </div>
                                <div class="new-row-mobile two-columns">
                                    {{ arrayTotalDays[i] }}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </p>
                </p>
            </div>
        </div>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="legend">{{ 'pequiven_seip.product_report.unrealized_production.unrealized_production'|trans }}</legend>
        <div class="standard-tabs margin-bottom" id="add-tabs">
            <ul class="tabs">
                <li class="active"><a style="font-weight: bold;" href="#tab-1">{{ "pequiven_seip.product_report.unrealized_production.internal"|trans }}</a></li>
                <li><a style="font-weight: bold;" href="#tab-2">{{ "pequiven_seip.product_report.unrealized_production.external"|trans }}</a></li>
                <li><a style="font-weight: bold;" href="#tab-3">{{ "pequiven_seip.product_report.unrealized_production.materiaPrimaInt"|trans }}</a></li>
                <li><a style="font-weight: bold;" href="#tab-4">{{ "pequiven_seip.product_report.unrealized_production.materiaPrimaExt"|trans }}</a></li>
            </ul>
            {#            {% set causes = causeFailService.getFailsCause(unrealized_production) %}#}

            <div class="tabs-content">
                <div id="tab-1" class="with-padding">
                    <div class="columns">
                        <div class="six-columns">
                            <table class="simple-table responsive-table tables-extras"  >
                                <thead>
                                    <tr>
                                        <th>{{ 'pequiven_seip.day'|trans }}</th>
                                            {% for interc in internalCauses %}
                                                <th scope="col" align="right">{{interc}}</th>
                                            {% endfor %}
                                        <th scope="col" width="5%" class="hide-on-mobile-portrait">{{ 'Mount'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>          
                                    {% for i in 1..daysMonth %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            {% for interc in internalCauses %}
                                                <td align="right">{{ causes["TYPE_FAIL_INTERNAL"][interc][i] }}</td>
                                            {% endfor %}
                                            <td align="right">{{ causes["TYPE_FAIL_INTERNAL"]['total'][i] }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% set totals = causeFailService.getArrayTotals(unrealized_production,causes['TYPE_FAIL_INTERNAL'],internalCauses) %}
                                    <tr style="font-weight: bold;">
                                        <td align="left">{{ 'pequiven_seip.totals'|trans }}</td>
                                        {% for t in totals %}
                                            <td align="right">{{ t }}</td>
                                        {% endfor %}
                                    <tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="six-columns">                            
                            <div  ng-controller="DashboardController" ng-init="renderChartPie2d('unrelizedInternal', {{ dataInternal }},'100%','500')">
                                <span id="unrelizedInternal"></span>
                            </div>
                        </div>
                    </div>
                </div>          

                <div id="tab-2" class="with-padding">
                    <div class="columns">
                        <div class="six-columns">
                            <table class="simple-table responsive-table tables-extras"  >
                                <thead>
                                    <tr>
                                        <th>{{ 'pequiven_seip.day'|trans }}</th>
                                            {% for interc in externalCauses %}
                                                <th scope="col" align="right">{{interc}}</th>
                                            {% endfor %}
                                        <th scope="col" width="5%" class="hide-on-mobile-portrait">{{ 'Mount'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>  
                                    {% for i in 1..daysMonth %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            {% for interc in externalCauses %}
                                                <td align="right">{{ causes["TYPE_FAIL_EXTERNAL"][interc][i] }}</td>
                                            {% endfor %}
                                            <td align="right">{{ causes["TYPE_FAIL_EXTERNAL"]['total'][i] }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% set totals = causeFailService.getArrayTotals(unrealized_production,causes['TYPE_FAIL_EXTERNAL'],externalCauses) %}
                                    <tr style="font-weight: bold;">
                                        <td align="left">{{ 'pequiven_seip.totals'|trans }}</td>
                                        {% for t in totals %}
                                            <td align="right">{{ t }}</td>
                                        {% endfor %}
                                    <tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="six-columns"> 
                            <div  ng-controller="DashboardController" ng-init="renderChartPie2d('unrelizedExternal',{{ dataExternal }},'100%','500')">
                                <span id="unrelizedExternal"></span>
                            </div>
                        </div>
                    </div>
                </div>

                {#{% set mp = causeFailService.getFailsCauseMp(unrealized_production) %}#}
                <div id="tab-3" class="with-padding">
                    <div class="columns">   
                        {% if mp["getInternalCausesMp"] is defined %}
                            <div class="six-columns">
                                <table class="simple-table responsive-table tables-extras"  >
                                    <thead>
                                        <tr>
                                            <th>{{ 'pequiven_seip.day'|trans }}</th>
                                                {% for internalMp in mp["getInternalCausesMp"]|keys %}
                                                    {% if (internalMp != "total") %}
                                                        <th scope="col" align="right">{{ internalMp }}</th>
                                                    {% endif %}
                                                {% endfor %}
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in 1..daysMonth %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                {% for intercMp in mp["getInternalCausesMp"]|keys %}
                                                    {% if (intercMp != "total") %}
                                                        <td align="right">{{ mp["getInternalCausesMp"][intercMp][i] }}</td>
                                                    {% endif %} 
                                                {% endfor %}
                                                <td align="right">{{ mp["getInternalCausesMp"]["total"][i] }}</td>
                                            </tr>
                                        {% endfor %}
                                        <tr style="font-weight: bold;">
                                            {% set totals =  causeFailService.getArrayTotalsMp(unrealized_production,mp,"getInternalCausesMp") %}
                                            <td align="left">{{ 'pequiven_seip.totals'|trans }}</td>
                                            {% for t in  totals %}
                                                <td align="right">{{ t }}</td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="six-columns">                                  
                                <div  ng-controller="DashboardController" ng-init="renderChartPie2d('unrelizedInternalMp', {{ dataInternalMp|json_encode() }},'100%','500')">
                                    <span id="unrelizedInternalMp"></span>
                                </div>
                            </div>
                        {% else %}                            
                            <div class="new-row twelve-columns empty_row" align="center">                                 
                                <br>No hay PNR por Materia Prima Interna                                
                            </div>                            
                        {% endif %}
                    </div>
                </div>  
                <div id="tab-4" class="with-padding">
                    <div class="columns">                        
                        {% if mp["getExternalCausesMp"] is defined %}
                            <div class="six-columns">
                                {% set mp = causeFailService.getFailsCauseMp(unrealized_production) %}
                                <table class="simple-table responsive-table tables-extras"  >
                                    <thead>
                                        <tr>
                                            <th>{{ 'pequiven_seip.day'|trans }}</th>
                                                {% for ExternalMp in mp["getExternalCausesMp"]|keys %}
                                                    {% if (ExternalMp != "total") %}
                                                        <th scope="col" align="right">{{ ExternalMp }}</th>
                                                    {% endif %}
                                                {% endfor %}
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in 1..daysMonth %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                {% for ExtercMp in mp["getExternalCausesMp"]|keys %}
                                                    {% if (ExtercMp != "total") %}
                                                        <td align="right">{{ mp["getExternalCausesMp"][ExtercMp][i] }}</td>
                                                    {% endif %} 
                                                {% endfor %}
                                                <td align="right">{{ mp["getExternalCausesMp"]["total"][i] }}</td>
                                            </tr>
                                        {% endfor %}
                                        {% set totals =  causeFailService.getArrayTotalsMp(unrealized_production,mp,"getExternalCausesMp") %}
                                        <tr style="font-weight: bold;">
                                            <td align="left">{{ 'pequiven_seip.totals'|trans }}</td>
                                            {% for t in  totals %}
                                                <td align="right">{{ t }}</td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="six-columns">
                                <div  ng-controller="DashboardController" ng-init="renderChartPie2d('unrelizedExternalMp', {{ dataExternalMp|json_encode() }},'100%','500')">
                                    <span id="unrelizedExternalMp"></span>
                                </div>
                            </div>
                        {% else %}
                           <div class="new-row twelve-columns empty_row" align="center">
                                <br>No hay PNR por Materia Prima Externa
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
        var daysMonth = {{ causeFailService.getDaysMonth(unrealized_production) }};
        var arrayDays = {{ (arrayDays|json_encode()|raw) }};
        function showDiv(){
            document.getElementById('differentDays').style.display = 'block';
            document.getElementById('titleDifferentDays').style.display = 'block';
            for (i = 1; i <= daysMonth; i++) {
                if (arrayDays[i] == 0){
                    document.getElementById('contentDifferentDays_'+i).style.display = 'block';
                }
            }
            document.getElementById('plusDiv').style.display = 'none';
            document.getElementById('minusDiv').style.display = 'block';
        }
        function hideDiv(){
            document.getElementById('differentDays').style.display = 'none';
            document.getElementById('titleDifferentDays').style.display = 'none';
            for (i = 1; i <= daysMonth; i++) {
                if (arrayDays[i] == 0){
                    document.getElementById('contentDifferentDays_'+i).style.display = 'none';
                }
            }
            document.getElementById('plusDiv').style.display = 'block';
            document.getElementById('minusDiv').style.display = 'none';
        }
    </script>
    
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/fusioncharts.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/themes/fusioncharts.theme.fint.js') }}"></script>
{% endblock %}
