{#{% extends 'TecnocreacionesVzlaGovernmentBundle:Template:Developer/layout.html.twig' %}#}
{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% trans_default_domain 'PequivenObjetiveBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block javascripts_base %}
    {{ parent() }}
    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Scripts -->
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/jquery-1.8.2.min.js') }}"></script>
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/setup.js') }}"></script>
{% endblock javascripts_base %}

{% block body %}

    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="#">{{ 'pequiven_objetive.objetives'|trans }}</a>
            <span class="icon-forward"></span>
            <span class="thin">{{ 'pequiven_objetive.add'|trans }}</span>
            <span class="icon-forward"></span>
            <span class="thin">{{ 'pequiven_objetive.operative'|trans }}</span>
        </h1>
    </hgroup>
    
    <form action="{{ path('pequiven_objetive_menu_add_operative') }}" {{ form_enctype(form) }} method="POST">
        <fieldset class="fieldset fields-list">
            <legend class="legend">{{ 'pequiven_objetive.objetives'|trans }}</legend>
            <!-- Hidden con "ComplejoName" de la persona que esta logueada -->
            <div>
                {{ form_widget(form.complejo_name) }}
            </div>
            
            <!-- Hidden con "RoleName" de la persona que esta logueada -->
            <div>
                {{ form_widget(form.role_name) }}
            </div>
                
            <!-- Línea Estratégica -->
            <div id="lineStrategic" class="field-block button-height">
                {{ form_label(form.lineStrategic) }}
                {{ form_widget(form.lineStrategic) }}
                {{ form_errors(form.lineStrategic) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.lineStrategic_info'|trans }}</span>
                </span>
            </div>
                
            <!-- Objetivo Estratégico (Padre) -->
            <div class="field-block button-height">
                {{ form_label(form.parent_strategic) }}
                {{ form_widget(form.parent_strategic) }}
                {{ form_errors(form.parent_strategic) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.parent_strategic_info'|trans }}</span>
                </span>
            </div>
                
            <!-- Objetivo Táctico (Padre) -->
            <div class="field-block button-height">
                {{ form_label(form.parent) }}
                {{ form_widget(form.parent) }}
                {{ form_errors(form.parent) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.parent_tactic_info'|trans }}</span>
                </span>
            </div>
            
            <!-- Complejo -->
            <div id="complejo" class="field-block button-height">
                {{ form_label(form.complejo) }}
                {{ form_widget(form.complejo) }}
                {{ form_errors(form.complejo) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.complejo_info'|trans }}</span>
                </span>
            </div>
            
            <!-- Gerencia -->
            <div id="gerencia" class="field-block button-height">
                {{ form_label(form.gerencia) }}
                {{ form_widget(form.gerencia) }}
                {{ form_errors(form.gerencia) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.gerencia_info'|trans }}</span>
                </span>
                {% if (role_name == 'ROLE_DIRECTIVE') or (role_name == 'ROLE_DIRECTIVE_AUX') %}
                <span id="view_check_gerencia">
                    {{ 'form.question.allGerencias'|trans }}
                    {{ form_widget(form.check_gerencia) }}
                </span>
                {% endif %}
            </div>
                
            <!-- Descripción -->
            <div class="field-block button-height">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.description_info'|trans }}</span>
                </span>
            </div>
                
            <!-- Ref -->
            <div id="ref" class="field-block button-height">
                {{ form_label(form.ref) }}
                {{ form_widget(form.ref) }}
                {{ form_errors(form.ref) }}
                <span id="ref_info" class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.ref_info'|trans }}</span>
                </span>
            </div>
            
            <!-- Peso del Objetivo -->
            <div id="weight" class="field-block button-height">
                {{ form_label(form.weight) }}
                {{ form_widget(form.weight) }}
                {{ form_errors(form.weight) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.weight_info'|trans }}</span>
                </span>
            </div>
                
            <!-- Meta del Objetivo -->
            <div class="field-block button-height">
                    {{ form_label(form.goal) }}
                    {{ form_widget(form.goal) }}
                    {{ form_errors(form.goal) }}
                    <span class="info-spot">
                        <span class="icon-info-round"></span>
                        <span class="info-bubble">{{ 'form.goal_info'|trans }}</span>
                    </span>
            </div>

            <!-- Rango de Gestión -->
            <fieldset class="fieldset">
                <legend class="legend">{{ 'form.rankArrangement'|trans }}</legend>

                <!-- Rango Alto del Objetivo -->
                <div class="field-block button-height">
                        {{ form_label(form.rankTop) }}
                        {{ form_widget(form.rankTop) }}
                        {{ form_errors(form.rankTop) }}
                        <span class="info-spot">
                            <span class="icon-info-round"></span>
                            <span class="info-bubble">{{ 'form.rankTop_info'|trans }}</span>
                        </span>
                </div>
                        
                <!-- Rango Medio Alto del Objetivo -->
                <div class="field-block button-height">
                        {{ form_label(form.rankMiddleTop) }}
                        {{ form_widget(form.rankMiddleTop) }}
                        {{ form_errors(form.rankMiddleTop) }}
                        <span class="info-spot">
                            <span class="icon-info-round"></span>
                            <span class="info-bubble">{{ 'form.rankMiddleTop_info'|trans }}</span>
                        </span>
                </div>
                        
                <!-- Rango Medio Bajo del Objetivo -->
                <div class="field-block button-height">
                        {{ form_label(form.rankMiddleBottom) }}
                        {{ form_widget(form.rankMiddleBottom) }}
                        {{ form_errors(form.rankMiddleBottom) }}
                        <span class="info-spot">
                            <span class="icon-info-round"></span>
                            <span class="info-bubble">{{ 'form.rankMiddleBottom_info'|trans }}</span>
                        </span>
                </div>
                        
                <!-- Rango Bajo del Objetivo -->
                <div class="field-block button-height">
                        {{ form_label(form.rankBottom) }}
                        {{ form_widget(form.rankBottom) }}
                        {{ form_errors(form.rankBottom) }}
                        <span class="info-spot">
                            <span class="icon-info-round"></span>
                            <span class="info-bubble">{{ 'form.rankBottom_info'|trans }}</span>
                        </span>
                </div>
            </fieldset>
                
            <!-- Tipo de Evaluación -->
            <fieldset class="fieldset">
                <legend class="legend">{{ 'form.typeEvaluation'|trans }}</legend>
                
                <!-- Por Indicador -->
                <div class="field-block button-height">
                    {{ form_label(form.evalIndicator) }}
                    {{ form_widget(form.evalIndicator) }}
                    {{ form_errors(form.evalIndicator) }}
                    <span class="info-spot">
                        <span class="icon-info-round"></span>
                        <span class="info-bubble">{{ 'form.evalIndicator_info'|trans }}</span>
                    </span>
                    <span id="button_add_indicator">
                        <button type="button" class="button red-gradient glossy" onclick="openAlert()">{{ 'pequiven_objetive.registerIndicator'|trans }}</button>
                    </span>
                    <span id="choice_line_strategic">
                        {{ 'form.messages.pleaseChoiceALineStrategic'|trans }}
                    </span>
                    <span id="choice_objetive_strategic">
                        {{ 'form.messages.pleaseChoiceAObjetiveStrategic'|trans }}
                    </span>
                    <span id="choice_objetive_tactic">
                        {{ 'form.messages.pleaseChoiceAObjetiveTactic'|trans }}
                    </span>
                </div>
                    
                <!-- Por Programa de Gestión -->
                <div class="field-block button-height">
                    {{ form_label(form.evalArrangementProgram) }}
                    {{ form_widget(form.evalArrangementProgram) }}
                    {{ form_errors(form.evalArrangementProgram) }}
                    <span class="info-spot">
                        <span class="icon-info-round"></span>
                        <span class="info-bubble">{{ 'form.evalArrangementProgram_info'|trans }}</span>
                    </span>
                </div>
            </fieldset>
                    
            <!-- Añadir Indicadores -->
            <fieldset id="indicators" class="fieldset">
                <legend class="legend">{{ 'form.addIndicators'|trans }}</legend>
                <!-- Añadir Indicadores -->
                <div class="field-block button-height">
                    {{ form_label(form.indicators) }}
                    {{ form_widget(form.indicators) }}
                    {{ form_errors(form.indicators) }}
                    <span class="info-spot">
                        <span class="icon-info-round"></span>
                        <span class="info-bubble">{{ 'form.indicators_info'|trans }}</span>
                    </span>
                </div>
            </fieldset>                    
            
            {{ actions.create() }}
        </fieldset>
    {{ form_rest(form) }}
    </form>
    
    {% block javascript %}
        <script type="text/javascript">
        $(document).ready(function()
        {
            
            var buttonAddIndicator = $('#button_add_indicator'),//Botón de Añadir Indicador
                messageLineStrategicCheckIndicator = $('#choice_line_strategic'),//Mensaje en caso de que no se haya seleccionado una Línea Estratégica
                messageObjetiveStrategicCheckIndicator = $('#choice_objetive_strategic'),//Mensaje en caso de que no se haya seleccionado un Objetivo Estratégico
                messageObjetiveTacticCheckIndicator = $('#choice_objetive_tactic'),//Mensaje en caso de que no se haya seleccionado un Objetivo Táctico
                sectionCheckGerencia = $("#view_check_gerencia"),//Sección dónde está el check para seleccionar las gerencias de los complejos que esten seleccionados
                sectionIndicators = $('#indicators'),//Sección dónde esta el select de Indicadores
                selectLineStrategic = $("#pequiven_objetive_operative_registration_lineStrategic"),//Select de Línea Estratégica
                selectObjetiveStrategic = $("#pequiven_objetive_operative_registration_parent_strategic"),//Select de Objetivo Estratégico
                selectObjetiveTactic = $("#pequiven_objetive_operative_registration_parent"),//Select de Objetivo Táctico
                selectComplejo = $("#pequiven_objetive_operative_registration_complejo"),//Select Complejo
                selectGerencia = $("#pequiven_objetive_operative_registration_gerencia"),//Select de Gerencia
                selectIndicators = $("#pequiven_objetive_operative_registration_indicators"),//Select de Indicadores
                inputRef = $("#pequiven_objetive_operative_registration_ref"),//Input de Ref
                inputGoal = $("#pequiven_objetive_operative_registration_goal"),//Input de Meta
                inputWeight = $("#pequiven_objetive_operative_registration_weight"),//Input de Peso
                inputHiddenComplejoName = $("#pequiven_objetive_operative_registration_complejo_name"),//Input Hidden del Nombre del Complejo del usuario logueado
                inputHiddenRoleName = $("#pequiven_objetive_operative_registration_role_name"),//Input Hidden del Nombre del Rol del usuario logueado
                checkIndicator = $("#pequiven_objetive_operative_registration_evalIndicator"),//Check de Evaluar por Indicador
                checkGerencia = $("#pequiven_objetive_operative_registration_check_gerencia")//Check para seleccionar todas las gerencia asociadas a los complejos seleccionados
                ;            
           //Llamado de la función que carga los valores por defecto de la vista
           change();
           
           function change(){
                //Escondemos por defecto el boton de registrar indicadores
                buttonAddIndicator.hide();
                
                //Escondemos por defecto la sección de sumar indicadores al objetivo
                sectionIndicators.hide();
               
               //Inicializamos el select2 de Línea Estratégica
               chargeSelect2LineStrategic();
               
               //Inicializamos el select2 de Objetivo Estratégico
               chargeSelect2ObjetiveStrategic();
               
               //Inicializamos el select2 de Objetivo Táctico
               chargeSelect2ObjetiveTactic();
               
               messageLineStrategicCheckIndicator.hide();
               messageObjetiveStrategicCheckIndicator.hide();
               messageObjetiveTacticCheckIndicator.hide();
               
                //Inicializamos el select de Indicadores
                chargeSelectIndicatorFromLineStrategic();
               
               if(inputHiddenComplejoName.val() === 'ZIV' && (inputHiddenRoleName.val() != 'ROLE_MANAGER_SECOND' && inputHiddenRoleName.val() != 'ROLE_MANAGER_SECOND_AUX')){
                    //Inicializamos el select2 de Complejo
                    selectComplejo.select2({
                        
                    });
                    selectComplejo.select2("enable",false);
                    
                    if(inputHiddenRoleName.val() === 'ROLE_DIRECTIVE' || inputHiddenRoleName.val() === 'ROLE_DIRECTIVE_AUX'){
                        selectGerencia.select2({
                        
                        });
                        selectGerencia.select2("enable",false);
                        sectionCheckGerencia.hide();
                    }
               }
               
               //Incializamos el formato numerico para el input de Peso
               inputWeight.number(true,3,',','.');
               
               //Incializamos el formato numerico para el input de Meta
               inputGoal.number(true,3,',','.');
               
                //Incializamos el formato numerico para el input de Rango Alto
               $("#pequiven_objetive_operative_registration_rankTop").number(true,3,',','.');
               
               //Incializamos el formato numerico para el input de Rango Medio Alto
               $("#pequiven_objetive_operative_registration_rankMiddleTop").number(true,3,',','.');
               
               //Incializamos el formato numerico para el input de Rango Medio Bajo
               $("#pequiven_objetive_operative_registration_rankMiddleBottom").number(true,3,',','.');
               
               //Incializamos el formato numerico para el input de Rango Bajo
               $("#pequiven_objetive_operative_registration_rankBottom").number(true,3,',','.');
           }
           
           //Al seleccionar alguna opción en el select de Línea Estratégica
            selectLineStrategic.on("select2-selecting", function(e) {
                chargeSelectIndicatorFromLineStrategic();
                displayObjetiveStrategicFromLineStrategic(e);//Actualizamos los Objetivos Estratégicos
            })
           //Al cambiar el select de Línea Estratégica
            selectLineStrategic.change(function() {
                chargeSelectIndicatorFromLineStrategic();
                //Reiniciamos el Input de Referencia del Objetivo
                inputRef.val("");
            });
            //Al seleccionar alguna opción en el select de Objetivo Estratégico
            selectObjetiveStrategic.on("select2-selecting", function(e) {
                displayObjetiveTacticFromObjetiveStrategic(e);
            })
            //Al cambiar el select de Objetivo Estratégico
            selectObjetiveStrategic.change(function() {
                inputRef.val("");
            });
            //Al seleccionar alguna opción en el select de Objetivo Táctico
            selectObjetiveTactic.on("select2-selecting", function(e) {
                displayObjetiveRef(e);
                if(inputHiddenComplejoName.val() === 'ZIV' && (inputHiddenRoleName.val() !== 'ROLE_MANAGER_SECOND' && inputHiddenRoleName.val() !== 'ROLE_MANAGER_SECOND_AUX')){
                    displaySelectComplejoFromObjetiveTactic(e);
                    //$("#pequiven_objetive_operative_registration_complejo").show();
                }
            })
            
            //Al cambiar el select de Complejo
            selectComplejo.change(function() {
                if(inputHiddenRoleName.val() === 'ROLE_DIRECTIVE' || inputHiddenRoleName.val() === 'ROLE_DIRECTIVE_AUX'){
                    displaySelectGerenciaFromComplejo();
                }
            });
           
           //Al hacer click sobre el check de gerencias
           checkGerencia.click(function() {
               checkAllGerencias();
           });
           
           //Al hacer click sobre el check de evaluar por indicador
            checkIndicator.click(function() {
                if(checkIndicator.is(':checked')){
                    if(selectLineStrategic.val() !== '' && selectObjetiveStrategic.val() !== '' && selectObjetiveTactic.val() !== ''){
                        buttonAddIndicator.show();
                        chargeSelectIndicatorFromLineStrategic();
                        sectionIndicators.show();
                    } else{
                        if(selectLineStrategic.val() === ''){
                            messageLineStrategicCheckIndicator.show();
                        } else if(selectObjetiveStrategic.val() === ''){
                            messageObjetiveStrategicCheckIndicator.show();
                        } else if(selectObjetiveTactic.val() === ''){
                            messageObjetiveTacticCheckIndicator.show();
                        }
                    }
                } else{
                    buttonAddIndicator.hide();
                    sectionIndicators.hide();
                    messageLineStrategicCheckIndicator.hide();
                    messageObjetiveStrategicCheckIndicator.hide();
                    messageObjetiveTacticCheckIndicator.hide();
                }
            });
           
            
            //Función que carga los objetivos estratégicos de acuerdo a la línea estratégica seleccionada
            function displayObjetiveStrategicFromLineStrategic(e){
                var data = {
                   lineStrategicId: $.trim(e.val),
               };
               $.ajax({
                   type: 'post',
                   url: '{{ path("select_objetiveStrategicFromLineStrategicOperative") }}',
                   data: data,
                   success: function(data) {
                        $('#pequiven_objetive_operative_registration_parent_strategic option[value]').remove();
                        $('#pequiven_objetive_operative_registration_parent_strategic option').remove();
                        selectObjetiveStrategic.append('<option></option>');
                        
                        if(typeof data[0].empty === 'undefined'){
                            for(var i=0, total = data.length; i<total; i++){
                                selectObjetiveStrategic.append('<option value="' + data[i].id + '">' + data[i].description + '</option>');
                            }
                            $("#pequiven_objetive_operative_registration_parent_strategic").select2("val", "");
                            //Reiniciamos el select2 de Objetivo Táctico
                            $('#pequiven_objetive_operative_registration_parent option[value]').remove();
                            $('#pequiven_objetive_operative_registration_parent option').remove();
                            selectObjetiveTactic.append('<option></option>');
                            chargeSelect2ObjetiveTactic();
                            //Reiniciamos el select de Complejo y desactivamos respectivamente
                            $("#pequiven_objetive_operative_registration_complejo option[value]").remove();
                            selectComplejo.select2("val","");
                            selectComplejo.select2("enable",false);
                            //Reiniciamos el select de Gerencia y desactivamos respectivamente
                            $("#pequiven_objetive_operative_registration_gerencia optgroup").remove();
                            $("#pequiven_objetive_operative_registration_gerencia option[value]").remove();
                            $("#pequiven_objetive_operative_registration_gerencia").select2("val","");
                            $("#pequiven_objetive_operative_registration_gerencia").select2("enable",false);
                            //Escondemos la sección del check de seleccionar las gerencias de los complejos seleccionados
                            sectionCheckGerencia.hide();
                            chargeSelect2ObjetiveStrategic("full");
                        } else{
                            if(typeof data[0].initial === 'undefined'){
                                chargeSelect2ObjetiveStrategic("empty");
                            } else{
                                chargeSelect2ObjetiveStrategic("initial");
                            }
                        }
                   }
                });
            }
            
            //Función que carga los objetivos tácticos de acuerdo al objetivo estratégico seleccionado
            function displayObjetiveTacticFromObjetiveStrategic(e){
                var data = {
                   objetiveStrategicId: $.trim(e.val),
               };
               $.ajax({
                   type: 'post',
                   url: '{{ path("select_objetiveTacticFromObjetiveStrategic") }}',
                   data: data,
                   success: function(data) {
                        $('#pequiven_objetive_operative_registration_parent option[value]').remove();
                        $('#pequiven_objetive_operative_registration_parent option').remove();
                        selectObjetiveTactic.append('<option></option>');
                        
                        if(typeof data[0].empty === 'undefined'){
                            for(var i=0, total = data.length; i<total; i++){
                                selectObjetiveTactic.append('<option value="' + data[i].id + '">' + data[i].description + '</option>');
                            }
                            selectObjetiveTactic.select2("val", "");
                            inputRef.val("");
                            //Reiniciamos el select de Complejo y desactivamos respectivamente
                            $("#pequiven_objetive_operative_registration_complejo option[value]").remove();
                            selectComplejo.select2("val","");
                            selectComplejo.select2("enable",false);
                            //Reiniciamos el select de Gerencia y desactivamos respectivamente
                            $("#pequiven_objetive_operative_registration_gerencia optgroup").remove();
                            $("#pequiven_objetive_operative_registration_gerencia option[value]").remove();
                            selectGerencia.select2("val","");
                            selectGerencia.select2("enable",false);
                            sectionCheckGerencia.hide();
                            chargeSelect2ObjetiveTactic("full");
                        } else{
                            if(typeof data[0].initial === 'undefined'){
                                chargeSelect2ObjetiveTactic("empty");
                            } else{
                                chargeSelect2ObjetiveTactic("initial");
                            }
                        }
                   }
                });
            }
            
            //Función que actualiza el select de complejos en caso de que el usuario logueado sea de Sede Corporativa
            function displaySelectComplejoFromObjetiveTactic(e){
                var data = {
                    objetiveTacticId: $.trim(e.val),
                };
                $.ajax({
                    type: 'post',
                    url: '{{ path("select_complejoFromObjetiveTactic") }}',
                    data: data,
                    success: function(data) {
                        var $complejo_selector = $("#pequiven_objetive_operative_registration_complejo");
                        
                        $("#pequiven_objetive_operative_registration_complejo option[value]").remove();
                        var complejos = [];
                        //Actualizamos el select de complejos
                        for(var i=0, total = data.length; i<total; i++){
                            $complejo_selector.append('<option value="' + data[i].id + '" selected="selected">' + data[i].description + '</option>');
                            complejos[i] = data[i].id;
                        }
                        
                        if(inputHiddenRoleName.val() === 'ROLE_DIRECTIVE' || inputHiddenRoleName.val() === 'ROLE_DIRECTIVE_AUX'){
                            displaySelectGerenciaFromComplejo(complejos);
                            displaySelectObjetiveStrategicFromObjetiveTactic();
                        } else if(inputHiddenRoleName.val() === 'ROLE_MANAGER_FIRST' || inputHiddenRoleName.val() === 'ROLE_MANAGER_FIRST_AUX'){
                            displaySelectObjetiveStrategicFromObjetiveTactic();
                        }
                       // $("#pequiven_objetive_operative_registration_complejo").select2("val",array(1,6));
                       selectComplejo.select2({
                        });
                        selectComplejo.select2("enable",true);
                        sectionCheckGerencia.show();
                    }
                });
            }
            
            //Función que actualiza el select de objetivos estratégicos de acuerdo al objetivo táctico seleccionado
            function displaySelectObjetiveStrategicFromObjetiveTactic(){
                var data = {
                    objetiveTacticId: $.trim(selectObjetiveTactic.val()),
                    lineStrategicId: $.trim(selectLineStrategic.val()),
                };
                $.ajax({
                    type: 'post',
                    url: '{{ path("select_objetiveStrategicFromObjetiveTactic") }}',
                    data: data,
                    success: function(data) {                        
                        $("#pequiven_objetive_operative_registration_parent_strategic option[value]").remove();
                        selectObjetiveStrategic.select2("val",'');
                        //Actualizamos el select de objetivo estratégico
                        for(var i=0, total = data.length; i<total; i++){
                            if(data[i].selected == 'YES'){
                                selectObjetiveStrategic.append('<option value="' + data[i].id + '" selected="selected">' + data[i].description + '</option>');
                            } else{
                                selectObjetiveStrategic.append('<option value="' + data[i].id + '">' + data[i].description + '</option>');
                            }
                        }
                        selectObjetiveStrategic.select2({
                        });
                        for(var i=0, total = data.length; i<total; i++){
                            if(data[i].selected == 'YES'){
                                selectObjetiveStrategic.select2("val",data[i].id);
                            }
                        }
                    }
                });
            }
            
            //Función que actualiza el select de gerencia en caso de que el usuario logueado sea de Sede Corporativa
            function displaySelectGerenciaFromComplejo(complejos){
            var data = '';
                if(complejos instanceof Array){//En caso de que la data provenga al momento de cambiar el select de Objetivo Táctico
                    var dataComplejo = '';
                    var totalComplejos = complejos.length;
                    for(var i=0, total = complejos.length; i<total; i++){
                        if(i == (totalComplejos - 1)){
                            dataComplejo = dataComplejo + complejos[i];
                        } else{
                            dataComplejo = dataComplejo + complejos[i] + ',';
                        }
                    }
                    data = {
                        complejos: dataComplejo,
                    };
                } else{
                    data = {
                        complejos: $.trim(selectComplejo.val()),
                    };
                }
                $.ajax({
                    type: 'post',
                    url: '{{ path("select_gerenciaFromComplejoOperative") }}',
                    data: data,
                    success: function(data) {
                        var $gerencia_selector = $("#pequiven_objetive_operative_registration_gerencia");

                        $("#pequiven_objetive_operative_registration_gerencia optgroup").remove();
                        $("#pequiven_objetive_operative_registration_gerencia option[value]").remove();

                        //Actualizamos el select de gerencias
                        var cantidad = data.length;
                        var text = '';
                        text = text + '<optgroup label="' + data[0].optGroup + '">';
                        //$gerencia_selector.append('<optgroup label="' + data[0].optGroup + '">');
                         for(var i=0, total = data.length; i<total; i++){
                             if(i == 0){
                                 text = text + '<option value="' + data[i].id + '" >' + data[i].description + '</option>';
                                 //$gerencia_selector.append('<option value="' + data[i].id + '" >' + data[i].description + '</option>');
                             } else if (data[i].idComplejo != data[i-1].idComplejo && (i + 1) < cantidad ){
                                 text = text + '</optgroup> <optgroup label="' + data[i].optGroup + '">';
                                 //$gerencia_selector.append('</optgroup> <optgroup label="' + data[i].optGroup + '">');
                             } else if ((i+1) == cantidad){
                                 text = text +'<option value="' + data[i].id + '" >' + data[i].description + '</option> </optgroup>';
                                 //$gerencia_selector.append('<option value="' + data[i].id + '" >' + data[i].description + '</option> </optgroup>');
                             } else{
                                 text = text + '<option value="' + data[i].id + '" >' + data[i].description + '</option>';
                                 //$gerencia_selector.append('<option value="' + data[i].id + '" >' + data[i].description + '</option>');
                             }
                         }
                         selectGerencia.append(text);
                         selectGerencia.select2({
                         });
                         selectGerencia.select2("enable",true);
                         sectionCheckGerencia.show();
                    }
                 });
            }
                        
            //Función que muestra el Número de Referencia del objetivo a crear, de acuerdo al táctico seleccionado
            function displayObjetiveRef(e){
                var data = {
                    objetiveTacticId: $.trim(e.val)
                };
                $.ajax({
                    type: 'post',
                    url: '{{ path("displayRefObjetiveOperative") }}',
                    data: data,
                    success: function(data) {
                        inputRef.val(data[0].ref);
                    }
                 });
            }
            
            //Función que "marca" todas las gerencias de los complejos seleccionados
            function checkAllGerencias(){
                if(checkGerencia.is(':checked')){
                    selectGerencia.select2("val",'');
                    selectGerencia.select2("enable",false);
                } else{
                    selectGerencia.select2("enable",true);
                }
            }
            
            //Agarrar este select como ejemplo para los demás select2
            //Función que actualiza el select de indicadores en caso de que se cambie la lína estratégica o se agregue un nuevo indicador a partir de este formulario
            function chargeSelectIndicatorFromLineStrategic(){
                var data = {
                    lineStrategicId: $.trim($("#pequiven_objetive_operative_registration_lineStrategic").val())
                };
                $.ajax({
                    type: 'post',
                    url: '{{ path("select_indicatorOperativeFromLineStrategic") }}',
                    data: data,
                    success: function(data) {
                        var $indicators_selector = $("#pequiven_objetive_operative_registration_indicators");
                        $('#pequiven_objetive_operative_registration_indicators option[value]').remove();
                        $('#pequiven_objetive_operative_registration_indicators').select2("val",'');
                        
                        if(typeof data[0].empty === 'undefined'){
                            for(var i=0, total = data.length; i<total; i++){
                                $indicators_selector.append('<option value="' + data[i].id + '">' + data[i].description + '</option>');
                            }
                            chargeSelect2Indicators("full");
                        } else{
                            chargeSelect2Indicators("empty");
                        }
                    }
                });
            }
            
           //Función que carga el select2 de Línea Estratégica
            function chargeSelect2LineStrategic(type){
                selectLineStrategic.select2({
                    placeholder: '{{ 'form.messages.selectLineStrategicPlaceholder'|trans }}',
                    formatNoMatches: function(term) {
                        if(type == 'full'){
                            return "{{ 'form.messages.selectLineStrategicFormatNoMatcher'|trans }}";
                        } else{
                            return "{{ 'form.messages.selectLineStrategicFormatNoResult'|trans }}";
                        }
                    }
                });
            }
            
            //Función que carga el select2 de Objetivo Estratégico
            function chargeSelect2ObjetiveStrategic(type){
                selectObjetiveStrategic.select2({
                    placeholder: '{{ 'form.messages.selectObjetiveStrategicPlaceholder'|trans }}',
                    formatNoMatches: function(term) {
                        if(type == 'full'){
                            return "{{ 'form.messages.selectObjetiveStrategicFormatNoMatcher'|trans }}";
                        } else if (type == 'empty'){
                            return "{{ 'form.messages.selectObjetiveStrategicFormatNoResult'|trans }}";
                        } else {
                            return "{{ 'form.messages.selectObjetiveStrategicFormatNoMatcher'|trans }}";
                        }
                    }
                });
            }
            
            //Función que carga el select2 de Objetivo Táctico
            function chargeSelect2ObjetiveTactic(type){
                selectObjetiveTactic.select2({
                    placeholder: '{{ 'form.messages.selectObjetiveTacticPlaceholder'|trans }}',
                    formatNoMatches: function(term) {
                        if(type == 'full'){
                            return "{{ 'form.messages.selectObjetiveTacticFormatNoMatcher'|trans }}";
                        } else if (type == 'empty'){
                            return "{{ 'form.messages.selectObjetiveTacticFormatNoResult'|trans }}";
                        } else {
                            return "{{ 'form.messages.selectObjetiveTacticFormatNoMatcher'|trans }}";
                        }
                    }
                });
            }
           
           //Función que carga el select2 de Indicadores
           function chargeSelect2Indicators(type){
                selectIndicators.select2({
                    placeholder: '{{ 'form.selectIndicatorPlaceholder'|trans ({}, 'PequivenIndicatorBundle') }}',
                    formatNoMatches: function(term) {
                        if(type == 'full'){
                            return "<a href='#lineStrategic'>{{ 'form.selectIndicatorFormatNoMatcher'|trans ({}, 'PequivenIndicatorBundle') }}</a>";
                        } else{
                            return "<a href='#lineStrategic'>{{ 'form.selectIndicatorFormatNoResult'|trans ({}, 'PequivenIndicatorBundle') }}</a>";
                        }
                    }
                });
           }
            
        });
    </script>
    
    <script>
        
        function indicatorsRegisterSuccessful(){
            $("#modals").remove();
            //document.scripts.chargeSelectIndicatorFromLineStrategic();
            document.chargeSelectIndicatorFromLineStrategic();
        }

        function openAlert(){
            $.modal({
                title: '{{ 'pequiven_indicator.titleFrameAddOperative'|trans ({}, 'PequivenIndicatorBundle') }}',
                url: '{{ path("pequiven_indicator_add_operative_from_objetive") }}' ,
                useIframe: true,
                height: '800',
                width: '600',
                buttons: {
                        'Cerrar': {
                            classes:	'red-gradient glossy full-width',
                            click:      function(win) { win.closeModal(); }
                        }
                    }
            });
        
            /**
            $.modal.alert('Indicador',{
                    buttons: {
                        'Cerrar': {
                            classes:	'red-gradient glossy full-width',
                            click:      function(win) { win.closeModal(); }
                        }
                    }
                });
            **/
        };
        
    </script>    
    {% endblock javascript %}
{% endblock body %}