{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}
{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}
{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}
{% trans_default_domain 'sip' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{  asset('bundles/pequivenseip/basic-primitives/demo/js/jquery/ui-lightness/jquery-ui-1.10.2.custom.css') }}" />
    <link href="{{  asset('bundles/pequivenseip/basic-primitives/demo/css/primitives.latest.css') }}" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function ()
        {
            charge();
            function charge() {
                $('.select2').select2({
                    allowClear: true
                });

                $("#feestructurecreate_parent").select2({
                    minimumInputLength: 3
                });
            }
        });
    </script>
{% endblock %}

{% block before_body %}
    {{ contentHeader("Gestión de Cargos")   }}
{% endblock %}
{% block body %}

    <fieldset class="fieldset">
        <legend class="legend"><b>Creación de Cargos</b></legend>
        <form method="POST" action="{{ path("pequiven_user_loadfeestructure")}}">
            <div class="with-padding">
                <div class="columns">   
                    <div class="new-row two-columns bold">
                        {{ form_label(form_create.gerencia) }}
                    </div>
                    <div class="four-columns">
                        {{ form_widget(form_create.gerencia) }}
                        {{ form_errors(form_create.gerencia) }}
                    </div>
                    <div class="two-columns bold">
                        {{ form_label(form_create.gerenciasecond) }}
                    </div>
                    <div class="four-columns">
                        {{ form_widget(form_create.gerenciasecond) }}
                        {{ form_errors(form_create.gerenciasecond) }}
                    </div>
                    <div class="new-row two-columns bold">
                        {{ form_label(form_create.coordinacion) }}
                    </div>
                    <div class="four-columns">
                        {{ form_widget(form_create.coordinacion) }}
                        {{ form_errors(form_create.coordinacion) }}
                    </div>
                    <div class="two-columns bold">
                        {{ form_label(form_create.charge) }}
                    </div>
                    <div class="four-columns">
                        {{ form_widget(form_create.charge) }}
                        {{ form_errors(form_create.charge) }}
                    </div>
                    <div class="two-columns bold">
                        {{ form_label(form_create.parent) }}
                    </div>
                    <div class="four-columns">
                        {{ form_widget(form_create.parent) }}
                        {{ form_errors(form_create.parent) }}
                    </div>
                    <div class="new-row two-columns bold">
                        {{ form_label(form_create.staff) }}
                    </div>
                    <div class="two-columns">
                        {{ form_widget(form_create.staff) }}
                        {{ form_errors(form_create.staff) }}
                    </div>
                    <div class="two-columns bold">
                        ¿Cuántos Cargos desea Crear?:
                    </div>
                    <div class="two-columns">
                        <input type="number" class="input-mini" name="repeat" value="1">
                    </div>
                    <div class="four-columns">
                        {{ actions.createonly() }}   
                        {{ form_rest(form_create) }}
                    </div>
                </div>
            </div>
        </form>
    </fieldset>

{% endblock %} 