{# empty Twig template #}

<style>
    table{
        border-collapse:separate;
        border-spacing: 4px;
    }

    .rounded{
        border-radius: 50px 50px 50px 50px;
        -moz-border-radius: 50px 50px 50px 50px;
        -webkit-border-radius: 50px 50px 50px 50px;
    }
    .white-gradient {
        background-color: #E6E6E6;             
        font-size: 8pt;
        font-weight: bold;                
    }       
    .white-gradient-th{
        background-color: #E6E6E6;                
        font-size: 10pt;
        font-weight: bold; 
        text-align: left;        
    }
    .observation{
        font-family: sans-serif;
        font-size: 8pt;
        color: #6E6E6E;
    }
    td{
        font-family: sans-serif;
        font-size: 8pt;  
    }
    .resultgreen{
        color: #04B404; 
        font-weight: bold;
    }
    .resultred{
        color: #FF0000;        
        font-weight: bold;
    }
    .redPenalty{        
        background-color: #F5A9A9;            
    }

    .tableBordered{
        padding: 2px;
        border: #000000 7px solid;
    }
    .header{
        text-align: left;
        font-weight: bold;
    }
    .text-center{
        text-align: center;
    }
    .text-right{
        text-align: right;
    }

</style>
{% block body %}       
    <table style="width: 100%;">   
        <tr>
            <td colspan="2" class="white-gradient-th">                                
                Datos del Pedido                                                                  
            </td>   
            <td colspan="2" rowspan="3" style="background-color: #D8D8D8;">
                <br><br>
                <span  style="font-size: 18pt; vertical-align: middle; text-align: center;">Orden Nro.:
                <span class="resultgreen">{{ "%05d" | format(order.nroOrder) }}</span>    
                </span>
            </td>
        </tr>
        <tr>
            <td width="15%" class="header">Fecha de Pedido:</td>
            <td width="35%">
                {{ order.getCreatedAt|date("d/m/Y h:i:s a") }} 
            </td>              
        </tr>
        <tr>
            <td width="15%" class="header">Localidad:</td>
            <td width="35%">
                {{ order.getWorkStudyCircle.getComplejo.getdescription }} 
            </td>                    
        </tr>
        <tr>
            <td width="15%" class="header">Código C.E.T.:</td>
            <td width="35%">
                {{ order.getWorkStudyCircle.codigo }}
            </td>
            <td width="15%" class="header">Estatus:</td>
            <td width="35%">
                {{arrayStatus[order.getType]}}
            </td>             
        </tr>
        <tr>
            <td width="15%" class="header">C.E.T.:</td>
            <td width="35%">
                {{ order.getWorkStudyCircle.name }} 
            </td>
            <td width="15%" class="header">Fecha de Pago:</td>
            <td width="35%">
                {%if order.getType==4%}                                
                    {{ order.getDatePay|date("d/m/Y h:i:s a") }} 
                {%else%}
                    Sin Pagar
                {%endif%}
            </td>
        </tr>
        <tr>
            <td width="15%" class="header">Coordinador:</td>
            <td width="35%">
                {{ order.getWorkStudyCircle.getcoordinator.getfullname }} 
            </td>
            <td width="15%" class="header">Fecha de Entrega:</td>
            <td width="35%">
                {%if order.getType==5%}
                    {{ order.getDateDelivery|date("d/m/Y h:i:s a") }} 
                {%else%}
                    Sin Retirar
                {%endif%}
            </td>
        </tr>
    </table>        
    <table>   
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="white-gradient-th">Productos</td>         
        </tr>   
        <tr>                                                    
            <th class="white-gradient text-center" width="10%">Cant</th>
            <th class="white-gradient" width="50%">Producto</th>
            <th class="white-gradient text-right" width="20%">Precio</th>                                
            <th class="white-gradient text-right" width="18%">Sub-Total</th>                                                    
        </tr>
        {% if (orderDetails) %}
            {% for list in orderDetails %}                                                    
                <tr>
                    <td class="text-center" width="10%"> {{ list.cant }} </td>
                    <td>{{ list.product }}</td>
                    <td class="text-right">{{ (list.totalLine/list.cant)|myNumberFormat }}</td>                                                                                                                        
                    <td class="text-right">{{ list.totalLine|myNumberFormat }}</td>                                
                </tr>                                                                                                    
            {% endfor %}   
        {% endif %}
        <tr>                                                    
            <td colspan="2">&nbsp;</td>
            <td class="white-gradient text-right">Sub-Total</td>
            <td class="text-right" style="border-top: #000000 5px solid;">{{ order.getTaxable|myNumberFormat}}</td>                                                    
        </tr>                                    
        <tr>
            <td colspan="2">&nbsp;</td>
            <td class="white-gradient text-right">Impuestos</td>
            <td class="text-right">{{ order.getTax|myNumberFormat}}</td>                                                    
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
            <td class="white-gradient text-right" style="font-size: 10pt;">Total</td>
            <td class="text-right" style="border-top: #000000 5px solid; font-size: 12pt; font-weight: bold;" >{{ order.getTotalOrder|myNumberFormat}}</td>                                                    
        </tr> 
    </table>
    {%if order.getType==4%}                                
        <table style="width: 100%;">      
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td width="100%" class="white-gradient-th">Pagos Registrados</td>         
            </tr>        
            <tr>                                                    
                <th class="white-gradient" width="48%">Concepto</th>
                <th class="white-gradient text-center" width="25%">Referencia</th>
                <th class="white-gradient text-right" width="25%">Monto</th>                                                
            </tr>   
            {% for pays in order.getPayments %}                                                    
                <tr>
                    <td> {{ arrayPays[pays.type] }} </td>
                    <td class="text-center">{{ pays.ref|upper }}</td>
                    <td class="text-right">{{ (pays.total)|myNumberFormat }}</td>                                                                                                                        
                </tr>                                                                                                    
            {% endfor %}          
        </table>    
    {%endif%}
    <table style="width: 100%;">      
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td width="100%" class="white-gradient-th">Observaciones</td>         
        </tr>        
        <tr>
            <td width="100%">
                <b>1. Productos Distribuidos en {{cantKits}} Kits para los siguientes Miembros:</b>
            </td>                        
        </tr>
        <tr>
            <td width="100%">
                {%set member=''%}                                        
                {%for items in order.getOrderItems%}
                    {%if member!=items.getclient.getOnlyFullNameUser%}
                        {%set member=items.getclient.getOnlyFullNameUser%}                                                
                        {{member}} | 
                    {%endif%}
                {%endfor%}
            </td>
        </tr>
        <tr>
            <td>
                <b>2. Las Formas de Pago son a través de Deposito y/o Transferencia Bancaria al Numero de Cuenta</b>
            </td>
        </tr>
        <tr>
            <td>
                Corriente 0116-0225-81-0015-100715 del Banco Occidental de Descuento B.O.D. ó Ahorros 0191-0140-18-1100-026943 del Banco Nacional de Crédito B.N.C.    
            </td>                
        </tr>      
    </table>    
{% endblock %}

