{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutModal.html.twig' %}

{% trans_default_domain 'PequivenIndicatorBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block javascripts_base %}
    {{ parent() }}
    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Scripts -->
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/jquery-1.8.2.min.js') }}"></script>
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/setup.js') }}"></script>
{% endblock javascripts_base %}

{% block body %}

    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="#">{{ 'pequiven_indicator.indicators'|trans }}</a>
            <span class="icon-forward"></span>
            <span class="thin">{{ 'pequiven_indicator.add'|trans }}</span>
            <span class="icon-forward"></span>
            <span class="thin">{{ 'pequiven_indicator.tactic'|trans }}</span>
        </h1>
    </hgroup>
    
    <form action="{{ path('pequiven_indicator_add_tactic_from_objetive') }}" {{ form_enctype(form) }} method="POST">
        <fieldset class="fieldset fields-list">
            <legend class="legend">{{ 'pequiven_indicator.indicators'|trans }}</legend>
            
            <!-- Hidden con la Referencia del Objetivo que se esta creando -->
            <div>
                {{ form_widget(form.refObjetive) }}
            </div>
            
            <!-- Descripción -->
            <div class="field-block button-height">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.description_info'|trans }}</span>
                </span>
            </div>
                
            <!-- Ref -->
            <div id="ref" class="field-block button-height">
                {{ form_label(form.ref) }}
                {{ form_widget(form.ref) }}
                {{ form_errors(form.ref) }}
                <span id="ref_info" class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.ref_info'|trans }}</span>
                </span>
            </div>
            
            <!-- Peso del Objetivo -->
            <!--
            <div id="weight" class="field-block button-height">
                {#{ form_label(form.weight) }}
                {{ form_widget(form.weight) }}
                {{ form_errors(form.weight) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.weight_info'|trans }#}</span>
                </span>
            </div>
            -->
                
            <!-- Meta del Objetivo -->
            <div class="field-block button-height">
                    {{ form_label(form.goal) }}
                    {{ form_widget(form.goal) }}
                    {{ form_errors(form.goal) }}
                    <span class="info-spot">
                        <span class="icon-info-round"></span>
                        <span class="info-bubble">{{ 'form.goal_info'|trans }}</span>
                    </span>
            </div>
                    
            <!-- Fórmula -->
            <div id="formula" class="field-block button-height">
                {{ form_label(form.formula) }}
                {{ form_widget(form.formula) }}
                {{ form_errors(form.formula) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.formula_info'|trans }}</span>
                </span>
            </div>

            <!-- Rango de Gestión Alto -->
            <fieldset class="fieldset">
                <legend class="legend">{{ 'form.rankArrangementTop'|trans }}</legend>
                {{ form_widget(form.typeArrangementRangeTypeTop) }}
                {{ form_label(form.arrangementRangeTypeTop) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.arrangementRangeType_info'|trans }}</span>
                </span>
                {{ form_widget(form.arrangementRangeTypeTop) }}
                
                <span id="sectionTopBasic">
                    {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankTop) }} {{ form_widget(form.rankTop) }}
                </span>
                <span id="sectionTopCompound">
                    <div id="rangeTopTop">
                        {{ 'form.rankTopTop_info'|trans }}</br>
                        {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankTopTopTop) }} {{ form_widget(form.rankTopTopTop) }} y {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankTopTopBottom) }} {{ form_widget(form.rankTopTopBottom) }}
                    </div>
                    <div id="rangeTopBottom">
                        {{ 'form.rankTopBottom_info'|trans }}</br>
                        {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankTopBottomTop) }} {{ form_widget(form.rankTopBottomTop) }} y {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankTopBottomBottom) }} {{ form_widget(form.rankTopBottomBottom) }}
                    </div>
                </span>
            </fieldset>
                    
            <!-- Rango de Gestión Medio -->
            <fieldset class="fieldset">
                <legend class="legend">{{ 'form.rankArrangementMiddle'|trans }}</legend>
                {{ form_widget(form.typeArrangementRangeTypeMiddle) }}
                {{ form_label(form.arrangementRangeTypeMiddle) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.arrangementRangeType_info'|trans }}</span>
                </span>
                {{ form_widget(form.arrangementRangeTypeMiddle) }}
                
                <span id="sectionMiddleBasic">
                    {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankMiddleTop) }} {{ form_widget(form.rankMiddleTop) }} y {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankMiddleBottom) }} {{ form_widget(form.rankMiddleBottom) }}
                </span>
                <span id="sectionMiddleCompound">
                    <div id="rangeMiddleTop">
                        {{ 'form.rankMiddleTop_info'|trans }}</br>
                        {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankMiddleTopTop) }} {{ form_widget(form.rankMiddleTopTop) }} y {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankMiddleTopBottom) }} {{ form_widget(form.rankMiddleTopBottom) }}
                    </div>
                    <div id="rangeMiddleBottom">
                        {{ 'form.rankMiddleBottom_info'|trans }}</br>
                        {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankMiddleBottomTop) }} {{ form_widget(form.rankMiddleBottomTop) }} y {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankMiddleBottomBottom) }} {{ form_widget(form.rankMiddleBottomBottom) }}
                    </div>
                </span>
            </fieldset>                    
            
            <!-- Rango de Gestión Bajo -->
            <fieldset class="fieldset">
                <legend class="legend">{{ 'form.rankArrangementBottom'|trans }}</legend>
                {{ form_widget(form.typeArrangementRangeTypeBottom) }}
                {{ form_label(form.arrangementRangeTypeBottom) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.arrangementRangeType_info'|trans }}</span>
                </span>
                {{ form_widget(form.arrangementRangeTypeBottom) }}
                
                <span id="sectionBottomBasic">
                    {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankBottom) }} {{ form_widget(form.rankBottom) }}
                </span>
                <span id="sectionBottomCompound">
                    <div id="rangeBottomTop">
                        {{ 'form.rankBottomTop_info'|trans }}</br>
                        {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankBottomTopTop) }} {{ form_widget(form.rankBottomTopTop) }} y {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankBottomTopBottom) }} {{ form_widget(form.rankBottomTopBottom) }}
                    </div>
                    <div id="rangeBottomBottom">
                        {{ 'form.rankBottomBottom_info'|trans }}</br>
                        {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankBottomBottomTop) }} {{ form_widget(form.rankBottomBottomTop) }} y {{ 'form.textResInd'|trans }}{{ form_widget(form.opRankBottomBottomBottom) }} {{ form_widget(form.rankBottomBottomBottom) }}
                    </div>
                </span>
            </fieldset>
            
            {{ actions.create_formModal() }}
        </fieldset>
    {{ form_rest(form) }}
    </form>
    {% block javascript %}
        <script>
            //TODO: Mejorar esta función para hacerla más generica
            function closeIFrame(){
                $("#modals",window.parent.document).remove();
            }
        </script>
        <script type="text/javascript">
        $(document).ready(function()
        {
            var selectFormula = $("#pequiven_indicator_tacticfo_registration_formula"),//Select de Fórmula
                inputRef = $("#pequiven_indicator_tacticfo_registration_ref"),//Input de Ref
                inputGoal = $("#pequiven_indicator_tacticfo_registration_goal"),//Input de Meta
                selectArrangementRangeTypeTop = $("#pequiven_indicator_tacticfo_registration_arrangementRangeTypeTop"),//Select de Tipo de Rango Alto
                selectArrangementRangeTypeMiddle = $("#pequiven_indicator_tacticfo_registration_arrangementRangeTypeMiddle"),//Select de Tipo de Rango Alto
                selectArrangementRangeTypeBottom = $("#pequiven_indicator_tacticfo_registration_arrangementRangeTypeBottom"),//Select de Tipo de Rango Alto
                inputHiddenRefParent = $("#pequiven_indicator_tacticfo_registration_refObjetive"),//Input Hidden de la Referencia del Objetivo
                sectionTopBasic = $("#sectionTopBasic"),//Input Hidden de la Referencia del Objetivo
                sectionTopCompound = $("#sectionTopCompound"),//Input Hidden de la Referencia del Objetivo
                sectionMiddleBasic = $("#sectionMiddleBasic"),//Input Hidden de la Referencia del Objetivo
                sectionMiddleCompound = $("#sectionMiddleCompound"),//Input Hidden de la Referencia del Objetivo
                sectionBottomBasic = $("#sectionBottomBasic"),//Input Hidden de la Referencia del Objetivo
                sectionBottomCompound = $("#sectionBottomCompound"),//Input Hidden de la Referencia del Objetivo
                inputRefParent = $("#pequiven_objetive_tactic_registration_ref",window.parent.document),//Input de Referencia de la ventana Padre del Objetivo
                inputHiddenTypeArrangementRangeTop = $("#pequiven_indicator_tacticfo_registration_typeArrangementRangeTypeTop"),//Input Hidden del tipo de rango de gestión alto
                inputHiddenTypeArrangementRangeMiddle = $("#pequiven_indicator_tacticfo_registration_typeArrangementRangeTypeMiddle"),//Input Hidden del tipo de rango de gestión medio
                inputHiddenTypeArrangementRangeBottom = $("#pequiven_indicator_tacticfo_registration_typeArrangementRangeTypeBottom"),//Input Hidden del tipo de rango de gestión bajo
                inputRankTop = $("#pequiven_indicator_tacticfo_registration_rankTop"),//Input de rankTop
                inputRankTopTopTop = $("#pequiven_indicator_tacticfo_registration_rankTopTopTop"),//Input de rankTopTopTop
                inputRankTopTopBottom = $("#pequiven_indicator_tacticfo_registration_rankTopTopBottom"),//Input de rankTopTopBottom
                inputRankTopBottomTop = $("#pequiven_indicator_tacticfo_registration_rankTopBottomTop"),//Input de rankTopBottomTop
                inputRankTopBottomBottom = $("#pequiven_indicator_tacticfo_registration_rankTopBottomBottom"),//Input de rankTopBottomBottom
                inputRankMiddleTop = $("#pequiven_indicator_tacticfo_registration_rankMiddleTop"),//Input de rankMiddleTop
                inputRankMiddleBottom = $("#pequiven_indicator_tacticfo_registration_rankMiddleBottom"),//Input de rankMiddleBottom
                inputRankMiddleTopTop = $("#pequiven_indicator_tacticfo_registration_rankMiddleTopTop"),//Input de rankMiddleTopTop
                inputRankMiddleTopBottom = $("#pequiven_indicator_tacticfo_registration_rankMiddleTopBottom"),//Input de rankMiddleTopBottom
                inputRankMiddleBottomTop = $("#pequiven_indicator_tacticfo_registration_rankMiddleBottomTop"),//Input de rankMiddleBottomTop
                inputRankMiddleBottomBottom = $("#pequiven_indicator_tacticfo_registration_rankMiddleBottomBottom"),//Input de rankMiddleBottomBottom
                inputRankBottom = $("#pequiven_indicator_tacticfo_registration_rankBottom"),//Input de rankBottom
                inputRankBottomTopTop = $("#pequiven_indicator_tacticfo_registration_rankBottomTopTop"),//Input de rankBottomTopTop
                inputRankBottomTopBottom = $("#pequiven_indicator_tacticfo_registration_rankBottomTopBottom"),//Input de rankBottomTopBottom
                inputRankBottomBottomTop = $("#pequiven_indicator_tacticfo_registration_rankBottomBottomTop"),//Input de rankBottomBottomTop
                inputRankBottomBottomBottom = $("#pequiven_indicator_tacticfo_registration_rankBottomBottomBottom")//Input de rankBottomBottomBottom
            ;
            
           charge();
           
           function charge(){
               
               //Inicializamos el select2 de Fórmula
               selectFormula.select2({
                   placeholder: '{{ 'form.selectFormulaPlaceholder'|trans ({}, 'PequivenIndicatorBundle') }}',
               });
       
               //Incializamos el formato numerico para el input de Meta
               inputGoal.number(true,3,',','.');
               
               //Cargamos la referencia del objetivo que se esta creando en el inputHiddenRefParent
               inputHiddenRefParent.val(inputRefParent.val());
               
               //Actualizamos la referencia del indicador a crear
               displayIndicatorRef();
               
               //Inicializamos el formato numerico para el input de Rango Alto
               inputRankTop.number(true,3,',','.');
               inputRankTopTopTop.number(true,3,',','.');
               inputRankTopTopBottom.number(true,3,',','.');
               inputRankTopBottomTop.number(true,3,',','.');
               inputRankTopBottomBottom.number(true,3,',','.');
               inputRankMiddleTop.number(true,3,',','.');
               inputRankMiddleBottom.number(true,3,',','.');
               inputRankMiddleTopTop.number(true,3,',','.');
               inputRankMiddleTopBottom.number(true,3,',','.');
               inputRankMiddleBottomTop.number(true,3,',','.');
               inputRankMiddleBottomBottom.number(true,3,',','.');
               inputRankBottom.number(true,3,',','.');
               inputRankBottomTopTop.number(true,3,',','.');
               inputRankBottomTopBottom.number(true,3,',','.');
               inputRankBottomBottomTop.number(true,3,',','.');
               inputRankBottomBottomBottom.number(true,3,',','.');
               
               sectionTopBasic.hide();
               sectionTopCompound.hide();
               sectionMiddleBasic.hide();
               sectionMiddleCompound.hide();
               sectionBottomBasic.hide();
               sectionBottomCompound.hide();
           }
           
           selectArrangementRangeTypeTop.click(function() {
                if ($("input[id='pequiven_indicator_tacticfo_registration_arrangementRangeTypeTop_1']").is(':checked')) {
                    sectionTopBasic.show();
                    sectionTopCompound.hide();
                    inputHiddenTypeArrangementRangeTop.val("TOP_BASIC");
                 }
                 else {
                    sectionTopBasic.hide();
                    sectionTopCompound.show();
                    inputHiddenTypeArrangementRangeTop.val("TOP_COMPOUND");
                 }
           });
           
           selectArrangementRangeTypeMiddle.click(function() {
                if ($("input[id='pequiven_indicator_tacticfo_registration_arrangementRangeTypeMiddle_2']").is(':checked')) {
                    sectionMiddleBasic.show();
                    sectionMiddleCompound.hide();
                    inputHiddenTypeArrangementRangeMiddle.val("MIDDLE_BASIC");
                 }
                 else {
                    sectionMiddleBasic.hide();
                    sectionMiddleCompound.show();
                    inputHiddenTypeArrangementRangeMiddle.val("MIDDLE_COMPOUND");
                 }
           });
           
           selectArrangementRangeTypeBottom.click(function() {
                if ($("input[id='pequiven_indicator_tacticfo_registration_arrangementRangeTypeBottom_3']").is(':checked')) {
                    sectionBottomBasic.show();
                    sectionBottomCompound.hide();
                    inputHiddenTypeArrangementRangeBottom.val("BOTTOM_BASIC");
                 }
                 else {
                    sectionBottomBasic.hide();
                    sectionBottomCompound.show();
                    inputHiddenTypeArrangementRangeBottom.val("BOTTOM_COMPOUND");
                 }
           });
           //Función que muestra el Número de Referencia del indicador a crear, de acuerdo a la línea estratégica seleccionada
           function displayIndicatorRef(){
                var data = {
                    refParentId: $.trim(inputHiddenRefParent.val())
                };
                $.ajax({
                    type: 'post',
                    url: '{{ path("displayRefIndicatorTacticFromObjetive") }}',
                    data: data,
                    success: function(data) {
                        inputRef.val(data[0].ref);
                    }
                 });
           }
           
        });
    </script>
    {% endblock javascript %}
    
{% endblock body %}