{% trans_default_domain 'PequivenSEIPBundle' %}

<!-- Sección Lateral Izquierda -->
<div class="with-padding" ng-controller="ChartsDashboardController">
    <div class="columns">
        
        {% if typeViews.view_type_pqv == true %}
            <div class="six-columns six-columns-tablet twelve-columns-mobile new-row-mobile">
                Epale
            </div>
        {% endif %}
        
        {#<div id="tab-{{ grafico }}" ng-init="{{ chart.nameFunctionAngular }}({{ indicator.id }},'{{ grafico }}','100','500')">
            <span id="{{ grafico }}"></span>
        </div>#}
        
        
        
        <div class="six-columns six-columns-tablet twelve-columns-mobile new-row-mobile">
            Epale
        </div>
        <div class="six-columns six-columns-tablet twelve-columns-mobile new-row-mobile">
            <ul>
            {% for reportTemplate in reportTemplates %}
                <li>{{ reportTemplate.name }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            
        });
    </script>
{% endblock javascript %}