{% trans_default_domain 'PequivenSEIPBundle' %}

<!-- Sección Lateral Izquierda -->
<div class="with-padding" ng-controller="ChartsDashboardController">
    <div class="columns">
        
        {% if typeViews.view_type_pqv == true %}
            {% for reportTemplate in reportTemplates %}
                <div class="six-columns six-columns-tablet twelve-columns-mobile new-row-mobile">
                    <div id="id-{{ reportTemplate.location.alias }}" ng-init="chargeChartProductionReportTemplateByDate({{ reportTemplate.id }},'{{ "now"|date('Y-m-d') }}','{{ reportTemplate.location.alias }}','100','500')">
                        <span id="{{ reportTemplate.location.alias }}"></span>
                        {{ reportTemplate.name }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            
        });
    </script>
{% endblock javascript %}