{% trans_default_domain 'PequivenSEIPBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% set message = ("pequiven_seip.raw_material_consumption_planning.question.delete"|trans) %}

<div class="block">
    <div class="block-title">
        <h3> {{ 'pequiven_seip.report_template.raw_material'|trans }}&nbsp;({{ raw_material_consumption_planning.detailRawMaterialConsumptions|length }})</h3>
        <div class="button-group absolute-right compact">
            {% if periodService().isAllowPlanningReport %}
                <a class="button icon-list-add" href="{{ path("pequiven_detail_raw_material_consumption_create",{rawMaterialConsumption:raw_material_consumption_planning.id}) }}">{{ 'pequiven.add'|trans({},'messages') }}</a>
            {% endif %}
        </div>
    </div>
    <div class="with-padding">
        <table class="simple-table responsive-table tables-extras" id="sorting-example2">
            <thead>
                <tr>
                    <th scope="col" width="20%">{{ 'Month'|trans }}</th>
                    <td align="right" scope="col" width="15%" class="hide-on-mobile-portrait with-tooltip" title="{{ 'pequiven_seip.totalPlan'|trans }}">{{ 'pequiven_seip.headers.totalPlan'|trans }}</td>
                    <td align="right" scope="col" width="15%" class="hide-on-tablet with-tooltip" title="{{ 'pequiven_seip.totalReal'|trans }}">{{ 'pequiven_seip.headers.totalReal'|trans }}</td>
                    <td align="right" scope="col" width="15%" class="hide-on-tablet with-tooltip" title="{{ 'pequiven_seip.percentage'|trans }}">{{ 'pequiven_seip.headers.percentage'|trans }}</td>
                    <th scope="col" width="10%">&nbsp;</th>
                </tr>
            </thead>
            {% set colspan = 9 %}
            <tbody>

                {% for detailRawMaterialConsumption in raw_material_consumption_planning.detailRawMaterialConsumptions %}
                    {% set tableIdRow = "row-detailRawMaterialConsumption-"~detailRawMaterialConsumption.id %}
                    <tr id="{{ tableIdRow }}">
                        <th scope="row">{{ loop.index }} - 
                            {{ detailRawMaterialConsumption|trans }}
                        </th>
                        <td align="right">{{ detailRawMaterialConsumption.totalPlan|myNumberFormat }}</td>
                        <td align="right">{{ detailRawMaterialConsumption.totalReal|myNumberFormat }}</td>
                        <td align="right">{{ detailRawMaterialConsumption.percentage|myNumberFormat }}&nbsp;%</td>
                        <td class="low-padding align-center">
                            <p class="button-height">
                                <span class="button-group">
                                    {% if periodService().isAllowPlanningReport %}
                                        <a href="{{ path("pequiven_detail_raw_material_consumption_update",{id: detailRawMaterialConsumption.id}) }}" class="button icon-pencil">{{ "pequiven_seip.actions.edit"|trans }}</a>
                                        {% set deleteUrl = path("pequiven_detail_raw_material_consumption_delete",{id: detailRawMaterialConsumption.id}) %}
                                        {{ buttons.delete_mini(deleteUrl,message,tableIdRow) }}
                                    {% endif %}
                                </span>
                            </p>
                        </td>
                    </tr>
                {% else %}
                    <tr >
                        <td colspan="{{ colspan }}" class="empty_row">
                            {{ "empty.no_details_raw_material"|trans }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>