{% trans_default_domain 'TecnocreacionesVzlaGovernmentBundle' %}

{# Redirecci贸n informe de Evolution #}
{% macro generic_ext(url, message='generic', icon = 'fa fa-search fa-1', parameters = {}) %}

    {% set gradient = 'red-gradient' %}
    {% set translation_domain = 'messages' %}
    {% if parameters['translation_domain'] is defined %}
        {% set translation_domain = parameters['translation_domain'] %}
    {% endif  %}
    {% if parameters['gradient'] is defined %}
        {% set gradient = parameters['gradient'] %}
    {% endif  %}
    <a href="{{ url }}" class="button">
        <span class="button-icon left-side {{ gradient }}"><span class="{{ icon }}"></span></span>
        {{ message|trans({},translation_domain) }}
    </a>

{% endmacro %}

{% macro generic_history(url, message='generic', icon = 'fa fa-search fa-1', parameters = {}) %}

    {% set gradient = 'red-gradient' %}
    {% set translation_domain = 'messages' %}
    {% if parameters['translation_domain'] is defined %}
        {% set translation_domain = parameters['translation_domain'] %}
    {% endif  %}    
    {% if parameters['gradient'] is defined %}
        {% set gradient = parameters['gradient'] %}
    {% endif  %}
    <a href="{{ url }}" class="button wrapped silver-gradient glossy with-mid-padding" style="width:120px; border:5px; margin:5px;">
        
            <span class="{{ icon }}"></span>
        
        {{ message|trans({},translation_domain) }}
    </a>

{% endmacro %}

{# download buttons #}
{% macro generic_download(url, message='Descargar Informe de Evoluci贸n', icon = 'fa fa-download fa-1', parameters = {}) %}
    
    {% set gradient = 'blue-gradient' %}
    {% set translation_domain = 'PequivenSIGBundle' %}
    {% if parameters['translation_domain'] is defined %}
        {% set translation_domain = parameters['translation_domain'] %}
    {% endif  %}
    {% if parameters['gradient'] is defined %}
        {% set gradient = parameters['gradient'] %}
    {% endif  %}
    <a href="{{ url }}" class="button" onclick="downloadEvolution();">
        <span class="button-icon left-side {{ gradient }}"><span class="{{ icon }}"></span></span>
        {{ message|trans({},translation_domain) }}
    </a>

{% endmacro %}

{% macro generic_ext_sv(url, message='generic', icon = 'fa fa-download fa-1', parameters = {}) %}

    {% set gradient = 'blue-gradient' %}
    {% set translation_domain = 'messages' %}
    {% if parameters['translation_domain'] is defined %}
        {% set translation_domain = parameters['translation_domain'] %}
    {% endif  %}
    {% if parameters['gradient'] is defined %}
        {% set gradient = parameters['gradient'] %}
    {% endif  %}
    <a href="{{ url }}" class="button">
        <span class="button-icon left-side {{ gradient }}"><span class="{{ icon }}"></span></span>
        {{ message|trans({},translation_domain) }}
    </a>

{% endmacro %}

{# Revisi贸n / Aprobaci贸n #}
{% macro generic_approve(url, parameters) %}    
    <a href="{{ url }}" class="button">
        <span class="button-icon left-side {{ parameters['gradient'] }}"><span class="{{ parameters['icon'] }}"></span></span>
        {{parameters['message']}}
    </a>
{% endmacro %}