{% trans_default_domain 'PequivenSEIPBundle' %}

<h3 class="thin underline">{{ 'pequiven_seip.product_report.product_detail_daily_month'|trans }}</h3>
<div class="field-block button-height">
    {{ form_label(form.month) }}
    {{ form_widget(form.month) }}
    {{ form_errors(form.month) }}
</div>

<div class="standard-tabs margin-bottom" id="add-tabs">
    <ul class="tabs">
            <li class="active"><a href="#tab-1">{{ "pequiven_seip.gross"|trans }}</a></li>
            <li><a href="#tab-2">{{ "pequiven_seip.net"|trans }}</a></li>
    </ul>

    <div class="tabs-content">
        <div id="tab-1" class="with-padding">
            {% set typeProduction = ("pequiven_seip.gross"|trans) %}
            {% set prefix = "Gross" %}
            {% include 'PequivenSEIPBundle:DataLoad/Production/ProductDetailDailyMonth:_sub_form.html.twig' %}
        </div>

        <div id="tab-2" class="with-padding">
            {% set typeProduction = ("pequiven_seip.net"|trans) %}
            {% set prefix = "Net" %}
            {% include 'PequivenSEIPBundle:DataLoad/Production/ProductDetailDailyMonth:_sub_form.html.twig' %}
        </div>
    </div>
</div>