{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% block before_body %}
    {{ contentHeader(
        ("pequiven_seip.product_report.product_detail_daily_month"|trans )
    ) }}
{% endblock %}

{% block body %}
    {% set productReport = product_detail_daily_month.productReport %}
    <fieldset class="fieldset">
        <legend class="legend">{{ 'pequiven_seip.product_report.product_detail_daily_month'|trans }}</legend>
        <div class="columns">
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven_seip.product_report.product_report'|trans }}</label>
                    {{ generateLink(productReport) }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'Month'|trans }}</label>
                    {{ generateLink(product_detail_daily_month) }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven_seip.totalPlan'|trans }}</label>
                    {{ product_detail_daily_month.totalPlan|myNumberFormat }}&nbsp;{{ productReport.productUnit }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven_seip.totalReal'|trans }}</label>
                    {{ product_detail_daily_month.totalReal|myNumberFormat }}&nbsp;{{ productReport.productUnit }}
                </p>
            </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven_seip.percentage'|trans }}</label>
                    {{ product_detail_daily_month.percentage|myNumberFormat }}&nbsp;%
                </p>
            </div>
        </div>
    </fieldset>
                
    <br /><br />
    <fieldset class="fieldset">
        <legend class="legend">{{ 'pequiven_seip.product_report.product_detail_daily_month'|trans }}</legend>
        {% for i in 1..31 %}
            {% set planN = "day"~ i ~"Plan" %}
            {% set realN = "day" ~ i ~ "Real" %}
                <div class="columns">
                    <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                        <p class="inline-label">
                            <label class="label">{{ 'pequiven_seip.plan_n'|trans({"%n%":i}) }}</label>
                            {{ attribute(product_detail_daily_month,planN)|myNumberFormat }}&nbsp;{{ productReport.productUnit }}
                        </p>
                    </div>
                    <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                        <p class="inline-label">
                            <label class="label">{{ 'pequiven_seip.real_n'|trans({"%n%":i}) }}</label>
                            {{ attribute(product_detail_daily_month,realN)|myNumberFormat }}&nbsp;{{ productReport.productUnit }}
                        </p>
                    </div>
                </div>
        {% endfor %}
    </fieldset>
    <br /><br />
        
    <p class="button-height align-right">
        {{ buttons.generic(path('pequiven_product_detail_daily_month_update', { 'id': product_detail_daily_month.id }),('pequiven.edit'|trans({},'messages'))) }}
        &nbsp;
        {{ buttons.delete(path('pequiven_product_detail_daily_month_delete', { 'id': product_detail_daily_month.id })) }}
    </p>
{% endblock %}