{% trans_default_domain 'workStudyCircle' %}

<style>
    td,th {
        font-size: 8pt;
    }
    .title_bold {
        font-weight: bold;
    }
    table tr {
        padding: 8pt;
    }
    .alin_font {
        text-align: justify;
    }    
    .spacing{
        border-collapse:separate;
        border-spacing: 4px;
    }
</style>

{% block body %}

    <table width="100%">
        <tr>
            <th class="title_bold">1. Datos del Círculo de Estudio</th>
        </tr>
    </table> 
    <br/>
    <table width="100%" class="spacing"> 
        <tr>
            <td class="title_bold" bgcolor="#F2F2F2" width="20%">{{ "workStudyCircle.form.code"|trans }}:</td>
            <td class="title_bold" bgcolor="#F2F2F2" width="40%">{{ "workStudyCircle.form.nombre"|trans }}:</td>
            <td class="title_bold" bgcolor="#F2F2F2" width="40%">{{ "workStudyCircle.form.complejo"|trans }}:</td>
        </tr>      
        <tr>
            <td width="20%"> {{ workStudyCircle.codigo }}</td>    
            <td width="40%"> {{ workStudyCircle.name }}</td>
            <td width="40%"> {{ workStudyCircle.complejo.description}}</td>
        </tr>

        {% if workStudyCircle.phase == 1 %}
            <tr>
                <td class="title_bold" bgcolor="#F2F2F2" width="50%">{{ "workStudyCircle.form.gerenciaFirst"|trans }}:</td>
                <td class="title_bold" bgcolor="#F2F2F2" width="50%">{{ "workStudyCircle.form.gerenciaSecond"|trans }}:</td>            
            </tr>
            <tr>                
                <td width="50%"> {% for gerencia in  workStudyCircle.gerencias %} - {{ gerencia }}<br/> {% endfor %}</td>
                <td width="50%"> {% for gerencia in  workStudyCircle.gerenciaSeconds %} - {{ gerencia }}<br/> {% endfor %}</td>                
            </tr>
        {% endif %}
    </table>
    <br/>
    <table width="100%" class="title_bold">
        <tr>
            <th class="title">2. Reuniones Realizadas</th>
        </tr>
    </table>       
    {% if workStudyCircle.phase > 1 %}
        {% set users = workStudyCircle.getMembers %}
    {% else %}
        {% set users = workStudyCircle.userWorkerId %}
    {% endif %}

    <p style="font-size: 8pt; text-align: justify;">
        {% for miembro in users %}
            {{loop.index}}.  {{ miembro.firstname | ucwords}} {{ miembro.lastname | ucwords}} |
            {% if loop.index is divisibleby(7)%}
                <br>                
            {%endif%}
        {%endfor%}
    </p>

    <table width="100%" cellspacing="5">
        {% set count = users|length %}
        {% set countMiembros = (80/count)|round(0, 'floor') %}
        <thead>
            <tr>
                <th rowspan="2" class="title_bold" style="text-align: center" bgcolor="#F2F2F2" width="10%">Fecha de Reuniones</th> 
                <th colspan="{{count}}" class="title_bold" style="text-align: center" bgcolor="#F2F2F2" width="{{countMiembros*(users|length)}}%">Miembros de Círculo de Estudio y Trabajo</th> 
                <th colspan="2" class="title_bold" style="text-align: center" bgcolor="#F2F2F2" width="10%">Reuniones</th> 
            </tr>
            <tr>                
                {% for miembro in users %}
                    <th class="title_bold" style="text-align: center" bgcolor="#F2F2F2" width="{{countMiembros}}%">{{loop.index}}</th>                    
                    {%endfor%}
                <th class="title_bold" style="text-align: center" bgcolor="#F2F2F2" width="5%"> Total </th>
                <th class="title_bold" style="text-align: center" bgcolor="#F2F2F2" width="5%"> (%) </th>
            </tr>
        </thead>
        <tbody>
            {% for reunion in fechas %}
                <tr>
                    <td width="10%" style="text-align: center">{{reunion.date|date('d-m-Y')}}</td>                

                    {% set totalAP = 0 %}
                    {% for miembro in users %}                                                
                        <th width="{{countMiembros}}%" style="text-align: center"> 
                            {% if((asistencia[miembro.id][reunion.id] is defined) and asistencia[miembro.id][reunion.id]==true) %}
                                {% set totalAP = totalAP + 1 %}       
                                P
                            {% else %}
                                -
                            {% endif %}
                        </th>   

                    {%endfor%}                       
                    <th width="5%" style="text-align: center"> {{ totalAP }} </th>
                    <th width="5%" style="text-align: center"> {{ (totalAP*100/count)|number_format(1, ',', '.') }} </th>                    
                </tr>                
            {% endfor %}
        </tbody>
        <tfoot>
            <tr bgcolor="#F2F2F2">
                <td class="title_bold" width="10%" style="text-align: right;"> Asistencias </td>
                {% set suma=0%}
                {% for miembro in users %}
                    <th width="{{countMiembros}}%" style="text-align: center">
                        {{ totalMember[miembro.id] }}
                    </th>
                    {% set suma=suma+totalMember[miembro.id]%}  
                {% endfor %}
                <th width="5%" style="text-align: center"> {{ suma }} </th>
                <th width="5%" style="text-align: center"> {{ (suma*100/((fechas|length)*(users|length)))|number_format(1, ',', '.') }} </th>                    
            </tr>            
            <tr bgcolor="#F2F2F2">
                <td class="title_bold" width="10%" style="text-align: right;"> (%) </td>                
                {% for miembro in users %}
                    <th width="{{countMiembros}}%" style="text-align: center">
                        {{ (totalMember[miembro.id]*100/(fechas|length))|number_format(1, ',', '.') }}
                    </th>                    
                {% endfor %}
                <th width="5%" style="text-align: center"> - </th>
                <th width="5%" style="text-align: center"> - </th>                    
            </tr>            
        </tfoot>
    </table>
{% endblock %}