{% extends "PequivenSEIPBundle:Template:Developer/layout.html.twig" %}
{% trans_default_domain 'PequivenSEIPBundle' %}

{% block before_body %}
    {% if is_granted('ROLE_SEIP_RESULT_BY_PERIOD') %}
        {{ contentHeader(
            [(entity)],0,1,0
        ) }}
    {% else %}
        {{ contentHeader(
        (entity)
    ) }}
    {% endif %}
{% endblock %}

{% block body %}
    <div ng-controller="DashboardController" class="dashboard" ng-init="renderChartResult('chartContainerResult',{{ data|json_encode() }},'{{ entity ? entity.description : '' }}','{{ linkToExportResult }}')" style="height: {{ heightChart }}px;">
        <div class="nine-columns twelve-columns-mobile" id="chartContainerResult">
            <!-- This div will hold the chart generated in the footer -->
        </div>

        <a href="" id='exportpng' type='button' class="button" value='' />
        <span class="button-icon"><span class="icon-download"></span></span>
        {{ 'pequiven_seip.buttons.export_result'|trans({},'PequivenSEIPBundle') }}
        </a>
        <br>

    </div>    
    <br>
    <br>
    <div class="inline-label">
        {#<a href="{{ linkToExportResult }}" class="button" onclick="downloadChart();">
            <span class="button-icon"><span class="icon-download"></span></span>
            {{ 'pequiven_seip.buttons.export_result'|trans({},'PequivenSEIPBundle') }}
        </a>#}
        <br><br>
        <ul class="fa-ul">
            {% set limitTruncate = 110 %}
            {% for t in tree %}
                <li>
                        {% set p = t['parent'] %}
                        {% set avancedUsed = p.getResult %}
                        {% set avancedUsedText = avancedUsed %}
                        {% set href = generateLinkUrlOnly(p,constant('Pequiven\\SEIPBundle\\Service\\LinkGeneratorService::TYPE_LINK_OBJETIVE_RESULT'),{level:app.request.get('level')}) %}
                        {% if href != '' %}
                            <a href="{{ href }}">
                        {% endif %}
                            {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
                        {% if href != '' %}
                            </a>
                        {% endif %}
                        {% set parentSummary = resultService.getResultChildresObjetives(p,t['child']) %}
                        ({{ ((parentSummary['myContributionWithWeight'] ? parentSummary['myContributionWithWeight'] : '0')|number_format(2)) | str_pad(5,'0') }}% / {{ ((parentSummary['myDutyWithWeight'] ? parentSummary['myDutyWithWeight'] : '0')|number_format(2)) | str_pad(5,'0') }}%) - 
                        
                        {{ generateLink(p,null,{truncate:limitTruncate}) }}
                    <ul class="fa-ul">
                    {% for chlid in t['child'] %}
                        <li>
                            {% set avancedUsed = chlid.getResult %}
                            {% set avancedUsedText = avancedUsed %}
                            {% set href = generateLinkUrlOnly(chlid,constant('Pequiven\\SEIPBundle\\Service\\LinkGeneratorService::TYPE_LINK_OBJETIVE_RESULT'),{level:app.request.get('level')}) %}
                            {% if href != '' %}
                                <a href="{{ href }}">
                            {% endif %}
                                {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
                            {% if href != '' %}
                                </a>
                            {% endif %}
                            {{ generateLink(chlid,null,{truncate:limitTruncate}) }}
                            
                                <ul class="fa-ul">
                                {% for ch in chlid.childrens %}
                                        <li>
                                            {% set avancedUsed = ch.getResult %}
                                            {% set avancedUsedText = avancedUsed %}
                                            {% set href = generateLinkUrlOnly(ch,constant('Pequiven\\SEIPBundle\\Service\\LinkGeneratorService::TYPE_LINK_OBJETIVE_RESULT'),{level:app.request.get('level')}) %}
                                            {% if href != '' %}
                                                <a href="{{ href }}">
                                            {% endif %}
                                                {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
                                            {% if href != '' %}
                                                </a>
                                            {% endif %}
                                            {{ generateLink(ch,null,{truncate:limitTruncate}) }}
                                        </li>
{#                                    {% endif %}#}
                                {% endfor %}
                                </ul>
                            
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/agenda3860.css?v=1') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/dashboard3860.css?v=1') }}">
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/fusioncharts.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/themes/fusioncharts.theme.fint.js') }}"></script>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
    //Carga de Evento de Descarga de Grafica
        function downloadChart(){            
            var button = document.getElementById("exportpng");
            if (button){
               console.log("hola");
               button.click();                  
            }            
        }
    </script>

{% endblock %}
