{% extends "PequivenSEIPBundle:Template:Developer/layout.html.twig" %}
{% trans_default_domain 'PequivenSEIPBundle' %}
{% block body %}
        
    {{ contentHeader(
        (entity)
    ) }}
    
    <div ng-controller="DashboardController" class="dashboard" ng-init="renderChartResult('chartContainerResult',{{ data|json_encode() }})" style="height: {{ heightChart }}px;">
        <div class="nine-columns twelve-columns-mobile" id="chartContainerResult">
            <!-- This div will hold the chart generated in the footer -->
        </div>
    </div>
    <br>
    <div class="inline-label">
        <br><br>
        <ul class="fa-ul">
            {% set limitTruncate = 110 %}
            {% for t in tree %}
                <li>
                        {% set p = t['parent'] %}
                        {% set avancedUsed = p.getResult %}
                        {% set href = generateLinkUrlOnly(p,constant('Pequiven\\SEIPBundle\\Service\\LinkGeneratorService::TYPE_LINK_OBJETIVE_RESULT'),{level:app.request.get('level')}) %}
                        {% if href != '' %}
                            <a href="{{ href }}">
                        {% endif %}
                            {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
                        {% if href != '' %}
                            </a>
                        {% endif %}
                        {{ generateLink(p,null,{truncate:limitTruncate}) }}
                    <ul class="fa-ul">
                    {% for chlid in t['child'] %}
                        <li>
                            {% set avancedUsed = chlid.getResult %}
                            {% set href = generateLinkUrlOnly(chlid,constant('Pequiven\\SEIPBundle\\Service\\LinkGeneratorService::TYPE_LINK_OBJETIVE_RESULT'),{level:app.request.get('level')}) %}
                            {% if href != '' %}
                                <a href="{{ href }}">
                            {% endif %}
                                {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
                            {% if href != '' %}
                                </a>
                            {% endif %}
                            {{ generateLink(chlid,null,{truncate:limitTruncate}) }}
                            
                                <ul class="fa-ul">
                                {% for ch in chlid.childrens %}
                                    {% if ch.getGerenciaByLevel  == entity %}
                                        <li>
                                            {% set avancedUsed = ch.getResult %}
                                            {% set href = generateLinkUrlOnly(ch,constant('Pequiven\\SEIPBundle\\Service\\LinkGeneratorService::TYPE_LINK_OBJETIVE_RESULT'),{level:app.request.get('level')}) %}
                                            {% if href != '' %}
                                                <a href="{{ href }}">
                                            {% endif %}
                                                {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
                                            {% if href != '' %}
                                                </a>
                                            {% endif %}
                                            {{ generateLink(ch,null,{truncate:limitTruncate}) }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/agenda3860.css?v=1') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/dashboard3860.css?v=1') }}">
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/fusioncharts.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/themes/fusioncharts.theme.fint.js') }}"></script>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
    </script>

{% endblock %}
