{% import 'PequivenSIGBundle:Template:Buttons/buttons.html.twig' as buttons %}

{% trans_default_domain 'PequivenArrangementProgramBundle' %}

<div class="with-padding">
    <div class="columns">
        <div class="twelve-columns">
           
                <h3 class="thin underline text-center">Historico Informe de Evolución</h3>
                <fieldset class="fieldset">
                    {% set month = "now"|date("m") %}
                    
                    <label>Seleccione Historico</label>
                    <select class="input-large form-control">                    
                    {% for data in labelsMonths %}     
                        <option value="">{{ data }}</option>
                         {#{{ buttons.generic_ext(path('pequiven_indicator_evolution', { 'id': Box_indicator , 'month': data }),('pequiven.go_to_the_historical'|trans({},'messages'))) }} #}

                    {% endfor %}                                             
                    </select>
                         &nbsp; 
                         <br>
                        {# <select class="select2 input-large form-control">
                            <label class="label">Seleccione el Mes:</label>
                             <option>zdf</option>
                         </select>#}
                </fieldset>


         </div>
     </div>
 </div>

{% block javascript %}
    
{% endblock javascript %}


{% block stylesheets %}

    <!-- Additional styles -->
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/form3860.css?v=1') }}">

    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/switches3860.css?v=1') }}">

    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/table3860.css?v=1') }}">

    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('bundles/pequivenseip/select2-3.5.0/select2.css') }}">
       

{% endblock %}

{% block javascripts %}

    <!-- Select2 -->
    <script src="{{ asset('bundles/pequivenseip/select2-3.5.0/select2.min.js') }}"></script>
    <!-- jQuery-ui -->
    <script src="{{ asset('bundles/pequivenseip/jquery-ui.custom/jquery-ui.js?v=1') }}"></script>
   
{% endblock %}