{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block before_body %}
    {{ contentHeader(
        ("pequiven_seip.report_template.report_template_delivery"|trans ),
        ( 'pequiven.add'|trans({},'messages') )
    ) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/table3860.css?v=1') }}">
{% endblock stylesheets %}

{% block body -%}
    <form method="POST" action="{{ path("pequiven_report_template_delivery_create") }}">
       <br /><br />
       {% include 'PequivenSEIPBundle:Delivery/ReportTemplateDelivery:_form.html.twig' %}
       {{ actions.create() }}
       {{ form_rest(form) }}
   </form>
{% endblock %}