
{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% trans_default_domain 'sip' %}

{% block javascripts_base %}
    {{ parent() }}
    <script src="{{  asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.input.js') }}"></script>
{% endblock javascripts_base %}

{% block before_body %}
    {{ contentHeader(
        ("sip.create"|trans )
    ) }}
{% endblock %}

{% block body %}
    <fieldset class="fieldset">
        <legend class="legend" >{{ "sip.create"|trans }}</legend>
        <div class="columns">
            <div class="new-row-mobile three-columns three-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ ("sip.cedula"|trans ) }}</label>
                    <input class="input input-large" id="cedula" type="text">
                </p>
            </div>
            <div class="new-row-mobile two-columns two-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <button id="search" class="button" type="button">Consultar</button>
                </p>
            </div>
        </div>
    </fieldset>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#search").click(function () {
                console.log($("#cedula").val());
                var data = {
                    ced: $("#cedula").val()
                };
                $.ajax({
                    type: 'post',
                    url: '{{ path("search_one_por_cedula") }}',
                    data: data,
                    success: function (data) {
                        console.log(data);
                    }
                });
            });
        });
    </script>
{% endblock %}