{% trans_default_domain 'PequivenSEIPBundle' %}

<style>
    body {
        font-size: 12px;
    }
    .white-gradient {
        background-color: #535353;
        color: #ffffff;
    }
    .header {
        text-align: center;
        font-size: 12px;
    }
    .text-center {
        text-align: center;
    }
    .header-tr {
        background-color: lightgrey;
        border-bottom: lightgrey;
        border-style: solid;
        border-bottom-style: solid;
    }
    .content {
        color: #4a4a4a;
        font-size: 9px;
    }

    .title {
        text-align: center;
        width: 100%;
        font-size: 14px;
        font-weight: bold;

    }
    .text-left { 
        text-align: left;
    }
    .observation {
        font-size: 10px;
    }

    table {
        font-size: 8px;
    }
    table tr {
        height: 50px;
    }

    span.bold {
        font-weight: bold;
    }
    .margin-left {
        margin-left: 10px; 
    }
    label.label {
        font-weight: bold;
    }
</style>


<br>
<div class="title">Perfil Político</div>
<br>
<table style="border-style:solid;border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;border-color:red;border-radius: 10px;">
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <div class="six-columns">
                            <label class="label">Nombre: </label>
                            {{ one.firstname }} {{ one.lastname  }}
                        </div>
                        <div class="six-columns">
                            <label class="label">Cédula </label>
                            {{ one.getIndentification }} 
                        </div>
                    </td>
                    <td>
                        <div class="six-columns">
                            <label class="label">Teléfono: </label>
                            {{ one.cellphone }}
                        </div>
                        <div class="six-columns">
                            <label class="label">Fecha Emisión: </label>
                            {{ "now"|date("d/m/y") }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="six-columns">
                            <label class="label">¿Reportó Voto Elecciones Asamblea Nacional 2015?: </label>
                            {% set textoVoto = 'NO' %}
                            {% if voto == 1 %}
                                {% set textoVoto = 'SI' %}
                            {% endif %}
                            {{ textoVoto }}
                        </div>
                        <div class="six-columns">
                            <label class="label">Círculo de Estudio y Trabajo: </label>
                            {{ textWorkStudyCircle }}
                        </div>
                    </td>
                    <td>
                        <div class="six-columns">
                            <label class="label">¿Es Coordinador de su CET?: </label>
                            {{ isCoordinator }}
                        </div>
                        <div class="six-columns">
                            <label class="label">Resultado Perfil Político </label>
{#                            {{ profileItemsWithResult[constant('Pequiven\\SEIPBundle\\Model\\Sip\\OnePerTen::TYPE_GLOBAL')]['profileValue'] }}#}
                            {{ object.profileValue }}
                        </div>
                    </td>
                </tr>
                {#<tr>
                    <td>
                        <div class="six-columns">
                            <label class="label">Localidad: </label>
                            {% if one.complejo != null %}
                                {{ one.complejo.description }}
                            {% endif %}
                        </div>
                        <div class="six-columns">
                            <label class="label">Gerencia: </label>
                            {% if one.gerencia != null %}
                                {{ one.gerencia.description }}
                            {% endif %}
                        </div>
                    </td>
                </tr>#}
            </table>
        </td>
    </tr>
</table>
<div class="columns">
    <div class="twelve-columns twelve-columns-mobile">
        <table class="simple-table responsive-table responsive-table-on">
            <tr>
                <th class="header text-center white-gradient" colspan="5">MIEMBROS DE 1X10<div>Efectividad Voto 1x10= {{ efectividad }}</div></th>
            </tr>
            <tr class="header-tr">
                <th scope="col" style="width: 5%; text-align: center;" class="header">Nª</th>
                <th scope="col" style="width: 10%" class="header">Cédula</th>
                <th scope="col" style="width: 25%" class=" header">Nombre</th>
                <th scope="col" style="width: 25%" class=" header">Centro</th>
                <th scope="col" style="width: 10%" class=" header">Reportó Voto</th>
                <th scope="col" style="width: 10%" class=" header">Votó</th>
                <th scope="col" style="width: 15%" class=" header">Teléfono</th>
            </tr>
            {% for member in members %}
                <tr>
                    <td style="text-align: center;">{{ loop.index }}</td>
                    <td style="text-align: center;">{{ member.cedula }}</td>
                    <td>{{ member.nombre }}</td>
                    <td>{{ member.nombreCentro }}</td>
                    {% set textoReporteVoto = 'No' %}
                    {% if member.voto == 1 %}
                        {% set textoReporteVoto = 'Sí' %}
                    {% endif %}
                    <td>{{ textoReporteVoto }}</td>
                    {% set textoVoto = 'No' %}
                    {% if member.vasamblea6 == 1 %}
                        {% set textoVoto = 'Sí' %}
                    {% endif %}
                    <td>{{ textoVoto }}</td>
                    <td style="text-align: center;">{{ member.telefono }}</td>
                </tr>
            {% endfor%}
        </table>
    </div>
</div>
{% if object.analisis|length > 0 %}
    <div class="title">Análisis</div>
    <table style="border-style:solid;border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;border-color:red;border-radius: 10px;">
        <tr>
            <td>
                {{ object.analisis }}
            </td>
        </tr>
    </table>
{% else %}
    <div class="title">No tiene Análisis</div>
{% endif %}
<br>
<div class="title">Perfil Político</div>
<br>
<table style="border-style:solid;border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;border-color:red;border-radius: 10px;">
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <div class="six-columns">
                            <label class="label">¿Fue Reubicado para las Elecciones Asamblea Nacional 2015?: </label>
                            {{ texts[object.reubicado] }}
                        </div>
                        <div class="six-columns">
                            <label class="label">¿Votó Internas Oposición?: </label>
                            {{ texts[object.intOpo] }}
                        </div>
                    </td>
                    <td>
                        <div class="six-columns">
                            <label class="label">¿Inscrito en el Gran Polo Patriótico?: </label>
                            {{ texts[object.psuv] }}
                        </div>
                        <div class="six-columns">
                            <label class="label">¿Votó Internas PSUV?: </label>
                            {{ texts[object.intPsuv] }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="six-columns">
                            <label class="label">¿Firmó Decreto Esperanza?: </label>
                            {{ texts[object.esperanza] }}
                        </div>
                        <div class="six-columns">
                            <label class="label">¿Votó Presidenciales 2012?: </label>
                            {{ texts[object.vpresidencial1] }}
                        </div>
                    </td>
                    <td>
                        <div class="six-columns">
                            <label class="label">¿Votó Regionales 2012?: </label>
                            {{ texts[object.vregionales] }}
                        </div>
                        <div class="six-columns">
                            <label class="label">¿Votó Presidenciales 2013?: </label>
                            {{ texts[object.vpresidencial2] }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="six-columns">
                            <label class="label">¿Votó Municipales 2013?: </label>
                            {{ texts[object.vmunicipales] }}
                        </div>
                        <div class="six-columns">
                            <label class="label">¿Fue CUTL, Apoyo en Sala Situacional ó Miembro CNE en las Elecciones Asamblea Nacional 2015?: </label>
                            {{ texts[wasSupportAssemblyElections] }}
                        </div>
                    </td>
                    <td>
                        <div class="six-columns">
                            <label class="label">¿Vanguardia?: </label>
                            {{ texts[object.vanguardia] }}
                        </div>
                        <div class="six-columns">
                            <label class="label">¿Pertenece a alguna UBCH?: </label>
                            {{ texts[object.ubch] }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="six-columns">
                            <label class="label">¿Firmó Lista Súmate 2002?: </label>
                            {{ texts[object.fref] }}
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br>                        
<div class="title">Perfil Político 2016</div>
<br>
<table style="border-style:solid;border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;border-color:red;border-radius: 10px;">
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <div class="six-columns">
                            <label class="label">¿Votó en las Elecciones Asamblea Nacional 2015?: </label>
                            {{ texts[object.vasamblea6] }}
                        </div>
                        <div class="six-columns">
                            <label class="label">¿Registró 1x10 en el PSUV?: </label>
                            {{ texts[object.onePerTenPsuv] }}
                        </div>
                    </td>
                    <td>
                        <div class="six-columns">
                            <label class="label">¿Miembro de un 1x10 en el PSUV?: </label>
                            {{ texts[object.memberOnePerTenPsuv] }}
                        </div>
                        <div class="six-columns">
                            <label class="label">¿Firmó Comunicado Respaldo Gobierno Revolucionario?: </label>
                            {{ texts[object.firmaCompromiso] }}
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>                        