{% extends 'PequivenSEIPBundle:Template:Developer/layoutWithoutMenu.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% block stylesheets_base %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/pequivenseip/icons/icons.css') }}">
{% endblock %}

{% block body %}
    
{#    {{ boxRender.renderBox('dashboard_data_load_production')|raw }}#}
{#    {{ boxRender.renderBox('dashboard_data_load_production_by_company')|raw }}#}
{#        {{ boxRender.renderBox('dashboard_data_load_production_corporation')|raw }}#}

<div class="columns" ng-controller="ChartsDashboardController">
    <div class="twelve-columns twelve-columns-tablet twelve-columns-mobile new-row-mobile" style="text-align: center">
        <span class="title-monitor">            
            {{ 'monitor.productionReportTemplate'|trans({'%reportTemplate%': (reportTemplate.shortName) }) }}
        </span>
    </div>
    {{ boxRender.renderBox('dashboard_data_load_production_report_template')|raw }}
</div>
{% endblock body %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/agenda3860.css?v=1') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/dashboard3860.css?v=1') }}">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/fusioncharts.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/themes/fusioncharts.theme.fint.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/imageMapResizer/js/imageMapResizer.min.js') }}"></script>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    
    {% if answer == null  %}
        <script type="text/javascript">        
            $(document).ready(function openConfirm(){
                options = {
                  textConfirm : "Si",
                    textCancel : "No"
                };
                $.modal.confirm('Desea realizar una vista dinamica?', function(){            
                    //document.location.href="http://{{ host }}/data-load/dashboard/production/reportTemplate/" + {{ reportTemplate.id }} + "/1?r=1";
                    document.location.href="{{ path('pequiven_data_load_dashboard_production_report_template', {'reportTemplateId': reportTemplate.id, 'typeView':typeView }) }}?r=1";
                }, function(){                
                    //document.location.href="http://{{host}}/data-load/dashboard/production/reportTemplate/" + {{ reportTemplate.id }} + "/1?r=0";
                    document.location.href="{{ path('pequiven_data_load_dashboard_production_report_template', {'reportTemplateId': reportTemplate.id, 'typeView':typeView }) }}?r=0";
                }, options);
            });
        </script>    
    {% endif %}

    {% if answer == 1 %}
        <script type="text/javascript">         
            var array = {{reportArray}};
            var cant = [array.length-1];
            var indice = array.indexOf({{ reportTemplate.id }})  + 1;        
            if (indice > cant) {
                var indice = 0;
            };
            var idReport = array[indice];            

            //var page = "http://localhost/seip/web/app_dev.php/data-load/dashboard/production/reportTemplate/" + idReport + "/1"+ "?r=" + {{ answer }}
            var page = "http://{{ host }}/data-load/dashboard/production/reportTemplate/" + idReport + "/1" + "?r=" + {{ answer }}
                function redireccionar(){
                    location.href= page
                } 
            setTimeout ("redireccionar()", 80000);
        </script>
    {% elseif answer == 0 %}
        <script type="text/javascript">
            setTimeout ("callAtTimeout()", 80000);            
            function callAtTimeout() {
                    location.reload();
            }
        </script>
    {% endif %}

{% endblock %}