{# empty Twig template #}
{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}
{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}
{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function ()
        {
            charge();
            function charge() {
                $('.select2').select2({
                    allowClear: true
                });


                $("#HouseSupplyInventoryCharge_date").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "dd/mm/yy"
                });
            }
        });
    </script>  
    <script src="{{  asset('bundles/pequivenseip/tableGrid.js') }}"></script>
    <script type="text/javascript">

        function setData(data) {
            $.ajax({
                method: "POST",
                url: "{{ path('pequiven_housesupply_save_order') }}",
                data: data
            })
                    .done(function () {
                        alert("Data Saved:");
                    });
        }
        $(document).ready(function () {
            //$('#table1').DataTable();
            setTable("table1");
            var arrayNames = new Array("idProducto", "cantidad","costo", "subtotal");
            setNameCampos(arrayNames);
            campoClave(1);

            $("#addItem").click(function () {
                var cantidad = [$("#cantidad").val(), $("#cantidad").val()];
                var producto = [$("#producto").val(), $("#producto").find('option:selected').attr("name")];
                var cantidad2 = [$("#costo").val(), $("#costo").val()];
                var cantidad3 = [$("#subtotal").val(), $("#subtotal").val()];
                var boton = ["", "<a href='' ><i class='fa fa-trash' id='" + index + "' onClick='delRow(this.id)' value='Del'></i></a>"];
        {#var boton = ["", "<input type='button' id='" + index + "'  onClick='delRow(this.id)' class='form-control delItem' value='Del'>"];#}
                    var data = [cantidad, producto, cantidad2, cantidad3, boton];
                    delRowDefault();
                    addRow(data);
                    index = index + 1;

        {# alert(idsClaves);#}
                });

                $("input#getValues").click(function () {
                    var rows = getRows("table1");
                    var obj = convertRows(rows);
                    //console.log(obj);
                    setData(obj);
                });

            });
    </script>
{% endblock javascript %}


{% block body %}
    <style>
        table#datos{
            border-collapse:separate;
            border-spacing: 0px 10px;
        }
        .fa-trash{
            color: red;    
        }
    </style>
    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="">Inventario</a>
            <span class="icon-forward"></span>
            {% if (type==1)%}
                <span class="thin">Cargo de Productos</span>            
            {% else %}
                <span class="thin">Descargo de Productos</span>            
            {% endif %}
        </h1>
    </hgroup>
    <br>
    <div class="columns">
        <div class="twelve-columns">
            <form method="POST" action="{{ path("pequiven_housesupply_inventory_charge_create",{'type': type}) }}">
                <center>
                    <table width="90%" style="border: 2px black solid;">
                        <tr style="height: 30px;">
                            <td colspan="2" style="background-color: #AA0000; color: #FFFFFF; font-size: 20pt; vertical-align: middle;">
                                {% if (type==1)%}
                                    Datos del Cargo                                  
                                {% else %}
                                    Datos del Descargo                                   
                                {% endif %}
                            </td>         
                        </tr>
                        <tr>
                            <td width="60%">
                                <table width="100%" class="simple-table" style="background-color: #FFFFFF; border: hidden;">
                                    <tr>
                                        <td class="header bold">
                                            Depósito:
                                        </td>
                                        <td>
                                            <select name="deposit" class="select2 input-xlarge form-control">
                                                {% for depo in deposits %}
                                                    <option value="{{depo.id}}">{{depo.description}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="header bold">Fecha:</td>
                                        <td>
                                            {{ form_widget(form.date) }}
                                            {{ form_errors(form.date) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="header bold">Observaciones:</td>
                                        <td>
                                            {{ form_widget(form.observations) }}
                                            {{ form_errors(form.observations) }}
                                        </td>
                                    </tr>
                                </table> 
                            </td>
                            <td width="40%" style="border: 2px black solid;">
                                <table width="100%" class="simple-table">
                                    <tr>
                                        <td style="background-color: #D8D8D8; font-size: 30pt; vertical-align: middle; text-align: center; height: 55px;" colspan="2">                               
                                            {% if (type==1)%}
                                                Cargo:
                                                <span class="green bold">{{ newcharge }}</span>              
                                            {% else %}
                                                Descargo:
                                                <span class="red bold">{{ newcharge }}</span>              
                                            {% endif %}
                                        </td>                                        
                                    </tr>
                                    {% if (lastcharge) %}
                                        <tr>
                                            <td class="header bold">
                                                {% if (type==1)%}                                                
                                                    Último Cargo Realizado:      
                                                {% else %}
                                                    Último Descargo Realizado:      
                                                {% endif %}                                           
                                            </td>
                                            <td>{{ lastcharge.getdate| date("d/m/Y") }}</td>
                                        </tr>
                                        <tr>
                                            <td class="header bold">Total:</td>
                                            <td class="text-left">{{ lastcharge.totalCharge}}</td>
                                        </tr>
                                        <tr>
                                            <td class="header bold">Nro. Ítems:</td>
                                            <td class="text-left">{{ lastcharge.getinventoryChargeItems|length }}</td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table width="90%">
                        <tr>
                            <td width="90%">
                                <table width="90%" style="border: 2px black solid;">
                                    <tr style="height: 30px;">
                                        <td width="50%" style="background-color: #AA0000; color: #FFFFFF; font-size: 20pt; vertical-align: middle;">Productos</td>         
                                    </tr>
                                    <tr>
                                        <td width="50%">
                                            <table id="table1" class="simple-table" width="60%">
                                                <thead>
                                                    <tr>
                                                        <th class="header" width="10%">Cant</th>
                                                        <th class="header" width="50%">Producto</th>
                                                        <th class="header text-right" width="15%">Costo</th>                                
                                                        <th class="header text-right" width="20%">Sub-Total</th>
                                                        <th class="header text-right" width="5%">-</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>                    
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="10%">
                                <table style=" border-collapse:separate; border-spacing: 0px 10px;">
                                    <tr>
                                        <td colspan="2">
                                            <select name="deposit" id="producto" class="select2 input-large form-control">                                
                                                {% for prod in products %}
                                                    <option value="{{prod.id}}" name="{{prod.description}}">{{prod.description}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>                                        
                                    </tr> 
                                    <tr>
                                        <td width="50%" style="text-align: center;">
                                            <input type="number" class="input-mini" id="cantidad" placeholder="Cantidad" min="1" max="5">
                                        </td>
                                        <td width="50%" style="text-align: center;">
                                            <input type="button" class="form-control" value="Add" id="addItem">
                                        </td>
                                    </tr>

                                </table>                               
                            </td>
                        </tr>
                    </table>


                    <input type="button" class="form-control" value="Get" id="getValues">

                    <br>

                    <div class="new-row twelve-columns" style="text-align: right;">
                        {% if (type==1)%}
                            {{ actions.register('Registrar Cargo','green') }}   
                        {% else %}
                            {{ actions.register('Registrar Descargo','red') }}           
                        {% endif %}
                    </div>
                    {{ form_rest(form) }}

                </center>
            </form>
        </div>
    </div>
{% endblock %}

