<div class="field-block button-height">
    {{ form_label(form.gerencia) }}
    {{ form_widget(form.gerencia) }}
    {{ form_errors(form.gerencia) }}
</div>
<div class="field-block button-height">
    {{ form_label(form.gerenciaSecond) }}
    {{ form_widget(form.gerenciaSecond) }}
    {{ form_errors(form.gerenciaSecond) }}
</div>
{{ form_rest(form) }}