{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% trans_default_domain 'sip' %}

{% block javascripts_base %}
    {{ parent() }}
    <script src="{{  asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.input.js') }}"></script>
{% endblock javascripts_base %}

{% block before_body %}
    {{ contentHeader(
        ("sip.report.reports"|trans ),
        ("sip.report.list"|trans)
    )}}
{% endblock %}

{% block body %}


    <fieldset class="fieldset">
        <legend class="legend"><b>Asistencias</b></legend>
        <form method="POST" action="{{ path("pequiven_sip_report_asist") }}">
            <table class="record_properties" width="80%">
                <thead>
                    <tr>
                        <th class="header" width="50%">Por Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p class="inline-label">

                            </p>
                            <p class="inline-label">
                                {{ form_label(form.date) }}
                                {{ form_widget(form.date) }}
                                {{ form_errors(form.date) }}
                            </p>
                            <p class="inline-label">

                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">
                            <div class="field-block button-height">
                                <button type="submit" class="button glossy mid-margin-right">
                                    <span class="button-icon blue-gradient"><span class="icon-download"></span></span>
                                        {{ 'sip.report.generate'|trans }}
                                </button>    
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            {{ form_rest(form) }}
        </form>
    </fieldset>
    BOOOOOOOOOOOOOOOOOOOOO

{% endblock %}

{% block javascript %}
    <script type="text/javascript">

        $(document).ready(function () {

            $("#sip_report_date").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: "dd/mm/yy"
            });

        }
        );

    </script>
{% endblock javascript %}