{#{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}#}
{% extends 'PequivenSEIPBundle:Template:Developer/Common/tableFormat1.html.twig' %}
{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% trans_default_domain 'sip' %}

{% block before_body %}
    {{ contentHeader(
        ("sip.report.reports"|trans ),
        ("sip.report.list"|trans)
    )}}
{% endblock %}

{% block body %}

    <fieldset class="fieldset">
        <legend class="legend"><b>Centros de Votación</b></legend>
        <table width="100%">
            <tbody>
                <tr>
                    <td width="40%">
                        <form method="POST" action="{{ path("pequiven_sip_report_asist") }}">
                            <table class="record_properties">
                                <thead>
                                    <tr>
                                        <th class="header" style="text-align:left; font-size: medium">Asistencia Diaria</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> &nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>  &nbsp;                                          
                                            Fecha:  <input type="text" name="asist" class="input input-small" id="asist" required="true">  
                                        </td>
                                        <td>  &nbsp; 
                                            <button type="submit" class="button glossy mid-margin-center">
                                                <span class="button-icon blue-gradient"><span class="icon-download"></span></span>                                                    
                                            </button>                                        
                                        </td>
                                    </tr>                                                             
                                </tbody>
                            </table>
                        </form> 
                    </td>
                    <td width="30%">
                        <form method="POST" action="{{ path("pequiven_sip_report_asisthistory") }}">
                            <table class="record_properties">
                                <thead>
                                    <tr>
                                        <th class="header" style="text-align:left; font-size: medium">Histórico de Asistencia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> &nbsp;</td>
                                    </tr>
                                    <tr>                                        
                                        <td>  &nbsp; 
                                            <button type="submit" class="button glossy mid-margin-center">
                                                <span class="button-icon blue-gradient"><span class="icon-download"></span></span>   
                                                Generar
                                            </button>                                        
                                        </td>
                                    </tr>                                                             
                                </tbody>
                            </table>
                        </form> 
                    </td>
                    <td width="30%">
                        <form method="POST" action="{{ path("pequiven_sip_report_activehistory") }}">
                            <table class="record_properties">
                                <thead>
                                    <tr>
                                        <th class="header" style="text-align:left; font-size: medium">Histórico de Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> &nbsp;</td>
                                    </tr>
                                    <tr>                                        
                                        <td>  &nbsp; 
                                            <button type="submit" class="button glossy mid-margin-center">
                                                <span class="button-icon blue-gradient"><span class="icon-download"></span></span>   
                                                Generar
                                            </button>                                        
                                        </td>
                                    </tr>                                                             
                                </tbody>
                            </table>
                        </form> 
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <br><br><br>

    <fieldset class="fieldset">
        <legend class="legend"><b>Requerimientos e Inventario</b></legend>
        <table width="100%">
            <tbody>
                <tr>
                    <td width="40%">
                        <form method="POST" action="{{ path("pequiven_sip_report_DailyRequirements") }}">
                            <table class="record_properties">
                                <thead>
                                    <tr>
                                        <th class="header" style="text-align:left; font-size: medium">Requerimientos Diarios</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> &nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>  &nbsp;                                          
                                            Fecha:  <input type="text" name="req" class="input input-small" id="req" required="true">  
                                        </td>
                                        <td>  &nbsp; 
                                            <button type="submit" class="button glossy mid-margin-center">
                                                <span class="button-icon blue-gradient"><span class="icon-download"></span></span>                                                    
                                            </button>
                                        </td>
                                    </tr>                                                             
                                </tbody>
                            </table>
                        </form> 
                    </td>
                    <td width="30%">
                        <form method="POST" action="{{ path("pequiven_sip_report_EarringsRequirements") }}">
                            <table class="record_properties">
                                <thead>
                                    <tr>
                                        <th class="header" style="text-align:left; font-size: medium">Requerimientos Pendientes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> &nbsp;</td>
                                    </tr>
                                    <tr>                                        
                                        <td>  &nbsp; 
                                            <button type="submit" class="button glossy mid-margin-center">
                                                <span class="button-icon blue-gradient"><span class="icon-download"></span></span>   
                                                Generar
                                            </button>                                      
                                        </td>
                                    </tr>                                                             
                                </tbody>
                            </table>
                        </form> 
                    </td>
                    <td width="30%">
                        <form method="POST" action="{{ path("pequiven_sip_report_Inventory") }}">
                            <table class="record_properties">
                                <thead>
                                    <tr>
                                        <th class="header" style="text-align:left; font-size: medium">Inventario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> &nbsp;</td>
                                    </tr>
                                    <tr>                                        
                                        <td>  &nbsp; 
                                            <button type="submit" class="button glossy mid-margin-center">
                                                <span class="button-icon blue-gradient"><span class="icon-download"></span></span>   
                                                Generar
                                            </button>                                     
                                        </td>
                                    </tr>                                                             
                                </tbody>
                            </table>
                        </form> 
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <br><br><br>

    <fieldset class="fieldset">
        <legend class="legend"><b>Avance 1x10</b></legend>
        <table width="100%">
            <tbody>
                <tr>
                    <td width="40%">
                        <form method="POST" action="{{ path("pequiven_sip_report_OnePerTen") }}">
                            <table class="record_properties">
                                <thead>
                                    <tr>
                                        <th class="header" style="text-align:left; font-size: medium">Listado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> &nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>  &nbsp; 
                                            <button type="submit" class="button glossy mid-margin-center">
                                                <span class="button-icon blue-gradient"><span class="icon-download"></span></span>   
                                                Generar
                                            </button>  
                                        </td>
                                    </tr>                                                             
                                </tbody>
                            </table>
                        </form> 
                    </td>                    
                </tr>
            </tbody>
        </table>
    </fieldset>
    <br><br><br>
    <form method="POST" action="{{ path("pequiven_sip_report_SegVoto") }}">
        <div ng-controller="TableFormatController">
            <div ng-controller="ReportSipController">
                <details class="details margin-bottom" open="">
                    <summary role="button" aria-expanded="true">
                        <b>SEGUIMIENTO AL VOTO</b>
                    </summary>

                    <div class="with-padding">
                        <div class="columns">

                            <!-- Filtro Localidad -->
                            <div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                                <label class="bold">{{ 'pequiven_seip.filters.complejo'|trans({},'PequivenSEIPBundle') }}</label>
                                <br/>
                                <div class="with-mid-padding">
                                    <select class="select2 input-xlarge" name="selectComplejos" id="selectComplejos" ng-model="model.complejo" ng-change="getSecondLineManagement()" ng-options="value as value.description for (key,value) in data.complejos">
                                        <option value=''></option>
                                    </select>
                                    <input type="hidden" name="selectComplejosid" id="selectComplejosid">
                                </div>
                            </div>



                            {#<div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                                <label class="bold">{{ 'pequiven_seip.filters.complejo'|trans({},'PequivenSEIPBundle') }}</label>
                                <br/>
                                <div class="with-mid-padding">
                                    <select class="select2 input-xlarge" name="selectComplejos" id="selectComplejos" ng-model="model.complejo" ng-init="getSecondLineManagement(); model.complejo = 5;" ng-options="value as value.description for (key,value) in data.complejos">
                                        <option value=''></option>
                                    </select>
                                    <input type="text" name="selectComplejosid" id="selectComplejosid" value="5">
                                </div>
                            </div>#}

                            <!-- Filtro Gerencia 1ra Línea -->
                            {#                            <div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                                                            <label class="bold">{{ 'pequiven_seip.filters.first_line_management'|trans({},'PequivenSEIPBundle') }}</label>
                                                            <br/>
                                                            <div class="with-mid-padding">
                                                                <select class="select2 input-xlarge" name="selectFirstLineManagement" id="selectFirstLineManagement" ng-change="getSecondLineManagement()" ng-model="model.firstLineManagement" ng-options="value as value.description group by model.complejo.description for (key,value) in data.first_line_managements" >
                                                                    <option value=''></option>
                                                                </select>
                                                                 <input type="hidden" name="selectFirstLineManagementid" id="selectFirstLineManagementid">
                                                            </div>
                                                        </div>#}

                            <!-- Filtro Gerencia 2da Línea -->
                            <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                                <label class="bold">{{ 'pequiven_seip.filters.management_second_line'|trans({},'PequivenSEIPBundle') }}</label>
                                <br/>
                                <div class="with-mid-padding">
                                    <select class="select2 input-xlarge" name="selectSecondLineManagement" id="selectSecondLineManagement" ng-model="model.secondLineManagement" ng-options="value as value.description group by (value.complejo.ref + ' - '+value.gerencia.description) for (key,value) in data.second_line_managements" >
                                        <option value=''></option>
                                    </select>
                                    <input type="hidden" name="selectSecondLineManagementid" id="selectSecondLineManagementid">
                                </div>
                            </div>

                            <div class="new-row-tablet new-row-mobile three-columns twelve-columns-tablet">
                                <label class="bold">Tipo</label>
                                <br/>
                                <div class="with-mid-padding">
                                    <select class="select2 input-small" id="Tipo" name="Tipo">
                                        <option value='General'>General</option>
                                        <option value='PQV'>PQV</option>
                                        <option value='1x10'>1x10</option>                                                                       
                                    </select>
                                </div>                               
                            </div>     

                            <div class="new-row-tablet new-row-mobile three-columns twelve-columns-tablet">
                                <label class="bold"></label>
                                <br/>
                                <div class="with-mid-padding">
                                    <input class="form-control" type="checkbox" name="Voto" value="0">  Sin Votar<br>
                                </div>
                            </div>

                            <div class="new-row-tablet new-row-mobile three-columns twelve-columns-tablet">
                                <label class="bold"></label>
                                <br/>
                                <div class="with-mid-padding">
                                    <input class="form-control" type="checkbox" name="C5" value="0">  Circuito 5<br>
                                </div>
                            </div>

                            <div class="new-row-tablet new-row-mobile three-columns twelve-columns-tablet">
                                <label class="bold"></label>
                                <br/>
                                <div class="with-mid-padding">
                                    <button type="submit" class="button glossy mid-margin-center">
                                        <span class="button-icon blue-gradient"><span class="icon-download"></span></span>   
                                        Generar
                                    </button>  
                                </div>  
                            </div>  
                            </details>
                        </div>
                    </div>
                </details>
            </div>
        </div>
    </form>                            

{% endblock %}

{% block javascript %}
    <script type="text/javascript">

        $(document).ready(function () {

            $('.select2').select2({
                allowClear: true
            });

            $(".input").datepicker({
                // defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: "dd/mm/yy"
            });

        }
        );

    </script>
{% endblock javascript %}