{% trans_default_domain 'PequivenSEIPBundle' %}

<div class="block">
    <div class="block-title">
        <h3> {{ 'pequiven_seip.products'|trans }}&nbsp;
            {% if(plant_report.getchildrensGroup|length>0) %}
                ({{ products|length}})
            {% else %}
                ({{ plant_report.productsReport|length }})
            {% endif %}
        </h3>
        <div class="button-group absolute-right compact">
{#            {% if periodService().isAllowPlanningReport %}#}
                {% if(plant_report.getchildrensGroup|length==0) %}
                    <a class="button icon-list-add" href="{{ path('pequiven_product_report_create',{plantReport: plant_report.id}) }}">{{ 'pequiven.add'|trans({},'messages') }}</a>
                {% endif %}
{#            {% endif %}#}
        </div>
    </div>
    <div class="with-padding">
        <table class="simple-table responsive-table tables-extras" id="sorting-example2">
            <thead>
                <tr>
                    <th scope="col" width="50%">{{ 'Product'|trans }}</th>
                    <th scope="col" width="15%" class="hide-on-mobile-portrait" align="left">{{ 'Production line'|trans }}</th>
                    <th scope="col" width="15%" class="hide-on-tablet" align="right">{{ 'Product unit'|trans }}</th>
                    <th scope="col" width="10%">&nbsp;</th>
                </tr>
            </thead>
            {% set colspan = 6 %}
            <tbody>
                {#                {% if(plant_report.plant.childrens|length>0) %}#}
                {% for product in products %}
                    <tr>
                        <td>{{ loop.index }} - {{ generateLink(product.entityProductReport) }}</td>
                        <td align="left">{{ product.line }}</td>
                        <td align="right">{{ product.unit }}</td>
                        <td>&nbsp;</td>
                    </tr>
                {% endfor %}
                {# {% else %}    
                     {% for productReport in plant_report.productsReport %}
                         <tr>
                             <td>{{ loop.index }} - 
                                 {{ generateLink(productReport) }}
                             </td>
                             <th scope="row">
                                 {{ productReport.product.productionLine }}
                             </th>
                             <td>{{ productReport.product.productUnit }}</td>
                             <td class="low-padding align-center">
                                 {% if periodService().isAllowPlanningReport %}
                                     <a href="{{ path("pequiven_product_report_update",{id: productReport.id}) }}" class="button compact icon-pencil">{{ "pequiven_seip.actions.edit"|trans }}</a>
                                 {% endif %}
                             </td>
                         </tr>
                     {% else %}
                         <tr >
                             <td colspan="{{ colspan }}" class="empty_row">
                                 {{ "empty.product_report"|trans }}
                             </td>
                         </tr>
                     {% endfor %}
                 {% endif %}#}
            </tbody>
        </table>
    </div>
</div>