{% trans_default_domain 'PequivenSEIPBundle' %}
                
<div class="block">
    <div class="block-title">
        <h3> {{ 'pequiven_seip.products'|trans }}&nbsp;({{ plant_report.productsReport|length }})</h3>
        <div class="button-group absolute-right compact">
            <a class="button icon-list-add" href="{{ path('pequiven_product_report_create',{plantReport: plant_report.id}) }}">{{ 'pequiven.add'|trans({},'messages') }}</a>
        </div>
    </div>
    <div class="with-padding">
        <table class="simple-table responsive-table tables-extras" id="sorting-example2">
            <thead>
                <tr>
                    <th scope="col" width="35%">{{ 'Product'|trans }}</th>
                    <th scope="col" width="10%" class="hide-on-mobile-portrait">{{ 'Production line'|trans }}</th>
                    <th scope="col" width="10%" class="hide-on-tablet">{{ 'Product unit'|trans }}</th>
                    <th scope="col" width="10%">&nbsp;</th>
                </tr>
            </thead>
            {% set colspan = 6 %}
            <tbody>

                {% for productReport in plant_report.productsReport %}
                    <tr>
                        <td>{{ loop.index }} - 
                            {{ generateLink(productReport) }}
                        </td>
                        <th scope="row">
                            {{ productReport.product.productionLine }}
                        </th>
                        <td>{{ productReport.product.productUnit }}</td>
                        <td class="low-padding align-center">
                            <a href="{{ path("pequiven_product_report_update",{id: productReport.id}) }}" class="button compact icon-pencil">{{ "pequiven_seip.actions.edit"|trans }}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr >
                        <td colspan="{{ colspan }}" class="empty_row">
                            {{ "empty.product_report"|trans }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>