{% trans_default_domain 'PequivenSEIPBundle' %}

<div class="block">
    <div class="block-title">
        <h3> {{ 'Services'|trans }}&nbsp;
            {% if(plant_report.plant.childrens|length>0) %}
                ({{ services|length }})
            {% else %}
                ({{ plant_report.consumerPlanningServices|length }})
            {% endif %}

        </h3>
        <div class="button-group absolute-right compact">
            {% if periodService().isAllowPlanningReport %}
                {% if(plant_report.plant.childrens|length==0) %}
                    <a class="button icon-list-add" href="{{ path('pequiven_consumer_planning_service_create',{plantReport: plant_report.id}) }}">{{ 'pequiven.add'|trans({},'messages') }}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="with-padding">
        <table class="simple-table responsive-table tables-extras" id="sorting-example2">
            <thead>
                <tr>
                    <th scope="col" width="50%">{{ 'Service'|trans }}</th>                    
                    <th scope="col" width="15%" class="hide-on-tablet" align="left">{{ 'Product unit'|trans }}</th>
                    <th scope="col" width="15%" class="hide-on-tablet" align="right">{{ 'Aliquot'|trans }}</th>
                    <th scope="col" width="10%">&nbsp;</th>
                </tr>
            </thead>
            {% set colspan = 6 %}
            <tbody>
                {% if(plant_report.plant.childrens|length>0) %}
                    {% for service in services %}
                        <tr>
                            <td>{{ loop.index }} - {{ service.name }}</td>
                            <td>&nbsp;</td>
                            <td>{{ service.unit }}</td>
                            <td>{{ alicuota[service.id]|number_format(5, ',', '.') }}</td>
                            <td>&nbsp;</td>
                        </tr>    
                    {% endfor %}
                {% else %}
                    {% for consumerPlanningService in plant_report.consumerPlanningServices %}
                        <tr>
                            <td>{{ loop.index }} - 
                                {{ generateLink(consumerPlanningService) }}
                            </td>
                            <td align="left">{{ consumerPlanningService.service.serviceUnit }}</td>                            
                            <td align="right">{{ consumerPlanningService.aliquot|number_format(5, ',', '.') }}</td>
                            <td class="low-padding align-center">
                                {% if periodService().isAllowPlanningReport %}
                                    <a href="{{ path("pequiven_consumer_planning_service_update",{id: consumerPlanningService.id}) }}" class="button compact icon-pencil">{{ "pequiven_seip.actions.edit"|trans }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr >
                            <td colspan="{{ colspan }}" class="empty_row">
                                {{ "empty.consumer_planning_services"|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

            </tbody>
        </table>
    </div>
</div>