<details class="details margin-bottom" open="">
    <summary role="button" aria-expanded="true">
        {{ 'pequiven.filters'|trans({},'messages') }}

    </summary>
        <div class="with-padding">
            <div class="columns">
                <div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <label class="bold">{{ 'pequiven_seip.filters.period'|trans({},'PequivenSEIPBundle') }}</label>
                    <br/>
                    <div class="with-mid-padding" >
                        <input type="hidden" class="bigdrop" id="select-period" name="period" style="width:250px" />
                    </div>
                </div>
                <div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <label class="bold">{{ 'Company'|trans({},'PequivenSEIPBundle') }}</label>
                    <br/>
                    <div class="with-mid-padding" >
                        <input type="hidden" class="bigdrop" id="select-company" name="company" style="width:250px" />
                    </div>
                </div>
                <div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <label class="bold">{{ 'Location'|trans({},'PequivenSEIPBundle') }}</label>
                    <br/>
                    <div class="with-mid-padding" >
                        <input type="hidden" class="bigdrop" id="select-location" name="location" style="width:250px" />
                    </div>
                </div>
                <div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <label class="bold">{{ 'Region'|trans({},'PequivenSEIPBundle') }}</label>
                    <br/>
                    <div class="with-mid-padding" >
                        <input type="hidden" class="bigdrop" id="select-region" name="region" style="width:250px" />
                    </div>
                </div>
                <div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <label class="bold">{{ 'Plant'|trans({},'PequivenSEIPBundle') }}</label>
                    <br/>
                    <div class="with-mid-padding" >
                        <input type="hidden" class="bigdrop" id="select-plant" name="plant" style="width:250px" />
                    </div>
                </div>
                <div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <label class="bold">{{ 'Entity'|trans({},'PequivenSEIPBundle') }}</label>
                    <br/>
                    <div class="with-mid-padding" >
                        <input type="hidden" class="bigdrop" id="select-entity" name="entity" style="width:250px" />
                    </div>
                </div>
                <div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <label class="bold">{{ 'Product'|trans({},'PequivenSEIPBundle') }}</label>
                    <br/>
                    <div class="with-mid-padding" >
                        <input type="hidden" class="bigdrop" id="select-product" name="product" style="width:250px" />
                    </div>
                </div>
                <div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                    <label class="bold">{{ 'Service'|trans({},'PequivenSEIPBundle') }}</label>
                    <br/>
                    <div class="with-mid-padding" >
                        <input type="hidden" class="bigdrop" id="select-service" name="service" style="width:250px" />
                    </div>
                </div>
            </div>
        </div>
</details>