{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% block before_body %}
    {{ contentHeader(
        ("pequiven_seip.report_template.report_template"|trans )
    ) }}
{% endblock %}

{% block body %}
    <fieldset class="fieldset">
        <legend class="legend">{{ 'pequiven_seip.report_template.report_template'|trans }}</legend>
        <div class="columns">
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven.ref'|trans({},'messages') }}</label>
                    {{ generateLink(report_template) }}
                </p>
            </div>
            <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven_seip.period'|trans }}</label>
                    {{ report_template.period }}
                </p>
            </div>
            <div class="new-row new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven_seip.name'|trans }}</label>
                    {{ report_template.name }}
                </p>
            </div>
            <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                <p class="inline-label">
                    <label class="label">{{ 'Company'|trans }}</label>
                    {{ report_template.company }}
                </p>
            </div>
            <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                <p class="inline-label">
                    <label class="label">{{ 'Location'|trans }}</label>
                    {{ report_template.location }}
                </p>
            </div>
            <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                <p class="inline-label">
                    <label class="label">{{ 'Region'|trans }}</label>
                    {{ report_template.region }}
                </p>
            </div>
        </div>
    </fieldset>

    {% include 'PequivenSEIPBundle:DataLoad:ReportTemplate/show/plants.html.twig' %}
    <br /><br />


{#    {% if (plantsGroup|length >0)  %}#}
        {% include 'PequivenSEIPBundle:DataLoad:ReportTemplate/show/plants_by_group.html.twig' %}
{#    {% endif %}#}

    <br /><br />
    <p class="button-height align-right">
        {{ buttons.generic(path('pequiven_report_template_update', { 'id': report_template.id }),('pequiven.edit'|trans({},'messages'))) }}
        &nbsp;
        {{ buttons.delete(path('pequiven_report_template_delete', { 'id': report_template.id })) }}
    </p>
{% endblock %}