{% trans_default_domain 'PequivenSEIPBundle' %}

<style>

    .white-gradient {
        background-color: #535353;
        color: #ffffff;
    }
    .header {
        text-align: left;
        font-size: 10px;
    }
    .text-center {
        text-align: center;
    }
    .header-tr {
        border-bottom: #E4E7EB;
        border-style: solid;
        border-bottom-style: dotted;
    }
    .content {
        color: #4a4a4a;
        font-size: 9px;
    }
    table {
        width: 100%;
    }

</style>

{% if productsReport is not empty %}

    {% set dateReport = null %}
    <div class="columns">
        {% if showDay  %}
            <div class="twelve-columns twelve-columns-mobile">
                <table class="simple-table responsive-table responsive-table-on">
                    <thead>
                        <tr>
                            <th class="header text-center white-gradient" colspan="5">
                                PRODUCCIÓN<br>
                                {{ "Desde "~dateFrom|date('d-m-Y')~" Hasta "~ dateEnd|date('d-m-Y')}}
                            </th>
                        </tr>
                        <tr>
                            <th scope="col" style="width: 35%" class="header">PRODUCTO</th>
                            <th scope="col" style="width: 15%" class="header">PPTO</th>
                            <th scope="col" style="width: 15%" class=" header">REAL</th>
                            <th scope="col" style="width: 15%" class=" header">EJEC&nbsp;(%)</th>
                            <th scope="col" style="width: 15%"  width="15%" class=" header">VAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set total_plan = 0 %}
                        {% set total_real = 0 %}
                        {% set sub_total_plan = 0 %}
                        {% set sub_total_real = 0 %}
                        {% set sub_total_pnr = 0 %}

                        {% set items = productsReport %}

                        {% for productReport in productsReport %}
                            {% set is_next_equals = false %}
                            {% set next_item = get_next_item(loop,items) %}

                            {% if next_item %}
                                {% if productReport.product == next_item.product %}
                                    {% set is_next_equals = true %}
                                {% endif %}
                            {% endif  %}

                            {% if withDetails == true and loop.first %}
                                <tr>
                                    <td colspan="5" class="text-center bold">
                                        {{ productReport.product|upper }}
                                    </td>
                                </tr>
                            {% endif %}

                            {% for dateReportInt in range(dateFrom|date('U'), dateEnd|date('U'), 86400 ) %}
                                {% set dateReport = date(dateReportInt) %}

                                {% set summary = productReport.getSummaryDay(dateReport,typeReport) %}

                                {% set current_plan = summary['plan'] %}
                                {% set current_real = summary['real'] %}

                                {% set current_percentage = 0 %}
                                {% if current_plan > 0 %}
                                    {% set current_percentage = (current_real * 100) / current_plan %}
                                {% endif %}
                                {% set current_pnr = current_plan - current_real %}
                                {% if current_pnr < 0 %}
                                    {% set current_pnr = 0 %}
                                {% endif %}

                                {% set sub_total_plan = sub_total_plan + current_plan %}
                                {% set sub_total_real = sub_total_real + current_real %}

                                {# Totalizar#}
                                {% set total_plan = total_plan + current_plan %}
                                {% set total_real = total_real + current_real %}
                                {% if withDetails %}
                                    <tr>
                                        <th scope="col" style="width: 35%" class="header">{{ dateReport|date('d/m/Y') }}&nbsp;-&nbsp;{{ productReport.plantReport|upper }}&nbsp;({{ productReport.product.productUnit }})</th>
                                        <th scope="col" style="width: 15%" class="header">{{ current_plan|myNumberFormat }}</th>
                                        <th scope="col" style="width: 15%" class=" header">{{ current_real|myNumberFormat }}</th>
                                        <th scope="col" style="width: 15%" class=" header">{{ current_percentage|myNumberFormat }}%</th>
                                        <th scope="col" width="15%" class=" header">{{ current_pnr|myNumberFormat }}</th>
                                    </tr>
                                {% endif %}


                            {% endfor %}

                            {% if is_next_equals == false %}
                                {% if withDetails %}
                                    {% if next_item %}
                                        <tr>
                                            <td colspan="5" class="text-center bold">
                                                {{ next_item.product|upper }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% else %}
                                    {% set total_percentage = tools.calculatePercentaje(sub_total_plan,sub_total_real) %}
                                    {% set sub_total_pnr = tools.calculatePnr(sub_total_plan,sub_total_real) %}
                                    <tr>
                                        <th scope="col" style="width: 35%" class="header">{{ productReport.product|upper }}&nbsp;({{ productReport.product.productUnit }})</th>
                                        <th scope="col" style="width: 15%" class="header">{{ sub_total_plan|myNumberFormat }}</th>
                                        <th scope="col" style="width: 15%" class=" header">{{ sub_total_real|myNumberFormat }}</th>
                                        <th scope="col" style="width: 15%" class=" header">{{ total_percentage|myNumberFormat }}%</th>
                                        <th scope="col" style="width: 15%" class=" header">{{ sub_total_pnr|myNumberFormat }}</th>
                                    </tr>
                                    {% set sub_total_plan = 0 %}
                                    {% set sub_total_real = 0 %}
                                {% endif %}
                            {% endif %}

                        {% endfor %}
                    </tbody>
                    {% set total_percentage = 0 %}
                    {% if total_plan > 0 %}
                        {% set total_percentage = (total_real * 100) / total_plan %}
                    {% endif %}
                    {% set total_pnr = total_plan - total_real %}
                    {% if total_pnr < 0 %}
                        {% set total_pnr = 0 %}
                    {% endif %}
                    <tfoot>
                        <tr>
                            <th scope="col" style="width: 35%" class="header">TOTALES</th>
                            <th scope="col" style="width: 15%" class="header">{{ total_plan|myNumberFormat }}</th>
                            <th scope="col" style="width: 15%" class=" header">{{ total_real|myNumberFormat }}</th>
                            <th scope="col" style="width: 15%" class=" header">{{ total_percentage|myNumberFormat }}%</th>
                            <th scope="col" style="width: 15%" class=" header">{{ total_pnr|myNumberFormat }}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        {% endif %}

    </div>

    

{% else %}
    <h2 class="text-center">{{ "Select the plant"|trans }}</h2>
{% endif %}
