{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% block before_body %}
    {{ contentHeader(
        ("pequiven_seip.report_template.report_day"|trans )
    ) }}
{% endblock %}

{% block body %}
    {% set hasPermission = is_granted("ROLE_SEIP_DATA_LOAD_CHANGE_DATE") %}
    <form action="{{ path("pequiven_report_template_vizualice") }}" method="POST">
        {{ form_errors(form) }}
        <div class="with-padding">
            <div class="columns">
                <div class="six-columns">
                    {{ form_label(form.plantReport) }}&nbsp;
                    {{ form_widget(form.plantReport) }}
                    {{ form_errors(form.plantReport) }}
                </div>
                <div class="six-columns">
                    {{ form_label(form.dateReport) }}&nbsp;
                    {{ form_widget(form.dateReport) }}
                    {{ form_errors(form.dateReport) }}
                </div>
                <div class="six-columns">
                    {{ form_label(form.productsReport) }}&nbsp;
                    {{ form_widget(form.productsReport) }}
                    {{ form_errors(form.productsReport) }}
                </div>
            </div>
            <div class="columns">
                <div class="two-columns">
                    {{ form_label(form.showDay) }}&nbsp;
                    {{ form_widget(form.showDay) }}
                    {{ form_errors(form.showDay) }}
                </div>
                <div class="two-columns">
                    {{ form_label(form.showMonth) }}&nbsp;
                    {{ form_widget(form.showMonth) }}
                    {{ form_errors(form.showMonth) }}
                </div>
                <div class="two-columns">
                    {{ form_label(form.showYear) }}&nbsp;
                    {{ form_widget(form.showYear) }}
                    {{ form_errors(form.showYear) }}
                </div>
            </div>
            {{ form_rest(form) }}
            <input type="submit" class="button" value="Refrescar" />
         </div>
    </form>
     <div class="with-padding">
         {% for plantReport in plantReports %}
             <div class="columns">
                 <div class="twelve-columns twelve-columns-mobile">
                     <h3 class="thin underline text-center">PRESUPUESTO</h3>
                 </div>
             </div>
             {% set productsReport = plantReport.productsReport %}
             {% set consumerPlanningServices = plantReport.consumerPlanningServices %}
                 <div class="columns">
                     <div class="six-columns twelve-columns-mobile">
                        <table class="simple-table responsive-table responsive-table-on">
                            <thead>
                                <tr>
                                    <th class="header text-center white-gradient" colspan="5">DÍA</th>
                                </tr>
                                <tr>
                                    <th scope="col" style="width: 7%" class="header">PRODUCTO</th>
                                    <th scope="col" style="width: 7%" class="header">PPTO</th>
                                    <th scope="col" style="width: 7%" class=" header">REAL</th>
                                    <th scope="col" style="width: 7%" class=" header">EJEC&nbsp;(%)</th>
                                    <th scope="col" width="15%" class=" header">VAR</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for productReport in productsReport %}
                                    {% set summary = productReport.getSummaryDay(dateReport) %}
                                    <tr>
                                        <th scope="col" style="width: 7%" class="header">{{ productReport.product|upper }}</th>
                                        <th scope="col" style="width: 7%" class="header">{{ summary['plan']|myNumberFormat }}</th>
                                        <th scope="col" style="width: 7%" class=" header">{{ summary['real']|myNumberFormat }}</th>
                                        <th scope="col" style="width: 7%" class=" header">{{ summary['percentage']|myNumberFormat }}</th>
                                        <th scope="col" width="15%" class=" header">{{ summary['pnr']|myNumberFormat }}</th>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                     </div>
                     <div class="six-columns twelve-columns-mobile">
                         <table class="simple-table responsive-table responsive-table-on">
                             <thead>
                                 <tr>
                                     <th class="header text-center white-gradient" colspan="6">MES</th>
                                 </tr>
                                 <tr>
                                     <th scope="col" style="width: 7%" class="header">PPTO-MES</th>
                                     <th scope="col" style="width: 7%" class="header">PPTO-ACUM</th>
                                     <th scope="col" style="width: 7%" class="header">REAL-ACUM</th>
                                     <th scope="col" style="width: 7%" class=" header">EJEC&nbsp;(%)</th>
                                     <th scope="col" style="width: 7%" class=" header">VAR</th>
                                     <th scope="col" width="15%" class=" header">META</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 {% for productReport in productsReport %}
                                     {% set summary = productReport.getSummaryMonth(dateReport) %}
                                     <tr>
                                         <th scope="col" style="width: 7%" class="header">{{ summary['plan_month']|myNumberFormat }}</th>
                                         <th scope="col" style="width: 7%" class="header">{{ summary['plan_acumulated']|myNumberFormat }}</th>
                                         <th scope="col" style="width: 7%" class=" header">{{ summary['real_acumulated']|myNumberFormat }}</th>
                                         <th scope="col" style="width: 7%" class=" header">{{ summary['percentage']|myNumberFormat }}</th>
                                         <th scope="col" style="width: 7%"class=" header">{{ summary['pnr']|myNumberFormat }}</th>
                                         <th scope="col" style="width: 7%" class=" header">TODO</th>
                                     </tr>
                                 {% endfor %}
                             </tbody>
                         </table>
                     </div>
                 </div>
                 <div class="columns">
                     <div class="six-columns twelve-columns-mobile">
                         <table class="simple-table responsive-table responsive-table-on">
                             <thead>
                                 <tr>
                                     <th class="header text-center white-gradient" colspan="7">AÑO</th>
                                 </tr>
                                 <tr>
                                     <th scope="col" style="width: 7%" class="header">PPTO-AÑO</th>
                                     <th scope="col" style="width: 7%" class="header">PPTO-ACUM</th>
                                     <th scope="col" style="width: 7%" class="header">REAL-ACUM</th>
                                     <th scope="col" style="width: 7%" class=" header">EJEC&nbsp;(%)</th>
                                     <th scope="col" style="width: 7%" class=" header">VAR</th>
                                     <th scope="col" style="width: 7%" class=" header">META</th>
                                     <th scope="col" style="width: 7%" class=" header">PROM</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 {% for productReport in productsReport %}
                                     {% set summary = productReport.getSummaryYear(dateReport) %}
                                     <tr>
                                         <th scope="col" style="width: 7%" class="header">{{ summary['plan_year']|myNumberFormat }}</th>
                                         <th scope="col" style="width: 7%" class="header">{{ summary['plan_acumulated']|myNumberFormat }}</th>
                                         <th scope="col" style="width: 7%" class=" header">{{ summary['real_acumulated']|myNumberFormat }}</th>
                                         <th scope="col" style="width: 7%" class=" header">{{ summary['percentage']|myNumberFormat }}</th>
                                         <th scope="col" style="width: 7%"class=" header">{{ summary['pnr']|myNumberFormat }}</th>
                                         <th scope="col" style="width: 7%" class=" header">TODO</th>
                                         <th scope="col" style="width: 7%" class=" header">TODO</th>
                                     </tr>
                                 {% endfor %}
                             </tbody>
                         </table>
                     </div>
                 </div>
                 <div class="columns">
                     <div class="twelve-columns twelve-columns-mobile">
                         <h3 class="thin underline text-center">CONSUMOS</h3>
                     </div>
                 </div>
                 <div class="columns">
                     <div class="twelve-columns-mobile">
                         <table class="simple-table responsive-table responsive-table-on">
                            <thead>
                                <tr>
                                    <th class="header text-center white-gradient" colspan="5">DÍA</th>
                                </tr>
                                <tr>
                                    <th scope="col" style="width: 7%" class="header">PRODUCTO</th>
                                    <th scope="col" style="width: 7%" class="header">DÍA</th>
                                    <th scope="col" style="width: 7%" class=" header">MES</th>
                                    <th scope="col" style="width: 7%" class=" header">AÑO</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for consumerPlanningService in consumerPlanningServices %}
                                    {% set summary = consumerPlanningService.getSummary(dateReport) %}
                                    <tr>
                                        <th scope="col" style="width: 7%" class="header">{{ consumerPlanningService.service|upper }}</th>
                                        <th scope="col" style="width: 7%" class="header">{{ summary['total_day']|myNumberFormat }}</th>
                                        <th scope="col" style="width: 7%" class=" header">{{ summary['total_month']|myNumberFormat }}</th>
                                        <th scope="col" style="width: 7%" class=" header">{{ summary['total_year']|myNumberFormat }}</th>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4" class="empty_row">{{ "No service planning"|trans }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                     </div>
                 </div>
         {% else %}
             <h2 class="text-center">{{ "Select the plant"|trans }}</h2>
         {% endfor %}
     </div>
             
{% endblock body %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            var plantReport = $("#form_plantReport");
            var eventChange = function(){
                var changeToDate = $('#dateReport').val();
                var url = Routing.generate("pequiven_report_template_vizualice",{dateReport:changeToDate,plantReport: plantReport.val() });
                window.location.href = url;
            };
            {% if is_granted("ROLE_SEIP_DATA_LOAD_CHANGE_DATE") %}
                $('#form_dateReport').datepicker({
                     changeMonth: true,
                     dateFormat: "dd/mm/yy"
                }).on("change",function(){
{#                    eventChange();#}
                });
            {% endif %}
{#            plantReport.on("change",eventChange);#}
            $(".select2").select2();
        });
    </script>
{% endblock %}