{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% block before_body %}
    {{ contentHeader(
        ("pequiven_seip.report_template.report_day"|trans )
    ) }}
{% endblock %}

{% block body %}
{#    {{ showInventory }}#}
    {% set hasPermission = is_granted("ROLE_SEIP_DATA_LOAD_CHANGE_DATE") %}
    <form id="frmFilter" action="{{ path("pequiven_report_template_vizualice") }}" method="POST">
        <input id="exportToPdf" type="hidden" name="exportToPdf" value="0" />
        {{ form_errors(form) }}
        <fieldset class="fieldset">
            <legend class="legend">Busqueda</legend>
            <div class="columns with-padding">

                <div class="six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        {{ form_widget(form.reportTemplate) }}
                        {{ form_errors(form.reportTemplate) }}
                        {{ form_label(form.reportTemplate) }}
                    </p>
                </div>

                <div class="six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        {{ form_widget(form.plantReport) }}
                        {{ form_errors(form.plantReport) }}
                        {{ form_label(form.plantReport) }}
                    </p>
                </div> 

                <div style="display: none;" class="six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        {{ form_widget(form.productsReport) }}
                        {{ form_errors(form.productsReport) }}
                        {{ form_label(form.productsReport) }}
                    </p>
                </div>

                <div class="twelve-columns twelve-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        {{ form_widget(form.typeReport) }}
                        {{ form_errors(form.typeReport) }}
                        {{ form_label(form.typeReport) }}
                    </p>
                </div>

                <div class="twelve-columns-mobile twelve-columns-mobile">
                    <p class="inline-label">
                        {{ form_label(form.byRange) }}&nbsp;
                        {{ form_widget(form.byRange) }}
                        {{ form_errors(form.byRange) }}
                    </p>
                </div>
                <div class="six-columns twelve-columns-mobile">
                    <div id="byDateReport" class="{{ byRange == true ? "hidden":"" }}">
                        {{ form_label(form.dateReport) }}&nbsp;
                        {{ form_widget(form.dateReport) }}
                        {{ form_errors(form.dateReport) }}
                    </div>
                    <div class="byRange {{ byRange == true ? "":"hidden" }}">
                        {{ form_label(form.dateFrom) }}&nbsp;
                        {{ form_widget(form.dateFrom) }}
                        {{ form_errors(form.dateFrom) }}
                    </div>

                </div>
                <div class="six-columns twelve-columns-mobile">
                    <div id="" class="byRange {{ byRange == true ? "":"hidden" }}">
                        {{ form_label(form.dateEnd) }}&nbsp;
                        {{ form_widget(form.dateEnd) }}
                        {{ form_errors(form.dateEnd) }}

                        {#{{ form_label(form.withDetails) }}&nbsp;
                        {{ form_widget(form.withDetails) }}
                        {{ form_errors(form.withDetails) }}#}
                    </div>
                </div>
            </div>

        </fieldset>

        <div  class="details margin-bottom" style=" border: 1px solid #bfbfbf; border-radius: 9px;">
            <div id="filters"  style="background-color: #E6E6E6; padding:10px; cursor: pointer; " aria-expanded="true" role="button">
                <span style="font-weight: bold; margin-left: 10px;">Filtros</span>
            </div>
            <div id="areaFilters" style="display: none;" class="with-padding">
                <div class="columns">

                    <div class="four-columns">
                        {{ form_widget(form.showDay) }}
                        {{ form_errors(form.showDay) }}&nbsp;
                        {{ form_label(form.showDay) }}
                    </div>

                    <div class="four-columns">
                        {{ form_widget(form.showMonth) }}
                        {{ form_errors(form.showMonth) }}&nbsp;
                        {{ form_label(form.showMonth) }}
                    </div>
                    <div class="four-columns">
                        {{ form_widget(form.showYear) }}
                        {{ form_errors(form.showYear) }}&nbsp;
                        {{ form_label(form.showYear) }}
                    </div>
                    <div class="four-columns">
                        {{ form_widget(form.showProduction) }}
                        {{ form_errors(form.showProduction) }}&nbsp;
                        {{ form_label(form.showProduction) }}
                    </div>
                    <div class="four-columns">
                        {{ form_widget(form.showServices) }}
                        {{ form_errors(form.showServices) }}&nbsp;
                        {{ form_label(form.showServices) }}
                    </div>
                    <div class="four-columns">
                        {{ form_widget(form.showRawMaterial) }}
                        {{ form_errors(form.showRawMaterial) }}&nbsp;
                        {{ form_label(form.showRawMaterial) }}

                    </div>
                    <div class="four-columns">
                        {{ form_widget(form.showPnr) }}
                        {{ form_errors(form.showPnr) }}&nbsp;
                        {{ form_label(form.showPnr) }}
                    </div>
                    <div class="four-columns">
                        {{ form_widget(form.showInventory) }}
                        {{ form_errors(form.showInventory) }}&nbsp;
                        {{ form_label(form.showInventory) }}
                    </div>
                    <div class="four-columns" >
                        {{ form_widget(form.showObservation) }}
                        {{ form_errors(form.showObservation) }}&nbsp;
                        {{ form_label(form.showObservation) }}
                    </div>
                </div>

            </div>
        </div>




        {{ form_rest(form) }}
        <a id="btnRefresh" href="#" class="button" >Refrescar</a>
    </div>
</form>


<div class="with-padding">
    {% if byRange %}
        {% include 'PequivenSEIPBundle:DataLoad/ReportTemplate:vizualice_by_range.html.twig' %}
    {% else %}
        {% include 'PequivenSEIPBundle:DataLoad/ReportTemplate:vizualice_normal.html.twig' %}
    {% endif %}
</div>

{% endblock body %}

{% block javascript %}
    <script type="text/javascript">
        function validateSelectsOnChange(objEvent, objTarget) {
            if (objEvent.val() == null || objEvent.val() == "") {
                objTarget.prop("disabled", false);
            } else {
                objTarget.prop("disabled", true);
            }
        }

        function validateSelectsOnLoad(obj) {
            if (obj.val() == null || obj.val() == "") {
                obj.prop("disabled", true);
            } else {
                obj.prop("disabled", false);
            }
        }
        $(document).ready(function () {
        {% if byRange %}
            {% if production is not empty %}
                        validateSelectsOnLoad($("#form_reportTemplate"));
                        validateSelectsOnLoad($("#form_plantReport"));
            {% endif %}
        {% else %}
            {% if productsReport is not empty %}
                    validateSelectsOnLoad($("#form_reportTemplate"));
                    validateSelectsOnLoad($("#form_plantReport"));
            {% endif %}
        {% endif %}





                $("#form_reportTemplate").change(function () {
                    validateSelectsOnChange($(this), $("#form_plantReport"));
                });

                $("#form_plantReport").change(function () {
                    validateSelectsOnChange($(this), $("#form_reportTemplate"));
                });

                var plantReport = $("#form_plantReport");
                $("#btnExportToPdf").on("click", function (e) {
                    e.preventDefault();
                    $("#exportToPdf").val("1");
                    eventChange();
                });

                $("#btnExportToExcel").on("click", function (e) {
                    e.preventDefault();
                    $("#exportToPdf").val("2");
                    eventChange();
                });

                $("#btnRefresh").on("click", function (e) {
                    e.preventDefault();
                    $("#exportToPdf").val("0");
                    eventChange();
                });

                var eventChange = function () {
                    $("#frmFilter").submit();
                };
        {% if is_granted("ROLE_SEIP_DATA_LOAD_CHANGE_DATE") %}
                $('#form_dateReport').datepicker({
                    changeMonth: true,
                    dateFormat: "dd/mm/yy"
                }).on("change", function () {
                });
        {% endif %}
            
                var startDate = '{{ startDatePeriod }}';
                var endDate = '{{ endDatePeriod }}';
                jQuery("#form_dateReport").datepicker( "option", "minDate", startDate );
                jQuery("#form_dateReport").datepicker( "option", "maxDate", endDate );

                $("#form_dateFrom").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "dd/mm/yy",
                    onClose: function (selectedDate) {
                        $("#form_dateEnd").datepicker("option", "minDate", selectedDate);
                    }
                });
                $("#form_dateEnd").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "dd/mm/yy",
                    onClose: function (selectedDate) {
                        $("#form_dateFrom").datepicker("option", "maxDate", selectedDate);
                    }
                });

                $(".select2").select2();

                var selectPlant = plantReport;
                var selectProduct = $("#form_productsReport");

                var urlGetProduct = "{{ path("pequiven_seip_product_report_by_plant_report") }}";
                ajaxToSelect.formaterData = function (response) {
                    return response.product.name;
                };
                ajaxToSelect.addEmptyValue = false;

                selectPlant.on("change", function () {
                    ajaxToSelect2(urlGetProduct, selectProduct, {plantReport: selectPlant.val()});
                });
        {#            console.log(selectPlant.val());#}
                if (selectPlant.val() != "") {
        {#                ajaxToSelect2(urlGetProduct,selectProduct,{ plantReport: selectPlant.val() });#}
                } else {
                    selectProduct.empty();
                    selectProduct.select2('disable');
                }
                $("#form_byRange").on("change", function () {
                    if ($(this).is(':checked')) {
                        $("#byDateReport").hide();
                        $(".byRange").show();
                    } else {
                        $("#byDateReport").show();
                        $(".byRange").hide();
                    }
                    $("#byDateReport").removeClass("hidden");
                    $(".byRange").removeClass("hidden");
                });
                $("#form_byRange").change();

                $("#filters").click(function () {
                    $("#areaFilters").toggle();
                });
            });
    </script>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/fusioncharts.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/themes/fusioncharts.theme.fint.js') }}"></script>
{% endblock %}