{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% block before_body %}
    {{ contentHeader(
        ("pequiven_seip.report_template.report_day"|trans )
    ) }}
{% endblock %}

{% block body %}
    {% set hasPermission = is_granted("ROLE_SEIP_DATA_LOAD_CHANGE_DATE") %}
    <form id="frmFilter" action="{{ path("pequiven_report_template_vizualice") }}" method="POST">
        <input id="exportToPdf" type="hidden" name="exportToPdf" value="0" />
        {{ form_errors(form) }}
        <div class="with-padding">
            <div class="columns">
                <div class="six-columns">
                    {{ form_label(form.plantReport) }}&nbsp;
                    {{ form_widget(form.plantReport) }}
                    {{ form_errors(form.plantReport) }}
                </div>
                <div class="six-columns">
                    {{ form_label(form.dateReport) }}&nbsp;
                    {{ form_widget(form.dateReport) }}
                    {{ form_errors(form.dateReport) }}
                </div>
            </div>
            <div class="columns">
                <div class="six-columns">
                    {{ form_label(form.productsReport) }}&nbsp;
                    {{ form_widget(form.productsReport) }}
                    {{ form_errors(form.productsReport) }}
                </div>
                <div class="six-columns">
                    {{ form_label(form.reportTemplate) }}&nbsp;
                    {{ form_widget(form.reportTemplate) }}
                    {{ form_errors(form.reportTemplate) }}
                </div>
            </div>
            <div class="columns">
                <div class="two-columns">
                    {{ form_label(form.showDay) }}&nbsp;
                    {{ form_widget(form.showDay) }}
                    {{ form_errors(form.showDay) }}
                </div>
                <div class="two-columns">
                    {{ form_label(form.showMonth) }}&nbsp;
                    {{ form_widget(form.showMonth) }}
                    {{ form_errors(form.showMonth) }}
                </div>
                <div class="two-columns">
                    {{ form_label(form.showYear) }}&nbsp;
                    {{ form_widget(form.showYear) }}
                    {{ form_errors(form.showYear) }}
                </div>
                <div class="six-columns">
                    {{ form_label(form.typeReport) }}&nbsp;
                    {{ form_widget(form.typeReport) }}
                    {{ form_errors(form.typeReport) }}
                </div>
            </div>
            {{ form_rest(form) }}
            <a id="btnRefresh" href="#" class="button" >Refrescar</a>
         </div>
    </form>
     <div class="with-padding">
     {% if productsReport is not empty %}
         <div class="columns">
             <div class="twelve-columns twelve-columns-mobile">
                 <h3 class="thin underline text-center">OPERACIÓN</h3>
             </div>
         </div>
         <div class="columns">
             {% if showDay  %}
             <div class="six-columns twelve-columns-mobile">
                <table class="simple-table responsive-table responsive-table-on">
                    <thead>
                        <tr>
                            <th class="header text-center white-gradient" colspan="5">DÍA</th>
                        </tr>
                        <tr>
                            <th scope="col" style="width: 7%" class="header">PRODUCTO</th>
                            <th scope="col" style="width: 7%" class="header">PPTO</th>
                            <th scope="col" style="width: 7%" class=" header">REAL</th>
                            <th scope="col" style="width: 7%" class=" header">EJEC&nbsp;(%)</th>
                            <th scope="col" width="15%" class=" header">VAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set plan = 0 %}
                        {% set real = 0 %}
                        {% set percentage = 0 %}
                        {% set pnr = 0 %}
                        
                        {% set items = productsReport %}
                        {% set previous_item = null %}
                        {% set next_item = null %}
                        
                        {% for productReport in productsReport %}
                            {% set summary = productReport.getSummaryDay(dateReport,typeReport) %}
                            
                            {% set current_plan = summary['plan'] %}
                            {% set current_real = summary['real'] %}
                            {% set current_percentage = summary['percentage'] %}
                            {% set current_pnr = summary['pnr'] %}
                            
                            {% set is_next_equals = false %}
                            {% if loop.length > 1 %}
                                {% if loop.first == false %}
                                  {% set previous_item = items[loop.index0 - 1] %}
                                {% endif %}
                                {% if loop.last == false %}
                                  {% set next_item = items[loop.index0 + 1] %}
                                {% endif %}
                            {% endif %}
                            
                            {% if next_item %}
                                {% if productReport.product == next_item.product %}
                                    {% set is_next_equals = true %}
                                    {% set next_summary = next_item.getSummaryDay(dateReport,typeReport) %}
                                    
                                    {% set plan = plan + next_summary['plan'] + current_plan %}
                                    {% set real = real + next_summary['real'] + current_real %}
                                    {% set percentage = percentage + next_summary['percentage'] + current_percentage %}
                                    {% set pnr = pnr + next_summary['pnr'] + current_pnr%}
                                    
                                    {% set current_plan = plan %}
                                    {% set current_real = real %}
                                    {% set current_percentage = percentage %}
                                    {% set current_pnr = pnr %}
                                    
                                {% endif %}
                            {% endif  %}
                            {% if is_next_equals == false %}
                                <tr>
                                    <th scope="col" style="width: 7%" class="header">{{ productReport.product|upper }}</th>
                                    <th scope="col" style="width: 7%" class="header">{{ current_plan|myNumberFormat }}</th>
                                    <th scope="col" style="width: 7%" class=" header">{{ current_real|myNumberFormat }}</th>
                                    <th scope="col" style="width: 7%" class=" header">{{ current_percentage|myNumberFormat }}</th>
                                    <th scope="col" width="15%" class=" header">{{ current_pnr|myNumberFormat }}</th>
                                </tr>
                                
                                {% set plan = 0 %}
                                {% set real = 0 %}
                                {% set percentage = 0 %}
                                {% set pnr = 0 %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
             </div>
            {% endif %}
            {% if showMonth %}
                <div class="six-columns twelve-columns-mobile">
                    <table class="simple-table responsive-table responsive-table-on">
                        <thead>
                            <tr>
                                <th class="header text-center white-gradient" colspan="6">MES</th>
                            </tr>
                            <tr>
                                <th scope="col" style="width: 7%" class="header">PRODUCTO</th>
                                <th scope="col" style="width: 7%" class="header">PPTO-MES</th>
                                <th scope="col" style="width: 7%" class="header">PPTO-ACUM</th>
                                <th scope="col" style="width: 7%" class="header">REAL-ACUM</th>
                                <th scope="col" style="width: 7%" class=" header">EJEC&nbsp;(%)</th>
                                <th scope="col" style="width: 7%" class=" header">VAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for productReport in productsReport %}
                                {% set summary = productReport.getSummaryMonth(dateReport,typeReport) %}
                                <tr>
                                    <th scope="col" style="width: 7%" class="header">{{ productReport.product|upper }}</th>
                                    <th scope="col" style="width: 7%" class="header">{{ summary['plan_month']|myNumberFormat }}</th>
                                    <th scope="col" style="width: 7%" class="header">{{ summary['plan_acumulated']|myNumberFormat }}</th>
                                    <th scope="col" style="width: 7%" class=" header">{{ summary['real_acumulated']|myNumberFormat }}</th>
                                    <th scope="col" style="width: 7%" class=" header">{{ summary['percentage']|myNumberFormat }}</th>
                                    <th scope="col" style="width: 7%"class=" header">{{ summary['pnr']|myNumberFormat }}</th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
             {% endif %}
         </div>
         {% if showYear  %}
         <div class="columns">
             <div class="six-columns twelve-columns-mobile">
                 <table class="simple-table responsive-table responsive-table-on">
                     <thead>
                         <tr>
                             <th class="header text-center white-gradient" colspan="7">AÑO</th>
                         </tr>
                         <tr>
                             <th scope="col" style="width: 7%" class="header">PRODUCTO</th>
                             <th scope="col" style="width: 7%" class="header">PPTO-AÑO</th>
                             <th scope="col" style="width: 7%" class="header">PPTO-ACUM</th>
                             <th scope="col" style="width: 7%" class="header">REAL-ACUM</th>
                             <th scope="col" style="width: 7%" class=" header">EJEC&nbsp;(%)</th>
                             <th scope="col" style="width: 7%" class=" header">VAR</th>
                         </tr>
                     </thead>
                     <tbody>
                         {% for productReport in productsReport %}
                             {% set summary = productReport.getSummaryYear(dateReport,typeReport) %}
                             <tr>
                                 <th scope="col" style="width: 7%" class="header">{{ productReport.product|upper }}</th>
                                 <th scope="col" style="width: 7%" class="header">{{ summary['plan_year']|myNumberFormat }}</th>
                                 <th scope="col" style="width: 7%" class="header">{{ summary['plan_acumulated']|myNumberFormat }}</th>
                                 <th scope="col" style="width: 7%" class=" header">{{ summary['real_acumulated']|myNumberFormat }}</th>
                                 <th scope="col" style="width: 7%" class=" header">{{ summary['percentage']|myNumberFormat }}</th>
                                 <th scope="col" style="width: 7%"class=" header">{{ summary['pnr']|myNumberFormat }}</th>
                             </tr>
                         {% endfor %}
                     </tbody>
                 </table>
             </div>
         </div>
         {% endif %}
         <div class="columns">
             <div class="twelve-columns twelve-columns-mobile">
                 <h3 class="thin underline text-center">CONSUMOS</h3>
             </div>
         </div>
         <div class="columns">
             <div class="twelve-columns-mobile">
                 <table class="simple-table responsive-table responsive-table-on">
                    <thead>
                        <tr>
                            <th class="header text-center white-gradient" colspan="5">CONSUMO DE MATERIA PRIMA</th>
                        </tr>
                        <tr>
                            <th scope="col" style="width: 7%" class="header">PRODUCTO</th>
                            {%  if showDay %}
                                <th scope="col" style="width: 7%" class="header">DÍA</th>
                            {% endif %}
                            {%  if showMonth %}
                                <th scope="col" style="width: 7%" class=" header">MES</th>
                            {% endif %}
                            {%  if showYear %}
                                <th scope="col" style="width: 7%" class=" header">AÑO</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% set total_day = 0 %}
                        {% set total_month = 0 %}
                        {% set total_year = 0 %}
                        
                        {% set items = consumerPlanningServices %}
                        {% set previous_item = null %}
                        {% set next_item = null %}
                        
                        {% for consumerPlanningService in consumerPlanningServices %}
                            {% set summary = consumerPlanningService.getSummary(dateReport) %}
                            
                            {% set current_total_day = summary['total_day'] %}
                            {% set current_total_month = summary['total_month'] %}
                            {% set current_total_year = summary['total_year'] %}
                            
                            {% set is_next_equals = false %}
                            {% if loop.length > 1 %}
                                {% if loop.first == false %}
                                  {% set previous_item = items[loop.index0 - 1] %}
                                {% endif %}
                                {% if loop.last == false %}
                                  {% set next_item = items[loop.index0 + 1] %}
                                {% endif %}
                            {% endif %}
                            
                            {% if next_item %}
                                {% if consumerPlanningService.service == next_item.service %}
                                    {% set is_next_equals = true %}
                                    
                                    {% set total_day = total_day + summary['total_day'] %}
                                    {% set total_month = total_month + summary['total_month'] %}
                                    {% set total_year = total_year + summary['total_year'] %}
                                    
                                    {% set current_total_day = total_day %}
                                    {% set current_total_month = total_month %}
                                    {% set current_total_year = total_year %}
                                {% endif %}
                            {% endif  %}
                            
                            {% if is_next_equals == false %}
                                <tr>
                                    <th scope="col" style="width: 7%" class="header">{{ consumerPlanningService.service|upper }}</th>
                                    {%  if showDay %}
                                        <th scope="col" style="width: 7%" class="header">{{ current_total_day|myNumberFormat }}</th>
                                    {% endif %}
                                    {%  if showMonth %}
                                        <th scope="col" style="width: 7%" class=" header">{{ current_total_month|myNumberFormat }}</th>
                                    {% endif %}
                                    {%  if showYear %}
                                        <th scope="col" style="width: 7%" class=" header">{{ current_total_year|myNumberFormat }}</th>
                                    {% endif %}
                                </tr>
                                {% set total_day = 0 %}
                                {% set total_month = 0 %}
                                {% set total_year = 0 %}
                            {% endif %}
                        {% else %}
                            <tr>
                                <td colspan="4" class="empty_row">{{ "No service planning"|trans }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>
         </div>
         <div class="columns">
             <div class="twelve-columns-mobile">
                 <table class="simple-table responsive-table responsive-table-on">
                    <thead>
                        <tr>
                            <th class="header text-center white-gradient" colspan="5">PRODUCCIÓN NO REALIZADA</th>
                        </tr>
                        <tr>
                            <th scope="col" style="width: 7%" class="header">PRODUCTO</th>
                            {%  if showDay %}
                                <th scope="col" style="width: 7%" class="header">DÍA</th>
                            {% endif %}
                            {%  if showMonth %}
                                <th scope="col" style="width: 7%" class=" header">MES</th>
                            {% endif %}
                            {%  if showYear %}
                                <th scope="col" style="width: 7%" class=" header">AÑO</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for productReport in productsReport %}
                            {% set summary = productReport.getSummaryUnrealizedProductions(dateReport) %}
                            <tr>
                                <th scope="col" style="width: 7%" class="header">{{ productReport.product|upper }}</th>
                                {%  if showDay %}
                                    <th scope="col" style="width: 7%" class="header">{{ summary['total_day']|myNumberFormat }}</th>
                                {% endif %}
                                {%  if showMonth %}
                                    <th scope="col" style="width: 7%" class=" header">{{ summary['total_month']|myNumberFormat }}</th>
                                {% endif %}
                                {%  if showYear %}
                                    <th scope="col" style="width: 7%" class=" header">{{ summary['total_year']|myNumberFormat }}</th>
                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="empty_row">{{ "No service planning"|trans }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>
         </div>
         <div class="columns">
             <div class="twelve-columns-mobile">
                 <table class="simple-table responsive-table responsive-table-on">
                    <thead>
                        <tr>
                            <th class="header text-center white-gradient" colspan="5">INVENTARIO</th>
                        </tr>
                        <tr>
                            <th scope="col" style="width: 7%" class="header">PRODUCTO</th>
                            {%  if showDay %}
                                <th scope="col" style="width: 7%" class="header">DÍA</th>
                            {% endif %}
                            {%  if showMonth %}
                                <th scope="col" style="width: 7%" class=" header">MES</th>
                            {% endif %}
                            {%  if showYear %}
                                <th scope="col" style="width: 7%" class=" header">AÑO</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for productReport in productsReport %}
                            {% set summary = productReport.getSummaryInventory(dateReport) %}
                            <tr>
                                <th scope="col" style="width: 7%" class="header">{{ productReport.product|upper }}</th>
                                {%  if showDay %}
                                    <th scope="col" style="width: 7%" class="header">{{ summary['total_day']|myNumberFormat }}</th>
                                {% endif %}
                                {%  if showMonth %}
                                    <th scope="col" style="width: 7%" class=" header">{{ summary['total_month']|myNumberFormat }}</th>
                                {% endif %}
                                {%  if showYear %}
                                    <th scope="col" style="width: 7%" class=" header">{{ summary['total_year']|myNumberFormat }}</th>
                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="empty_row">{{ "No service planning"|trans }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>
         </div>
         <div class="columns">
            {% if showDay  %}
            <div class="twelve-columns twelve-columns-mobile">
               <table class="simple-table responsive-table responsive-table-on">
                   <thead>
                       <tr>
                           <th class="header text-center white-gradient" colspan="5">OBSERVACIONES DEL DÍA</th>
                       </tr>
                       <tr>
                           <th scope="col" style="width: 20%" class="header">PRODUCTO</th>
                           <th scope="col" style="width: 80%" class="header">COMENTARIO</th>
                       </tr>
                   </thead>
                   <tbody>
                       {% for productReport in productsReport %}
                           {% set summary = productReport.getSummaryDay(dateReport,typeReport) %}
                           <tr>
                               <th scope="col" style="width: 20%" class="header">{{ productReport.product|upper }}</th>
                               <th scope="col" style="width: 80%" class="header">{{ (summary['observation'] is null ? ("pequiven_seip.comment_none"|trans):summary['observation']) |upper }}</th>
                           </tr>
                       {% endfor %}
                   </tbody>
               </table>
            </div>
           {% endif %}
         </div>
         <div class="columns">
        <p class="button-height float-right">
            <a id="btnExportToPdf" href="#" class="button">
                <span class="button-icon"><span class="icon-download"></span></span>
                {{ "pequiven_seip.buttons.export_pdf"|trans }}
            </a>
        </p>
 {% else %}
     <h2 class="text-center">{{ "Select the plant"|trans }}</h2>
 {% endif %}
     </div>
             
{% endblock body %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            var plantReport = $("#form_plantReport");
            $("#btnExportToPdf").on("click",function(e){
                e.preventDefault();
                $("#exportToPdf").val("1");
                eventChange();
            });
            $("#btnRefresh").on("click",function(e){
                e.preventDefault();
                $("#exportToPdf").val("0");
                eventChange();
            });
            
            var eventChange = function(){
                $("#frmFilter").submit();
            };
            {% if is_granted("ROLE_SEIP_DATA_LOAD_CHANGE_DATE") %}
                $('#form_dateReport').datepicker({
                     changeMonth: true,
                     dateFormat: "dd/mm/yy"
                }).on("change",function(){
                });
            {% endif %}
            $(".select2").select2();
            
            var selectPlant = plantReport;
            var selectProduct = $("#form_productsReport");
            
            var urlGetProduct = "{{ path("pequiven_seip_product_report_by_plant_report") }}";
            ajaxToSelect.formaterData = function(response){
                return response.product.name;
            };
            ajaxToSelect.addEmptyValue = false;
            
            selectPlant.on("change",function(){
                ajaxToSelect2(urlGetProduct,selectProduct,{ plantReport: selectPlant.val() });
            });
{#            console.log(selectPlant.val());#}
            if(selectPlant.val() != ""){
{#                ajaxToSelect2(urlGetProduct,selectProduct,{ plantReport: selectPlant.val() });#}
            }else{
                selectProduct.empty();
                selectProduct.select2('disable');
            }
        });
    </script>
{% endblock %}