{#{% extends 'TecnocreacionesVzlaGovernmentBundle:Template:Developer/layout.html.twig' %}#}
{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% trans_default_domain 'PequivenObjetiveBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block javascripts_base %}
    {{ parent() }}
    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Scripts -->
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/libs/jquery-1.8.2.min.js') }}"></script>
    <script src="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/setup.js') }}"></script>
{% endblock javascripts_base %}

{% block body %}

    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="#">{{ 'pequiven_objetive.objetives'|trans }}</a>
            <span class="icon-forward"></span>
            <span class="thin">{{ 'pequiven_objetive.add'|trans }}</span>
            <span class="icon-forward"></span>
            <span class="thin">{{ 'pequiven_objetive.tactic'|trans }}</span>
        </h1>
    </hgroup>
    
    <form action="{{ path('pequiven_objetive_menu_add_tactic') }}" {{ form_enctype(form) }} method="POST">
        <fieldset class="fieldset fields-list">
            <legend class="legend">{{ 'pequiven_objetive.objetives'|trans }}</legend>
            <!-- Hidden con "ComplejoName" de la persona que esta logueada -->
            <div>
                {{ form_widget(form.complejo_name) }}
            </div>
            
            <!-- Hidden con "RoleName" de la persona que esta logueada -->
            <div>
                {{ form_widget(form.role_name) }}
            </div>
            
            <!-- Línea Estratégica -->
            <div id="lineStrategic" class="field-block button-height">
                {{ form_label(form.lineStrategic) }}
                {{ form_widget(form.lineStrategic) }}
                {{ form_errors(form.lineStrategic) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.lineStrategic_info'|trans }}</span>
                </span>
            </div>
                
            <!-- Objetivo Estratégico (Padre) -->
            <div class="field-block button-height">
                {{ form_label(form.parent) }}
                {{ form_widget(form.parent) }}
                {{ form_errors(form.parent) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.parent_strategic_info'|trans }}</span>
                </span>
            </div>
            
            <!-- Complejo -->
            <div id="complejo" class="field-block button-height">
                {{ form_label(form.complejo) }}
                {{ form_widget(form.complejo) }}
                {{ form_errors(form.complejo) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.complejo_info'|trans }}</span>
                </span>
            </div>
            
            <!-- Gerencia -->
            <div id="gerencia" class="field-block button-height">
                {{ form_label(form.gerencia) }}
                {{ form_widget(form.gerencia) }}
                {{ form_errors(form.gerencia) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.gerencia_info'|trans }}</span>
                </span>
                {% if (role_name == 'ROLE_DIRECTIVE') or (role_name == 'ROLE_DIRECTIVE_AUX') %}
                <span>
                    {{ 'form.question.allGerencias'|trans }}
                    {{ form_widget(form.check_gerencia) }}
                </span>
                {% endif %}
            </div>
                
            <!-- Descripción -->
            <div class="field-block button-height">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.description_info'|trans }}</span>
                </span>
            </div>
                
            <!-- Ref -->
            <div id="ref" class="field-block button-height">
                {{ form_label(form.ref) }}
                {{ form_widget(form.ref) }}
                {{ form_errors(form.ref) }}
                <span id="ref_info" class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.ref_info'|trans }}</span>
                </span>
            </div>
            
            <!-- Peso del Objetivo -->
            <div id="weight" class="field-block button-height">
                {{ form_label(form.weight) }}
                {{ form_widget(form.weight) }}
                {{ form_errors(form.weight) }}
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">{{ 'form.weight_info'|trans }}</span>
                </span>
            </div>
                
            <!-- Meta del Objetivo -->
            <div class="field-block button-height">
                    {{ form_label(form.goal) }}
                    {{ form_widget(form.goal) }}
                    {{ form_errors(form.goal) }}
                    <span class="info-spot">
                        <span class="icon-info-round"></span>
                        <span class="info-bubble">{{ 'form.goal_info'|trans }}</span>
                    </span>
            </div>

            <!-- Rango de Gestión -->
            <fieldset class="fieldset">
                <legend class="legend">{{ 'form.rankArrangement'|trans }}</legend>

                <!-- Rango Alto del Objetivo -->
                <div class="field-block button-height">
                        {{ form_label(form.rankTop) }}
                        {{ form_widget(form.rankTop) }}
                        {{ form_errors(form.rankTop) }}
                        <span class="info-spot">
                            <span class="icon-info-round"></span>
                            <span class="info-bubble">{{ 'form.rankTop_info'|trans }}</span>
                        </span>
                </div>
                        
                <!-- Rango Medio Alto del Objetivo -->
                <div class="field-block button-height">
                        {{ form_label(form.rankMiddleTop) }}
                        {{ form_widget(form.rankMiddleTop) }}
                        {{ form_errors(form.rankMiddleTop) }}
                        <span class="info-spot">
                            <span class="icon-info-round"></span>
                            <span class="info-bubble">{{ 'form.rankMiddleTop_info'|trans }}</span>
                        </span>
                </div>
                        
                <!-- Rango Medio Bajo del Objetivo -->
                <div class="field-block button-height">
                        {{ form_label(form.rankMiddleBottom) }}
                        {{ form_widget(form.rankMiddleBottom) }}
                        {{ form_errors(form.rankMiddleBottom) }}
                        <span class="info-spot">
                            <span class="icon-info-round"></span>
                            <span class="info-bubble">{{ 'form.rankMiddleBottom_info'|trans }}</span>
                        </span>
                </div>
                        
                <!-- Rango Bajo del Objetivo -->
                <div class="field-block button-height">
                        {{ form_label(form.rankBottom) }}
                        {{ form_widget(form.rankBottom) }}
                        {{ form_errors(form.rankBottom) }}
                        <span class="info-spot">
                            <span class="icon-info-round"></span>
                            <span class="info-bubble">{{ 'form.rankBottom_info'|trans }}</span>
                        </span>
                </div>
            </fieldset>
                
            <!-- Tipo de Evaluación -->
            <fieldset class="fieldset">
                <legend class="legend">{{ 'form.typeEvaluation'|trans }}</legend>
                
                <!-- Por Objetivo -->
                <div class="field-block button-height">
                    {{ form_label(form.evalObjetive) }}
                    {{ form_widget(form.evalObjetive) }}
                    {{ form_errors(form.evalObjetive) }}
                    <span class="info-spot">
                        <span class="icon-info-round"></span>
                        <span class="info-bubble">{{ 'form.evalObjetive_info'|trans }}</span>
                    </span>
                </div>
                    
                <!-- Por Indicador -->
                <div class="field-block button-height">
                    {{ form_label(form.evalIndicator) }}
                    {{ form_widget(form.evalIndicator) }}
                    {{ form_errors(form.evalIndicator) }}
                    <span class="info-spot">
                        <span class="icon-info-round"></span>
                        <span class="info-bubble">{{ 'form.evalIndicator_info'|trans }}</span>
                    </span>
                    <span id="button_add_indicator">
                        <button type="button" class="button red-gradient glossy" onclick="openFormIndicator()">{{ 'pequiven_objetive.registerIndicator'|trans }}</button>
                    </span>
                    <span id="choice_line_strategic">
                        {{ 'form.messages.pleaseChoiceALineStrategic'|trans }}
                    </span>
                    <span id="choice_objetive_strategic">
                        {{ 'form.messages.pleaseChoiceAObjetiveStrategic'|trans }}
                    </span>
                </div>
                    
                <!-- Por Programa de Gestión -->
                <div class="field-block button-height">
                    {{ form_label(form.evalArrangementProgram) }}
                    {{ form_widget(form.evalArrangementProgram) }}
                    {{ form_errors(form.evalArrangementProgram) }}
                    <span class="info-spot">
                        <span class="icon-info-round"></span>
                        <span class="info-bubble">{{ 'form.evalArrangementProgram_info'|trans }}</span>
                    </span>
                </div>
            </fieldset>
                    
            <!-- Añadir Indicadores -->
            <fieldset id="indicators" class="fieldset">
                <legend class="legend">{{ 'form.addIndicators'|trans }}</legend>
                <!-- Añadir Indicadores -->
                <div class="field-block button-height">
                    {{ form_label(form.indicators) }}
                    {{ form_widget(form.indicators) }}
                    {{ form_errors(form.indicators) }}
                    <span class="info-spot">
                        <span class="icon-info-round"></span>
                        <span class="info-bubble">{{ 'form.indicators_info'|trans }}</span>
                    </span>
                </div>
            </fieldset>
            
            {{ actions.create() }}
        </fieldset>
    {{ form_rest(form) }}
    </form>
    
    {% block javascript %}
        <script type="text/javascript">
        $(document).ready(function()
        {
            var buttonAddIndicator = $('#button_add_indicator'),//Botón de Añadir Indicador
                messageLineStrategicCheckIndicator = $('#choice_line_strategic'),//Mensaje en caso de que no se haya seleccionado una Línea Estratégica
                messageObjetiveStrategicCheckIndicator = $('#choice_objetive_strategic'),//Mensaje en caso de que no se haya seleccionado un Objetivo Estratégico
                sectionIndicators = $('#indicators'),//Sección dónde esta el select de Indicadores
                selectLineStrategic = $("#pequiven_objetive_tactic_registration_lineStrategic"),//Select de Línea Estratégica
                selectObjetiveStrategic = $("#pequiven_objetive_tactic_registration_parent"),//Select de Objetivo Estratégico
                selectComplejo = $("#pequiven_objetive_tactic_registration_complejo"),//Select Complejo
                selectGerencia = $("#pequiven_objetive_tactic_registration_gerencia"),//Select de Gerencia
                selectIndicators = $("#pequiven_objetive_tactic_registration_indicators"),//Select de Indicadores
                inputRef = $("#pequiven_objetive_tactic_registration_ref"),//Input de Ref
                inputGoal = $("#pequiven_objetive_tactic_registration_goal"),//Input de Meta
                inputWeight = $("#pequiven_objetive_tactic_registration_weight"),//Input de Peso
                inputHiddenComplejoName = $("#pequiven_objetive_tactic_registration_complejo_name"),//Input Hidden del Nombre del Complejo del usuario logueado
                inputHiddenRoleName = $("#pequiven_objetive_tactic_registration_role_name"),//Input Hidden del Nombre del Rol del usuario logueado
                checkIndicator = $("#pequiven_objetive_tactic_registration_evalIndicator"),//Check de Evaluar por Indicador
                checkGerencia = $("#pequiven_objetive_tactic_registration_check_gerencia")//Check para seleccionar todas las gerencia asociadas a los complejos seleccionados
                ;
            
           //Llamado de la función que carga los valores por defecto de la vista
           change();
           
           function change(){
               //Escondemos por defecto el boton de registrar indicadores
                buttonAddIndicator.hide();
                messageLineStrategicCheckIndicator.hide();
                messageObjetiveStrategicCheckIndicator.hide();
                
                //Escondemos por defecto la sección de sumar indicadores al objetivo
                sectionIndicators.hide();
               
               //Inicializamos el select2 de Línea Estratégica
               chargeSelect2LineStrategic();
               
               //Inicializamos el select2 de Objetivo Estratégico
               //chargeSelectObjetiveStrategicFromLineStrategic();
               chargeSelect2ObjetiveStrategic();
               
                //Inicializamos el select de Indicadores
                chargeSelectIndicatorFromLineStrategic();
               
               if(inputHiddenComplejoName.val() === 'ZIV' && (inputHiddenRoleName.val() === 'ROLE_DIRECTIVE' || inputHiddenRoleName.val() === 'ROLE_DIRECTIVE_AUX')){
                    //Inicializamos el select2 de Complejo
                    selectComplejo.select2({

                    });
                    
                    //Inicializamos el select2 de Gerencia
                    selectGerencia.select2({

                    });
               }
               
               //Inicializamos el formato numerico para el input de Peso
               inputWeight.number(true,3,',','.');
               
               //Incializamos el formato numerico para el input de Meta
               inputGoal.number(true,3,',','.');
               
                //Incializamos el formato numerico para el input de Rango Alto
               $("#pequiven_objetive_tactic_registration_rankTop").number(true,3,',','.');
               
               //Incializamos el formato numerico para el input de Rango Medio Alto
               $("#pequiven_objetive_tactic_registration_rankMiddleTop").number(true,3,',','.');
               
               //Incializamos el formato numerico para el input de Rango Medio Bajo
               $("#pequiven_objetive_tactic_registration_rankMiddleBottom").number(true,3,',','.');
               
               //Incializamos el formato numerico para el input de Rango Bajo
               $("#pequiven_objetive_tactic_registration_rankBottom").number(true,3,',','.');
           }
           
           //Al seleccionar alguna opción en el select de Línea Estratégica
            selectLineStrategic.on("select2-selecting", function(e) {
                chargeSelectIndicatorFromLineStrategic();
                displayObjetiveStrategicFromLineStrategic(e);//Actualizamos los Objetivos Estratégicos
            })
            selectLineStrategic.change(function() {
               inputRef.val("");
            });
            
            //Al seleccionar alguna opción en el select de Objetivo Estratégico
            selectObjetiveStrategic.on("select2-selecting", function(e) {
                displayObjetiveRef(e);
                if(inputHiddenComplejoName.val() === 'ZIV'){
                   //displaySelectComplejoFromObjetiveStrategic();
                }
            })
            
            //Al cambiar el select de Complejo
            selectComplejo.change(function() {
                displayGerenciaFromComplejo();
                //$("#pequiven_objetive_tactic_registration_complejo option:selected").each(function() {
                //});
            });
            
            //Al seleccionar el check de Todas las Gerencias
            checkGerencia.click(function() {
               checkAllGerencias();
           });
           
           //Al seleccionar el check de evaluar por Indicador
           checkIndicator.click(function() {
                if(checkIndicator.is(':checked')){
                    if(selectLineStrategic.val() !== '' && selectObjetiveStrategic.val() !== ''){
                        buttonAddIndicator.show();
                        chargeSelectIndicatorFromLineStrategic();
                        sectionIndicators.show();
                    } else{
                        if(selectLineStrategic.val() === ''){
                            messageLineStrategicCheckIndicator.show();
                        } else if(selectObjetiveStrategic.val() === ''){
                            messageObjetiveStrategicCheckIndicator.show();
                        }
                    }
                } else{
                    buttonAddIndicator.hide();
                    sectionIndicators.hide();
                    messageLineStrategicCheckIndicator.hide();
                    messageObjetiveStrategicCheckIndicator.hide();
                }
            });
            
            //Función que muestra los objetivos estratégicos de acuerdo a la línea estratégica seleccionada
            function displayObjetiveStrategicFromLineStrategic(e){
                var data = {
                   lineStrategicId: $.trim(e.val),
               };
               $.ajax({
                   type: 'post',
                   url: '{{ path("select_objetiveStrategicFromLineStrategic") }}',
                   data: data,
                   success: function(data) {
                        $('#pequiven_objetive_tactic_registration_parent option[value]').remove();
                        $('#pequiven_objetive_tactic_registration_parent option').remove();
                        selectObjetiveStrategic.append('<option></option>');
                        if(typeof data[0].empty === 'undefined'){
                            for(var i=0, total = data.length; i<total; i++){
                                selectObjetiveStrategic.append('<option value="' + data[i].id + '">' + data[i].description + '</option>');
                            }
                            chargeSelect2ObjetiveStrategic("full");
                        } else{
                            if(typeof data[0].initial === 'undefined'){
                                chargeSelect2ObjetiveStrategic("empty");
                            } else{
                                chargeSelect2ObjetiveStrategic("initial");
                            }
                        }
                   }
                });
            }
            
            //Función que muestra las gerencias de acuerdo a los complejos seleccionados
            function displayGerenciaFromComplejo(){
                if(inputHiddenComplejoName.val() === 'ZIV' && (inputHiddenRoleName.val() === 'ROLE_DIRECTIVE' || inputHiddenRoleName.val() === 'ROLE_DIRECTIVE_AUX') ){
                    var data = {
                        complejos: $.trim(selectComplejo.val()),
                    };
                    $.ajax({
                        type: 'post',
                        url: '{{ path("select_gerenciaFromComplejoTactic") }}',
                        data: data,
                        success: function(data) {
                            //var $gerencia_selector = $("#pequiven_objetive_tactic_registration_gerencia");

                            $("#pequiven_objetive_tactic_registration_gerencia optgroup").remove();
                            $("#pequiven_objetive_tactic_registration_gerencia option[value]").remove();

                            //Actualizamos el select de gerencias
                            var cantidad = data.length;
                            var text = '';
                            text = text + '<optgroup label="' + data[0].optGroup + '">';
                            //$gerencia_selector.append('<optgroup label="' + data[0].optGroup + '">');
                             for(var i=0, total = data.length; i<total; i++){
                                 if(i == 0){
                                     text = text + '<option value="' + data[i].id + '" >' + data[i].description + '</option>';
                                     //$gerencia_selector.append('<option value="' + data[i].id + '" >' + data[i].description + '</option>');
                                 } else if (data[i].idComplejo != data[i-1].idComplejo && (i + 1) < cantidad ){
                                     text = text + '</optgroup> <optgroup label="' + data[i].optGroup + '">';
                                     //$gerencia_selector.append('</optgroup> <optgroup label="' + data[i].optGroup + '">');
                                 } else if ((i+1) == cantidad){
                                     text = text +'<option value="' + data[i].id + '" >' + data[i].description + '</option> </optgroup>';
                                     //$gerencia_selector.append('<option value="' + data[i].id + '" >' + data[i].description + '</option> </optgroup>');
                                 } else{
                                     text = text + '<option value="' + data[i].id + '" >' + data[i].description + '</option>';
                                     //$gerencia_selector.append('<option value="' + data[i].id + '" >' + data[i].description + '</option>');
                                 }
                             }
                             selectGerencia.append(text);
                             selectGerencia.select2({
                             });
                        }
                     });
                }
            }
            
            //Función que actualiza el select de complejos en caso de que el usuario logueado sea de Sede Corporativa
            /**function displaySelectComplejoFromObjetiveStrategic(){
                var data = {
                    objetiveStrategicId: $.trim($("#pequiven_objetive_tactic_registration_parent").val()),
                    lineStrategicId: $.trim($("#pequiven_objetive_tactic_registration_lineStrategic").val()),
                };
                $.ajax({
                    type: 'post',
                    url: '{#{ path("select_complejoFromObjetiveStrategic") }#}',
                    data: data,
                    success: function(data) {
                        var $complejo_selector = $("#pequiven_objetive_tactic_registration_complejo");
                        
                        $("#pequiven_objetive_tactic_registration_complejo option[value]").remove();
                        
                        //Actualizamos el select de complejos
                        for(var i=0, total = data.length; i<total; i++){
                            $complejo_selector.append('<option value="' + data[i].id + '" selected="selected">' + data[i].description + '</option>');
                        }
                    }
                });
            }**/
            
            //Función que muestra el Número de Referencia del objetivo a crear, de acuerdo al táctico seleccionado
            function displayObjetiveRef(e){
            var data = {
                objetiveStrategicId: $.trim(e.val)
            };
            $.ajax({
                type: 'post',
                url: '{{ path("displayRefObjetiveTactic") }}',
                data: data,
                success: function(data) {
                    inputRef.val(data[0].ref);
                }
             });
            }
            
            //Función que "marca" todas las gerencias de los complejos seleccionados
            function checkAllGerencias(){
                if(checkGerencia.is(':checked')){
                    selectGerencia.select2("val",'');
                    selectGerencia.select2("enable",false);
                } else{
                    selectGerencia.select2("enable",true);
                }
            }
        
            //Agarrar este select como ejemplo para los demás select2
            //Función que actualiza el select de indicadores en caso de que se cambie la lína estratégica o se agregue un nuevo indicador a partir de este formulario
            function chargeSelectIndicatorFromLineStrategic(){
                var data = {
                    lineStrategicId: $.trim($("#pequiven_objetive_tactic_registration_lineStrategic").val())
                };
                $.ajax({
                    type: 'post',
                    url: '{{ path("select_indicatorTacticFromLineStrategic") }}',
                    data: data,
                    success: function(data) {
                        var $indicators_selector = $("#pequiven_objetive_tactic_registration_indicators");
                        $('#pequiven_objetive_tactic_registration_indicators option[value]').remove();
                        $('#pequiven_objetive_tactic_registration_indicators').select2("val",'');
                        
                        if(typeof data[0].empty === 'undefined'){
                            for(var i=0, total = data.length; i<total; i++){
                                $indicators_selector.append('<option value="' + data[i].id + '">' + data[i].description + '</option>');
                            }
                            chargeSelect2Indicators("full");
                        } else{
                            chargeSelect2Indicators("empty");
                        }
                    }
                });
            }
           
           //Función que carga el select2 de Línea Estratégica
            function chargeSelect2LineStrategic(type){
                selectLineStrategic.select2({
                    placeholder: '{{ 'form.messages.selectLineStrategicPlaceholder'|trans }}',
                    formatNoMatches: function(term) {
                        if(type == 'full'){
                            return "{{ 'form.messages.selectLineStrategicFormatNoMatcher'|trans }}";
                        } else{
                            return "{{ 'form.messages.selectLineStrategicFormatNoResult'|trans }}";
                        }
                    }
                });
            }
            
            //Función que carga el select2 de Objetivo Estratégico
            function chargeSelect2ObjetiveStrategic(type){
                selectObjetiveStrategic.select2({
                    placeholder: '{{ 'form.messages.selectObjetiveStrategicPlaceholder'|trans }}',
                    formatNoMatches: function(term) {
                        if(type == 'full'){
                            return "{{ 'form.messages.selectObjetiveStrategicFormatNoMatcher'|trans }}";
                        } else if (type == 'empty'){
                            return "{{ 'form.messages.selectObjetiveStrategicFormatNoResult'|trans }}";
                        } else {
                            return "{{ 'form.messages.selectObjetiveStrategicFormatNoMatcher'|trans }}";
                        }
                    }
                });
            }
           
           //Función que carga el select2 de Indicadores
           function chargeSelect2Indicators(type){
                selectIndicators.select2({
                    placeholder: '{{ 'form.selectIndicatorPlaceholder'|trans ({}, 'PequivenIndicatorBundle') }}',
                    formatNoMatches: function(term) {
                        if(type == 'full'){
                            return "<a href='#lineStrategic'>{{ 'form.selectIndicatorFormatNoMatcher'|trans ({}, 'PequivenIndicatorBundle') }}</a>";
                        } else{
                            return "<a href='#lineStrategic'>{{ 'form.selectIndicatorFormatNoResult'|trans ({}, 'PequivenIndicatorBundle') }}</a>";
                        }
                    }
                });
           }
           
           });
           
    </script>
    
    <script>
        
        function indicatorsRegisterSuccessful(){
            $("#modals").remove();
            //document.scripts.chargeSelectIndicatorFromLineStrategic();
            document.chargeSelectIndicatorFromLineStrategic();
        }

        function openFormIndicator(){
            $.modal({
                title: '{{ 'pequiven_indicator.titleFrameAddTactic'|trans ({}, 'PequivenIndicatorBundle') }}',
                url: '{{ path("pequiven_indicator_add_tactic_from_objetive") }}' ,
                useIframe: true,
                height: '800',
                width: '600',
                buttons: {
                        'Cerrar': {
                            classes:	'red-gradient glossy full-width',
                            click:      function(win) { win.closeModal(); }
                        }
                    }
            });
        
            /**
            $.modal.alert('Indicador',{
                    buttons: {
                        'Cerrar': {
                            classes:	'red-gradient glossy full-width',
                            click:      function(win) { win.closeModal(); }
                        }
                    }
                });
            **/
        };
        
    </script>
    {% endblock javascript %}
{% endblock body %}