{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% trans_default_domain 'PequivenObjetiveBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% block before_body %}
     {{ contentHeader(
        { ( path('pequiven_objetive_menu_list_tactic') ): ('pequiven_objetive.objetive_tactic'|trans ) },
         ('pequiven.show'|trans({},'messages'))
    ) }}
{% endblock %}

{% block body -%}
    <fieldset class="fieldset">
        <legend class="legend">{{ 'pequiven_objetive.objetive_tactic'|trans }} {{ entity.ref }}</legend>

        {% include 'PequivenObjetiveBundle:Common:percentajeBar.html.twig' %}
        <!-- Objetivo Estratégicos al cual o a los cuales esta Asociado el Objetivo Táctico -->
        <div class="inline-label">
            <label class="label">{{ entity.parents|length > 1 ? 'pequiven_objetive.objetiveStrategics'|trans : 'pequiven_objetive.objetive_strategic'|trans }}</label>
            <ul>
            {% for parent in entity.parents %}
                <li class="fa-ul">{{ generateLink(parent) }}</li>
            {% endfor  %}
            </ul>
        </div>
        <br>
        
        <!-- Enunciado del Objetivo Táctico -->
        <p class="inline-label">
            <label class="label">{{ 'pequiven_objetive.statementTactic'|trans }}</label>
            {{ entity.description }}
        </p>
        
        <!-- Status del Objetivo Táctico -->
        <p class="inline-label">
           <label class="label">{{ 'pequiven_objetive.status.status'|trans }}</label>
           {% set status = entity.status %}
            {% set className = '' %}
            {% if status == constant('Pequiven\\ObjetiveBundle\\Entity\\Objetive::STATUS_DRAFT') %}
                {% set className = 'blue-bg' %}
            {% elseif  status == constant('Pequiven\\ObjetiveBundle\\Entity\\Objetive::STATUS_APPROVED') %}
                {% set className = 'green-bg' %}
            {% endif %}
            <small class="tag {{ className }}">{{ entity.getLabelStatus | trans({},'PequivenObjetiveBundle') }}</small>
       </p>
        
        <!-- Meta del Objetivo Táctico -->
        <p class="inline-label">
            <label class="label">{{ 'pequiven_objetive.goalObjetiveTactic'|trans }}</label>
            {{ entity.goal|number_format(2,',','.') }}%
        </p>
        <!-- Período del Objetivo Táctico -->
        <p class="inline-label">
            <label class="label">{{ 'pequiven_seip.period'|trans({},'PequivenSEIPBundle') }}</label>
            {{ entity.period }}
        </p>
        <!-- ¿Evaluación por Objetivo Operativo? -->
        <p class="inline-label">
            <label class="label">{{ 'pequiven_objetive.evalByObjetiveOperative'|trans }}</label>
            {{ entity.childrens|length > 0 ? 'pequiven_objetive.yes'|trans : 'pequiven_objetive.no'|trans }}
        </p>
        
        <!-- Gerencia 1ra Línea a la cual impacta el Objetivo Táctico -->
        <p class="inline-label">
            <label class="label">{{ 'pequiven_objetive.gerenciaFirst'|trans }}</label>
            {{ entity.gerencia.description }}
        </p>
        
        <!-- Objetivos Operativos Asociados al Objetivo Táctico -->
        {% if entity.childrens|length > 0 %}
            <div class="inline-label">
                <label class="label">{{ 'pequiven_objetive.objetiveOperatives'|trans }}</label>
                {% include 'PequivenObjetiveBundle:Common:childrens.html.twig' %}
            </div>
            <br>
        {% endif %}
        
        <!-- ¿Evaluación por Indicadores Tácticos? -->
        <p class="inline-label">
            <label class="label">{{ 'pequiven_objetive.evalByIndicatorTactic'|trans }}</label>
            {{ entity.indicators|length > 0 ? 'pequiven_objetive.yes'|trans : 'pequiven_objetive.no'|trans }}
        </p>
        
        <!-- Indicadores Tácticos Asociados al Objetivo Táctico -->
        {% if entity.indicators|length > 0 %}
            <div class="inline-label">
                <label class="label">{{ 'pequiven_objetive.indicatorTactics'|trans }}</label>
                {% include 'PequivenObjetiveBundle:Common:indicators.html.twig' %}
            </div>
            <br>
        {% endif %}
        
        <!-- ¿Evaluación por Programas de Gestión? -->
        <p class="inline-label">
            <label class="label">{{ 'pequiven_objetive.evalByArrangementProgram'|trans }}</label>
            {{ entity.arrangementPrograms|length > 0 ?  'pequiven_objetive.yes'|trans : 'pequiven_objetive.no'|trans }}
        </p>
        {% include 'PequivenObjetiveBundle:Common:arrangementPrograms.html.twig' %}
        {% include 'PequivenObjetiveBundle:Common:results.html.twig' %}
    </fieldset>

<br /><br />

<p class="button-height align-right">
    {% set redirectUrl = (path("pequiven_objetive_menu_list_tactic")) %}
    {% set urlUpdateResulReferral = (path('objetiveTactic_show',{id:entity.id})) %}
    {% include 'PequivenObjetiveBundle:Common:buttons.html.twig' %}
</p>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        jQuery(document).ready(function(){
             {#$('.tables-extras').tablesorter();#}
        });
    </script>
{% endblock javascript %}
