{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}
{% trans_default_domain 'PequivenSEIPBundle' %}

{% block stylesheets_base %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/pequivenseip/icons/imageMap.css') }}">
{% endblock %}

{% block body %}

    <fieldset class="fieldset">
        <legend class="legend"><b>Centros de Votación</b></legend>

        <table class="simple-table responsive-table tables-extras" width="80%">
            <thead>
                <tr>
                    <th class="header" width="15%">Progreso</th>
                    <th class="header" width="10%">Código</th>
                    <th width="55%">Centro</th>
                    <th width="10%">Votos</th>
                    <th class="header" width="10%">Faltan</th>
                </tr>
            </thead>
            <tbody>
                {% for cent in data %}
                    <tr>
                        <td>
                            {% set advance=(cent["Si"]*100)/(cent["Si"]+cent["No"]) %}
                            {% include 'PequivenSEIPBundle:Sip:Center/List/percentajeBarResult.html.twig' %}
                        </td>
                        <td>{{cent["Codigo"]}}</td>
                        <td>{{cent["Centro"]}}</td>
                        <td>{{cent["Si"]}}</td>
                        <td>{{cent["No"]}}</td>                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>        
    </fieldset>




{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/agenda3860.css?v=1') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/dashboard3860.css?v=1') }}">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/fusioncharts.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/themes/fusioncharts.theme.fint.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/imageMapResizer/js/imageMapResizer.min.js') }}"></script>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
    <script type="text/javascript">

        function getTableExtraInfo(data)
        {
            var response = '';
            return response;
        }
    </script>
{% endblock %}

