{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% trans_default_domain 'PequivenArrangementProgramBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% block body -%}
<div ng-controller="ArrangementProgramController">
    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="{{ path('pequiven_seip_arrangementprogram_index') }}">{{ 'pequiven.arrangement_program.arrangement_program'|trans }}</a>
            <span class="icon-forward"></span>
            <span class="thin">{{ arrangementprogram_template.getTypeLabel|trans }}</span>
            <span class="icon-forward"></span>
            <span class="thin">{{ 'pequiven.show'|trans({},'messages') }}</span>
        </h1>
    </hgroup>
        
    <fieldset class="fieldset">
        <legend class="legend">{{ 'pequiven.arrangement_program.arrangement_program'|trans }}&nbsp;<b>{{ arrangementprogram_template.getTypeLabel|trans }}</b></legend>
        
         <div class="columns">
  
            {% if appConfiguration.isSupportIntegratedManagementSystem == true %}
                <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                    <p class="inline-label">
                        <label class="label">{{ 'pequiven.arrangement_program.process'|trans }}</label>
                        {{ arrangementprogram_template.process }}
                    </p>
                </div>
            {% endif %}
            <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven.arrangement_program.category_arrangement_program'|trans }}</label>
                    {{ arrangementprogram_template.categoryArrangementProgram }}
                </p>
            </div>
              
        </div>
        {% set summary = arrangementprogram_template.summary() %}
        <div class="columns">
            <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet">
                 <p class="inline-label">
                   <label class="label">{{ "pequiven.form.total_weight"|trans }}</label>
                    <span ng-if="getTotalWeight() == 0" class="tag">{$ getTotalWeight() $}/100 %</span>
                    <span ng-if="getTotalWeight() > 0 && getTotalWeight() < 100" class="tag orange-bg">{$ getTotalWeight() $}/100%</span>
                    <span ng-if="getTotalWeight() == 100" class="tag green-bg">{$ getTotalWeight() $}/100%</span>
                    <span ng-if="getTotalWeight() > 100" class="tag red-bg">{$ getTotalWeight() $}/100%</span>
                </p>
            </div>
            <div class="new-row-tablet new-row-mobile six-columns twelve-columns-tablet" ng-init="totalPlanned={{ summary['advancesPlanned'] }}">
                 <p class="inline-label">
                   <label class="label">{{ "pequiven.arrangement_program.total_planned"|trans }}</label>
                    <span ng-if="totalPlanned == 0" class="tag">{$ totalPlanned $}/100 %</span>
                    <span ng-if="totalPlanned > 0 && totalPlanned < 100" class="tag orange-bg">{$ totalPlanned $}/100%</span>
                    <span ng-if="totalPlanned == 100" class="tag green-bg">{$ totalPlanned $}/100%</span>
                    <span ng-if="totalPlanned > 100" class="tag red-bg">{$ totalPlanned $}/100%</span>
                </p>
            </div>
        </div>
    </fieldset>
    
    {% include 'PequivenArrangementProgramBundle:ArrangementProgramTemplate:show/timelines.html.twig' %}
    
    
    <h4>{{ 'pequiven.history'|trans({},'messages') }}</h4>
    {% include 'PequivenArrangementProgramBundle:ArrangementProgramTemplate:show/history.html.twig' %}
    
<script type="text/javascript">
    {#$(function() {
            $('a.showPopup').click(function(e) {
                e.preventDefault();
                var $this = $(this);
                var horizontalPadding = 10;
                var verticalPadding = 10;
                var width = 1200;
                var heigth = 600;
                $('<iframe id="site" src="' + this.href + '" style="padding:0"/>').dialog({
                    title: ($this.attr('title')) ? $this.attr('title') : 'Site',
                    autoOpen: true,
                    width: width,
                    height: heigth,
                    modal: true,
                    resizable: true,
                    autoResize: true,
                    overlay: {
                        opacity: 0.5,
                        background: "black"
                    }
                }).width(width - horizontalPadding).height(heigth - verticalPadding);
            });
    });#}
    $(function(){
        {% if app.session.flashbag.has('autoOpenOnSave') %}
            {% set tmpClear = app.session.flashbag.get('autoOpenOnSave') %}
            $('#arrangementGoalDetailsPop').click();
        {% endif %}
    });
</script>
 

</div>

<br /><br />

{% if is_granted('ROLE_WORKER_PLANNING') %}
    <p class="button-height align-right">
        {{ buttons.generic(path('arrangementprogram_template_update', { 'id': arrangementprogram_template.id }),('pequiven.edit'|trans({},'messages'))) }}
        {{ buttons.delete(path('arrangementprogram_template_delete', { 'id': arrangementprogram_template.id })) }}
    </p>
{% endif %}

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        jQuery(document).ready(function(){
             $('.tables-extras').tablesorter();
             // Progress
            $('.progress').progress();
        });
    </script>
{% endblock javascript %}
