{% trans_default_domain 'PequivenSEIPBundle' %}
<fieldset class="fieldset fields-list">
    <legend class="legend">{{ 'pequiven_seip.report_template.report_template'|trans }}</legend>
    {#<div class="field-block button-height">
        {{ form_label(form.ref) }}
        {{ form_widget(form.ref) }}
        {{ form_errors(form.ref) }}
    </div>#}
    <div class="field-block button-height">
        {{ form_label(form.descripcion) }}
        {{ form_widget(form.descripcion) }}
        {{ form_errors(form.descripcion) }}
    </div>
    <div class="field-block button-height">
        {{ form_label(form.warehouse) }}
        {{ form_widget(form.warehouse) }}
        {{ form_errors(form.warehouse) }}
    </div>
    <div class="field-block button-height">
        {{ form_label(form.enabled) }}
        {{ form_widget(form.enabled) }}
        {{ form_errors(form.enabled) }}
    </div>

</fieldset>
<script type="text/javascript">
    $(document).ready(function () {
        var selectCompany = $("#pequiven_seipbundle_dataload_reporttemplate_company");
        var selectLocation = $("#pequiven_seipbundle_dataload_reporttemplate_location");

        var urlGetLocation = "{{ path("pequiven_seip_location_by_company") }}";
        ajaxToSelect.formaterData = function (response) {
            return response.name;
        };
        selectCompany.on("change", function () {
            ajaxToSelect2(urlGetLocation, selectLocation, {company: selectCompany.val()});
        });

    });
</script>