{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}

{% trans_default_domain 'PequivenIndicatorBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% block javascripts_base %}
    {{ parent() }}
    <script src="{{  asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.input.js') }}"></script>
{% endblock javascripts_base %}

{% set labelHeader = {
        (constant('Pequiven\\IndicatorBundle\\Model\\IndicatorLevel::LEVEL_ESTRATEGICO')):'pequiven_indicator.indicator_strategic',
        (constant('Pequiven\\IndicatorBundle\\Model\\IndicatorLevel::LEVEL_TACTICO')):'pequiven_indicator.indicator_tactic',
        (constant('Pequiven\\IndicatorBundle\\Model\\IndicatorLevel::LEVEL_OPERATIVO')):'pequiven_indicator.indicator_operative',
    } %}

{% block body -%}
    {% set level = indicator.indicatorLevel.level %}
    {{ contentHeader(
        {(path('pequiven_indicator_list',{'level':level})):(labelHeader[level])|trans},
        { (path('pequiven_indicator_show',{'id':indicator.id})): (indicator.ref)},
        ('pequiven.show'|trans({},'messages'))
    ) }}
    
    <div ng-controller="IndicatorResultController">
        
    {% if errorFormula != null %}
        {{ print_error(errorFormula) }}
    {% endif  %}
    <fieldset class="fieldset">
        <legend class="legend" ng-init="indicator = {{ indicator|serialize('json',serialization_context().setGroups(['id','api_list','valuesIndicator','api_details','sonata_api_read'])) }}">{{ indicator }}&nbsp;</legend>
        <p class="inline-label">
            <label class="label">{{ 'pequiven_seip.results.result'|trans({},'PequivenSEIPBundle') }}</label>
            
            {% set advances = indicator.progressToDate|number_format(2) %}
            {% set advancesClass = 'red-gradient' %}
            {% if advances >= 50 %}
                {% set advancesClass = 'orange-gradient' %}

            {% elseif advances == 100 %}
                {% set advancesClass = 'green-gradient' %}
            {% endif %}
            <span style="max-width: 400px" class="progress" data-progress-options='{"size":false,"barClasses":["{{ advancesClass }}","glossy"],"innerMarks":25,"topMarks":25,"topLabel":"[value]%","bottomMarks":[{"value":0,"label":"{{ 'pequiven.advances.nope'|trans({},'messages') }}"},{"value":50,"label":"{{ 'pequiven.advances.better'|trans({},'messages') }}"},{"value":100,"label":"{{ 'pequiven.advances.complete'|trans({},'messages') }}"}],"insetExtremes":true}'>{{ advances }}%</span>
        </p>
        <br/>
         <div class="columns">
             <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven.ref'|trans({},'messages') }}</label>
                    {{ generateLink(indicator) }}
                </p>
             </div>
             <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'form.formula'|trans }}</label>
                    {{ indicator.formula }}
                </p>
             </div>
             <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'form.total_plan'|trans }}</label>
                    {% if indicator.totalPlan > 0 %}
                        {{ indicator.totalPlan }}
                    {% else %}
                        <span class="tag red-bg">{{ ('pequiven.no_assigned'|trans({},'messages')) }}</span>
                    {% endif %}
                </p>
             </div>
             <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'form.tendency'|trans }}</label>
                    {% if indicator.tendency != null %}
                        {{ indicator.tendency }}
                    {% else %}
                        <span class="tag red-bg">{{ ('pequiven.no_assigned'|trans({},'messages')) }}</span>
                    {% endif %}
                </p>
             </div>
             <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'form.weight'|trans }}</label>
                    <span class="tag">{{ indicator.weight?indicator.weight ~ '%':(('form.no_appy'|trans)) }}</span>
                </p>
             </div>
             <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven_indicator.value'|trans }}</label>
                    {$ indicator.valueFinal|myNumberFormat:3 $}
                </p>
             </div>
             <div class="new-row new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven_indicator.type_calculation.main'|trans }}</label>
                    {{ indicator.typeOfCalculationLabel|trans }}
                </p>
             </div>
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'form.frequencyNotificationIndicator'|trans }}</label>
                    {% if indicator.frequencyNotificationIndicator != null %}
                        {{ indicator.frequencyNotificationIndicator }}
                    {% else %}
                        <span class="tag red-bg">{{ ('pequiven.no_assigned'|trans({},'messages')) }}</span>
                    {% endif %}
                </p>
             </div>
             
            <div class="inline-label">
                <label class="label">{{ 'form.objetives'|trans }}</label>
                <ul class="fa-ul">
                    {% for objetive in indicator.objetives %}
                        <li>{{ generateLink(objetive) }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% if (indicator.childrens | length) > 0 %}
                <div class="inline-label">
                    <label class="label">{{ 'form.associated_indicators'|trans }}</label>
                    <ul class="fa-ul">
                        {% for child in indicator.childrens %}
                            <li>{{ generateLink(child) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </fieldset>
        <br /><br />
        {% include 'PequivenSEIPBundle:Planning:Indicator/show/results.html.twig' %}
        <br /><br />
        {% include 'PequivenSEIPBundle:Planning:Indicator/show/history.html.twig' with {'entity':indicator} %}
    </div>
<p class="button-height align-right">
    {% if is_granted('ROLE_WORKER_PLANNING') %}
        {% set filedObservation = '<br/><br/><textarea name="observation" class="input" placeholder="' ~ ('pequiven.arrangement_program.write_observation'|trans({},'PequivenArrangementProgramBundle')) ~ '" required="required" cols="28" rows="10" ></textarea>' %}

        {{ buttons.generic_modal(path('pequiven_indicator_add_observation', { 'id': indicator.id }),('pequiven.add_observation'|trans({},'messages')),{'icon':'icon-speech','content':('pequiven_indicator.indicator.add_observation'|trans({},'PequivenIndicatorBundle')) ~ filedObservation}) }}
    {% endif %}
    {% include 'PequivenSEIPBundle:Planning:Update/buttons.html.twig' with (
            {
                routeUpdateResult: 'pequiven_planning_update_result_indicator',
                entity: indicator,
                urlUpdateResulReferral: (path('pequiven_indicator_show',{id:indicator.id}))
            }
        )
    %}
</p>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        jQuery(document).ready(function(){
             // Progress
            $('.progress').progress();
        });
    </script>
{% endblock javascript %}