{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}
{% import 'PequivenSIGBundle:Template:Buttons/buttons.html.twig' as buttons %}

{% block javascripts_base %}
    {{ parent() }}
    <script src="{{  asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.input.js') }}"></script>
{% endblock javascripts_base %}

{% trans_default_domain 'PequivenSIGBundle' %}

{% set labelHeader = {
        (constant('Pequiven\\IndicatorBundle\\Model\\IndicatorLevel::LEVEL_ESTRATEGICO')):'pequiven_indicator.indicator_strategic',
        (constant('Pequiven\\IndicatorBundle\\Model\\IndicatorLevel::LEVEL_TACTICO')):'pequiven_indicator.indicator_tactic',
        (constant('Pequiven\\IndicatorBundle\\Model\\IndicatorLevel::LEVEL_OPERATIVO')):'pequiven_indicator.indicator_operative',
    } %}

{% set level = indicator_sig.indicatorLevel.level %}    

{% block before_body %}
    {{ contentHeader(
        {(path('pequiven_indicatorsig_list',{'level':level})):(labelHeader[level])|trans},
        { (path('pequiven_indicator_show',{'id':indicator_sig.id})): (indicator_sig.ref)},
        ('pequiven.evolution'|trans({},'messages'))
    ) }}
{% endblock %} 

{% block body %}
{% if typeObject == 1 %}
    {% set cloning = indicator_sig.parentCloning %}
{% endif %}
<div class="block_id" ng-init="idObject='{{ indicator_sig.id }}'"></div>
    <div class="block_id" ng-init="typeObj='{{ typeObject }}'"></div>    
    
    {% if is_granted('ROLE_SEIP_SIG_EVOLUTION_LAST_PERIOD') %}  
    <div ng-controller="TableFormatController">        
        <div ng-controller="IndicatorLastPeriodController">
            {# Carga del formulario de relacion del indicador #}        
            {% if indicator_sig.period.id == 2 %}
                {% set period = "2014" %}
            {% elseif indicator_sig.period.id == 3 %}
                {% set period = "2015" %}
            {% endif %}            
            {% if indicator_sig.indicatorlastPeriod and indicator_sig.period.id == 2 %}
                <div class="block block-title">
                    <h3>El Indicador tiene relaci贸n con el indicador del {{ period }}</h3>
                    <div class="button-group absolute-right compact">
                        <a class="button icon-list-add " href="" ng-click="removeLastPeriod(idIndicator='{{ indicator_sig.id }}')" title="">{{ 'pequiven.delete'|trans({},'messages')  }}</a>
                    </div>
                </div>
            {% elseif indicator_sig.indicatorlastPeriod == false and lastPeriod == null %}
                <div class="block block-title">
                    <h3>El Indicador no tiene relaci贸n con el indicador del {{ period }}</h3>
                    <div class="button-group absolute-right compact">
                        <a class="button icon-list-add " href="" ng-click="loadTemplateIndicatorlastPeriod()" title="">{{ 'pequiven.add'|trans({},'messages')  }}</a>
                    </div>
                </div>
           {% endif %}            
        </div>
    </div>
    {% endif %}

<br>
<fieldset class="fieldset">
    <legend class="legend">{{ indicator_sig }}&nbsp;</legend>
        <div class="columns">
        <!-- Referencia del Indicador -->
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven.ref'|trans({},'messages') }}</label>
                        {{ generateLink(indicator_sig) }}
                </p>
            </div>
        <!-- Objetivo al que impacta el indicador -->
            <div class="inline-label">
                <label class="label">{{ 'form.objetives'|trans }}</label>
                    <ul class="fa-ul">
                        {% for objetive in indicator_sig.objetives %}
                            <li>{{ generateLink(objetive) }}</li>
                        {% endfor %}
                    </ul>
            </div>
        <!-- Periodo del indicador -->                
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven.period'|trans({},'messages') }}</label>
                        {{ indicator_sig.period }}
                </p>
            </div>
        {# Sistemas de la Calidad al que pertenece #}
        {% if  indicator_sig.managementSystems | length > 0 %}
            <div class="inline-label">
                <label class="label">{{ 'form.systems'|trans }}</label>
                    <ul class="fa-ul">
                        {% for managementSystem in indicator_sig.managementSystems %}
                            <li>{{ managementSystem.description }}</li>
                        {% endfor %}
                    </ul>
            </div>
        {% endif %}
         {% if  indicator_sig.parentCloning %}
            <div class="inline-label">
                <label class="label">Informe de Evoluci贸n Clonado</label>
                    <ul class="fa-ul">
                        <li>{{ generateLink(indicator_sig.parentCloning) }}</li>
                    </ul>
            </div>
        {% endif %}
        </div>            
            {% include 'PequivenSIGBundle:Template:base_month.html.twig' %}                         
</fieldset>
  
    {% include 'PequivenSIGBundle:Template:baseLoadSectionsEvolution.html.twig' %}     
     
<p class="button-height align-right">          
    <div style="text-align: left; margin-left:15px;">
        <a class="button"  id="showItems"  href="javascript:void(0)">
            <span class="button-icon left-side red-gradient">
                <span class="fa fa-history fa-1"></span>
            </span>
            <span class="title">{{('pequiven.view_evolution_history'|trans({},'messages'))}}</span>
            <span class="title" style="display: none">{{('pequiven.hide_evolution_history'|trans({},'messages'))}} </span>
        </a>        
        {% if is_granted('ROLE_SEIP_SIG_EVOLUTION_DOWNLOAD') %}            
            &nbsp;  {{ buttons.generic_download }}        
            {#{% if approve['button'] == "check" %}                
                &nbsp;{{ buttons.generic_approve(path('pequiven_evolution_check_to_approve', { 'id': indicator_sig.id,'month':month,'type':1, 'typeObj':typeObject }),{'message':'Revisado', 'icon':'fa fa-pencil-square-o fa-1','gradient':'red-gradient'} ) }}       
            {% elseif approve['button'] == "approve" %}
                &nbsp;{{ buttons.generic_approve(path('pequiven_evolution_check_to_approve', { 'id': indicator_sig.id,'month':month,'type':2, 'typeObj':typeObject}),{'message':'Aprobar','icon':'fa fa-thumbs-o-up fa-1','gradient':'green-gradient'}) }}             
            {% endif %}#}
        {% endif %}
    </div>
</p>
{# Box historico informe de Evoluci贸n #}
<div id="evolutionItems" style="display: none;">               
    {{ renderArea(constant('Pequiven\\SEIPBundle\\Model\\Box\\AreasBox::ITEMS_EVOLUTION')) }}            
</div>  
{% endblock body %}
{% block stylesheets %}
  {{ parent() }}    
<style type="text/css">
    
    .position{        
        margin-right: 20px;
        margin-top: 20px;
        color: #1d1c1c;
        float: right;
        font-size: 150%;
    }
    .button-config{
        margin-right: 20px;
        margin-top: 0px;
        margin-bottom: 15px;
        color: #1d1c1c;
        float: right;
        /*font-size: 150%;*/
    }

    /* dashboard sig */
    .dashboard_sig {
        padding: 20px;
        position: relative;
        zoom: 1;
        color: white;
        border-top: 1px solid #666666;
        border-bottom: 1px solid #666666;
        border-color: #000000;
    }
    .dashboard_sig a {
        color: white;
    }    

</style>

{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/fusioncharts.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/themes/fusioncharts.theme.fint.js') }}"></script>
    <script src="{{  asset('bundles/pequivensig/js/loadFiles.js') }}"></script> 

    <script type="text/javascript">        
        $(document).ready(function () {
            $("a#showItems").click(function () {
                $("#evolutionItems").toggle("slow");
                $("a#showItems span.title ").toggle();
            });
        });

        //url file
        var urlFiles = "{{ path('pequiven_sig_evolution_load_file') }}";
        setUrlFiles(urlFiles); 
        //end url file
        //Carga de Evento de Descarga de Grafica de Indicador
        function downloadEvolution(){            
            var button = document.getElementById("exportpng");
            if (button){
               button.click();   
               window.setTimeout(downloadCause,1000);
               //downloadCause();               
            }            
        }
        //Carga de Evento de Descarga de Grafica de Causas del Indicador
        function downloadCause(){
            var button_cause = document.getElementById("export_causespng");
            if (button_cause){
                button_cause.click();                
            }
        }

    </script>    
{% endblock %}