{% extends 'PequivenSIGBundle:Template:baseLayoutEvolution.html.twig' %}

{% trans_default_domain 'PequivenSIGBundle' %}

{% set labelHeader = {
        (constant('Pequiven\\IndicatorBundle\\Model\\IndicatorLevel::LEVEL_ESTRATEGICO')):'pequiven_indicator.indicator_strategic',
        (constant('Pequiven\\IndicatorBundle\\Model\\IndicatorLevel::LEVEL_TACTICO')):'pequiven_indicator.indicator_tactic',
        (constant('Pequiven\\IndicatorBundle\\Model\\IndicatorLevel::LEVEL_OPERATIVO')):'pequiven_indicator.indicator_operative',
    } %}

{% set level = indicator_sig.indicatorLevel.level %}    

{% block before_body %}
    {{ contentHeader(
        {(path('pequiven_indicatorsig_list',{'level':level})):(labelHeader[level])|trans},
        { (path('pequiven_indicator_show',{'id':indicator_sig.id})): (indicator_sig.ref)},
        ('pequiven.evolution'|trans({},'messages'))
    ) }}
{% endblock %} 

{% block body %}
{% if typeObject == 1 %}
    {% set cloning = indicator_sig.parentCloning %}
{% endif %}
<div class="block_id" ng-init="idObject='{{ indicator_sig.id }}'"></div>
    <div class="block_id" ng-init="typeObj='{{ typeObject }}'"></div>    
    
    {% if is_granted('ROLE_SEIP_SIG_EVOLUTION_LAST_PERIOD') %}  
    <div ng-controller="TableFormatController">        
        <div ng-controller="IndicatorLastPeriodController">
            {# Carga del formulario de relacion del indicador #}        
            {% if indicator_sig.period.id == 2 %}
                {% set period = "2014" %}
            {% elseif indicator_sig.period.id == 3 %}
                {% set period = "2015" %}
            {% endif %}            
            {% if indicator_sig.indicatorlastPeriod and indicator_sig.period.id == 2 %}
                <div class="block block-title">
                    <h3>El Indicador tiene relaci贸n con el indicador del {{ period }}</h3>
                    <div class="button-group absolute-right compact">
                        <a class="button icon-list-add " href="" ng-click="removeLastPeriod(idIndicator='{{ indicator_sig.id }}')" title="">{{ 'pequiven.delete'|trans({},'messages')  }}</a>
                    </div>
                </div>
            {% elseif indicator_sig.indicatorlastPeriod == false and lastPeriod == null %}
                <div class="block block-title">
                    <h3>El Indicador no tiene relaci贸n con el indicador del {{ period }}</h3>
                    <div class="button-group absolute-right compact">
                        <a class="button icon-list-add " href="" ng-click="loadTemplateIndicatorlastPeriod()" title="">{{ 'pequiven.add'|trans({},'messages')  }}</a>
                    </div>
                </div>
           {% endif %}            
        </div>
    </div>
    {% endif %}

<br>
<fieldset class="fieldset">
    <legend class="legend">{{ indicator_sig }}&nbsp;</legend>
        <div class="columns">
        <!-- Referencia del Indicador -->
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven.ref'|trans({},'messages') }}</label>
                        {{ generateLink(indicator_sig) }}
                </p>
            </div>
        <!-- Objetivo al que impacta el indicador -->
            <div class="inline-label">
                <label class="label">{{ 'form.objetives'|trans }}</label>
                    <ul class="fa-ul">
                        {% for objetive in indicator_sig.objetives %}
                            <li>{{ generateLink(objetive) }}</li>
                        {% endfor %}
                    </ul>
            </div>
        <!-- Periodo del indicador -->                
            <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
                <p class="inline-label">
                    <label class="label">{{ 'pequiven.period'|trans({},'messages') }}</label>
                        {{ indicator_sig.period }}
                </p>
            </div>
        {# Sistemas de la Calidad al que pertenece #}
        {% if  indicator_sig.managementSystems | length > 0 %}
            <div class="inline-label">
                <label class="label">{{ 'form.systems'|trans }}</label>
                    <ul class="fa-ul">
                        {% for managementSystem in indicator_sig.managementSystems %}
                            <li>{{ managementSystem.description }}</li>
                        {% endfor %}
                    </ul>
            </div>
        {% endif %}
         {% if  indicator_sig.parentCloning %}
            <div class="inline-label">
                <label class="label">Informe de Evoluci贸n Clonado</label>
                    <ul class="fa-ul">
                        <li>{{ generateLink(indicator_sig.parentCloning) }}</li>
                    </ul>
            </div>
        {% endif %}
        </div>            
            {% include 'PequivenSIGBundle:Template:base_month.html.twig' %}                         
</fieldset>  
    {% include 'PequivenSIGBundle:Template:baseLoadSectionsEvolution.html.twig' %}     
    {% block buttons %}
        {{ parent() }}        
        {# Box historico informe de Evoluci贸n #}
        <div id="evolutionItems" style="display: none;">               
            {{ renderArea(constant('Pequiven\\SEIPBundle\\Model\\Box\\AreasBox::ITEMS_EVOLUTION')) }}            
        </div>  
    {% endblock %}
{% endblock %}