{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block javascripts_base %}
    {{ parent() }}
    <script src="{{  asset('bundles/tecnocreacionesvzlagovernment/template/developer/js/developr.input.js') }}"></script>
{% endblock javascripts_base %}

{% trans_default_domain 'PequivenSIGBundle' %}

{% set labelHeader = {
        (constant('Pequiven\\IndicatorBundle\\Model\\IndicatorLevel::LEVEL_ESTRATEGICO')):'pequiven_indicator.indicator_strategic',
        (constant('Pequiven\\IndicatorBundle\\Model\\IndicatorLevel::LEVEL_TACTICO')):'pequiven_indicator.indicator_tactic',
        (constant('Pequiven\\IndicatorBundle\\Model\\IndicatorLevel::LEVEL_OPERATIVO')):'pequiven_indicator.indicator_operative',
    } %}

{% set level = indicator_sig.indicatorLevel.level %}
    

{% block before_body %}
    {{ contentHeader(
        {(path('pequiven_indicatorsig_list',{'level':level})):(labelHeader[level])|trans},
        { (path('pequiven_indicator_show',{'id':indicator_sig.id})): (indicator_sig.ref)},
        ('pequiven.evolution'|trans({},'messages'))
    ) }}
{% endblock %} 

{% block body %}
        <div class="" ng-init="urlValueLastIndicatorForm='{{ path('pequiven_indicator_last_period_form',{'idIndicator':indicator_sig.id }) }}'">
        
        <div ng-controller="TableFormatController">
        <div ng-controller="IndicatorSigEvolutionController">
        <!-- <div ng-controller="EvolutionIndicatorFilters"> -->

        {#    <div class="field-block button-height" >                                                
                      <label class="bold">{{ 'sig.relation_indicator'|trans ({}, 'messages') }}</label>
                                <br/>
                            <div class="with-mid-padding">
                                <select class="select2 input-xlarge" id="selectLastPeriod" ng-model="model.lastPeriod" ng-options="value as value.ref for (key,value) in data.lastPeriod" >
                                <option value=''></option>
                                </select>
                            </div>
                    </div> #}
        
        {#<div ng-controller="IndicatorAsocLastPeriodController"> #}
            
        {#<fieldset class="fieldset fieldset-list">
          <!-- tipo de Acci贸n -->
                    <label class="bold">Causas del Indicador</label>
                   <br/>
                        <div class="with-mid-padding">
                            <select class="select2 input-xlarge" id="selectCausesEvolution" ng-model="model.causesEvolution" ng-options="value as value.id for (key,value) in data.causesEvolution" >
                            <option value=''></option>
                            </select>
                        </div>                   
        </fieldset> #}
        {# Carga del formulario de relacion del indicador #}
            {% if indicator_sig.indicatorlastPeriod %}

            {% else %}
            <div class="block block-title">
                <h3>El indicador no tiene relacion con el indicador del 2014</h3>        
                <div class="button-group absolute-right compact">
                    <a class="button icon-list-add " href="" ng-click="loadTemplateIndicatorlastPeriod()" title="">{{ 'pequiven.add'|trans({},'messages')  }}</a>
                </div>
            </div>
        {% endif %}
            {# fin Button formulario relacion lastperiod #}
        </div>
      </div>
    </div>
  
    <br>
        {# Graficos #}
        <div class="columns with-padding"> 
            {# <div class="five-columns twelve-columns-mobile">
            {# Cargando Grafico informe de evolution #}
            <center>
             <div ng-controller="ChartsSigController" class="dashboard" ng-init="renderChartEvolutionSig('chartContainerResult', {{ data|json_encode() }})" style="width: 100%;">
                    <div class="nine-columns twelve-columns-mobile" id="chartContainerResult">
                        <!-- This div will hold the chart generated in the footer -->
                    </div>
            </div>    
            &nbsp; 
            {# Fin Grafico#}  
            {# <div class="five-columns twelve-columns-mobile">
                {# Cargando Grafico Causas de Desviaci贸n #}
             <div ng-controller="ChartsSigController" class="dashboard" ng-init="renderChartSigCs('chartContainerResultCs', {{ dataCause|json_encode() }})" style="width: 100%;">
                    <div class="nine-columns twelve-columns-mobile" id="chartContainerResultCs">
                        <!-- This div will hold the chart generated in the footer -->
                    </div>
            </div>
                    </center>
                {# Fin Grafico#}
        </div> 
        
        {# Fin de Graficos #}

        <br>

       {#  <fieldset class="fieldset fields-list">
            <legend class="legend">{{ 'sig.chart_evolution'|trans ({}, 'messages') }}</legend>
            {# Sistemas de Gesti贸n del Indicador #}
          {#   {% if  is_granted('ROLE_SEIP_SIG_INDICATOR_VIEW') %}
                <div class="inline-label">
                        <label class="label">{{ 'form.systems'|trans }}</label> 
                        <ul class="fa-ul">
                            {% for managementSystem in indicator_sig.managementSystems %}
                                <li>{{ managementSystem.description }}</li>
                            {% endfor %} 
                        </ul> 
                </div>
            {% endif %}
            {# Fin carga de sistemas de Gesti贸n #}
        {# </fieldset>

    {# Analisis de Tendencia #}    
            <br /><br />
            {% include 'PequivenSIGBundle:Indicator:show/analysis.html.twig' %} 
            &nbsp;    
    {# Analisis de Causas #}
            <br /><br />
            {% include 'PequivenSIGBundle:Indicator:show/causes_list.html.twig' %} 
            &nbsp;
    {# Plan de accion y seguimiento #}
            <br /><br />
            {% include 'PequivenSIGBundle:Indicator:show/action.html.twig' %}
            &nbsp;

    

{% endblock body %}

{#{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/agenda3860.css?v=1') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tecnocreacionesvzlagovernment/template/developer/css/styles/dashboard3860.css?v=1') }}">
{% endblock stylesheets %}#}

{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/fusioncharts.js') }}"></script>
    <script src="{{  asset('bundles/pequivenseip/fusioncharts/js/themes/fusioncharts.theme.fint.js') }}"></script>
{% endblock %}