<style type="text/css">

    
    .title_bold {
        font-weight: bold;
    }

    .div{
        /*background: blue;*/
        border: 1px solid #000000;
        border-spacing: 1px;
        margin: 1px;
        border-color: #000000;
        padding: 20px;
        float:left;
        width: 35%;
        /*text-align: center;*/
    }

    .box{
    width:200px;
    height:200px;
    background:#999;
    float:left;
    border:1px solid #444;
    }
    .table-charts {
        /*width: 60%;*/
        border: 1px solid #000000;
        /*float:left;*/
        padding: 0px;
        margin: 12px;
        text-align: justify;
    }
    .table {
        /*width: 50%;*/
        border: 1px solid #000000;
        /*float:left;*/
        padding: 0px;
        margin: 12px;
        text-align: justify;
    }
    .table-planning{
        width: 100%;
        border: 1px solid #000000;
        float:left;
        padding: 2px;
        margin: 10px;   
        text-align: justify;
    }
    .table-th {
        background-color: #1db7df; 
        border: 1px solid #000000;
        text-align: center;
    }
    .table-planning-th {
        background-color: #1db7df; 
        border: 1px solid #000000;
        text-align: center;
    }
    .table-td {
        
        height: 180px;

    }

</style>
{% block body %}
    <br/><br/>

    {% if month == 1 %}
        {% set setmonth = "Enero" %} 
    {% elseif month == 2 %}
        {% set setmonth = "Febrero" %}
    {% elseif month == 3 %}
        {% set setmonth = "Marzo" %}
    {% elseif month == 4 %}
        {% set setmonth = "Abril" %}
    {% elseif month == 5 %}
        {% set setmonth = "Mayo" %}
    {% elseif month == 6 %}
        {% set setmonth = "Junio" %}
    {% elseif month == 7 %}
        {% set setmonth = "Julio" %}
    {% elseif month == 8 %}
        {% set setmonth = "Agosto" %}
    {% elseif month == 9 %}
        {% set setmonth = "Septiembre" %}
    {% elseif month == 10 %}
        {% set setmonth = "Octubre" %}
    {% elseif month == 11 %}
        {% set setmonth = "Noviembre" %}
    {% elseif month == 12 %}
        {% set setmonth = "Diciembre" %}
    {% endif %}         
    
    <table width="95%">
        <tbody>
            <tr>
                <th class="title_bold">ASOCIADO A: {{ obj }}</th>
            </tr>
            <tr>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th class="title_bold">INDICE DE: {{ name }}</th>
            </tr>
            <tr>
                <th class="title_bold">MES: {{ setmonth }}</th>
            </tr>
        </tbody>
    </table>

    <table width="100%" style="padding:5px;">
        <tr>
            <td>
                <table class="table-charts" width="100%">
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </td>

            <td>  
                <table class="table-charts" width="100%">
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    <table width="100%" style="padding:5px;">
        <tr>
            <td>
                <table class="table" width="100%">
                    <tbody>
                        <tr>
                            <th class="table-th">ANALISIS DE TENDENCIA</th>
                        </tr>
                        <tr>
                            <th class="">{{ trend }}</th>           
                        </tr>
                    </tbody>
                </table>
            </td>
        
            <td>                
                <table class="table" width="100%">
                    <tbody>
                        <tr>
                            <th class="table-th">ANALISIS DE CAUSAS</th>
                        </tr>
                        <tr>
                            <th class="">{{ causeAnalysis }}</th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>

    <table class="table-planning">
        <tbody>
            <tr>
                <th class="table-planning-th" colspan="10">PLAN DE ACCION Y SEGUIMIENTO</th>
            </tr>        
            <tr align="center">
                <td style="width: 5%;">Nro</td>
                <td style="width: 20%;">Acción</td>
                <td style="width: 12%;">Tipo de Acción</td>
                <td style="width: 10%;">Fecha Inicio</td>
                <td style="width: 10%;">Fecha Cierre</td>
                <td style="width: 8%;">% Avance</td>
                <td style="width: 15%;">Responsable</td>
                <td style="width: 20%;">Observaciones</td>
            </tr>
    {% for data in dataAction %} 
           <tr {{ cycle(["even", "odd"], loop.index) }} align="center"> 
                <td>{{ loop.index }}</td>
                <td align="left">{{ data.actionValue.action }}</td>
                <td>{{ data.actionValue.indicatorAction.ref }}</td>
                <td>{{ data.actionValue.dateStart | date("d/m/Y") }}</td>
                <td>{{ data.actionValue.dateEnd | date("d/m/Y") }}</td>
                <td>{{ data.advance }}</td>
                <td>
                    {{ data.actionValue.responsibles.firstname }} {{ data.actionValue.responsibles.lastname }}                        
                </td>
                <td align="left">{{ data.observations }}</td>
            </tr>            
    {% endfor %}
            <tr>
                <td align="left" style="width: 30%;">REVISADO POR:</td>
                <td align="left" style="width: 10%;">FECHA:</td>                
                <td align="right" style="width: 25%;">APROBADO POR:</td>
                <td align="right" style="width: 15%;">FECHA:</td>
            </tr>
        </tbody>
    </table> 
    <table>
        <tr>
            <td align="left">NIVEL DE REVISION:</td>
            <td>&nbsp;</td>
            <td align="right">C-SI-GI-PG-R-004</td>
        </tr>
    </table>
    {# verificatión #}
    <table class="table-planning">
        <tbody>
            <tr>
                <th class="table-planning-th" colspan="10">VERIFICACION DE LA EFICACIA</th>
            </tr>        
            <tr align="center">
                <td style="width: 5%;">Nro</td>
                <td style="width: 30%;">Comentarios</td>
                <td style="width: 20%;">Verificado Por</td>
                <td style="width: 10%;">Fecha</td>
                <td style="width: 20%;">Acción</td>
                <td style="width: 10%;">Verificación</td>
            </tr>
    {% for data in verification %} 
           <tr {{ cycle(["even", "odd"], loop.index) }} align="center"> 
                <td>{{ loop.index }}</td>
                <td align="left">{{ data.comment }}</td>
                <td>
                  {{ data.createdBy.firstname }} {{ data.createdBy.lastname }}                   
                </td>
                <td>{{ data.createdAt | date("d/m/Y") }}</td>
                <td>{{ data.actionPlan.ref }}</td>
                <td>{{ data.typeVerification.ref }}</td>
            </tr>            
    {% endfor %}
        </tbody>
    </table>     
   
{% endblock %}